body {
    font-family: 'Open Sans', sans-serif;
}
.gsarea[area="header"] a {  color:rgb(49, 50, 52) !important; }
.gsarea[area="header"] { height: 80px; background-color:#fff; }
.gs_page_width { max-width: 1100px; margin: auto; }
.gsarea[area="header"] .Menu .entry .entries {
    background-color: #fafafa;
    top: 30px;
    border-left: solid 1px #c9c9c9;
    border-bottom: solid 1px #c9c9c9;
    border-right: solid 1px #c9c9c9;
    margin-left: -1px;
}
.gsarea[area="header"] .Menu .entry.active a {
    border-right: solid 0px;
    color: #FFFFFF ! important;
}

.gsarea[area="header"] .Menu .entry .entries div {
    padding: 0px;
    width: 200px;
    text-align: left;
}


.PmsBookingCalendar .calendar .calendar_header,
.PmsBookingCalendar .calendar .day.selected,
.PmsBookingProductList .continue_button,
.PmsBookingContactData .complete_button,
.PmsBooking .pmsfront .check_available_button,
.PmsBooking .pmsfront .fa-calendar {
    background-color: rgb(19, 127, 196); 
    text-transform: uppercase;
}

.gsarea[area="header"] .Menu .entry div i {
    display: block;
    font-size: 30px;
}
.gsarea[area="header"] .Menu .entry.active a ,
.gsarea[area="header"] .Menu .entry:hover a {
    color: rgb(19, 127, 196) !important;
}
.gsarea[area="header"] .Menu .entry  div {
    font-size: 13px;
    outline: 0;
    transition: all 0.2s ease-in-out;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    /*font-weight: 300;*/
font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
}
.gs_language_selection { position:absolute; right: 0px; font-family: 'Raleway', sans-serif; }
.gsarea[area="header"] .Menu .entry:last-child a div {
    border-right: solid 0px;
}