<div>
    <div class="gs_header">
        <div class="unsentMessageCount" ng-if="counter">
            <div class='uploadcounttext'>{{ counter }}</div>
            <i class="fa fa-upload"></i>
        </div>
    </div>
    
    <div ui-view="main" class="mainview"></div>	
    <div ui-view="footer" class="gs_footer"></div>
    
    <div ng-repeat='message in messages' class='importantmessageview' ng-if='!message.isRead'>
        <div>{{message.message}}</div>
        <br/><div class='button' ng-mobile-click='ackMessage(message)'>Got it!</div>
        <br/><div class='button' ng-mobile-click='replyMessage(message)'>Reply message</div>
    </div>
    <div ng-if="showReply" class="importantmessageview">
        <div>
            <textarea style="width:100%; height: 300px;"  id="commonMessageReplyBox"></textarea>
        </div>
        <div class="button" ng-mobile-click="sendMessageBack()">Send message</div>
        <div class="button" ng-mobile-click="cancelSendMessage()">Cancel</div>
        
    </div>
</div>

<div class="fetchingGpsCoordinates">
    <i class="fa fa-spinner fa-spin"></i>
    Fetching GPS coordinates, please wait..
</div>

<div class="loadingData">
    <i class="fa fa-spinner fa-spin"></i>
    Loading data, please wait..
</div>
