.GslBookingFront { background-color: #fff;}
.GslBookingFront *{box-sizing:border-box;}
.GslBookingFront .gsl_button:hover{background-color:#48cfa3;}
.GslBookingFront .gsl_button{
    text-align:center;
    letter-spacing:1px;
    background: #3fc297;
    color:#fff;
    cursor:pointer;
    border-radius:2px;
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #329ad6;}
.GslBookingFront .disabled{opacity:0.3 !important; cursor: default !important;}
.GslBookingFront .picker_header { position:absolute; padding-top:2px; padding-left: 5px; top: -25px; font-size: 14px; }
.GslBookingFront .disabled:hover{opacity: 0.3 !important;}
.GslBookingFront .fa{padding:0 4px;}
.GslBookingFront .fa_box{position: relative;width: 27%;float:left;}
.GslBookingFront .fa_box::after{
    font-family: fontawesome;
    font-family: 'icomoon' !important;
    position: absolute;
    pointer-events: none;
    right: 1.5em;
    top: 50%;
    margin-top: -.8em;
    font-size: 20px;}
.GslBookingFront .gslbookingHeader {display: block;width: 100%;user-select:none;height:60px;position:relative;box-shadow:0px 0px 0px 1px #ddd;}
.GslBookingFront .gslbookingHeader input{overflow: hidden;text-overflow: ellipsis;}
.GslBookingFront .gslbookingHeader input::-webkit-input-placeholder{color:#000;}
.GslBookingFront .gslbookingHeader input::-moz-placeholder{color:#000;}
.GslBookingFront .gslbookingHeader input:-moz-placeholder{color:#000;}
.GslBookingFront .gslbookingHeader input:-ms-input-placeholder{color:#000;}
.GslBookingFront .gslbookingHeader input:focus{outline-width:0;box-shadow: 0 0 0;}
.GslBookingFront .gslbookingHeader .date::after{content: "\e92f";}
.GslBookingFront .gslbookingHeader .guests::after{content: "\e90f";}
.GslBookingFront .gslbookingHeader .coupon::after{content: "\e911";}
.GslBookingFront .gslbookingHeader .gsl_button:hover{background-color:#4391dc;}
.GslBookingFront .gslbookingHeader .gsl_button{
    height: 60px;
    line-height: 60px;
    letter-spacing:1px;
    float:right;
    background: #329ad6;
    width: 19%;
    border-radius: 0;
    font-size:18px;}
.GslBookingFront .gslbookingHeader input{
    width:100%;
    cursor: pointer;
    height:60px;
    line-height:60px;
    letter-spacing:1px;
    font-size:16px;
    padding:0 30px 0 26px;
    background-color:#fff;
    border:0;}
.GslBookingFront .guestInfoBox{
    position: absolute;
    display: none;
    font-size:16px;
    width: 100%;
    min-width: 300px;
    border-top: 2px solid #94ccdf;
    padding: 16px;
    text-align: left;
    text-transform: capitalize;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 2;}
.GslBookingFront .guestInfoBox div{position:relative;}
.GslBookingFront .guestInfoBox input{padding: 0;height: auto;width:50%;cursor: default;text-align: center;line-height: 50px;}
.GslBookingFront .guestInfoBox input:hover{box-shadow: 0 0 0;}
.GslBookingFront .guestInfoBox i{cursor: pointer;padding: 10px;border-radius: 4px;background-color: #fff;color: #94ccdf;border: 1px solid #94ccdf;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
.GslBookingFront .guestInfoBox_left{float:left;width:40%;padding-bottom:0;}
.GslBookingFront .guestInfoBox_left div{padding:14px 0;}
.GslBookingFront .guestInfoBox_right{float:right;width:60%;text-align: right;padding-bottom:0;text-align: center;}

.GslBookingFront .datepickermobile{display: none;}
.GslBookingFront .mobilecheckinheading, .GslBookingFront .mobilecheckoutheading { color:#bbb; width: 50%; float: left; border-bottom:1px solid #ddd;padding:0 4px;}
.GslBookingFront .mobilecheckinheading span, .GslBookingFront .mobilecheckoutheading span{position:absolute;}
.GslBookingFront .mobilecheckinheading{box-shadow: 1px 0px 0px 0px #ddd;}

@media only all and (max-width:800px){
    .GslBookingFront .picker_header { display:none; }
    .GslBookingFront .datepickermobile{display: block;}
    .GslBookingFront #date_picker,
    .GslBookingFront #faholder_date,
    .GslBookingFront .date_pickerwrapper{display: none;}
    .GslBookingFront .fa_box.guests{width:100% !important;padding: 10px 0;}
    .GslBookingFront .fa_box #guests{display:none;}
    .GslBookingFront .fa_box #coupon_input {border: 1px solid #ddd !important;border-width: 1px 0px 1px 0px;}
    .GslBookingFront .fa_box.coupon {width:65%;}
    .GslBookingFront .fa_box.gsl_button{width:35%;height:60px;line-height:60px;}
    .GslBookingFront .fa_box::after { display:none !important; }
    .GslBookingFront .gslbookingHeader input{border:0 !important;font-size: 14px;padding:0 20px;height:60px;line-height:60px;}
    .GslBookingFront .gslbookingHeader .guestInfoBox input{box-shadow: 0 0 0;height:50px;line-height:50px;}
    .GslBookingFront .guestInfoBox i{padding:8px;}
    .GslBookingFront .gssigninbutton { margin-top:10px;}
    .GslBookingFront #date_picker_start[type="date"] {padding:12px 0 0 20px;}
    .GslBookingFront #date_picker_end[type="date"] {padding:12px 0 0 20px;}
    .GslBookingFront .guestInfoBox {
        position: initial !important;
        display:block !important;
        border-bottom: 2px solid #329ad6;
        width:100% !important;
        min-width: 0;
        border:0;box-shadow:0 0 0;
        padding:0 20px;}
}