.Event .eventtitle {
    border: solid 1px #DDD;
    background-color: #F0F0F0;
    padding: 10px;
}

.Event .locationinformation,
.Event .dateinformation {
    padding: 10px;
}

.Event .dateinformation div {
    padding-left: 20px;
    padding-top: 10px;
}

.Event .availability {
    padding: 10px;
    font-weight: bold;
}

.Event .event_warning {
    border: solid 1px red;
    padding: 20px;
    margin-top: 20px;
    
}

.Event .userrow {
    line-height: 50px;
    position: relative;
    border-bottom: solid 1px #F0f0f0;
    padding-left: 20px;
}

.Event .userrow:hover {
    background-color: #EAEAEA;
}

.Event .userrow:nth-child(odd) {
    background-color: #F0F0F0;
}

.Event .userrow .signedup,
.Event .userrow .shop_button {
    position: absolute;
    right: 0px;
    top: 0px;
}

.Event .userrow .signedup {
    padding-right: 10px;
}

.Event .company_title {
    margin-bottom: 10px;
    border: solid 1px #F0f0f0;
    line-height: 50px;
    text-align: center;
}

