<div class='paymentprocess'>
    <div class='paymentinforguide'>
        <center><b>Waiting for payment</b></center>
            <br>
        Please insert card in card reader below.<br>
        <i class='fa fa-spin fa-spinner'></i> Waiting for payment completions.<br><br>
        <div id="terminalfeedback" style="font-size:16px;text-align: center;"></div>
        <br>
    </div>
</div>


<div style='text-align: center'>
    <h1>3 / 3 Summary and additional services</h1>
    <div>
        <div class='summarybox'>
            <div class='summaryboxheading'>
                <b><i class='fa fa-info-circle'></i> Booking summary</b>
                <span class='gsbtnsmall' style='float:right;' ng-mobile-click="editBooking();"><i class='fa fa-edit'></i> Edit</span>
            </div>
            <div class='row'>
                <span class='col1'>Name</span>
                <span class='col2'>{{user.fullName}}</span>
            </div>
            <div class='row'>
                <span class='col1'>Adress</span>
                <span class='col2'>{{user.address.address}}</span>
            </div>
            <div class='row'>
                <span class='col1'></span>
                <span class='col2'>{{user.address.postCode}} {{user.address.city}}</span>
            </div>
            <br>
            <div class='row'>
                <span class='col1'>Email</span>
                <span class='col2'>{{user.emailAddress}}</span>
            </div>
            <div class='row'>
                <span class='col1'>Phone</span>
                <span class='col2'>+{{user.prefix}} {{user.cellPhone}}</span>
            </div>
        </div>
    </div>
    <div>
        <div class='summarybox'>
            <b><i class='fa fa-bed'></i> {{numberOfRoomsBooked}} Room(s) booked</b>
            <span class='gsbtnsmall' style='float:right;' ng-mobile-click="editBooking();"><i class='fa fa-edit'></i> Edit</span>
            <div ng-repeat="room in booking.rooms">
                <div class='roominformation'>
                    <div>
                        {{types[room.bookingItemTypeId].name}}
                        <span style='float:right;'>{{ room.guests[0].name }}</span>
                    </div>
                    <div>
                        {{room.guests[0].email}} 
                        <span style='float:right;'>
                            +{{ room.guests[0].prefix }}
                            {{ room.guests[0].phone }}
                        </span>
                    </div>
                    <div class='addonsrow' ng-repeat="addon in addons[room.pmsBookingRoomId]">
                        <span style='padding-top: 3px;'>{{addon.name}} (NOK {{addon.price}})</span>
                        <span class='gsbtnsmall addonaddedtoroom' style='float:right;' ng-show="addon.addedToRoom" ng-mobile-click="removeAddonFromRoom(addon, room)"><i class='fa fa-check'></i> Added, remove</span>
                        <span class='gsbtnsmall' style='float:right;' ng-show="!addon.addedToRoom" ng-mobile-click="addAddonToRoom(addon, room)"><i class='fa fa-close'></i> Not added, add</span>
                    </div>
                </div>
                <div class='roomsummary'>
                    Total for room is NOK {{room.totalCost}} <span style='float:right;'><span class='payroombutton' ng-show='payIndividually' ng-mobile-click="startIndividualPaymentProcess(room)">Pay</span></span>
                    <span style='float:right;' ng-show="room.paidFor"><i class="fa fa-check"></i> paid</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class='summarybox' ng-show="!payIndividually">
            <i class='fa fa-credit-card'></i> <b> Order information</b>
            <div ng-repeat="order in orders" style='padding-top: 5px;'>
                <span class='gsbtn' style='float:right;' ng-show='!order.paid' ng-mobile-click='startPaymentProcess(order.id)'>Pay <i class='fa fa-arrow-right'></i></span>
                <span class='gsbtn' style='float:right; background-color:green;' ng-show='order.paid' ng-mobile-click='printReciept()'><i class='fa fa-check'></i> paid, print reciept <i class='fa fa-arrow-right'></i></span>
                <div class='orderrow'>Total to pay: {{order.amount}} NOK</div>
                <div style='clear:both;'></div>
            </div>
            <div style='text-align: right; padding-top: 10px;'>
                <span class='gsbtn' ng-mobile-click='doPayIndividually()'>Pay for each room individually</span>
            </div>
        </div>
        <div class='summarybox' ng-show="payIndividually">
            <center>
                A pay button is now available for each room.<br><br>
                <div>
                    <span class='gsbtn' ng-mobile-click='doNotPayIndividually()'>Pay for all rooms</span>
                </div>
            </center>
        </div>
    </div>
</div>

<style>
    .addonaddedtoroom {         
        background-color:green;
        color:#fff; 
        border-color:darkgreen;
    }
    .payroombutton { 
        background-color:green;
        color:#fff;
        padding: 2px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .paymentprocess { text-align: center; padding-top: 50px; display:none; position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; background-color:rgba(0,0,0,0.8); z-index: 3; }
    .paymentprocess .paymentinforguide { display:inline-block; background-color:#fff; padding: 10px; color:#000; text-align: left; width: 300px; }
    .orderrow { padding-top: 10px; padding-bottom: 10px; }
    .roomsummary { padding-left: 10px; padding-right: 10px; border-bottom: solid 1px #bbb; font-size: 12px; font-weight: bold; padding-top: 3px; padding-bottom: 3px; }
    .addonsrow { clear: both; padding-top: 3px;  }
    .summaryboxheading { padding-bottom: 10px; }
    .col1 { display:inline-block; width: 200px; }
    .summarybox { border-radius: 3px; border: solid 1px #bbb; background-color:#fff; padding: 10px; display:inline-block; width: 600px; margin-bottom: 20px; text-align: left; }
    .roominformation { font-size: 14px; padding: 10px; border-bottom: solid 1px #bbb;  }
</style>