.gs_page_width { max-width: 1300px; margin: auto; background-color:#fff; font-size: 18px; }
body { background-color:#525659; margin-top: 10px; margin-bottom: 10px; font-family: 'Open Sans';}
.Menu .entry a { font-size: 20px; width:100px; display:inline-block; margin-top: 20px;color: #666666;padding-right: 20px; }
.Menu { text-align: right; position: absolute; top:110px; right: 100px;font-family: 'Anton', sans-serif; }
.gsarea[area="header"] .gs_page_width,
.gsarea[area="footer"] .gs_page_width { height: 250px; }
.gsarea[area="header"] img { margin-left: 100px; }

.gsarea[area="body"] .gs_page_width {
    box-shadow: 0px 8px 8px rgba(0,0,0,2);
     padding-left: 100px; padding-right: 100px; 
}
[cellid="ed61db83-909e-4408-8ec0-3f4926463426"] .gs_page_width {
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
    margin-top: 20px;
}
[cellid="13fa71d1-1593-4dde-b743-980ee84d12a6"] .gs_page_width {
    box-shadow: 0px 10px 4px 4px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.Menu .entry .entries .entry a { text-align: left; background-color:rgba(0,0,0,0.8); width: 250px; font-size: 12px; color:#fff; padding: 10px; margin: 0px; border-bottom: solid 1px #fff; }
.Menu .entry .entries .entry { height: inherit; }

.PmsBookingProductList .roomtypeselection { left: 165px !important; }
.PmsBookingProductList .productentry { background-color:#fff; }
.PmsBooking .pmsfront .fa-calendar,
.PmsBookingProductList .continue_button,
.PmsBookingCalendar .calendar .day.selected,
.PmsBookingCalendar .calendar .calendar_header,
.PmsBookingContactData .complete_button,
.PmsBooking .pmsfront .check_available_button { background-color:#7b6a58; }
.PmsBookingProductList .productentry.selected { border-color: #73bcd4; }
.PmsBookingProductList .price { font-size: 14px !important; text-align: right; line-height: 23px; font-weight: normal !important; }
.shop_button { border: solid 1px; padding: 4px; height : 25px; line-height: 25px; padding-right: 20px; padding-left: 20px; border-radius: 0px; }

H1,H2 { font-family: 'Anton', sans-serif; color: #3f2d51; letter-spacing: 1px; }
.shop_button { background: none; background-color:#7b6a58; color:#fff;font-family: 'Anton', sans-serif; border: solid 0px;  }

@media only all and (max-width: 1100px) {
    .gsarea[area="body"] .gs_page_width {
    box-shadow: 0px 8px 8px rgba(0,0,0,2);
     padding-left: 10px; padding-right: 10px; 
}
}

@media only all and (max-width: 800px) {
    .gsarea[area="body"] .gs_page_width {
        box-shadow: none;
         padding-left: 10px; padding-right: 10px; 
    }
    .Menu {
        top: 75px;
        right: 30px;
    }
    
    .applicationarea[area="b2219eb6-fcb2-4037-bd11-5060ecae2d49"] .adjust_right { text-align: left !important; }
    .applicationarea[area="4115fd24-3858-44ef-940d-3a858be18ee6"] .adjust_ { padding-left: 5px !important; }
    
    .Menu .entries {
        position: fixed;
        left: 0px;
        width: 100%;
        background-color: #1a191f;
        text-align: center;
    }
    
    .PmsBookingProductList .productentry .roomtypeselection {
        bottom: 0px;
    }
    
    .PmsBookingProductList .productentry .name {
        font-size: 20px;
        font-weight: bold;
        left: 0px;
        position: absolute;
        background-color: #fff;
        width: 200px;
        top: 0px;
    }

    
    .gsarea[area="header"] img { margin-left: 10px; }
    
    .Contact .shop_button { width: 100%; padding: 10px; box-sizing: border-box; height: inherit; }
}