.MecaFleetUpdateKilometers .fleettitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: #DDD;
    padding-top: 20px;
}

.MecaFleetUpdateKilometers .carline {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding: 5px;
}

.MecaFleetUpdateKilometers .carline:nth-child(even) {
    background-color: #EFEFEF;
}

.MecaFleetUpdateKilometers .carline .col {
    display: inline-block;
    vertical-align: top;
}

.MecaFleetUpdateKilometers .carline .col1 { 
    width: calc(100% - 300px);
}

.MecaFleetUpdateKilometers .buttonarea {
    text-align: right;
}