.SrsBarSystem .product {
    border: solid 1px #DDD;
    width: 100px;
    height: 60px;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    vertical-align: top;
    background-color: #6dffa1;
    cursor: pointer;
    overflow: hidden;
}

.SrsBarSystem .productlist {
    padding: 20px;
}

.SrsBarSystem div.productlist:nth-child(odd) {
    background-color: #EFEFEF;
}

.SrsBarSystem .productlistcontainer {
    width: calc(100% - 400px);
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

.SrsBarSystem .checkoutarea {
    width: 400px;
    vertical-align: top;
    box-sizing: border-box;
    border: solid 1px #DDD;
    display: inline-block;
}