.PmsBookingContactData label input[type="text"],
.PmsBookingContactData label textarea,
.PmsBookingContactData label .titletext,
.PmsBookingContactData label input[type="password"] { width: 100%; margin-top: 5px; box-sizing: border-box; display:inline-block;  }
.PmsBookingContactData label textarea { height: 100px; }
.PmsBookingContactData label.type_radio { display:inline; width: inherit;}
.PmsBookingContactData .col-25 { width: 25%; display:inline-block; box-sizing: border-box; float:left; padding-right: 10px; }
.PmsBookingContactData .col-33 { width: 33.33%; display:inline-block; box-sizing: border-box; float:left; padding-right: 10px; }
.PmsBookingContactData .col-100 { width: 100%; display:inline-block; }
.PmsBookingContactData .col-50 { width: 50%; display:inline-block; box-sizing: border-box; float:left; padding-right: 10px;  }
.PmsBookingContactData .lastone { padding-right: 0px;  }
.PmsBookingContactData .chooseregform { clear: both; }

.PmsBookingContactData .complete_button {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 7px;
    text-align: center;
    background-color: #f29400;
}

.PmsBookingContactData .bottomborder { padding-bottom: 10px; border-bottom: solid 1px #bbb;  }
.PmsBookingContactData .errordesc { display:inline-block; padding-top: 10px; color:red; }
.PmsBookingContactData .termslink { color: blue; cursor:pointer; }
.PmsBookingContactData .labeltitle { padding-top: 5px; display:inline-block; }
.PmsBookingContactData .regforminput { display:none; }
.PmsBookingContactData .whenTypeIsSelected { clear:both; display:none; }
.PmsBookingContactData .termsandcondtext { color:blue; cursor: pointer; margin-bottom: 5px;display:inline-block; }