.PmsManagement{line-height: 1;font-family: 'Arial', sans-serif;font-size:14px;}
.PmsManagement .actions { color:#fff; background-color: #2f6627;  cursor:pointer; padding: 2px; width: 20px; height: 20px; font-size: 20px; text-align: center; border-radius: 3px; }
.PmsManagement .actions.removebooking,.PmsManagement .actions.removedates { background-color:red; }
.PmsManagement .actions.removebooking:hover,.PmsManagement .actions.removedates:hover { background-color:darkred; }
.PmsManagement .secondary_text { color:#aaa; font-size: 12px; margin-top: 2px; }
.PmsManagement .bookinginfo h2 { border-bottom: solid 1px #efefef; padding-bottom: 5px; }
.PmsManagement .errorlist { font-size: 16px; color: red; padding-left: 20px; }
.PmsManagement .roomsbookedactions { margin: 10px 0 10px 0; background-color:#e1f2fb; position: relative; padding: 10px; box-sizing: border-box; width: 100%; display:block; }
.PmsManagement .roomsbookedactions .fa { position: absolute; left: 14px; top: -12px; color:#CAE8EA; }
.PmsManagement .showorderbutton { color: blue; cursor:pointer; }
.PmsManagement .bookinginfo a { color: blue; }
.PmsManagement .commentline.deleted { text-decoration: line-through; }
.PmsManagement .guestrow input { width: 20%; float:left; }
.PmsManagement .columnfilter {position:absolute; left: 505px;border: solid 2px; padding: 5px; z-index: 2; background-color: #fff; max-width: 500px; display:none; margin-top: 5px;}
.PmsManagement .toggleColumnFilter {}
.PmsManagement .addonsadded { position:absolute; z-index: 2; background-color:#fff; border-radius: 3px; border: solid 1px; display:none; }
.PmsManagement .ended { color: #aaa; }
.PmsManagement .changeSorting { cursor:pointer; }
.PmsManagement .roomactionstip { display:none; }
.PmsManagement .changepaymenttypeform { position:absolute; background-color:#fff; border: solid 1px; font-size: 12px; padding: 5px; border-radius: 3; z-index: 2; display:none; }
.PmsManagement .markpaidform { position:absolute; background-color:#fff; border: solid 1px; font-size: 12px; padding: 5px; border-radius: 3; z-index: 2; display:none; }
.PmsManagement .changepaymenttypeform span:hover { cursor:pointer; color: blue; }
.PmsManagement .cleaningpanel,.PmsManagement .addaddonpanel-outer { border: solid 1px #bbb; position:absolute; background-color: #fff;z-index: 10;display:none; }
.PmsManagement .cleaningpanel,.PmsManagement .addaddonpanel {  padding: 10px; }
.PmsManagement .orderstatsres { margin-top: 15px;}
.PmsManagement .rotate180deg{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);overflow-x: scroll;direction: rtl;}
.PmsManagement .rotate180deg2{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);direction: ltr;}
.PmsManagement .roomactionstip[type="delete"] { display:block; }
.PmsManagement .pricecol { cursor:pointer; }
.PmsManagement .addaddonsoption { color: blue; cursor: pointer; }
.PmsManagement .warnunsettled { padding: 10px; margin-top: 20px; margin-bottom: 20px; background-color:#CAE8EA; }
.PmsManagement tr.compressed td { padding: 2px 6px 2px 12px; }
.PmsManagement .moreinvoiceoptions { border: solid 1px; margin-top: 5px; position:absolute; background-color:#fff; padding: 10px; display:none; }
.PmsManagement .continueorderbutton { border: solid 1px; border-radius: 3px; cursor:pointer; padding-left: 10px; padding-right: 10px; display:inline-block; margin: 3px; }
.PmsManagement .roominfosub {  width: 140px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; display:inline-block; }
.PmsManagement .otherOrderOptions { position:absolute;  background-color:#fff;  width: 300px; left: -300px; }
.PmsManagement .additionalroominfobox { position:absolute; z-index: 2; background-color: #fff; border: solid 1px #bbb; width: 400px; display:none; }
.PmsManagement .additionalroominfobox_inner { }
.PmsManagement .additionalroominfobox_header { background-color:#efefef; padding: 5px; margin-bottom: 3px; }
.PmsManagement .Confirmed,
.PmsManagement .active,
.PmsManagement .confirmed { color:green; }
.PmsManagement .Unconfirmed,
.PmsManagement .unconfirmed,
.PmsManagement .notpaid,
.PmsManagement .Unpaid { color:red; }
.PmsManagement .roomdeleted td { color: red; }
.PmsManagement .addedtowaitinglist td { color: blue; }
.PmsManagement .sendinvoicebox { position:absolute; padding: 10px; border: solid 1px; background-color: #fff; display:none; }
.PmsManagement .sendinvoicebox input { font-size: 12px; }
.PmsManagement .doCreditOrder:hover { color:red; cursor: pointer; }
.PmsManagement .statisticsrow:hover td { cursor:pointer; color:green; }
.PmsManagement .massupdatepricesfield { position:absolute; background-color:#fff; border: solid 2px; border-radius: 3px; z-index: 1; display:none; }
.PmsManagement .quickcoveragefilter { border: solid 1px;  position:absolute; background-color: #fff; display:none;z-index: 10; }
.PmsManagement .quickcoveragefilter .quickselection { padding: 5px; border-bottom: solid 1px; }
.PmsManagement .quickcoveragefilter .quickselection:hover { background-color:#efefef; cursor:pointer; }
.PmsManagement .tiparea {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: solid 1px;
    display:none;
}
.PmsManagement .highlight td { background-color:#deff9f !important; }
.PmsManagement .highlight td .orderforrromview td { background-color: transparent !important; }
.PmsManagement td .orderforrromview { background-color:#0E0E19 !important; }
.PmsManagement td .fa-close { color:#bbb !important; }

.PmsManagement .viewmode:hover { color: green; cursor: pointer; }
.PmsManagement .guestoverviewtable  td .roompostfix { font-size: 12px; position:relative; }
.PmsManagement .actions:hover {
     -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color:#44c767;
}
.PmsManagement th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #2885c0;
}

.PmsManagement td {
	border-right: 1px solid;
	border-bottom: 1px solid;
        border-color: rgba(40,133,192,0.15);
	background: #fff;
	padding: 2px 2px 2px 12px;
	color: #000;
}
#informationbox.PmsManagement  th{text-align: left;background-color:#aed5eb;color: #555;border-right: 1px solid rgba(40,133,192,0.15);}
#informationbox.PmsManagement  td{border-bottom:1px solid ;border-right: 1px solid;border-color: rgba(40,133,192,0.27);}
#informationbox.PmsManagement td:nth-child(1) {border-left: 1px solid rgba(40,133,192,0.27);}
#informationbox.PmsManagement td:last-child{border-right: 1px solid rgba(40,133,192,0.27);}
#informationbox.PmsManagement .contactConfigTable td{border:0;background-color:#fff;}
.PmsManagement table tr:nth-child(even) td {background-color: #fff;}
.PmsManagement table tr:nth-child(odd) td {background-color: #eef9ff;}
.PmsManagement tr:nth-child(2) {background: #F5FAFA;color: #B4AA9D;}

.PmsManagement .pmsinput {
    font-size: 17px;
    padding: 5px;
}

.PmsManagement .pmsbutton {
    background-color: #44c767;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
.PmsManagement .pmsbutton2{
    background-color: #146da6;
    padding:8px 6px 8px 6px;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}
.PmsManagement .pmsbutton3{
    color: #fff;
    position: relative;
    top: 5px;
    background-color: #2885c0;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.PmsManagement .booking_options { text-align: right; }
.PmsManagement .datesbooked input { font-size: 16px; }
.PmsManagement .bookedrooms input { width: 25%; font-size: 16px; }
.PmsManagement .roomprefix { display: inline-block; width: 40%; float:left; font-size: 16px; margin-bottom: 10px; text-align: left; }
.PmsManagement .roompostfix { display: inline-block;  float:left; font-size: 16px; line-height: 25px; }
.PmsManagement .guestrow td { padding: 0px; border: 0px; }
.PmsManagement .fa.fa-edit { cursor:pointer; }

.PmsManagement .pmsbutton.tiny { padding-top: 2px; padding-bottom: 2px; }
.PmsManagement .bookinginfo select { font-size: 16px; }
.PmsManagement .bookinginfo .editmode { display: none;
    position: absolute;
    background-color: #fff;
    z-index: 3;
    padding: 10px;
    border: solid 1px;
    border-radius: 3px;
    left: 5px;
    top: 5px;
    min-width: 280px;
}
.PmsManagement .needconfirmation { margin: 20px; font-size: 20px; padding: 10px;text-align: center; border: solid 1px #BBB; background-color:#efefef; }
.PmsManagement .typefilter { display:block; min-width: 100px; }
.PmsManagement .commentbottom { color:#bbb; font-size: 10px; }
.PmsManagement .commentfield { max-height: 250px; width: 100%; display: inline-block; overflow-y: scroll; margin-top: 20px; }
.PmsManagement .edituserbox { display:none; position:absolute; width: 300px; z-index: 1; }
.PmsManagement .edituserbox input, .PmsManagement .edituserbox select { width: 250px; box-sizing: border-box;}
.PmsManagement .editcompanybox { display:none; position:absolute; left: 40%; z-index: 2; }
.PmsManagement .editcompanybox input, .PmsManagement .editcompanybox select { width: 250px; box-sizing: border-box;}
.PmsManagement .sendpaymentlinkbox { position: absolute; z-index: 2; border: solid 2px; background-color: #fff; padding: 5px; display:none; }

.PmsManagement .addmoredates { color:blue; cursor:pointer; }
.PmsManagement .title { display:inline-block; width: 110px; text-align: right; font-size: 12px; padding: 2px; float:left;}
.PmsManagement .optionbox { width: 200px; display: inline-block; min-height: 30px; float:left; }
.PmsManagement .eventrow { clear:both; }
.PmsManagement .addMoredatesPanel { z-index: 21111; padding: 5px; border: solid 1px #bbb; display:none; position:absolute; left: 25px; top: 20px; background-color:#aed5eb; box-shadow: 0px 0px 5px 1px #bbb; width: 330px; }
.PmsManagement .addMoredatesPanel .fa-close { right: 5px; top: 3px; position:absolute; font-size: 10px; color:#bbb; cursor:pointer; }
.PmsManagement .addMoredatesPanel .optionbox { padding-left: 5px; }
.PmsManagement .addMoredatesPanel .optionbox select,
.PmsManagement .addMoredatesPanel .optionbox input
{ border: solid 1px #bbb; background-color:#fff; font-size: 12px; width: 100%; box-sizing: border-box; }
.PmsManagement .addMoredatesPanel .fa-caret-up { position:absolute; top: -10px; color:#bbb; left:0px; }
.PmsManagement .addMoredatesPanel .repeatoption { display:none; }
.PmsManagement .addMoredatesPanel .repeatoption.repeat_0 { display:inline-block; }
.PmsManagement .addMoredatesPanel .optionbox input[type="button"] {width: 50%; float:left; cursor:pointer;padding:0; }
.PmsManagement .addMoredatesPanel .optionbox input[type="checkbox"] {width: inherit; cursor:pointer; }
.PmsManagement .addMoredatesPanel .optionbox input[type="radio"] {width: inherit; cursor:pointer; }
.PmsManagement .addMoredatesPanel .optionbox input[type="button"]:hover { background-color:#eaeaea; }
.PmsManagement .addMoredatesPanel .repeatrow { display:none; }
.PmsManagement .adddatetype { margin-bottom: 15px; display:inline-block; padding: 2px; cursor:pointer; background-color:#efefef; width: 115px; text-align: center;border: solid 1px #bbb; }
.PmsManagement .adddatetype.selected { background-color:#fff;   border: solid 1px #bbb; }
.PmsManagement .addMoredatesPanel .datetypepanel { display:none; }
.PmsManagement .addMoredatesPanel .datetypepanel.repeat { display:inherit;}
.PmsManagement .cantbeadded { color:red; }
.PmsManagement .unavailableroomwarning { border: solid 1px; background-color:red; color: white; padding: 10px; display:inline-block; margin-bottom: 20px; }
.PmsManagement .repatingroomlist { display:none; }
.PmsManagement .showRepeatDates { color: blue; cursor:pointer; }
.PmsManagement .tabs {
    margin-top: 40px;
    display:block;
}

.PmsManagement .tabs .tab.selected { background-color:#fff; }
.PmsManagement .tabs .tab {
    border: solid 1px #C1DAD7;
    background-color: #ddd;
    margin-right: 10px;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    float:left;
    font-size: 12px;
}

.PmsManagement .tabarea { display:none; border-top: solid 1px #C1DAD7; }
.PmsManagement .newinformationwarning { padding: 10px; border: solid 1px #bbb; background-color: #eee; margin-bottom: 30px; }
.PmsManagement .action_point_row .col { display: inline-block; }
.PmsManagement .action_point_row.row_template { display: none; }
.PmsManagement .daytemplate { display: none; }
.PmsManagement .action_point_row .col1 { width: 110px; }
.PmsManagement .action_point_row .col2 { width: 100px; }
.PmsManagement .action_point_row .col3 { width: 100px; }
.PmsManagement .action_point_row .col4 { width: 546px; }
.PmsManagement .action_point_row .col5 { width: 50px; }
.PmsManagement .action_point_row input { width: 100%; box-sizing: border-box;}
.PmsManagement .dayform { border-top: solid 1px #DDD; border-bottom: solid 1px #DDD; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px; }
.PmsManagement .contactdatadropdown{max-width:330px;}

/*New design*/
.PmsManagement .managementview_booking_options{
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    cursor: default;
    background-color: #d1efff;
    border:1px solid #2885c0;
    border-radius: 4px;
    border-bottom-width: 10px;
}
.PmsManagement .managementviewbanner{
    display:inline-block;
    position: relative;
    box-sizing: border-box;
    width:100%;
    padding:5px;
    background-color:#2885c0;
}
.PmsManagement .managementviewdateinput{border:0;padding:7px;height: 16px;margin-right: 2px;width: 70px;}
.PmsManagement .managementviewdropdowninput{padding: 6px;border: 0;background-color: #fff;color: #000;height: 30px;}
.PmsManagement .manegementviewbutton{
    color: #fff;
    padding: 7px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.PmsManagement .managementviewsearchcontainer .fa-search{padding-left:10px;}
.PmsManagement .manegementviewbutton.fa-refresh{background-color: rgba(0, 0, 0, 0.36);}
.PmsManagement .manegementviewbutton.fa-refresh:hover{background-color: rgba(0, 0, 0, 0.26);}
.PmsManagement .manegementviewbutton.fa-undo:hover{background-color: rgba(0, 0, 0, 0.10)}
.PmsManagement .managementviewbanner .fa-mobile-phone,
.PmsManagement .managementviewbanner .fa-user-plus,
.PmsManagement .managementviewbanner .fa-plus-square {
    color: #fff;
    float: right;
    font-size: 27px;
    border-right: 1px solid #fff;
    padding-right: 12px;
    margin-right: 25px;
    cursor: pointer;
}
.PmsManagement .managementviewbanner .fa-plus-square, 
.PmsManagement .managementviewbanner .fa-user-plus 
{ margin-right: 12px; }
.PmsManagement .managementviewquickfilter{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 28px;
    padding-top: 10px;
    color: #1a557b;
    border-bottom:1px solid #2885c0;
}
.PmsManagement .manegementviewfilterquickopt{cursor: pointer;margin-right: 10px;padding-left: 5px;}
.PmsManagement .managementviewoptions{
    float: right;
    margin-right: 5px;
    cursor: pointer;
    color: #176698;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.29);
}
.PmsManagement .managementviewActive{background-color:#2885c0;color:#fff;padding:5px;border-radius: 2px 2px 0 0;}
.PmsManagement .managementviewfilter{
    padding:5px;
    display: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: #fff;
}
.PmsManagement .managementviewfilterdisabled{
    color:#bbb;
    cursor:default;
    /*display:none;*/
}
.PmsManagement .roomfilternew{
    position: relative;
    display: inline-block;
    float:left;
    color: #555;
    max-width: 300px;
    margin-right: 20px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.29);
    box-sizing: border-box;
    padding: 10px;
}
.PmsManagement .fastcheckinform{
    display: inline-block;
    margin-right: 20px;
    color:#555;
    text-shadow:1px 1px rgba(255, 255, 255, 0.29);
}
.PmsManagement .fastcheckinline{
    width:80px;
    padding-bottom: 10px;
    display: inline-block;
}
.PmsManagement .fastcheckinroomselect{
    width: 221px;
    position: relative;
    background-color: #fff;
    left: -3px;
}
/* Searchbutton */
.PmsManagement .managementviewsearchcontainer{
    white-space: nowrap;
    display: inline-block;
    color: #2885c0;
    background-color:#fff;
}
.PmsManagement .managementviewinput{
    border: 0;
    color: #000;
    height: 30px;
    padding: 5px;
}
.PmsManagement .managementviewinput:active,
.PmsManagement .managementviewinput:focus{outline: none;}
.PmsManagement .managementviewinput::-webkit-input-placeholder {color: #2885c0;}
.PmsManagement .managementviewinput:-moz-placeholder {color: #2885c0;}
.PmsManagement .managementviewinput::-moz-placeholder {color: #2885c0;}
.PmsManagement .managementviewinput:-ms-input-placeholder {color: #2885c0;}
/*End of search*/

.PmsManagement .roomsbookedAddToBookingline{
    display: inline-block;
    box-sizing:border-box;
    text-align: center;
    background-color: #aed5eb;
    width: 100%;
    padding:2px;
}
.PmsManagement .roomsbookedAddToBookingline input,
.PmsManagement .roomsbookedAddToBookingline select{
    padding: 6px 4px 5px 4px;
    height: 19px;
    border: none;
    background-color: #fff;
    color: #555;
    margin:1px;
}
.PmsManagement .roomsbookedAddToBookingline select{
    height:30px;
    padding-top:5px;
}
.PmsManagement .changeintervalrow,
.PmsManagement .statsorderfilter{margin-top:5px;}
.PmsManagement .ordercreationpanelStepOne{margin-top: 30px; border-bottom: solid 1px; padding-bottom: 10px;}
.PmsManagement .createorderpanelinfoLeft{
    border-left: solid 1px #bbb;
    border-top: solid 1px #bbb;
    width: 70%;
    display:inline-block;
    float:left;
    box-sizing: border-box;
}
.PmsManagement .createorderpanelinfoRow1{
    padding: 10px;
    border-right: solid 1px #bbb;
    width: 45%;
    height: 145px;
    float:left; 
    display:inline-block;
}
.PmsManagement .createorderpanelinfoRow2{
    padding: 10px;
    width: 45%;
    height: 200px;
    float:left;
    display:inline-block;
}
.PmsManagement .createorderpanelinfoRow3{
    border: solid 1px #bbb;
    width: 30%;
    display:inline-block;
    float:left;
    box-sizing: border-box;
    padding: 10px;
    height: 200px;
}
.PmsManagement .gs_icon{
    display:block !important;
    top:5px;
    padding:6px;
    box-shadow: 0 0;
    background-color:#2885c0;
}
@media only all and (max-width:1280px){
    .PmsManagement .managementviewdateinput{padding:7px 4px;height: 16px;width: 66px;}
    .PmsManagement .managementviewdropdowninput{padding: 2px;max-width: 95px;}
    .PmsManagement .manegementviewbutton{padding: 7px 0.3%;margin-left: 0.5%;}
    .PmsManagement .managementviewsearchcontainer .fa-search{padding-left:5%;width:10%;}
    .PmsManagement .managementviewsearchcontainer{width:12%;}
    .PmsManagement .managementviewinput{padding: 0px;width: 80%;box-sizing: border-box;}
}
@media only all and (max-width:900px){
    .PmsManagement .gs_icon{
        display:none !important;
    }
    .PmsManagement .managementviewoptions{
        visibility: hidden;
        width: 13px;
        height:0;
    }
    .PmsManagement .managementviewoptions:before{
        visibility: visible;
    }
    .PmsManagement .managementviewbanner .fa-mobile-phone{
        margin: 0;
        border:0;
        padding-right: 4px;
    }
}
@media only all and (max-width:800px){
    .PmsManagement .managementviewoptions{visibility: visible;width: auto;height:auto;}
    .gseditrowbuttons{display:none !important;}
    .PmsManagement .managementviewinput{
        height:auto;
        width:98%;
        background-color:rgba(0,0,0,0);
    }
    .PmsManagement .managementviewsearchcontainer .fa-search{width:2%;padding:0;}
    .PmsManagement .managementviewdateinput,
    .PmsManagement .managementviewdropdowninput{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin: 0 0 5px 0;
        height:auto;
        max-width: 100%;
    }
    .PmsManagement .managementviewsearchcontainer{padding:10px;width:100%;box-sizing:border-box;margin:3px 0 5px 0;}
    .PmsManagement .manegementviewbutton{
        width: 32%;
        margin: 0;
        padding: 9px;
        text-align: center;
        border:1px solid #1a557b;
    }
    .PmsManagement .manegementviewbutton.fa-undo{border: 1px solid #fff;}
    .PmsManagement .managementviewbanner .fa-mobile-phone{padding:0 10px 0 10px;margin-top: 3px;}
    .PmsManagement .managementviewquickfilter{height:auto;padding:10px 0 10px 0;}
    .PmsManagement .manegementviewfilterquickopt{margin: 0;padding: 4px 4px 10px 4px;}
    .PmsManagement .managementviewoptions{text-transform: none;letter-spacing: 0; text-shadow: none;}
    
    .PmsManagement table{text-align: center;}
    .PmsManagement .tdBookingLine, .PmsManagement .pricecol{width:30px;}
    .PmsManagement .tdBookingLine1{width: 90px;}
    .PmsManagement th{padding: 6px;letter-spacing: 1px;width:auto;}
    .PmsManagement td{padding:2px 0 2px 0;font-size:12px;width:auto;}
    .PmsManagement .secondary_text{display: none;}
    
    .PmsManagement .edituserbox {width: 100%;box-sizing: border-box;left: 0px;box-shadow: 0px 0px 10px #000;}
    .PmsManagement .edituserbox_inner table{width:100%;}
    
    /*Following belong to framework.css*/
    .gsnewinfobox {width: 100%;height: auto;}
    #informationboxmiddle {width:100% !important;}
    #informationbox-holder{top:0;width:100%;}
    #informationbox.PmsManagement td{text-align: left;padding-left:4px;line-height: 1.2}
    .normalinformationbox{width:100%;}
 
}
@media only all and (max-width:800px){
    .PmsManagement .pmsbutton{padding: 2px;border: 0;border-radius: 0;font-size: 13px;}
    .PmsManagement .managementview_booking_options{overflow-x: auto;}
    .PmsManagement th{padding:0;letter-spacing: 0;font-size: 10px;max-width: 0px !important;font-size:7px;overflow-x: hidden;}
    .PmsManagement td{font-size:9px;max-width: 80px;overflow: hidden;min-width: 30px;height:36px;}
    .PmsManagement .tdBookingLine1{width: 70px;}
    .PmsManagement .columnfilter{left:40%;}
    .PmsManagement .manegementviewfilterquickopt{
        padding: 10px 4px 10px 4px;
        display: inline-block;
        border-radius: 0;
    }
    .PmsManagement .managementviewquickfilter{border:0;}
    .PmsManagement .manegementviewfilterquickopt{margin: 2px;box-shadow: inset 0px 1px 3px rgba(40, 133, 192, 0.5);}
    .PmsManagement .managementviewActive{background-color: #1a557b;}
    .PmsManagement .managementviewoptions, .PmsManagement .fa-cube{padding:10px;margin: 2px;box-shadow: inset 0px 1px 3px rgba(40, 133, 192, 0.5);float:none;}
    
    .PmsManagement .bookinginfo select{width:50%;font-size: 10px;}
    .PmsManagement .roomsbookedactionsselection option{font-size:10px;width:100%;box-sizing: border-box;}
    .PmsManagement .executeroomsbookedaction{font-size:10px;}
    .PmsManagement .bookinginfo .tab{
        box-shadow: inset 0px 1px 3px rgba(40, 133, 192, 0.5);
        border:0;
        border-radius: 0;
        padding: 8px;
        background-color: #fff;
        margin: 4px;
    }
    .PmsManagement .bookinginfo .tab.selected{background-color:#1a557b;color:#fff;}
    .PmsManagement .guestoverviewtable  td .roompostfix{font-size:9px;}
    .PmsManagement .bookinginfo .pmsbutton{
        width: 100%;
        border: 0;
        box-sizing: border-box;
        margin-bottom: 20px;
        float: none !important;
        border-radius: 0px;
        padding: 10px;
        text-align: center;
    }
    .PmsManagement .pmsbutton3{display: block;}
    .PmsManagement .roomsbookedAddToBookingline input,
    .PmsManagement .roomsbookedAddToBookingline select,
    .PmsManagement .roomsbookedAddToBookingline .pmsbutton2{
        width: 100% !important;
        box-sizing: border-box;
        margin: 2px 0 2px 0;
        text-align: center;
        padding: 6px;
        height: auto;
        box-shadow: inset 0px 0px 6px #1a557b;
        border-radius: 2px;
    }
    .PmsManagement .tabarea.messagearea td{max-width: none !important;}
    .PmsManagement .userdashboard .pmsbutton{float:none !important;box-sizing: border-box;padding: 5px;margin: 0px 5px 10px 0;background-color: #61b2e6;}
    .PmsManagement .dashboard_panel_outer{width: 100%;font-size: 12px;}
    .PmsManagement .statsorderfilter th{padding-top:15px;}
    .PmsManagement .roompostfix {line-height:15px;}
    
    .PmsManagement .guestoverviewtable .editmode{
        width: 100% !important;
        position: fixed;
        box-sizing: border-box;
        left: 0;
        top: 60px;
    }
    .PmsManagement .guestoverviewtable td,
    .PmsManagement .guestoverviewtable th{width:auto !important;text-align: center;}
    .PmsManagement .changeSorting[gsvalue="regdate"] {display: none;}
    .PmsManagement .noShowMobile{display: none !important;}
    
    .PmsManagement .ordercreationpanelStepOne{padding-bottom:25px;}
    .PmsManagement .additionalroominfobox{left:0 !important;top: 0px !important;width: 100%;}
    
    /* */
    .PmsManagement .createorderpanelinfoLeft{float:none;width: 100%;border: 1px solid #bbb;}
    .PmsManagement .orderUserSelection {width: 100%;box-sizing: border-box;border:0;}

    .PmsManagement .createorderpanelinfoRow1,
    .PmsManagement .createorderpanelinfoRow2,
    .PmsManagement .createorderpanelinfoRow3{width:100%;box-sizing: border-box;float:none;border:0;height:auto;}
    .PmsManagement .createorderpanelinfoRow1 input,
    .PmsManagement .createorderpanelinfoRow2 input{width: 100% !important;}
    .PmsManagement .createorderpanelinfoRow1 input[gsname="prefix"],
    .PmsManagement .createorderpanelinfoRow2 input[gsname="postcode"]{width:30% !important;}
    .PmsManagement .createorderpanelinfoRow2 input[gsname="city"],
    .PmsManagement .createorderpanelinfoRow1 input[gsname="phone"]{width:70% !important;}
    .PmsManagement .contactdata{border: 1px solid #aed5eb;padding: 5px 5px 5px 0px;}
    
    /*Following belong to framework.css*/
    #informationbox.PmsManagement td{max-width: 40px;padding:0;margin:0;}
    #infomrationboxclosebutton{width:auto;right: 10px;top: 6px;}
    #informationboxtitle {height:20px;line-height: 0;}
    
}