.PmsManagement .actions { color:#fff; background-color: #2f6627;  cursor:pointer; border: solid 1px; padding: 2px; width: 20px; height: 20px; font-size: 20px; text-align: center; border-radius: 3px; }
.PmsManagement .actions.removebooking,.PmsManagement .actions.removedates { background-color:red; }
.PmsManagement .actions.removebooking:hover,.PmsManagement .actions.removedates:hover { background-color:darkred; }
.PmsManagement .secondary_text { color:#aaa; font-size: 12px; margin-top: 2px; }
.PmsManagement .bookinginfo h2 { border-bottom: solid 1px #efefef; padding-bottom: 5px; }
.PmsManagement .errorlist { font-size: 16px; color: red; padding-left: 20px; }
.PmsManagement .showorderbutton { color: blue; cursor:pointer; }
.PmsManagement .bookinginfo a { color: blue; }
.PmsManagement .guestrow input { width: 20%; float:left; }
.PmsManagement .Confirmed { color:green; }
.PmsManagement .Unconfirmed { color:red; }

.PmsManagement .guestoverviewtable  td .roompostfix { font-size: 12px; }
.PmsManagement .actions:hover {
     -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color:#44c767;  }
.PmsManagement th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.PmsManagement td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #000;
}
.PmsManagement td:nth-child(1) {
    border-left: 1px solid #C1DAD7;
    text-align: center;
}

.PmsManagement tr:nth-child(2) {
	background: #F5FAFA;
	color: #B4AA9D;
}

.PmsManagement .pmsinput {
    font-size: 17px;
    padding: 5px;
}

.PmsManagement .pmsbutton {
      background-color: #44c767;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.PmsManagement .booking_options { text-align: right; }
.PmsManagement .datesbooked input { font-size: 16px; }
.PmsManagement .bookedrooms input { width: 25%; font-size: 16px; }
.PmsManagement .roomprefix { display: inline-block; width: 40%; float:left; font-size: 16px; margin-bottom: 10px; text-align: left; }
.PmsManagement .roompostfix { display: inline-block;  float:left; font-size: 16px; line-height: 25px; }
.PmsManagement .guestrow td { padding: 0px; border: 0px; }
.PmsManagement .fa.fa-edit { border: solid 1px; padding: 3px; border-radius: 3px; background-color:#18ab29; color:#fff; cursor:pointer; }
.PmsManagement .fa.fa-edit:hover { 
      -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color: darkgreen; }

.PmsManagement .pmsbutton.tiny { padding-top: 2px; padding-bottom: 2px; }
.PmsManagement .bookinginfo select { font-size: 16px; }
.PmsManagement .bookinginfo .editmode { display: none; }
.PmsManagement .needconfirmation { margin: 20px; font-size: 20px; padding: 10px;text-align: center; border: solid 1px #BBB; background-color:#efefef; }
.PmsManagement .typefilter { display:inline-block; min-width: 100px; }
.PmsManagement .commentbottom { color:#bbb; font-size: 10px; }
.PmsManagement .commentfield { max-height: 250px; width: 100%; display: inline-block; overflow-y: scroll; margin-top: 20px; }
.PmsManagement .edituserbox { display:none; position:absolute; width: 300px; }
.PmsManagement .edituserbox input, .PmsManagement .edituserbox select { width: 250px; box-sizing: border-box;}