.gs_page_width { max-width: 1024px; margin: auto; }
.Menu { text-transform: uppercase; text-align: center;  }
.Menu a div { padding: 20px; color:#fff;background-color:#265170; margin: 1px; width: 150px;margin-bottom: 10px; margin-top: 10px; letter-spacing: 2px; font-family: Sintony; }
.Menu .entries .entries div { margin: 0px; }
.gsarea[area="header"] { background-color: #23323F; padding-top: 10px; }
.gsarea[area="footer"] { background-color: #23323F; padding-top: 10px; padding-top: 80px; padding-bottom: 80px; color:#fff; }
body { font-size: 18px; font-family: verdana,geneva; }
.PmsBooking .pmsfront {
    background-color: rgba(0,0,0,0.8);
    color:#fff;
    border-radius: 4px;
    border: solid 0px;
}

h1,h2,h3 { margin: 0px; text-transform: uppercase; letter-spacing: 2px; font-family: 'Rufina', serif; font-weight: 400; }

.PmsBooking .pmsfront .heading {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-color: #265170;
}

.PmsBookingProductList .imgcontainer { background-color:#f5f5f5; }
.PmsBookingSummary .itemrow { font-size: 18px; }
.PmsBookingSummary .bottomborder { margin-bottom: 10px; }
.PmsBookingContactData h3.paymentheaders { margin-top: 10px; margin-bottom: 10px; font-size: 16px; }
.PmsBookingContactData h2.paymentheaders {  margin-bottom: 25px; }

.PmsBookingCalendar .calendar .calendar_header,
.PmsBookingCalendar .calendar .day.selected,
.PmsBookingProductList .continue_button,
.PmsBookingContactData .complete_button,
.PmsBooking .pmsfront .check_available_button,
.PmsBooking .pmsfront .fa-calendar {
    background-color: #536f94; 
    text-transform: uppercase;
}
.PmsBookingProductList .productentry .roomtypeselection { left: 170px; }

.frontpagebox .gsdepth_1.gsinner { border: solid 1px #ddd; margin: 10px; box-sizing: border-box; }
.frontpagebox .gsdepth_2.gscount_0 { border-bottom: solid 1px #ddd; padding-top: 5px; }
.frontpagebox .gsdepth_2.gscount_1 { padding: 10px; }
.Login .form .gs_button, .Login .form .loginbutton,
.shop_button { background: #536f94; border-radius: 0px; color:#fff; }
.Login .login_content { text-align: center; }

.PmsBookingContactData label input[type="text"], 
.PmsBookingContactData label textarea, 
.PmsBookingContactData label select, 
.PmsBookingContactData label .titletext, 
.PmsBookingContactData label input[type="password"] {
    height: 45px;
    line-height: 45px;
    font-size: 30px;
}
.PmsBookingContactData .complete_button {
    padding: 15px;
} 

.PmsBookingSummary .itemname { width: 230px; }
.PmsBookingMyBookingList th { padding: 10px;background: #536f94; color:#fff;  }
.PmsBookingContactData .chooseregform label { display:inline-block; width: 150px; }


.PmsBookingCalendar .calendar .calendar_header:hover, 
.PmsBookingCalendar .calendar .day.selected:hover, 
.PmsBookingProductList .continue_button:hover, 
.PmsBookingContactData .complete_button:hover, 
.PmsBooking .pmsfront .check_available_button:hover, 
.PmsBooking .pmsfront .fa-calendar:hover,
.Contact .shop_button:hover,
.Login .form .gs_button:hover, .Login .form .loginbutton:hover,
.Menu a div:hover {
    transition: all 0.5s ease;
    background-color:#17222b; 
}