
<div>
    Tøm listen!
    <br/>
    <div ng-repeat="table in getTables()" class="checkout_tableoverview">
        <div class="checkout_tablenameheader">{{ table.name }}</div>
        
        <div class="checkout_productoverview">
            
            <div ng-repeat="personnumber in getPersons(table)" class='checkout_productoverview_inner'>
                <div ng-click='transferAllItemForTableAndPerson(table, personnumber)' ng-if='personnumber == 0' class='person_header_name'><i class='fa fa-arrow-down'></i>General</div>
                <div ng-click='transferAllItemForTableAndPerson(table, personnumber)' ng-if='personnumber > 0' class='person_header_name'><i class='fa fa-arrow-down'></i>Person {{ personnumber}}</div>
                
                <div>
                    <div ng-repeat="product in getProducts(table, personnumber)" class="productcartbutton"  ng-class="getProductCount(product, table, personnumber) > 0 ? 'inuse' : ''" ng-click="addSingleProduct(product, table, personnumber)">
                        {{ product.name }}
                        <div>{{ getProductCount(product, table, personnumber) }}</div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
    <div class="button">Add table</div>
</div>

<div class='summaryview'> 
    <div ng-repeat='product in getSelectedProducts()' ng-click="removeProduct(product)">
        {{ getSelectedCount(product) }} x {{ product.name }}
    </div>
    
    Totalt: Kr {{ getTotal() }},-
    
    <div ng-if='getTotal() > 0'>
        <div class='button paymentbutton' ng-repeat='paymentMethod in paymentMethods' ng-click='goToPaymentWindow(paymentMethod)'>
            {{ getPaymentName(paymentMethod) }}
        </div>
    </div>
</div>
