.SedoxAdmin .sedox_admin_topmenu {
    border-bottom: solid 1px #DDD;
}

.SedoxAdmin .sedox_admin_topmenu .entry {
    line-height: 25px;
    display: inline-block;
    padding-right: 9px;
    padding-left: 9px;
    border-right: solid 1px #DDD;
    font-size: 16px;
    color: #666;
    background: linear-gradient(to bottom, #EEE, #DDD);
    cursor: pointer;
}

.SedoxAdmin .sedox_admin_topmenu .entry:hover {
    background: linear-gradient(to bottom, #DDD, #CCC);
}

.SedoxAdmin .sedox_admin_subarea {
    margin-top: 10px;
    border: solid 1px #DDD;
    padding: 20px;
}

.SedoxAdmin .title {
    font-size: 16px;
    margin-bottom: 20px;
}

.SedoxAdmin .invoicelist .col {
    display: inline-block;
    padding: 5px;
}

.SedoxAdmin .invoicelist .col1 { width: 100px;}
.SedoxAdmin .invoicelist .col2 { width: 600px;}

.SedoxAdmin .invoicelist .balancerow.norwegian  {
    background-color: #00aed7;
}
.SedoxAdmin .invoicelist .balancerow  {
    border-bottom: solid 1px #EEE;
}

.sedox_admin_topmenu.bottom {
    margin-top: 20px;
}

.SedoxAdmin .listview .filelistrow {
    border-bottom: solid 1px #EEE;
    line-height: 25px;
}

.SedoxAdmin .listview .filelistrow:hover {
    background-color: #EEE;
} 
.SedoxAdmin .listview .filelistrow .col {
    display: inline-block;
}

.SedoxAdmin .listview .filelistrow .col1 { width: 60px; }
.SedoxAdmin .listview .filelistrow .col2 { width: 450px; }
.SedoxAdmin .listview .filelistrow .col3 { width: 200px; }
.SedoxAdmin .listview .filelistrow .col4 { width: 150px; }

.SedoxAdmin .listview .filelistrow .col5 .Start { color: red; }
.SedoxAdmin .listview .filelistrow .col5 .Stop { color: green; }

.SedoxAdmin .result {
    margin-top: 20px;
}
.SedoxAdmin .userentrysearch {
    background-color: #DDD;
    padding: 3px;
    cursor: pointer;
}
.SedoxAdmin .userentrysearch:nth-child(2) {
    background-color: #EEE;
}
.SedoxAdmin .useroverview {
    color: #FFF;
    font-size: 16px;
    padding: 20px;
}


.SedoxAdmin .slaveslist .col1 { width: 800px;}
.SedoxAdmin .showuser { color: blue; cursor: pointer;}

