.CrmListFilter .nextstep { display:none; }
.CrmListFilter .companytypeselection { display:none; }
.CrmListFilter .successcreate { color:green; font-size: 22px; text-align: left; }
.CrmListFilter .failedcreate { color:red; font-size: 22px;  text-align: left;}
.CrmListFilter .searchbrregbutton { color: blue; cursor:pointer; }
.CrmListFilter .searchbrregarea {
    position: absolute;
    border: solid 1px;
    display: inline-block;
    display:none;
    padding: 10px;
    background-color:#fff;
    border-color: #bbb;
}