/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2016, 2:33:05 PM
    Author     : ktonder
*/

.towtruck {
    background-image: url('images/towtruck.png');
    height: 86px;
    width: 145px;
    display: inline-block !important;
    background-repeat: no-repeat;
    background-position-x: 15px;
    /*margin: 0 auto;*/
}