<div class="verkstedinformationbox openinghours">
    <i class="fa fa-clock-o"></i> 
    <b>Åpningstider</b>
    
    {{ settings.openinghours.value }}
</div>
    
<div class="verkstedinformationbox openinghours">
    <i class="fa fa-map"></i> 
    <b>Addresse / Veibeskrivelse</b>
    
    {{ settings.roadmap.value }}
</div>

<div class="verkstedinformationbox openinghours">
    <i class="fa fa-bullhorn"></i> 
    <b>Din kontaktperson</b>
    
    {{ settings['contact_name'].value }}
    {{ settings['contact_email'].value }}
    {{ settings['contact_cell'].value }}
</div>
    
<div class='button' onclick="window.history.back()"> Tilbake </div>