<div class='topinfobox'>
    Kom i kontakt med oss på flere måter.
    <br/>
    <br/> Velg Veihjelp dersom du står fast og har behov for opphening.
    <br/>
    <br/> Ring eller send melding direkte til verksted ved andre hendvendelser.
</div>


<a href='#/contact/veihjelp'>    
    <div class="frontbox">
        <i class="towtruck"></i>
        <br/>Veihjelp
    </div>
</a>

<a href='#/contact/ringmeg'>    
    <div class="frontbox">
        <i class="fa fa-phone"></i>
        Ring verksted
    </div>
</a>

<a href='#/contact/mail'>    
    <div class="frontbox">
        <i class="fa fa-envelope"></i>
        Melding til verksted
    </div>
</a>
<br/>
<div class='button' onclick="window.history.back()"> Tilbake </div>