<div class='topinfobox'>
    Vi gir deg 3 måter å komme i kontakt. Veihjelp, Ring meg eller send melding til verkstedet.
</div>


<a href='#/contact/veihjelp'>    
    <div class="frontbox">
        <i class="fa fa-road"></i>
        Veihjelp
    </div>
</a>

<a href='#/contact/ringmeg'>    
    <div class="frontbox">
        <i class="fa fa-phone"></i>
        Ring meg
    </div>
</a>

<a href='#/contact/mail'>    
    <div class="frontbox">
        <i class="fa fa-envelope"></i>
        Send melding
    </div>
</a>
