<div class='topinfobox'>
    MECA Veihjelp, hjelpen er på vei.
</div>
<br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet eu sem in pulvinar. Fusce ut mauris vel tellus malesuada elementum vitae ut felis. Nullam egestas neque et egestas scelerisque. Nam lacinia nulla molestie neque malesuada, a iaculis sem laoreet. Fusce dignissim augue at est vestibulum feugiat. Donec congue ligula ac libero fringilla imperdiet
<br/>
<br/>
<br/>
<a href='tel:03113'><div class='button'>Ring veihjelpen nå</div></a>