.PmsSearchBooking .GetShopModuleTable .secondary_text {
    color: #888;
}

.PmsSearchBooking .GetShopModuleTable .col_visitor {
    width: 500px;
}

.PmsSearchBooking .GetShopModuleTable .col_reg { width: 100px; }
.PmsSearchBooking .GetShopModuleTable .col_periode { width: 100px; }
.PmsSearchBooking .GetShopModuleTable .col_price { width: 50px; }
.PmsSearchBooking .GetShopModuleTable .col_state { width: 45px; }
.PmsSearchBooking .GetShopModuleTable .col_room { width: 144px; }
.PmsSearchBooking .GetShopModuleTable .col_visitor { width: calc(100% - 500px); }

.PmsSearchBooking .filterbox .dropdowns,
.PmsSearchBooking .filterbox .enddate,
.PmsSearchBooking .filterbox .startdate {
    display: inline-block;
}

.PmsSearchBooking .filterbox .enddate input ,
.PmsSearchBooking .filterbox .startdate input {
    line-height: 28px;
}

.PmsSearchBooking .filterbox {
    margin-bottom: 50px;
}

.PmsSearchBooking .bookingoverview_content_row .bottommenuarea {
    text-align: right;
    margin-top: 40px;
}
.PmsSearchBooking .bookingoverview_content_row .menuarea,
.PmsSearchBooking .bookingoverview_content_row .workarea {
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.PmsSearchBooking .bookingoverview_content_row .workarea {
    width: calc(100% - 154px);
    box-sizing: border-box;
    padding-right: 20px;
}
.PmsSearchBooking .bookingoverview_content_row .menuarea {
    width: 150px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    
    background: rgb(255,168,76); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );
}


.PmsSearchBooking .bookingoverview_content_row .menuarea .menuentry.active {
    background: rgb(205,235,142); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
}
.PmsSearchBooking .bookingoverview_content_row .menuarea .menuentry {
    text-align: center;
    border-bottom: solid 1px rgba(255,255,255,0.3);
    padding: 5px;
    cursor: pointer;
}