.PmsBookingProductList .productentry { border: solid 1px; height: 80px; margin-bottom:10px; background-color:#f5f5f5; border-color:#efefef; padding: 10px; position:relative; }
.PmsBookingProductList .productentry.imgdisplayed { padding-left: 170px; }

.PmsBookingProductList .productentry .select_button { float:right; cursor:pointer; background-color:#595959; width: 100px; text-align: center; display:inline-block; color:#fff; padding: 10px;}
.PmsBookingProductList .productentry .name { font-size: 20px; font-weight: bold; }
.PmsBookingProductList .productentry .price { font-size: 20px; font-weight: bold; position:absolute; right: 10px; }
.PmsBookingProductList .continue_button_outer { text-align: right; padding-top: 10px; padding-bottom: 10px; }
.PmsBookingProductList .continue_button { cursor:pointer; border: solid 1px; background-color: #f29400; display:inline-block; color:#fff; padding: 10px; width:120px; text-align: center; }
.PmsBookingProductList .productentry .roomtypeselection { position:absolute; left: 10px; bottom: 10px;  font-size: 20px; }
.PmsBookingProductList .productentry .roomtypeselection select { margin-right: 5px; border: solid 1px #bbb; background-color:#fff; }
.PmsBookingProductList .continue_button.disabled { background-color:#efefef !important; color:#bbb !important; cursor:inherit; }
.PmsBookingProductList .selectbutton { border: solid 1px; position:absolute; right: 10px; width: 200px; text-align: center; padding: 10px; text-transform: uppercase;z-index:5;  }
.PmsBookingProductList .productentry.selected { border: solid 1px; }
.PmsBookingProductList .price.withselectbtn { top:inherit; bottom: 10px; }
.PmsBookingProductList .roomimg { max-width: 150px; max-height: 100%; }
.PmsBookingProductList .imgcontainer { background-color:#000; position: absolute; left: 0px; top: 0px; display:inline-block; height: 100px; }
.PmsBookingProductList .selectedtext { position:absolute; right: 10px; }
.PmsBookingProductList .outofstocktext {position:absolute; right: 10px; top: 10px; }
.PmsBookingProductList .roomdesc { font-size: 14px; font-weight: normal; margin-top: 10px; }

@media only all and (max-width: 800px) {
    .PmsBookingProductList .selectbutton { width: 100px; }
    .PmsBookingProductList .roomdesc {
        position: absolute;
        left: 94px;
        top: 55px;
        padding-right: 60px;
    }
}