.PmsBookingProductList .productentry { border: solid 1px; height: 80px; margin-bottom:10px; background-color:#f5f5f5; border-color:#efefef; padding: 10px; position:relative; }
.PmsBookingProductList .productentry.imgdisplayed { padding-left: 170px; }

.PmsBookingProductList .productentry .select_button { float:right; cursor:pointer; background-color:#595959; width: 100px; text-align: center; display:inline-block; color:#fff; padding: 10px;}
.PmsBookingProductList .productentry .name { font-size: 20px; font-weight: bold; }
.PmsBookingProductList .productentry .price { font-size: 20px; font-weight: bold; position:absolute; right: 10px; bottom: 10px; }
.PmsBookingProductList .continue_button_outer { text-align: right; padding-bottom: 10px; }
.PmsBookingProductList .continue_button { cursor:pointer; border: solid 1px; background-color: #f29400; display:inline-block; color:#fff; padding: 10px; width:160px; text-align: center; }
.PmsBookingProductList .productentry .roomtypeselection { position:absolute; right: 10px;  font-size: 18px;text-align: center; top: 0px; }
.PmsBookingProductList .productentry .roomtypeselectioncount i { cursor: pointer; }
.PmsBookingProductList .productentry .roomtypeselection select { margin-right: 5px; border: solid 1px #bbb; background-color:#fff; margin-left: 5px;}
.PmsBookingProductList .continue_button.disabled { background-color:#efefef !important; color:#bbb !important; cursor:inherit; cursor:pointer; }
.PmsBookingProductList .selectbutton { border: solid 1px; position:absolute; right: 10px; width: 200px; text-align: center; padding: 5px; text-transform: uppercase;z-index:5;  }
.PmsBookingProductList .productentry.selected { border: solid 1px; }
.PmsBookingProductList .price.withselectbtn { top:inherit; bottom: 10px; }
.PmsBookingProductList .roomimg { max-width: 150px; max-height: 100%; }
.PmsBookingProductList .imgcontainer { background-color:#000; position: absolute; left: 0px; top: 0px; display:inline-block; height: 100px; }
.PmsBookingProductList .selectedtext { position:absolute; right: 10px; }
.PmsBookingProductList .outofstocktext {position:absolute; right: 10px; top: 10px; }
.PmsBookingProductList .roomdesc { font-size: 14px; font-weight: normal; margin-top: 10px; width: 80%;}
.PmsBookingProductList .productentry:hover .configurebookingproduct { display:block; }
.PmsBookingProductList .configurebookingproduct { display:none; }

@media only all and (max-width: 800px) {
    .PmsBookingProductList .productentry .roomtypeselection { top: 35px; font-size: 13px; line-height: 18px;}
    .PmsBookingProductList .selectbutton { top: 0px; right: 0px; height: 25px; line-height: 25px; }
    .PmsBookingProductList .roomdesc {
        position: absolute;
        top: 30px;
        padding-left: 90px;
        width: 50%;
        left:0px;
        display:inline-block;
    }
    .PmsBookingProductList .productentry .roomtypeselectioncount i { font-size: 30px; padding: 10px !important; display:inline-block; }
    .PmsBookingProductList .roomdesc { margin-top: 10px; line-height: 16px; width:50%;margin-left: 70px;}
    .PmsBookingProductList .productentry .name {
        font-size: 14px;
        font-weight: bold;
        left: 0px;
        position: absolute;
        background-color: #fff;
        box-sizing: border-box;
        width: 100%;
        top: 0px;
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
    }
    .PmsBookingProductList .continue_button { width: 100%; box-sizing: border-box; }
    .PmsBookingProductList .imgcontainer { top: 34px; }
    .PmsBookingProductList .productentry { height: 110px; }
    .PmsBookingProductList .productroomspacing { height: 30px; }
    .PmsBookingProductList .mobileroomdesc { font-size: 12px; }
    
    .PmsBookingProductList .productentry .price { background-color:#fff;  right: 0px; bottom: 0px;        height: 34px;
                                                 padding-right: 10px;
        line-height: 33px; padding-left: 10px;
font-size: 14px; }
    
    .shop_button { width: 100%; }
}