/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 10:13:50 AM
    Author     : ktonder
*/

.page_row .page_row_inner .contentarea {
    max-width: 500px;
}

.page_row .page_row_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    font-size: 19px;
}

div.page_row:nth-child(even) {
    background-color: #fbfbfb;
}

.row_1 {
    background-image: url('../images/running.png');

}

.row_2 .page_row_inner {
    background-image: url('../images/rocket.png');
    background-repeat: no-repeat;
    background-position-y: 100px;
}

.row_3 .page_row_inner {
    background-image: url('../images/keys.png');
    background-repeat: no-repeat;
    background-position-y: 100px;
}

.row_4 .page_row_inner {
    background-image: url('../images/hotel.png');
    background-repeat: no-repeat;
    background-position-y: 100px;
}

.row_5 .page_row_inner {
    background-image: url('../images/computer.png');
    background-repeat: no-repeat;
    background-position-y: 100px;
}

.row_6 .page_row_inner {
    background-image: url('../images/skylimit.png');
    background-repeat: no-repeat;
    background-position: center 300px;
    height: 600px;
    text-align: center;
}



div.page_row:nth-child(odd) {
    background-repeat: no-repeat;
    background-position: top right;
}

div.page_row:nth-child(odd) .page_row_inner {
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 100px;
    min-height: 600px;
    box-sizing: border-box;
}


.row_6 .page_row_inner .contentarea {
    margin: 0px auto !important;
}

.row_1 .page_row_inner  {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

div.page_row:nth-child(even) .page_row_inner .contentarea {
    margin-left: 600px;
}

.row_1 .contentarea {
    background-color: #FFF;
    border-radius: 20px;
    padding: 30px;
}


.page_row h2 {
    font-size: 50px;
}

@media only screen and (max-width: 800px) {
    .contentarea {
        background-color: #FFF !important;
    }
    
    div.page_row:nth-child(even) .page_row_inner .contentarea {
        margin-left: 0px;
    }
    
    .page_row .contentarea {
        margin-top: 600px;
    }
 
    .page_row .page_row_inner { 
        padding: 30px;
    }
    
    .page_row .page_row_inner {
        background-position: top center !important;
    }
    
    .page_row .page_row_inner .contentarea {
        max-width: 100%;
    }
}