@font-face {
    font-family: "Open Sans 2";
    src: url(/fonts/opensans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Museo700-Regular";
    src: url(/fonts/Museo700-Regular.ttf) format("truetype");
}

.gs_inner {
    width: 1024px;
    margin: auto;
}

#apparea-header {
    height: 205px;
}

.gs_margin_right {
    padding-right: 4px;
}

body {
    background-image: url('{IMAGEFOLDER}/background-top.png');
    background-repeat: repeat-x;   
}

.gs_outer.header {
    height: 205px;
}

.breadcrum-area-content {
    display: none;
}

.gs_outer_mainarea .gs_inner {
    padding: 2px;
    width: 1024px;
}

.Logo {
    top: 30px;
}

.TopMenu {
    display: none;   
}

.gs_outer.footer {
    background-image: url('{IMAGEFOLDER}/background-bottom.png');
    border-top: solid 2px #DDD;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sedox_button { 
    display: inline-block;
    height: 20px;
    border-top: solid 1px #8d8d8d;
    border-right: solid 1px #8d8d8d;
    border-bottom: solid 1px #8d8d8d;
    vertical-align: top;
    font-weight: bold;
    padding: 12px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    font-size: 13px;
    line-height: 20px;
    
    background: #e20202; /* Old browsers */
    background: -moz-linear-gradient(top, #adadad 0%, #bc0203 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e20202), color-stop(100%,#bc0203)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e20202 0%,#bc0203 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e20202 0%,#bc0203 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e20202 0%,#bc0203 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e20202 0%,#bc0203 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20202', endColorstr='#bc0203',GradientType=0 ); /* IE6-9 */

}

.ImageDisplayer {
    background-color: #f1f1f1
}

.SedoxHeaderApp {
    position: absolute;
    color: #FFF;
    line-height: 60px;
    bottom: 0px;
    left: 10px;
}

.editormode .gs_outer.header {
    display: none;
}

body[editormode=true] {
    background-image: none;
}

