
.gs_inner {
    width: 1024px;
    margin: auto;
}

#apparea-header {
    height: 205px;
}

.gs_margin_right {
    padding-right: 4px;
}

body {
    font-family: "nimbus-sans";
    font-weight: 300;
}


.gs_outer.header {
    background-image: url('{IMAGEFOLDER}/background-top.png');
    background-repeat: repeat-x;   
    height: 205px;
}

.breadcrum-area-content {
    display: none;
}

.gs_outer_mainarea .gs_inner {
    padding: 2px;
    width: 1024px;
}

.Logo {
    top: 30px;
}

.TopMenu {
	display: none;
    bottom: 3px; 	
}

.editormode .TopMenu {
	display: block;
}

.TopMenu li:not(:last-child) {
	border-right: solid 1px #525252;
}

.TopMenu li:not(:first-child) {
	padding-left: 20px;
}

.TopMenu li a {
	line-height: 46px;
	padding-right: 20px;
	color: #FFF;
	font-size: 16px;
}

.gs_outer.footer {
    background-image: url('{IMAGEFOLDER}/background-bottom.png');
    border-top: solid 2px #DDD;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sedox_button { 
    display: inline-block;
    height: 20px;
    border-top: solid 1px #8d8d8d;
    border-right: solid 1px #8d8d8d;
    border-bottom: solid 1px #8d8d8d;
    vertical-align: top;
    padding: 12px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    line-height: 20px;
    font-size: 13px;
    
    background: #e20202; /* Old browsers */
    background: -moz-linear-gradient(top, #adadad 0%, #bc0203 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e20202), color-stop(100%,#bc0203)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e20202 0%,#bc0203 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e20202 0%,#bc0203 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e20202 0%,#bc0203 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e20202 0%,#bc0203 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20202', endColorstr='#bc0203',GradientType=0 ); /* IE6-9 */

}

.ImageDisplayer {
    background-color: #f1f1f1
}

.SedoxHeaderApp {
    position: absolute;
    color: #FFF;
	
    line-height: 60px;
    bottom: 0px;
    left: 10px;
}

.editormode .Logo,
.editormode .SedoxHeaderApp {
	display: none;
}

.editormode .gs_outer.header .applicationarea,
.editormode .gs_outer.header {
    min-height: 50px !important;
    height: 50px !important;
	background-position: 0px -150px;
}

body[editormode=true] {
    background-image: none;
}

