<div class="gsview home">
    <div style="margin:auto; width: 800px; text-align: center;padding-top: 50px;">
        <div>
            <h1>1. Enter phone number used when booking</h1>
            <span style="width:30%; display: inline-block;">
                <input type="tel" placeholder="Phone number" ng-model="phonenumber">    
            </span>
            <span class="gsbtn" ng-click="searchForBooking()"><i class='fa fa-search'></i> Find my booking</span>
        </div>
        <div style="padding-top: 50px; display:none;" class="step2 step2notfound">
            There is no booking existing to the given phone number.<br>
            Please try again with a different phone number or contact us.
        </div>
        <div style="padding-top: 50px; display:none;" class="step2 step2found">
            <h1>2. Confirm information</h1>
            <div ng-repeat="result in searchresult">
                <div>
                    Name: {{result.name}}, number of rooms: {{result.numberOfRooms}}, booking amount: {{result.bookingAmount}}.
                </div>
                <span class="gsbtn" ng-click="continueToCheckout(result)" style="margin-top: 10px;">
                    <i class='fa fa-thumbs-o-up'></i> This is my booking, continue to payment.
                    </span>
            </div>
        </div>
        <div style="padding-top: 50px; display:none;">
            <h1>3. Confirm your booking</h1>
        </div>
    </div>
</div>
