.ApplicationDisplayer .app_type {
    height: 30px; 
    font-size:18px; 
    line-height:30px; 
    font-weight: bold; 
    text-align: center;
}

.ApplicationDisplayer .features {
    padding-top: 20px;
    padding-bottom: 40px;
}

.ApplicationDisplayer .features .appbox {
    position: relative;
}

.ApplicationDisplayer .features .appbox .price {
    background-color: #DDD;
    color: #000;
}

.ApplicationDisplayer .app_title {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 10px; 
    padding-top: 5px;
}

.Settings .appbox .app_title {
    font-size: 16px;
    padding: 5px;
    border-bottom: solid 1px #DDD;
    background-color: #EEE;
    padding-left: 15px; 
    margin-bottom: 5px;
}
.Settings .appbox {
    position: relative;
    width: 668px !important;
    margin-top: 10px;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.Settings .appbox .button-large {
    position: absolute;
    right: 5px;
    bottom:10px;
}

.appbox .price {
    position: absolute;
    width: 120px;
    border-top: solid 1px #DDD;
    border-right: solid 1px #DDD;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    color: #FFF;
    background-color: rgb(33, 112, 46);
    text-align: center;
}