body {
    font-size: 16px;
    background-color: #1b3350;
}

.gsarea[area="body"] .gs_page_width {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFF;
}

div:last-child {
    border: solid 1px red;
}

.gsarea[area="body"] .gs_last_in_row .gsdepth_0.gs_page_width {
    padding-bottom: 50px;
}

.gsarea[area="body"] .gs_first_in_row .gsdepth_0.gs_page_width {
    padding-top: 50px;
}

.gsarea[area="header"],
.gsarea[area="footer"] {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    background-color: #1b3350;
}

.gsbody_inner[pageid="58009a42-79c6-4494-9d50-ce9a10239bab"] .gsarea[area="body"] .gs_page_width,
.gsbody_inner[pageid="booking_default"] .gsarea[area="body"] .gs_page_width,
.gsbody_inner[pageid="3f4e950d-80ab-4cb4-b9bb-e34bafc6001a"] .gsarea[area="body"] .gs_page_width {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}

.gs_page_width {
    max-width: 1024px;
    margin: 0 auto;
}

.gsarea[area="header"] .Menu {
    text-align: right;
    padding-top: 20px;
}

.gsarea[area="header"] .Menu .entry a {
    color: #FFF;
}
.gsarea[area="header"] .Menu .entry {
    font-size: 16px;
    padding-left: 20px; 
    padding-right: 20px;
    line-height: 30px;
}

.gsarea[area="header"] .Menu .entries .entries .entry {
    white-space: nowrap;
    border-bottom: solid 1px #DDD;
    line-height: 35px;
    background-color: #FFF;
}

.gsarea[area="header"] .Menu .entries .entries .entry a {
    color: #000;
}

.gsarea[area="header"] .Menu .entries .entries .entry:hover {
    background-color: #EEE;
}
.gsarea[area="header"] .Menu .entries .entries {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    text-align: left;
}

.gs_language_selection .gs_lang_code_nb_NO {
    background-image: url('{IMAGEFOLDER}/flag_norwegian.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 35px;
    
}

.gscell[cellid="ff56cc86-c705-4654-8f67-03863d8b2ff2"] {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #FFF;
    height: 50px;
    margin-top: -25px;
    z-index: 2;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

.gscell[cellid="ff56cc86-c705-4654-8f67-03863d8b2ff2"] .PmsBooking {
    padding-top: 8px;
    line-height: 30px;
    position: relative;
    border: solid 1px;
}

@media only all and (min-width:800px) {
    
    .gscell[cellid="ff56cc86-c705-4654-8f67-03863d8b2ff2"] .PmsBooking  span {
        display: inline-block;
        vertical-align: top;
        float: none;
    }

    .gscell[cellid="ff56cc86-c705-4654-8f67-03863d8b2ff2"] .bookingbuttonblock {
        position: absolute;
        right: -21px;
        top: -1px;
    }

    .PmsBooking .pmsfront .dates.start_date { border-right: solid 1px #1b3350; margin-right: 50px; padding-right: 80px; padding-left: 100px;}    
}

.PmsBooking .pmsfront .inputhelpertext { }
.PmsBooking .pmsfront .dates.start_date div {display:  inline-block; }
.PmsBooking .pmsfront .dates.end_date div {display:  inline-block; }

.PmsBooking .pmsfront .dates input {border: solid 0px;width: 100px;  box-sizing: border-box;}
.PmsBooking .pmsfront .dates .dates_inner { border: solid 0px; }
.PmsBooking .pmsfront .dates { border-right: solid 1px #DDD; padding-right: 50px; color: #000; border-right: solid 0px;}
.PmsBooking .pmsfront .check_available_button {margin-top: 0px !important; width: 250px; line-height: 38px; background-color: #89691d !important; }

.PmsBooking .pmsfront { color: #1b3350}
.PmsBooking .bedblock { display: none !important; }



.gs_language_selection .gs_lang_code_en_en {
    background-image: url('{IMAGEFOLDER}/flag_english.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 30px;
}
.gs_language_selection {
    border: solid 0px;
    position: absolute;
    right: 10px;
}

.PmsBooking .pmsfront .fa-calendar,
.PmsBookingProductList .continue_button,
.PmsBookingContactData .complete_button,
.PmsBookingCalendar .calendar .day.selected,
.PmsBooking .pmsfront .check_available_button,
.PmsBookingCalendar .calendar .calendar_header{
    background-color:#1b3350;
    color:#FFF;
}


.shop_button:hover {
    background: none;
    background: #1b3350;
}

.shop_button {
    
    border-radius: 0px;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    
    background: none;

    background-color: #1b3350;
}

.gsarea[area="footer"] {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}

.gsbody_inner[pageId="3f4e950d-80ab-4cb4-b9bb-e34bafc6001a"] .gsarea[area="footer"] {
    margin-top: 0px;
}

.gsbody_inner[pageId="3f4e950d-80ab-4cb4-b9bb-e34bafc6001a"]  .gsarea[area="header"] {
    margin-bottom: 0px;
}

.PmsBookingCalendar .calendar .calendar_header { position: relative; text-align: center; border: solid 1px #bbb; font-size: 16px; padding: 5px; background-color:#01b2d5; color:#fff; }
.PmsBookingCalendar .calendar .day.selected { background-color:#01b2d5; color:#fff; }
.PmsBookingContactData .complete_button,
.PmsBookingProductList .continue_button { background-color:#01b2d5; }

.frontbox_inner {
    background-color: #FFF !important;
    padding: 20px !important;
    color: #1b3350 !important;
}

.frontbox_odd_inner {
    background-color: #cfd4d9 !important;
    padding: 20px !important;
    color: #1b3350 !important;
}

@media only all and (max-width:800px) {
    .gsarea[area="header"] .mobilenavigatemenu .fa{visibility:hidden;position:relative;z-index:30;font-size:27px;user-select:none;color:#fff;position: absolute; right: -50px; top 20px;}
    .gsarea[area="header"] .mobilenavigatemenu .fa:before{visibility:visible;}
    .gsarea[area="header"] .Menu .entry  div{line-height:34px; margin:0;padding:2px;letter-spacing:0;font-size:16px;text-align:center !important;}
    .gsarea[area="header"] .Menu .entry .entries{top:0;}
    .gsarea[area="header"] .Menu .menuentries .entry{padding:0;}
    .gsarea[area="header"] .Menu .entries .entries{border:0;box-shadow:0 0 0;}
    .gsarea[area="header"] .Menu .entries .entries div{width:100%;}
    
    .frontbox_odd_inner .gsucell,
    .frontbox_inner .gsucell { width: 100% !important; display:  block !important; }
    
    .frontbox_odd_inner .gsuicell,  
    .frontbox_inner .gsuicell { padding-left: 0px !important; }
    
    .gsarea[area="footer"] .gsucell {
        width: 100% !important; display:  block !important;
    }
    
    .gsarea[area="header"] .gscell[cellid="9c81ff48-5357-4a3e-8d18-07e27d40ce50"] { width: 200px !important; }
    .gsarea[area="header"] .gscell[cellid="e094a522-6d1a-4234-9aac-5f8e6133d436"] { position: absolute; left: 0px; right: 0px; height: 0px; top: 30px; }
    
    .gsarea[area="body"] .gs_page_width { margin-left: 20px; margin-right: 20px; }
    .gsarea[area="body"] .gscell[cellid="6d030aa9-6b7a-426c-8c85-36093b6ac06f"] .gs_page_width { margin-left: 0px; margin-right: 0px;  }
    
    .gsarea[area="body"] .pmsfront2 { background-color: #FFF;}
    .gsarea[area="body"] .inputblock { display: block; width: 100%;}
    
    .gscell[cellid="ff56cc86-c705-4654-8f67-03863d8b2ff2"] { height: 160px; }
    .PmsBooking .pmsfront .check_available_button { width: 100%; }
    
    .PmsBooking .pmsfront .inputhelpertext { width: 86px; }
}