.News .outeraddnewscontainer .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.News .outeraddnewscontainer {
    position: relative;
    padding-bottom: 55px;
}

.News .outeraddnewscontainer input {
    padding: 5px;
    width:100%;
    box-sizing: border-box;
}


.News {
    font-size: 14px;
}


.News .content_area {
    padding: 10px;
    margin-top: 10px;
    border: solid 1px #DDD;
}

.News .news_container .news_entry_footer {
    text-align: right;
    font-size: 10px;
}
.News .news_container {
    margin-top: 5px;
    padding: 10px;
    position: relative;
}
.News .news_entry_footer {
    clear:both;
}

.News .news_container img { float:left; max-width: 200px; margin: 10px; }

.News .gs_button.addevent,
.News .gs_button.delete
{
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.News .gs_button.delete {
    display:none;
}

.News .news_container:hover .delete {
    display:inline-block;
}

.News .news_entry_header {
    font-weight: bold;
}
.News .news_container {
    border-bottom: solid 1px;
    border-color: #222;
}
.News .news_container.last {
    border-bottom: solid 0px;
}

.News .readmore {
    position: absolute;
    right: 0px;
    height: 30px;
    line-height: 30px;
    border-bottom: dashed 1px;
    top: 0px;
    border-left: dashed 1px;
    padding-left: 10px;
    border-color: #222;
    font-size: 13px;
    font-weight: bold;
}

.News .news_container .gs_button {
    top: 5px;
    bottom: inherit;
    right: 0px;
    font-size: 12px;
    padding: 2px;
    height: 20px;
    line-height: 20px;
}

.News .gs_button.publish {
    right: 180px;
}

.News .addnewsrow { border: solid 1px; background-color:#efefef; }
