.PmsNewBooking .GetShopModuleTable .col { width: 125px; }
.PmsNewBooking .GetShopModuleTable .col.col_4 { width: 70px; }
.PmsNewBooking .GetShopModuleTable .col.col_5 { text-align: center; }
.PmsNewBooking .GetShopModuleTable .col.col_4 input { width: 40px; text-align: center;}
.PmsNewBooking .GetShopModuleTable .col.col_1 { width: 300px; }
.PmsNewBooking .addnewroom { width: 68%; float:left;}
.PmsNewBooking .availablerooms {    display: inline-block;width: 30%;float: right; }
.PmsNewBooking .availablerooms.hasconference { display:none; }
.PmsNewBooking .conferenceroom { width: 30%;float:right; padding-left: 50px; box-sizing: border-box;}
.PmsNewBooking .hasDatepicker {  max-width: 115px; }
.PmsNewBooking .disabled { color:#ddd; }
.PmsNewBooking .availableroomsheading { border-bottom: solid 1px #DDD; padding-bottom: 10px; margin-bottom: 10px; }
.PmsNewBooking .moreThenAvailableWarning { color: red; font-weight: bold; margin-top: 20px; display:none; }
.PmsNewBooking .warninnotabletoadd { color:red; font-weight: bold; font-size: 24px; margin-top:20px; }
.PmsNewBooking .section {  padding: 10px; border: solid 1px #efefef; width:68%; box-sizing: border-box; }

.PmsNewBooking .nextstep { display:none; }
.PmsNewBooking .selectedbutton { background-color:green; }
.PmsNewBooking .searchbrregbutton { color: blue; cursor:pointer; }
.PmsNewBooking .brregsearchresultrow:hover { font-weight: bold; cursor:pointer;}
.PmsNewBooking .searchbrregarea {
    position: absolute;
    z-index: 1;
    border: solid 1px;
    display: inline-block;
    display:none;
    padding: 10px;
    background-color:#fff;
    border-color: #bbb;
}