.Booking table td {
    font-size: 14px;
    vertical-align: top;
}

.Booking table td.col1 {
    width: 150px;
}
.Booking table td select,
.Booking table td input {
    height: 25px;
    width: 200px;
}

.Booking table td select {
    width: 206px;
}

.Booking table td .companyinformation {
    width: 200px;
    padding: 2px;
    color: #AAA;
    border: solid 1px #DDD;
}

.Booking .userlistoverview .userentry .donemarker {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 6px;
}
.Booking .userlistoverview .userentry .datecreated {
    font-size: 12px;
    position: absolute;
    right: 100px;
    top: 6px;
}
.Booking .userlistoverview .userentry {
    font-size: 14px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    padding-left: 10px;
}

.Booking .userlistoverview .userentry:hover {
    background-color: rgba(127,127,127,0.3);
}
