.Booking table td {
    font-size: 14px;
    vertical-align: top;
}

.Booking table td.col1 {
    width: 150px;
}
.Booking table td select,
.Booking table td input {
    height: 25px;
    width: 200px;
}

.Booking table td select {
    width: 206px;
}

.Booking table td .companyinformation {
    width: 200px;
    padding: 2px;
    color: #AAA;
    border: solid 1px #DDD;
}

.Booking .userlistoverview .userentry .donemarker {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 6px;
}
.Booking .userlistoverview .userentry .datecreated {
    font-size: 12px;
    position: absolute;
    right: 100px;
    top: 6px;
}
.Booking .userlistoverview .userentry {
    font-size: 14px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    width: 510px;
    line-height: 10px;
}

.Booking .userlistoverview .userentryouter:hover {
    background-color: rgba(127,127,127,0.3);
}

.Booking .selectcompanyform .searchbrregvalue { 
    width: 95px;
    margin-right: 10px;
    height: 22px;
}

.Booking .company_selection { cursor:pointer; }

.Booking .selectcompanyform { 
    position:absolute; 
    padding: 10px; 
    height: 200px; 
    background-color: #eee; 
    z-index: 4; 
    display:none; 
    border: solid 1px; 
    width: 185px;
    overflow-y: scroll;
}

.Booking .find_company_for_selection {
    width: 175px;
    text-align: center;
    color: #000;
}

.Booking .search_result_area .select_searched_company {
    float: right;
}
.Booking .search_result_area {
    color: #333;
    background-color:#FFF;
    display: none;
    position:absolute;
    width:400px;
    z-index:3;
    max-height: 150px;
    overflow:auto;
}
.Booking .search_for_company_brreg {
    width: 27px;
}

.Booking .toggleUserId {
    cursor: pointer; 
    padding-top: 3px; 
    padding-bottom: 3px;
    width: 30px; 
    text-align: center;
}

.Booking .search_result_area {
    border: solid 1px #DDD;
    padding: 10px;
}

.Booking .show_login {
    border: solid 1px #DDD;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.Booking .pre_booking_signup input {
    margin: 5px;
    font-size: 16px;
}

.Booking .pre_booking_signup {
    border: solid 1px #DDD;
    margin-top: 20px;
    font-size: 16px;
    padding: 20px;
    display: inline-block;
    width: 1024px;
    margin-bottom: 20px;
    
}

.Booking .addSubUserToEvent {
    cursor: pointer;
}

.Booking .addSubUserToEvent:hover {
    background-color: #FFF;
}

.Booking .subusersignonbutton {
    border-left: solid 1px #DDD; 
    
    background-color: black; 
    color: #333; 
    position: absolute; 
    right: 0px; 
    line-height: 25px; 
    top: 0px; 
    padding: 2px;
    
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px green;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(135deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.Booking .subusersignonbutton:hover {
    color: #FFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
background: #c9de96; /* Old browsers */
background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}