body { background-color:#3a99d7; box-sizing: border-box; }
.logenty { border-bottom: solid 1px #bbb; margin-top: 20px; }
.innerview .row { background-color:#efefef; }
.addedbytext { color:#bbb;  margin-top: 5px; }
.nospacing {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.innerview { padding-left: 10px; padding-right:10px; }
.inventoryrow { border-bottom: solid 1px #bbb; padding-bottom: 5px; }
.caretakerrow { border-bottom: solid 1px #bbb; padding: 10px;  }
.row { margin-left: 0px !important; margin-right: 0px !important; }
.breakfastlistrow { border-bottom: solid 1px #bbb; background-color:#fff; padding: 0px !important; }
.breakfastlistrow .info { border-right: solid 1px #bbb; }
.breakfastlistrow .delivery { border-left: solid 1px #bbb; }
.breakfastlistrow  div { padding : 10px;  }
.box .text { width: 100%;  position:absolute; bottom: 15px; display:inline-block; left:0px; font-size: 20px;}
.box { background-color:#2f749f; display:inline-block; width: 100%; height: 160px; color:#fff; position: relative; margin-top: 20px;text-align: center;}
.box i { font-size: 80px; margin-top: 20px; }
.box:hover { background-color: #494949; cursor:pointer; }
.innerview .additionalinfo { text-align: center;  border-top-left-radius: 5px; border-top-right-radius: 5px; font-size: 16px; margin-top: 20px; padding: 5px; color:#fff; background-color:#2f749f; }
.innerview .additionalinfobottom { background-color: #2f749f; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 5px; }
.roomrow { border-bottom: solid 1px; color:#fff !important; cursor:pointer; padding:0px; }
.roomrow.notstarted,
.roomrow.confirmed
{ background-color:#fff; color:#000 !important; }
.roomrow.test { background-color: #e38d13; color:#fff !important; }
.roomrow.started a,
.roomrow.active a,
.roomrow.started,
.roomrow.active { background-color:green; color:#fff !important; }
.roomrow.ended { background-color:#ffe39f; color:#000 !important; }
.roomrow.blocked, .roomrow.blocked a { background-color:#0f0f0f; color:#fff !important; }
.roomrow.waitingforlock { border: solid 1px; background-color:blue;  }
.roomrow.notpaid { background-color:red; color:#fff !important;  }
.roombox { border: solid 1px; border-radius: 3px; margin: 3px; text-align: center; padding: 3px; cursor:pointer; }
.roombox.notclean { background-color:#35280d; color:#fff; }
.roombox.notcleancheckedout { background-color:#35280d; color:#fff; }
.roombox.clean {background-color:green; color:#fff; }
.roombox.inUse {background-color:purple; color:#fff; }
.roombox.needInterval { background-color:#35280d !important; color:#fff; }
.roomrow.notpaid a, 
.roomrow.started a,
.roomrow.waitingforlock a
{ color:#fff !important; } 
.roomrow .guestinfo { height: 70px;position: relative; }
.roomrow .dateinfo { color:#aaa; position:absolute; bottom: 5px; left: 10px; }
.roomrow .roominfoblock { border-right: solid 1px; padding: 10px; min-height: 85px;}
.roomrow .guestinfocol { min-height: 70px; position: relative; padding-top: 5px; }
a, a:hover { color:#000; } 
.loading { text-align: center; font-size: 40px; }
.doorlogrow { height: 80px; }
.doorlogrow .dooractionbutton i { font-size: 20px; width: 100%; }
.doorlogrow .dooractionbutton { display:inline-block; margin-right: 5px; border: solid 1px; border-radius: 5px; text-align: center; width: 60px; height: 60px; padding: 7px; font-size: 8px; background-color:#2f749f; color:#fff; float:right;}
.doorlogrow .dooractionbutton:hover { background-color: #494949; cursor:pointer; }
.disconnectedPage { position: fixed; z-index: 10; width: 100%; height: 100%; background-color:rgba(0,0,0,0.5); color: #fff; font-size: 30px; text-align: center; padding: 30px; display:none; }
.guestinfocol,.firecheck { border-left: solid 1px; height: 85px; text-align: center;}
.firecheck {  line-height: 85px; padding-left:0px; padding-right:0px; }
.firecheck.checked { background-color: #000; color:#fff; }

.cleaningrow { border-bottom: solid 1px #bbb; padding-top: 10px; padding-bottom: 10px; cursor:pointer; }
.cleaningrow.init { background-color:#fff !important }
.cleaningrow.clean { background-color:green !important; color:#fff; }
.cleaningrow.notclean { background-color:#35280d !important; color:#fff; }
.cleaningrow a { text-decoration: none; color:#fff !important;}

@media only all and (max-width: 500px) {
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.roomrow { font-size: 12px !important; }
.roomrow .roominfoblock, 
.guestinfocol,
.firecheck { height: 85px !important; }
.firecheck { line-height: 85px !important;  }
    
}


@media only all and (min-width: 1000px) {
    .innerview { max-width: 1000px; margin: auto; }
}


.conferencerow {
    background-color: #FFF;
    margin: 10px;
    margin-bottom: 100px;
}

.conferencerow .conf_title {
    background-color: #2f749f;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

.conferencerow .conf_action {
    padding: 10px;
    border-top: solid 1px #DDD;
    margin-left: 10px;
    margin-right: 10px;
}

.conferencerow .conf_action:first-child {
    border-top: solid 0px;
}

.conferencerow .conf_col {
    display: inline-block;
}
.conferencerow .conf_col.col1 {
    width: 100px;
}
.conferencerow .conf_col.col5 {
    display:block;
}
.conferencerow .conf_note {
    padding: 10px;
    margin: 0px 10px 20px 10px;
}

.conf_title_name {
    margin: 20px 10px 0px 10px;
    background-color: #ff8e09;
    padding: 10px;
    text-align: center;
    color: #FFF;
}