.LeftMenu .active {
    font-weight:bold;
}

.LeftMenu .edit {
    position:absolute;
    cursor:pointer;
    right: 10px;
    background-image: url("/skin/default/images/editsettings.png");
    width: 17px;
    height: 17px;
    display:none;
}

.LeftMenu .entry:hover .edit {
    display:block;
}

.LeftMenu .applicationinner .top_submenu_split { 
    height:2px;
    border:none;
}

.menu .editmenuentry:hover {
    border-top: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    color: #FFFFFF;
    background-color: #807371;
}

.menu .editmenuentry {
    padding-left: 5px;
    line-height: 20px;
    cursor:pointer;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
}

.LeftMenu .menu, .header .TopMenu .menu, .CategoryList .menu {
    z-index: 1;
    display:none;
    position:absolute;
    border: solid 1px;
    clear:both;
    background-color: #FFFFFF;
    right: 0px;
    height: auto;
    width: 100px;
    color: #000000;
    padding-top: 10px;
    font-weight: normal;
    background-image: url('{IMAGEFOLDER}/menubg.png');
    background-repeat: repeat-x;
    background-color:#b5b5b5;
}


.LeftMenu .addmenuentryform {
    display:none;
}

.LeftMenu .addmenuentryform input {
    font-size: 18px;
    width: 196px;
    margin-top: 10px;
}

.LeftMenu .addmenuentrybutton {
    margin-top: 10px;
}

.LeftMenu .menu_1 { padding-left: 30px; background-image: none; height: 22px; border-bottom: solid 1px rgba(255,255,255,0.3);  }
.LeftMenu .menu_1 .menuEntry { padding-top: 3px; height: 18px; }
.LeftMenu .menu_2 .menuName { background-color: transparent; padding-left: 35px; height: 22px; padding-top: 3px; border-bottom: solid 1px rgba(255,255,255,0.3);   }

.LeftMenu #addnewleftmenuentry { width: 200px; }
.LeftMenu .addnew { right: 5px; }

#informationbox .tab_content #LeftMenu input { font-size: 16px; padding: 5px; border: solid 1px; width: 730px; margin-top: 10px; }

.LeftMenu .droparea_hover {
    z-index: 10;
    background-repeat: no-repeat;
    background-position: right;
    background-color:#00FF00;
}

.LeftMenu .droparea_hover .menuName {
    color:#000000;
}

.LeftMenu .droparea_split {
    display:none;
    height:3px;
}
