.ProductLister .product { position:relative; }
.ProductLister .listview img { max-width: 100px; float:left; margin-right: 10px;  }
.medium .ProductLister .listview img,.small .ProductLister .listview img { width: 100%; max-width: 100%; }

.ProductLister .row_bottom { clear:both; margin-bottom: 10px; }
.ProductLister .name { font-size: 16px; font-weight: bold; }
/*.ProductLister .product { border-bottom: solid 1px #e1e1e1; margin-bottom: 10px; position:relative;  }*/
.ProductLister .price { position:absolute; right: 0px; bottom: 0px; }
.ProductLister .no_product_to_list { border: solid 1px #666; padding: 20px; font-size: 16px; color:#666; }
.ProductLister .product .remove_product {display:none; }
.ProductLister .product:hover .buy_product { cursor:pointer; display:block; }
.ProductLister .product:hover .remove_product { cursor:pointer; display:inline-block; position:absolute; bottom:0px; left:0px; }
.ProductLister .buy_product { position:absolute; right: 0px; bottom: 0px; display:none; }
.small .ProductLister .description,.medium .ProductLister .description { display: none; }
.small .ProductLister .name,.medium .ProductLister .name { text-align: center; }

.ProductLister .rowview { overflow:hidden; }
.ProductLister .rowview:hover .slidearrow { display:block; }
.ProductLister .rowview .product { text-align: center; width: 200px; height: 200px; border-bottom: 0px; border: solid 1px #e1e1e1; margin-right: 20px; padding: 10px; }
.ProductLister .rowview .product .price { right: 10px; bottom: 10px; }
.ProductLister .rowview .inner_product_container { width: 1000000px;position: relative;}
.ProductLister .rowview .description { display: none; }
.ProductLister .rowview .product { display:inline; float:left; }
.ProductLister .rowview img { max-height: 150px; max-width: 150px; width:auto; }
.ProductLister .bottom_container { clear:both; }
.ProductLister .slidearrow { display:none; cursor:pointer; position: absolute;line-height: 150px;margin-top: 80px;font-size: 40px;padding-left: 10px;z-index: 1; }
.ProductLister .sliderright { right:0px; }
.ProductLister .free_shipping { position: absolute; bottom: 0px; left: 0px; background-color: rgba(255, 255, 255, 0.8); border: solid 1px #BBB; color: #000; padding: 2px;border-bottom-right-radius: 5px; border-top-left-radius: 5px; }

/* Boxed css */
.ProductLister .listview.boxed .product { box-sizing:border-box; padding: 10px; height:300px; float:left; text-align: center; border-bottom: 0px; }
.ProductLister .listview.boxed .product .product_inner { border: solid 1px #e1e1e1; height: 100%; }
.ProductLister .listview.boxed .product .description { display:none; }
.ProductLister .listview.boxed .product .price { right: 20px; bottom: 20px; }
.ProductLister .listview.boxed .product .buy_product { right: 20px; bottom: 40px; }
.ProductLister .listview.boxed .product img { max-width: 100%; max-height: 150px; height: auto; float:none; }

.ProductLister .listview.c1 .product { width: 100%; }
.ProductLister .listview.c2 .product { width: 50%; }
.ProductLister .listview.c3 .product { width: 33.3%; }
.ProductLister .listview.c4 .product { width: 25%; }


/* css for the filter */
.small .ProductLister .selection_container { display:none; }
.ProductLister .rowview .selection_container { display:none; }
.ProductLister .attribute_selection_end { clear: both; }
.ProductLister .attributeselection { display:inline-block; width: 20%; float:left; padding-bottom: 20px; }
.ProductLister .attributeselection .count { color: #6a6a6a; position:absolute; right: 5px; }
.ProductLister .attribute_selection_end { clear: both; }
.ProductLister .selection_container { padding: 10px; }
.ProductLister .attributetitle { border-bottom: solid 1px #6a6a6a; margin-right: 5px; color: #6a6a6a; font-weight:bold; position:relative; }
.ProductLister .attributeselection_row { position:relative; margin-right: 5px; padding-left: 2px; margin-top: 2px; }
.ProductLister .attributeselection { position:relative; }
.ProductLister .attributeselection.size1 { width: 100%; }
.ProductLister .attributeselection.size2 { width: 50%; }
.ProductLister .attributeselection.size3 { width: 33%; }
.ProductLister .attributeselection.size4 { width: 25%; }
.ProductLister .attributeselection.size5 { width: 20%; }
.ProductLister .attributeselection_row.selected { 
    cursor:pointer;
    border: solid 1px #6a6a6a; 
    color: #6a6a6a;
    border-radius: 5px; 
    background-image: url("/showApplicationImages.php?appNamespace=ns_962ce2bb_1684_41e4_8896_54b5d24392bf&image=skin/images//close.png");
    background-repeat: no-repeat;
}
.ProductLister .attributeselection_row.selected:hover { font-weight: normal; }
.ProductLister .attributeselection_row:hover {
    cursor:pointer;
    font-weight: bold;
    border-radius: 5px;
}
.ProductLister .attributeselection_row.selected .count {display:none; }

@media only all and (max-width: 800px) {
    .ProductLister .buy_product { display:block !important; }
    .ProductLister .rowview .slidearrow { display:block !important; }
}
@media only all and (max-width: 480px) {
    .ProductLister img { height:auto !important; width: auto !important; max-height: fit-content !important; }
    .ProductLister .listview.c2 .product { width: 100%; }
    .ProductLister .listview.c3 .product { width: 100%; }
    .ProductLister .listview.c4 .product { width: 100%; }
    .ProductLister .rowview .product { width: 290px; }
}