.ProMeisterScoreSettings .groupsetting {
    border: solid 1px #DDD;
    margin-bottom: 20px;
    
}

.ProMeisterScoreSettings .groupsetting label {
    display: block;
}

.ProMeisterScoreSettings .groupsetting input {
    margin-bottom: 10px;
}

.ProMeisterScoreSettings .groupsetting .inner {

}

.ProMeisterScoreSettings .groupsetting .title {
    padding: 10px;
    background-color: #F9F9F9;
    text-align: center;
}

.ProMeisterScoreSettings .groupsetting .catrow {
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.ProMeisterScoreSettings .groupsetting .catrow input {
    width: 100px;
}

.ProMeisterScoreSettings .testselection {
    border: solid 1px #DDD;
    margin-bottom: 30px;
    padding: 20px;
}