body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    color:#464646;
}

.ProductLists .products.grid_view .productbox .product_price { color:#464646; }
.ProductLists .products.grid_view .productbox .product_title { background-color :#464646; color:#fff; }

.gsarea[area="body"] {
    font-size: 16px;
}
h1,h2,h3 { margin: 0px; }
h1 { font-family: 'Lato', sans-serif; font-weight: 700; }
h2 { font-weight: 700; }
.gs_page_width {
    max-width: 1366px;
    margin: 0 auto;
}

.gsarea[area="header"] {
    height: 168px;
    box-sizing: border-box;
    padding-top: 50px;
}

.gsarea[area="footer"] .Menu .menuentries {
    width: 100%;
}

.gsarea[area="footer"] .Menu .entry {
    display: block;
    border-bottom: solid 1px #505152;
    line-height: 44px;
    width: 100%;
}

.gsarea[area="footer"] .Menu .entry a {
    color: #758589;
    font-weight: bold;
}

.gsarea[area="header"] .Menu {
    text-align: right;
}
.gsarea[area="header"] .Menu a {
    color: #005596;
    font-size: 17px;
    font-weight: bold;
    line-height: 50px;
}

.gsarea[area="header"] .Menu .entries .active.entry div {
    border-bottom: solid 1px #005596;
}

.gsarea[area="header"] .Menu .entry {
    padding-left: 20px;
    padding-right: 20px;
}

.gsarea[area="header"] .Menu .menuentries .entries .entries {
    background-color: #DDD;
    text-align: left;
}

.gsarea[area="header"] .Menu .menuentries .entries .entries .entry div {
    border-bottom: solid 1px #FFF;
}

.shop_button_template1 {
    color: #FFF;
    background-color: #209328;
    display: inline-block;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    padding-right: 75px;
}

.ProductLists .shop_button {
    background-color: #fff !important;
    color: #515151 !important;
}

.gsarea[area="footer"] .gsucell[cellid="7151f8f4-5b40-4764-ac9f-bc2343a1f566"].gsdepth_0.gscount_0 {
    background-color: #363839;
    height: 438px;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
}
.gsarea[area="footer"] .gsucell[cellid="d08f14e8-eeee-4cde-bb45-696c112c5349"].gsdepth_0.gscount_1 {
    background-color: #2f2f2f;
    line-height: 50px;
    color: #e3e3e3;
    padding-top: 25px;
}

.gsrotatearrow i {
    display: none;
}
.gsrotatearrow {
    height: 50px;
    width: 30px;
    background-size: cover;
    margin-top: -25px;
}

.CartHeader i{
    color: #005596;
}

.gsrotateleft { background-image: url('{IMAGEFOLDER}/left.png'); left: 50px;}
.gsrotateright { background-image: url('{IMAGEFOLDER}/right.png'); right: 50px; }

.ProductLists .grid_view .productbox .product_title {
    background-color: #F9F9F9;
    font-size: 20px;
    line-height: 40px;
}

.ProductLists .grid_view .productbox {
    margin: 20px;
}

.ProductLists .short_description {
    display: none;
}

.shop_button .webshop_button_area {
    padding-bottom: 30px;
}

.gs_button:hover {
    background:#515151;
}
.shop_button, .gs_button {
    border: solid 1px #DDD;
    background: none;
    background-color: #515151;
    padding-left: 30px;
    padding-right: 30px;
        border-radius: 0px;
        color:#fff;
}

.ProductLists .products.grid_view .productbox {
    height: 400px;
    color: #FFF;
    
}

.gstabheader .gstabbtn {
    line-height: 50px;
    border: solid 0px;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.gsactivetab {
    background-color: inherit !important;
    font-weight: normal;
    border-bottom: solid 2px #4f81a2 !important;
    color: #4f81a2;
    
}

.gstabcontent {
    padding: 30px;
    padding-top: 50px;
}

.gstabheader {
    border-bottom: solid 1px #DDD;
}

.gsucell[cellid="186802f2-2fab-4f59-bd44-9d3fb6c218a6"] {
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    padding-top: 30px;
}

.ProductPricePrinter {
    font-weight: bold;
}

.ProductTitle {
    text-transform: uppercase;
}

.ProductCopies input {
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    width: 100px;
}

.ProductCopies .minus {
    background-color: #515151;
    color: #FFF;
}

.ProductCopies .plus {
    background-color: #468ad7;
    color: #FFF;
}

.ProductAddToCart .shop_button {
    background-color: #515151;
    color: #FFF;
    border-radius: 0px;
    margin-top: 20px;
}


.ProductCopies .plus, .ProductCopies .minus {
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
}

.gscell[cellid="58e493d8-3efd-4ef9-828e-ffc94d0aafb7"] {
    color: #333;
    font-size: 17px;
}

.left_side_bar {
    width: 300px;
}

.gs_main_column {
    width: calc(100% - 300px);
}

.ProductPictures .mainimage {
    padding: 30px;
    background-color: #e3e3e3;
}

.News .newsboxtemplate_2 .news_container { border: solid 1px #e8e8e9; }
.News .newsboxtemplate_2 .newscontent { border-left: solid 1px #e8e8e9; }
.News .newsboxtemplate_2 .date { border: solid 0px; }
.News .newsboxtemplate_2 .date { background-color: #515151; color:#fff; }
.NewsElements .latestnewsheading { padding: 20px; text-transform: uppercase; background-color:#515151; font-size: 20px; color:#fff; }
.NewsElements .newscontainer { padding: 20px; border: solid 1px #ebebeb; }
.NewsElements .newscontainer .date { color: #4992bf; margin-top: 20px; margin-bottom: 20px; display:block; border-bottom: solid 1px #ebebeb; padding-bottom: 20px; }
.NewsElements .newstitlefooter { border: solid 1px; display:inline-block; width: 120px; margin-bottom: 20px; }
.NewsElements h1 { margin: 0px; text-transform: uppercase; font-weight: normal;  }
.NewsElements .bysub { color: #959595; margin-top: 20px; margin-bottom: 20px; display:block; }
.NewsElements .footernewscontainer div { border-bottom: solid 1px #414244; margin-bottom: 20px; padding-bottom: 20px;  }
.NewsElements .footernewscontainer a { color: #758589; font-size: 14px;  }
.checkout table td input { width: 100%; box-sizing: border-box; height: 30px; }
.CartManager .shoppingcartheader { padding: 10px; text-transform: uppercase; font-size: 16px; background-color: #515151; color:#fff;}
.CartManager #confirmorder { margin-top: 10px; display:inline-block; }
.RegistrationForm .registrationform1 .shop_button { text-transform: uppercase; }
.UsersOrders th, .UsersOrderItems th, .UsersOrderDetails th {background-color: #515151;} 
.ProductCategories { border: solid 1px #efefef; }
.ProductCategories .categoryheading { background-color: #515151; color:#fff; padding: 20px; height: 20px; font-size: 16px; font-weight: bold; }
.ProductCategories .category { cursor: pointer; margin: 20px; border-bottom: solid 1px #eee; padding-bottom: 10px; }

.gsrotating .ContentManager h1 { font-size: 72px !important; }



@media only all and (max-width: 1100px) { 
    .gsrotating .ContentManager h1 { font-size: 30px !important; }
}