com.getshop.core/dist/
com.getshop.core/built-jar.properties
com.getshop.core/nbproject/private/private.properties
com.getshop.core/build/

com.getshop.messages/dist/
com.getshop.messages/built-jar.properties
com.getshop.messages/nbproject/private/private.properties
com.getshop.messages/build/

