com.getshop.core/data/
com.getshop.core/dist/
com.getshop.core/built-jar.properties
com.getshop.core/nbproject/private/private.properties
com.getshop.core/nbproject/private/private.xml
com.getshop.core/build/
com.getshop.messages/dist/
com.getshop.messages/built-jar.properties
com.getshop.messages/nbproject/private/private.properties
com.getshop.messages/nbproject/private/private.xml
com.getshop.messages/nbproject/private/
com.getshop.messages/build/
com.getshop.client/app
com.getshop.client/uploadedfiles
com.getshop.core/nbproject/private/
com.getshop.client/app/
com.getshop.client/uploadedfiles
com.getshop.client/nbproject/private/
com.getshop.syncserver/dist/
com.getshop.syncserver/built-jar.properties
com.getshop.syncserver/nbproject/private/private.properties
com.getshop.syncserver/build/
com.getshop.client/nbproject/private/private.xml
com.getshop.combined/nbproject/
com.getshop.combined/nbproject/build-impl.xml
com.getshop.combined/nbproject/genfiles.properties
com.getshop.core/nbproject/build-impl.xml
com.getshop.core/nbproject/genfiles.properties
com.getshop.messages/nbproject/build-impl.xml
com.getshop.messages/nbproject/genfiles.properties
com.getshop.scripts/dump/
com.getshop.syncclient/nbproject/build-impl.xml
com.getshop.syncclient/nbproject/genfiles.properties
com.getshop.syncserver/nbproject/build-impl.xml
com.getshop.syncserver/nbproject/genfiles.properties
com.getshop.syncserver/nbproject/private/private.xml
com.getshop.syncclient/build.xml
com.getshop.combined/build.xml
com.getshop.syncserver/nbproject/private/config.properties

/com.getshop.combined/nbproject/private/
/com.getshop.syncclient/nbproject/private/
/com.getshop.syncclient/build/
/com.getshop.syncclient/dist/
/com.getshop.combined/build/
/com.getshop.combined/dist/
/fuck/nbproject/private/
/fuck/dist/
/fuck/build/


com.getshop.mobile/autoakademiet/platforms/android/bin/
com.getshop.mobile/autoakademiet/platforms/android/gen/
com.getshop.proteriasync/nbproject/private/
com.getshop.proteriasync/build/
com.getshop.proteriasync/dist/
com.getshop.remote/nbproject/private/
com.getshop.remote/dist/
com.getshop.remote/build/

com.getshop.proteriasync/nbproject/build-impl.xml
com.getshop.proteriasync/nbproject/genfiles.properties
com.getshop.proteriasync/nbproject/project.properties
com.getshop.proteriasync/nbproject/project.xml
com.getshop.remote/completedProducts.txt
com.getshop.remote/config.txt
com.getshop.remote/import.txt
com.getshop.remote/import/import.txt
com.getshop.remote/nbproject/project.properties

com.getshop.remote/completedProducts.txt
com.getshop.remote/config.txt
com.getshop.remote/import/import.txt
com.getshop.remote/nbproject/project.properties

com.getshop.client/etc/config.txt
