/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2018, 7:02:10 PM
    Author     : ktonder
*/

.totalamount {
    text-align: center;
    font-size: 30px;
    color: green;
}

.buttonarea {
    margin: 50px;
    text-align: center;
}

.debugbuttons {
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}

.debugbuttons {
    display: none;
}

.secondaryinfo {
    font-size: 25px;
    text-align: center;
    color: #333;
    font-weight: bold;
}