.Chat #bottom-chat-window { 
    color: #FFF;
    padding-top: 4px;
    line-height: 40px;
    font-size: 16px;
    min-height: 40px;
    width: 258px;
    background-repeat: no-repeat;
    text-align: center;
    position: static;
    background-image: url('/showApplicationImages.php?appNamespace=ns_2afb045b_fa01_4398_8582_33f212bb8db8&image=skin/images//chat-bottom.png');
    z-index: 100000000;
    font-weight: bold;
    cursor: pointer;
    border-bottom: solid 1px;
    position: fixed; 
    bottom: 0;
    right: 3px;
    z-index: 50;
}

.Chat #bottom-chat-dialog {
    height: 400px;
    display: none;
}

.Chat .chat-header {
    position: relative;
}

.Chat #bottom-chat-dialog .chatinput {
    width: 244px; 
    border: none;
    height: 30px;
    margin-bottom: 4px;
    border-top: solid 1px #DDD;
}

.Chat .newchatmessage {
    display: none;
    width: 90px;
    height: 40px;
    position: absolute;
    right: 4px;
    background-image: url('/showApplicationImages.php?appNamespace=ns_2afb045b_fa01_4398_8582_33f212bb8db8&image=skin/images//newmessage.png');
    top: 4px;
}

.Chat #bottom-chat-dialog {
    font-size: 13px;
    font-weight: normal;
    margin-left: 4px;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    margin-right: 4px;
    background-color: #FAFAFA;
}

.Chat .maindialog {
    text-align: left;
    height: 370px;
    overflow: auto;
}

.Chat .maindialog .chatevent {
    line-height: 14px;
    min-height: 40px;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #DDD;
    color: #333;
}

.Chat .maindialog .chatevent.chatleft {
    background-image: url('/showApplicationImages.php?appNamespace=ns_2afb045b_fa01_4398_8582_33f212bb8db8&image=skin/images//chathead-left.png');
    padding-left: 50px;
    padding-right: 10px;
    
    background-position: 5px 10px;
}

.Chat .maindialog .chatevent.chatright {
    background-image: url('/showApplicationImages.php?appNamespace=ns_2afb045b_fa01_4398_8582_33f212bb8db8&image=skin/images//chathead-right.png');
    padding-right: 50px;
    padding-left: 10px;
    background-position: right 5px;
    padding-left: 10px;   
}

.skeleton5 .Chat .chatters {
    width: 248px;
    border: solid 1px #BBB;
    height: 567px;
}

.skeleton5 .Chat .maindialog {
    width: 520px;
    border: solid 1px #BBB;
    height: 530px;
}

.skeleton5 .Chat .adminchatinput {
    width: 511px;
    height: 20px;
    margin-top: 5px;
    border: solid 1px #BBB;
    padding: 5px;
}

.skeleton5 .Chat .chatters .chat {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #BBB;
    cursor: pointer;
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #999;
}

.skeleton5 .Chat .chatters .chat .close { 
    position: absolute;
    right: 5px;
    height: 20px;
    width: 20px;
    top: 5px;
}

.skeleton5 .Chat .chatters .chat.selected {
    background-color: #DDD;
}

.chatevent .time {
    color: #BBB;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
}

.Chat .maindialog .ourtime {
    color: #333;
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
    text-align: center;
    padding: 5px;
}