/* 
    Document   : Coupon
    Created on : Sep 28, 2013, 10:41:59 AM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/



.Coupon .tabs .tabset {
    width: inherit;
}

.Coupon .tabs .tabset .tab.active {
    border-left: solid 1px #BBB;
    border-bottom: solid 0px; 
}

.Coupon .tabs .tab_content {
    border: solid 1px #DDD;
    padding: 10px;
    
}

.Coupon .tabs .tab_content td {
    font-size: 14px;
}

.Coupon .tabs .tab_content td input {
    margin-left: 20px;
}

.leftcart .coupon input {
    line-height: 25px;
    border: solid 1px #DDD;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}
.leftcart .coupon .right {
    text-align: center;
    margin-top: 10px;
    padding-right: 3px;
}
.leftcart .coupon .title {
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px #DDD;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.leftcart .coupon .warning {
    color: red;
    font-weight: bold;
    padding: 10px;
}
.leftcart .coupon {
    background-color: #EEE;
    font-size: 14px;
    border: dashed 1px #DDD;
    padding: 5px;
    margin: 10px;
}

.Coupon table.coupons {
    width: 100%;
    border: solid 1px #DDD;    
}

.Coupon table.coupons tr td {
    padding: 5px;
    font-size: 13px;
}
.Coupon table.coupons tr {
    background-color: #EEE;
}

td.remove {
    width: 80px;
    text-align: center;
    cursor: pointer;
}