/* 
    Document   : PixelateThem1
    Created on : Mar 1, 2014, 10:50:14 AM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

.gs_inner { 
    width: 500px;
}

