body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #222;
}
.gs_page_width {
    max-width: 1160px;
    margin: 0 auto;
}

.gs_main_column .gs_page_width {
    width: 100%;
}   
.gsarea[area="footer"],
.gsarea[area="header"] {
    background-color: #006e63;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
}

.gsarea[area="header"] { 
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

.login_header_type_1 {
    display: none !important;
}

.loginform {
    text-align: center;
}

.gsarea[area="header"] .Menu .entry .entries {
    background-color: #006e63;
    width: 200px;
    border: solid 1px #707c7b;
    padding-bottom: 15px;
    box-shadow: 0px 0px 5px #333;
}

.gsarea[area="header"] .Menu .entry {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.gsarea[area="header"] .Menu a {
    color: #FFF;
    font-size: 15px;
}

.shop_button:hover {
    background: rgb(41,154,11); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(41,154,11,1) 0%, rgba(41,154,11,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
}

.shop_button {
    background-color: #000;
    border-radius: 0px;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    
    background: rgb(107,186,112); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(107,186,112,1) 0%, rgba(107,186,112,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(107,186,112,1) 0%,rgba(107,186,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=1 ); /* IE6-9 */

}

.frontbox .gsuicell.gsinner.gsdepth_2.gscount_0 {
    background-color: #006e63;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
}

.frontbox .gsuicell.gsinner.gsdepth_1 {
    border: solid 1px #EEE;
    margin: 20px ;
    /*border-radius: 0px 0px 10px 10px;*/
    background-color: #FFF;
}

.frontbox.gs_first_in_row .gsuicell.gsinner.gsdepth_1 {
    margin-left: 0px;
} 

.frontbox.gs_last_in_row .gsuicell.gsinner.gsdepth_1 {
    margin-right: 0px;
} 


.left_side_bar .gs_page_width {
    width: 100%;
}

.left_side_bar {
    width: 300px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,e2e2e2+0,f9fafc+9,f9fafc+91,e2e2e2+100 */
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(226,226,226,1) 0%, rgba(249,250,252,1) 9%, rgba(249,250,252,1) 91%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 0%,rgba(249,250,252,1) 9%,rgba(249,250,252,1) 91%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 0%,rgba(249,250,252,1) 9%,rgba(249,250,252,1) 91%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-9 */

}

.gs_main_column {
    width: calc(100% - 300px);
}

.gs_main_column {
    padding: 50px;
}


.left_side_bar .Menu .entry {
    line-height: 50px;
    padding-left: 20px;
    border-bottom: solid 1px #DDD;
    display: inline-block !important;
    width: 100% !important;
    box-sizing: border-box;
}

.left_side_bar .select_menu_selected {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.gss_new_user_button {
    display: none;
}

.company_header_selector {
    display: block;
    background-color: #005a51;
    color: #FFF;
}

.news_container.item.news_container_0 {
    border: solid 2px #DDD !important;
}

.mobilenavigatemenu {
    display: none !important;
}

.gsucell[cellid="33d9d64c-60ae-4534-b3a6-c17b4dadf803"] {width: 80% !important;}
.gsucell[cellid="edd80a12-0897-429c-829e-577fa08572aa"] {width: 20% !important;}
.Button[appid="8475817a-2a48-46f4-93c2-1307ae798c5a"] {width: 80px; margin-left: calc(100% - 100px);}
.Button[appid="f3669a81-5de4-4b0e-8084-c9ca73cc04b7"] {width: 105px; margin-left: calc(100% - 60px);}




@media screen and (max-width: 1159px) {
    
    .gsarea[area="body"] .gs_page_width { padding-left: 20px; padding-right: 20px;}
    .gsucell[cellid="2cbcd9d8-c1e5-47ea-8a91-ae6a28aa7d63"] {padding: 20px;}
    .gsucell[cellid="840c7de5-85a4-4fb1-ba5d-ecd126f4001d"] {padding: 20px;}
    .left_side_bar {left: -300px; position: absolute; z-index: 10; transition: left 0.3s;}
    .openedmenu {left: 0px !important; }
    .Button[appid="8475817a-2a48-46f4-93c2-1307ae798c5a"] {margin-left: calc(100% - 90px);}
    
    .gs_main_column {width: 100%; padding: 0px; padding-top: 50px; }
    .gsbody_inner[pageid="874bb4eb-a570-43ca-9522-f8bb3c330ad1"] .gs_main_column {min-height: 1089px;}
    .ImageDisplayer[appid="b63744f7-f774-4f3a-bbff-ef19a85bfa72"] img {margin-left: 10px;}
    .EventLister[appid="f763f270-d338-487d-ae66-c5176aefa0bd"] {text-align: center;}
    .EventLister[appid="f763f270-d338-487d-ae66-c5176aefa0bd"] .locationlist {float: none !important; margin-bottom: 20px; text-align: center;}
    .EventLister[appid="f763f270-d338-487d-ae66-c5176aefa0bd"] .eventlist {text-align: initial; width: auto !important; float: none !important; padding-left: 0px;}
    .gs_site_main_buttons_view {display: none !important;}
    .gseditrowbuttons {display: none !important;}
    .gsbody_inner {margin: 0 !important; border-right: none !important;}
    .gscellheadermin {display: none !important;}
    .applicationinner .gs_icon {display: none !important;}
    .gscellbox {border: none !important;}
    .gsucell[cellid="d0d94a55-c589-4c78-b538-b3ba698bb1e0"] {width: auto !important; float: none !important;}
    .gsucell[cellid="d0d94a55-c589-4c78-b538-b3ba698bb1e0"] .chartdivview {margin: auto;}
    .gsucell[cellid="c18f0ae5-1fb1-4e0f-b397-09135e987f86"] {width: auto !important; float: none !important;}
    .gs_modalinner {width: 80%;}
    .gsucell[cellid="e08436f1-dd46-4bbd-ab3d-39e95bae639f"] {width: auto !important; float: none !important;}
    .gsucell[cellid="6fcce290-6977-4a23-9a35-857e6ce6caa6"] {width: auto !important; float: none !important;}
  
    .gs_toggleLeftSideBar i {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    .gs_toggleLeftSideBar {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0px;
        top: 20px;
        border-radius: 0px 5px 5px 0px;
        background-color: rgba(0,0,0,0.2);
        z-index: 1;
        display: block;
    }
}

@media screen and (max-width: 959px) {
    .gsucell[cellid="9198473a-552d-470a-9f77-ecd9afecbedd"] {width: auto !important; float: none !important;}
    .gsucell[cellid="9198473a-552d-470a-9f77-ecd9afecbedd"] > .gsinner {margin-left: 20px !important;}
    .gsucell[cellid="9a238cbb-5b8a-4634-9a84-fa2d0dcbb6b5"] {width: auto !important; float: none !important;}
    .gsucell[cellid="9a238cbb-5b8a-4634-9a84-fa2d0dcbb6b5"] > .gsinner {margin-right: 20px !important;}
    .gsucell[cellid="db14a071-c1b0-4654-9fb6-ce4474f2caee"] {width: auto !important; float: none !important;}
    .gsucell[cellid="db14a071-c1b0-4654-9fb6-ce4474f2caee"] > .gsinner {margin-left: 20px !important;}
    .gsucell[cellid="ed640823-2c7a-4464-b1f3-4e1e24addd67"] {width: auto !important; float: none !important;}
    .gsucell[cellid="ed640823-2c7a-4464-b1f3-4e1e24addd67"] > .gsinner {margin-left: 20px !important;}
    .gsucell[cellid="01719a53-a790-45a6-b545-eeadb163c5f9"] {width: auto !important; float: none !important;}
    .gsucell[cellid="01719a53-a790-45a6-b545-eeadb163c5f9"] > .gsinner {margin-right: 20px !important;}
    .gsbody_inner[pageid="4afbf5b8-57b4-49bb-bee6-1cdb872cf59a"] > .gsarea[area="body"] > .gsucell_extra_outer > .gsucell_outer > .gsucell > .gsinner > .gsucell {width: 50% !important; float: none !important; display: inline-block;}
    .gsucell[cellid="2cbcd9d8-c1e5-47ea-8a91-ae6a28aa7d63"] {width: auto !important; float: none !important;}
    .gsucell[cellid="840c7de5-85a4-4fb1-ba5d-ecd126f4001d"] {width: auto !important; float: none !important;}
    .gsucell[cellid="89cc9fbd-3c7e-4532-89a2-87a946ec6072"] {width: 100% !important;}
    .gsucell[cellid="ff43ec6a-0a7a-4932-b5fa-d42d911903d3"] {width: 100% !important; margin-top: 25px;}
    .ContentManager[appid="f6a9ce11-f6a9-49d3-ba8e-e9581092cd83"] table tbody tr > td:first-child {display: none;}
    .gsucell[cellid="0d93875b-2351-4aa1-879a-e68ee6319621"] {width: 125% !important; margin-top: 30px;}
    .Menu[appid='e5e6fe9d-1b6b-4b04-9806-4bb4b829b3d3'] {text-align: center;}
    .gsucell[cellid="4efcb6ab-8aad-43a0-ac8f-673130ee7234"] {width: 100% !important;}
    .gsucell[cellid="ca8da9f4-19e8-4856-b4aa-623ad470e5ba"] {width: auto !important; float: none !important;}
    .gsucell[cellid="92ee954d-8efb-447a-8471-46399d85c05f"] {width: auto !important; float: none !important;}
    .EventLister[appid="f763f270-d338-487d-ae66-c5176aefa0bd"] .eventlist .monthheader .col {display: none;}
    .EventLister[appid="f763f270-d338-487d-ae66-c5176aefa0bd"] .datefilter input.gsniceinput1 {width: 175px !important;}
    .gsucell[cellid="0526a818-fa60-4fa5-ade8-49143cedc721"] {width: auto !important; float: none !important;}
    .gsucell[cellid="aa5c5d61-6922-4652-b4e6-018353554d57"] {width: auto !important; float: none !important;}
}

@media screen and (max-width: 799px) {
    .Menu[appid='e5e6fe9d-1b6b-4b04-9806-4bb4b829b3d3'] .horizontal {width: auto !important; background-color: transparent !important; display: inline-block !important; position: static !important; left: auto !important; top: auto !important; z-index: auto !important;}
    .Menu[appid='e5e6fe9d-1b6b-4b04-9806-4bb4b829b3d3'] .menuentries .entry {width: auto !important; display: inline-block !important; padding-left: 7px !important; padding-right: 7px !important;}
    .Menu[appid='e5e6fe9d-1b6b-4b04-9806-4bb4b829b3d3'] .menuentries .entry .entries {display: none; position: absolute;}
    .Menu[appid='e5e6fe9d-1b6b-4b04-9806-4bb4b829b3d3'] .menuentries .entry > a[ajaxlink="/?page=262bebb6-5fe2-4a32-a154-4cadb9319e16"] + .entries {left: -140px;}
    .Menu[appid='e5e6fe9d-1b6b-4b04-9806-4bb4b829b3d3'] .menuentries .entry .entries .entry {display: block !important;}
    .Menu[appid='38b608a5-6018-4749-9c9f-99cf61fe248e'] .horizontal {width: auto !important; background-color: transparent !important; display: inline-block !important; position: static !important; left: auto !important; top: auto !important; z-index: auto !important;}
    .Menu[appid='38b608a5-6018-4749-9c9f-99cf61fe248e'] .menuentries .entry a {color: #000000 !important;}
    .Menu[appid='38b608a5-6018-4749-9c9f-99cf61fe248e'] .menuentries .entry {padding: 0px; padding-left: 20px;}
    .gsucell[cellid="3e52e628-3c9e-4c1c-8a36-800265699c47"]{width: 66% !important;}
    .gsucell[cellid="87ace5c8-9716-4916-ab43-4b9c637f23d9"] {width: 33% !important; padding-left: 0px !important;}
}

@media screen and (max-width: 599px) {
    .gsucell[cellid="d0d94a55-c589-4c78-b538-b3ba698bb1e0"] > .gsinner {padding: 0 !important;}
    .gsucell[cellid="d0d94a55-c589-4c78-b538-b3ba698bb1e0"] .chartdivview {transform: scale(0.9);}
    .CreateEvent[appid="5317970c-cc61-435f-be01-a5a679f4fe86"] .shop_button {padding-left: 16px !important; padding-right: 16px !important;}
    .gsbody_inner[pageid="4afbf5b8-57b4-49bb-bee6-1cdb872cf59a"] > .gsarea[area="body"] > .gsucell_extra_outer > .gsucell_outer > .gsucell > .gsinner > .gsucell {width: 100% !important; float: none !important; display: inline-block; margin-bottom: 20px;}
}


