.Carousel .csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  text-align: left;
  position: relative;
}
.Carousel .csslider > input {
  display: none;
}

.Carousel .csslider > ul {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.Carousel .csslider > ul > li {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  background-repeat: no-repeat;
  background-size: cover;
}

.Carousel .csslider > ul > li > img {
    width: 100%;
}

.Carousel .csslider > ul > li.scrollable {
  overflow-y: scroll;
}
.Carousel .csslider > .navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Carousel .csslider > .navigation > div {
  margin-left: -100%;
}
.Carousel .csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #3a3a3a;
}
.Carousel .csslider > .navigation label:hover:after {
  opacity: 1;
}
.Carousel .csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #e9ebea;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.Carousel .csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Carousel .csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.Carousel .csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}
.Carousel .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.Carousel .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.Carousel .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.Carousel .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.Carousel .csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.Carousel .csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.Carousel .csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.Carousel .csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.Carousel .csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.Carousel .csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.Carousel .csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
  opacity: 1;
}
.Carousel .csslider > .arrows {
  position: absolute;
  left: 2%;
  top: 50%;
  width: 96%;
  height: 26px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.Carousel .csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #3a3a3a;
  cursor: pointer;
  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s;
  transition: box-shadow 0.15s, margin 0.15s;
  z-index: 10;
}
.Carousel .csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #e9ebea;
  margin: 0 0px;
}
.Carousel .csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
.Carousel .csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.Carousel .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.Carousel .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.Carousel .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.Carousel .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.Carousel .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.Carousel .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.Carousel .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.Carousel .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.Carousel .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.Carousel .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.Carousel .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
  display: block;
  left: 0;
  right: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Carousel .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.Carousel .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.Carousel .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.Carousel .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.Carousel .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.Carousel .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.Carousel .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.Carousel .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.Carousel .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.Carousel .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.Carousel .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.Carousel .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
  display: block;
  right: 0;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.Carousel #slider1 {
  width: 100%;
  height: 500px;
}

.Carousel .slide_options > div {
    height: 30px;
}

.Carousel .slides_container {
    height: auto !important;
}

.Carousel .slides_container > div {
    height: 30px;
}

.Carousel .value_input {
    float: right;
}

.Carousel .value_input input {
    width: 40px;
    text-align: right;
    margin-right: 1px;
}

.Carousel .value_input select {
    height: 21px;
    background: white;
}

.Carousel .arrow_location_horizontal input {
    margin-right: 7px;
}

.Carousel .arrow_location_vertical input {
    margin-right: 7px;
}

.Carousel .directionchanging {
    font-weight: bold;
    text-align: center;
    line-height: 18px;
}

.Carousel .transitionchanging {
    font-weight: bold;
    text-align: center;
    line-height: 18px;
}

.Carousel {
    min-height: 0px;
}

.Carousel .value_input input[name='slideimage'] {
    width: auto;
    margin-top: 3px;
}

.Carousel .slides_title {
    font-size: 24px;
    border-top: solid 2px #146da6;
    height: 40px;
    line-height: 40px;
}

.Carousel .add_slide {
    height: 16px !important;
    width: 16px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Carousel .add_slide > i {
    padding-right: 0px;
}

.Carousel .delete_slide {
    height: 13px !important;
    width: 13px;
    padding: 5px;
    margin-bottom: 10px;
    line-height: 13px;
}

.Carousel .delete_slide > i {
    padding-right: 0px;
    font-size: 14px;
    vertical-align: top;
}

.Carousel .gseditrowbuttons { display:none !important; }

.Carousel > .applicationinner > .application_settings:first-child {
    top: -22px;
}

.Carousel .start_adding_slides {
    text-align: center;
    display: table !important;
    border: 2px solid gray;
}

.Carousel .start_adding_slides span {
    display: table-cell;
    vertical-align: middle;
}

.Carousel .background_select {
    display: inline-block;
    margin-left: 10px;
}