/* 
    Document   : SnicklesTheme.css
    Created on : Feb 28, 2014, 7:11:57 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

body { font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif' !important;}

.gsarea[area="footer"],
.gsarea[area="header"] {
    display: none;
}