/* 
    Document   : SnicklesTheme.css
    Created on : Feb 28, 2014, 7:11:57 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

body { font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif' !important; background-color: #eaeaea; }

body {
    background-image: url('{IMAGEFOLDER}/background.jpg');
    
    background-attachment: fixed;
    /*background-position: center;*/
}
.gs_inner {
    max-width: 1166px;
    margin: auto;
    color: #333;
}

.gs_outer.header {
    height: 85px;
    background-color: #000;
    border-bottom: solid 2px #333333;
    margin-bottom: 20px;
}

.Logo {
    top: 0px;
}

.gs_outer.footer {
    background-color: rgba(0,0,0,0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    color: #FFF;
    border-top: solid 1px #000;
}

.gs_outer.gs_row { margin-bottom: 20px; }
.gs_margin_left { padding-left: 10px; }
.gs_margin_right { padding-right: 10px; }


.TopMenu {
    border: solid 1px;
    right: 10px;
    height: 85px;
    color: #222222;
    box-sizing: border-box;
}

.TopMenu a {
    color: #a0a0a0;
    font-size: 16px;
    line-height: 85px;
    padding-left: 20px;
    padding-right: 20px;
}

.TopMenu li:not(:last-child) {
    border-right: solid 1px #333;
}

.Facebook {
    font-size: 16px;
}

.Facebook .message {
    padding-left: 160px;
}

.Facebook .newsentry {
    border-bottom: solid 1px #CCC;
}
.Facebook .created_time {
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: bold;
}

.Facebook {
    background-color: rgba(255,255,255, 0.9);
    border: solid 1px #CCC;
}

@media only all and (max-width: 800px) {
    .Logo img { width: 100px;  }
    .Logo { top: 10px; left: 10px;  }
    .mainarea .gs_inner .applicationarea { margin: 15px; }
    .gs_margin_left { padding-left: 0px !important; }
    .gs_outer.footer { display:none !important; }
    .TopMenu a { font-size: 16px; line-height: 14px; padding-left: 20px; padding-right: 20px; line-height: 30px; }
    .TopMenu { height: 30px; top: 48px !important; }
}
@media only all and (max-width: 480px) {
    .TopMenu { height: 16px; top: 68px !important; }
    .TopMenu a { font-size: 12px; line-height: 14px; padding-left: 2px; padding-right: 2px; }
    .Logo { display:block; }
    .Facebook .newsentry .picture { width: 50px; }
    .Facebook .message { padding-left: 60px; }
}

.mainarea .applicationarea:not(.no_apps_on_area) {
    background-image: url('{IMAGEFOLDER}/box-background.png');
    padding: 10px; 
    box-shadow: 3px 3px 6px #CCC;
    padding-right: 10px;
    color: #333;
    border: solid 1px #CCC;
}