.SamleFaktura .row .col {
    display: inline-block;
    vertical-align: top;
}

.SamleFaktura .groupedbyuser {
    border: solid 1px #DDD;
    margin-bottom: 50px;
}

.SamleFaktura .groupedbyuser .userinfo {
    padding: 10px;
    background-color: #DDD;
    text-align: center;
}

.SamleFaktura .groupedbyuser .row {
    padding: 3px;
}
.SamleFaktura .groupedbyuser .row:nth-child(odd) {
    background-color: #EFEFEF;   
}
.SamleFaktura .row .col1 { width: 60px; }
.SamleFaktura .row .col2 { width: 100px; }
.SamleFaktura .row .col3 { width: 130px; }
.SamleFaktura .row .col4 { width: calc(100% - 430px); }
.SamleFaktura .row .col5 { width: 100px; text-align: right;}

.SamleFaktura .selectUser {
    border: solid 1px #DDD;
    padding: 20px;
    margin-bottom: 30px;
}

.SamleFaktura textarea {
    width: 100%;
    box-sizing: border-box;
    border-color: #DDD;
    padding: 20px;
    height: 100px;
}

.SamleFaktura {
    max-width: 1000px;
    margin: 50px auto;
}