/* 
    Document   : GetShop
    Created on : Jan 4, 2014, 8:45:30 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

.gs_cell { 
    margin-bottom: 20px;
}

.gs_cell .ImageDisplayer img {
    height: auto;
    width: 100%;
}