.AccountFinanceReport .col {
    display: inline-block;
    width: 100px;
    border-left: solid 1px rgba(0,0,0,0.1);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.AccountFinanceReport .row .inner_row {
    display: inline-block;
}
.AccountFinanceReport .row {
    border-bottom: solid 1px #DDD;
    padding: 5px;
    display: table-row;
}

.AccountFinanceReport .transferring {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 100%;
    height: 100%;
    font-size: 43px;
    color: #fff;
    text-align: center;
    padding: 30px;
    display:none;
}

.AccountFinanceReport div.row:nth-child(even) {
    background-color: #EEE;
}

.AccountFinanceReport .dateheader {
    background-color: #EFEFEF;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.AccountFinanceReport div.row:hover {
    background-color: #DDD;
    cursor: pointer;
}

.AccountFinanceReport .row .controlsum,
.AccountFinanceReport .row.header,
.AccountFinanceReport .row.summaryrow {
    font-weight: bold;
}

.AccountFinanceReport .buttonarea {
    padding: 20px;
}

.AccountFinanceReport .outer {
    white-space:nowrap;
    overflow-x: auto;
}

.AccountFinanceReport .outer .accountdesc {
    font-size: 10px;
    vertical-align: top;
    overflow: hidden;
}

.AccountFinanceReport .header.col {
    vertical-align: top;
    white-space: initial;
}

.AccountFinanceReport .col {
    padding: 5px;
}

.AccountFinanceReport .col.orderid {
    width: 170px;
}

.AccountFinanceReport .col.name {
    width: 500px;
    text-align: left;
}

.AccountFinanceReport .col.rowdate {
    width: 150px;
}

.AccountFinanceReport .infoheader {
    padding: 30px;
    padding-left: 50px;
    background-color: #9cff91;
    font-size: 14px;
}

.AccountFinanceReport .infoheader .head {
    font-size: 25px;
    font-weight: bold
}

.AccountFinanceReport {
    margin-bottom: 50px;
}

.AccountFinanceReport .showresultbutton {
    vertical-align: top;
    margin-top: 1px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    height: 50px;
}

.AccountFinanceReport .showresultbutton.deactivated {
    background-color: #DDD;
}

.AccountFinanceReport .inbalance {
    color: green;
}

.AccountFinanceReport .inbalance2 {
    background-color: #56dbff;
}

.AccountFinanceReport .workarea,
.AccountFinanceReport .leftmenu {
    display: inline-block;
    vertical-align: top;
}

.AccountFinanceReport .rightmenu {
    margin-top: 50px;
}

.AccountFinanceReport .leftmenu {
    width: 100px;
    background-color: #23314e;
    color: #FFF;
    text-align: center;
    min-height: calc(100% - 86px);

}

.AccountFinanceReport .leftmenu .entry {
    border-top: solid 1px #222;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 11px;
    min-height: 46px;
}

.AccountFinanceReport .leftmenu .entry i {
    display: block;
    font-size: 25px;
}

.AccountFinanceReport .leftmenu .entry.tabnotactive {
    color: #888;
}

.AccountFinanceReport .workarea {
    width: calc(100% - 100px);
    box-sizing: border-box;
}

.AccountFinanceReport .divededheader {
    width: calc(50% - 20px);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.AccountFinanceReport .downloadlink .col {
    display: inline-block; 
    vertical-align: top;
}

.AccountFinanceReport .totalcolforaccount {
    position: relative;
}

.AccountFinanceReport .accountdownloadfilearea {
    border-left: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    padding: 20px;
    margin-bottom: 20px;
}

.AccountFinanceReport .summarymenu .entry {
    padding: 10px;
    font-weight: normal;
}

.AccountFinanceReport .summarymenu {
    background-color: #FFF;
    position: absolute;
    bottom: 30px;
    border: solid 1px #DDD;
    display: none;
    
}
.AccountFinanceReport .top_row_header {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: #222;
    color: #FFF;
}

.AccountFinanceReport .freeposting {
    margin: 50px;
}

.AccountFinanceReport .freeposting .info {
    background-color: #d3e79f;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.AccountFinanceReport .header2 {
    font-weight: bold;
    background-color: #EFEFEF;
    padding: 3px;
    text-align: center; 
}

.AccountFinanceReport .row2 .col2 {
    display: inline-block;
    padding: 3px;
}

.AccountFinanceReport .row2 .col2_1 {
    width: 100px;
}

.AccountFinanceReport .row2 .col2_2 {
    width: 100px;
}

.AccountFinanceReport .row2 .col2_3 {
    width: 100px;
}

.AccountFinanceReport .dayrow {
    margin-bottom: 20px;
    border: solid 1px #DDD;
}

.AccountFinanceReport .row2.totalrow {
    
    background-color: #EFEFEF;
}
