.PmsAvailability .timeline_item_name {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    box-sizing: border-box;   

    width: 200px;
}

.PmsAvailability .waitinglist { cursor:pointer; }
.PmsAvailability .gsdayevent { cursor:pointer; }


.PmsAvailability .availabilitylabel { font-size: 16px; margin-right: 15px; margin-bottom: 5px; display:inline-block;}

.PmsAvailability .item_name {
    height: 24px;
    box-sizing: border-box;
    padding: 3px;
    color: #444;
    padding-left: 20px;
    border-bottom: solid 1px #DDD;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PmsAvailability .item_name:nth-child(odd) {
    background-color: #FFF;
}

.PmsAvailability .timeline {
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 23px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.PmsAvailability .timeline_row.even {
    background-color: #FFF;
}

.PmsAvailability .type_line {
    font-size: 0px;
}
.PmsAvailability .timeline_row {
    
    white-space: nowrap;
    font-size: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 20px
}
.PmsAvailability .col {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.PmsAvailability .category_name {
    border-bottom: solid 2px;
    height: 23px;
    box-sizing: border-box;
    padding: 3px;
    font-weight: bold;
    margin-bottom: 1px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.PmsAvailability .header {
    font-size: 12px;
    position: absolute;
    top: -22px;
    padding-bottom: 3px;
    padding-bottom: 3px;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    color:#000;
    border-bottom: solid 2px #000;
    
}
.PmsAvailability .showdropnotpossible { background-color:red; }

.PmsAvailability .contains_booking.first_in_row {
    border-radius: 2px 0px 0px 2px;
}

.PmsAvailability .contains_booking.last_in_row {
    border-radius: 0px 2px 2px 0px;
}

.PmsAvailability .contains_booking.last_in_row.first_in_row {
    border-radius: 2px 2px 2px 2px;
}



.PmsAvailability .contains_booking.connected_with_next { border-right: solid 1px rgba(255,255,255,0.3); }

.PmsAvailability .contains_booking { 
    background-image: url('{IMAGEFOLDER}/glare.png');
}

.PmsAvailability .contains_booking.cleaning {  background-color: #ff4e35; color: #FFF; }
.PmsAvailability .contains_booking.closed i {
    color: #000;
    font-size: 18px;
    padding-left: 5px;
}

.PmsAvailability .contains_booking.closed {
    background: 
      /* On "top" */
      repeating-linear-gradient(
        45deg,
        transparent,
        transparent 1px,
        #ccc 2px,
        #ccc 2px
      ),
      /* on "bottom" */
      linear-gradient(
        to bottom,
        #eee,
        #999
      );
}
.PmsAvailability .closemodalarea { position:fixed; border: solid 1px; display:none;z-index: 5;     background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    border-color: #bbb;
    width: 450px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      }
.PmsAvailability .contains_booking.closed.mouseover {  background-color: #00a0ff; }
.PmsAvailability .contains_booking.grey {background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.5);
    border: solid 1px rgba(0,0,0,0.3);}
.PmsAvailability .contains_booking.grey.mouseover {  background-color: rgba(0,0,0,0.4); }
.PmsAvailability .contains_booking.normal {  background-color: #15772f; color:#fff; }
.PmsAvailability .contains_booking.normal.mouseover {  background-color: #ff6300; }

.PmsAvailability .contains_booking {
    background-color: red;
    cursor: pointer;
}

.PmsAvailability .col_outer {
    display: inline-block;
    border-bottom: solid 1px #DDD;
    box-sizing: border-box;
    cursor:pointer;
}

.PmsAvailability .col_outer.last_in_row_outer { 
   padding-right: 1px;
}

.PmsAvailability .col_outer.first_in_row_outer { 
   padding-left: 1px;
   border-left: 0px !important;
}

.PmsAvailability .col_width {
    width: 100%;
    box-sizing: border-box;
}

.PmsAvailability .col_outer.nodata {
    border-right: solid 1px rgba(0,0,0,0.1);
}
.PmsAvailability .col_outer {
    border-right: solid 1px rgba(0,0,0,0.1);
    background: repeating-linear-gradient(
        45deg,
        #0bd03e,
        #2bef5e 1px,
        #3dea69 1px,
        #5fd07d 3px
    );
}
.PmsAvailability .col_data {
    height: 22px;
    position: relative;
}


.PmsAvailability .timeline::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
        height: 8px;
}

.PmsAvailability .timeline::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
        height: 10px;
}

.PmsAvailability .timeline::-webkit-scrollbar-thumb
{
	background-color: #2a324e;
	border-radius: 5px;
}

.PmsAvailability .bookername {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    text-align: center;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
}

.PmsAvailability .bookername .fullname {
    display: none;
}
.PmsAvailability .hatched {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
}

.PmsAvailability .bookername .acronyme {
    display: none;
}

.PmsAvailability .showdroppossible {
    background-color: green;
}

.PmsAvailability .showdroppossible .col_data {
    opacity: 0.2;
}

.PmsAvailability .otherdata {
    position: absolute;
    top: 3px;
    bottom: 0px;
    left: 3px;
    right: 0px;
    font-size: 12px;
    color: #FFF;
}