.PmsAvailability .timeline_item_name {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    box-sizing: border-box;   
    padding-top: 50px;
}

.PmsAvailability .item_name {
    padding-top: 2px;
    padding-bottom: 1px;
}

.PmsAvailability .timeline {
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 50px;
}

.PmsAvailability .timeline_row.odd {
    background-color: #EEE;
}

.PmsAvailability .timeline_row {
    
    white-space: nowrap;
    font-size: 0px;
    border-bottom: solid 1px #DDD;
    padding-top: 2px;
    padding-bottom: 2px;
}
.PmsAvailability .col {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.PmsAvailability .header {
    font-size: 11px;
    position: absolute;
    top: -43px;
    padding-top: 3px;
    padding-bottom: 3px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-45deg);
    border-bottom: solid 1px #b7b6b6;
    box-sizing: border-box;
    height: 22px;
    margin-left: -17px;
    padding-left: 11px;
    padding-right: 10px;
    padding-top: 6px;
    
}
.PmsAvailability .contains_booking.first_in_row {
    border-radius: 5px 0px 0px 5px;
}

.PmsAvailability .contains_booking.last_in_row {
    border-radius: 0px 5px 5px 0px;
}

.PmsAvailability .contains_booking.last_in_row.first_in_row {
    border-radius: 5px 5px 5px 5px;
}

.PmsAvailability .contains_booking.connected_with_next { border-right: solid 1px rgba(255,255,255,0.2); }

.PmsAvailability .contains_booking { 
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 );
}

.PmsAvailability .contains_booking.mouseover { 
    background: red;
}

.PmsAvailability .contains_booking.grey { 
    background-color: #b5bdc8;
}


.PmsAvailability .contains_booking.red { 
    background-color: #0092b6;
}

.PmsAvailability .contains_booking {
    background-color: red;
    cursor: pointer;
}

.PmsAvailability .col_data {
    
    border-right: solid 1px #DDD;
    width: 20px;
    height: 15px;
}


.PmsAvailability .timeline::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
        height: 8px;
}

.PmsAvailability .timeline::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
        height: 8px;
}

.PmsAvailability .timeline::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

.PmsAvailability .bookingoverview_submenu {
    font-size: 0px;
    border-bottom: solid 1px #DDD;
}
.PmsAvailability .bookingoverview_submenu .menuitem {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    text-align: center;
    border-right: solid 1px #DDD;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); 
    color: #FFF;
}
.PmsAvailability .bookingoverview_submenu .menuitem i {
    font-size: 30px;
    display: block;
}
.PmsAvailability .bookingoverview {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 500px;
    min-height: 500px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.PmsAvailability .generalinformation {
    border-bottom: solid 1px #DDD;
    background: #1fbee6;
    color: #FFF;
    padding: 5px;
}

.PmsAvailability .generalinformation .guestinfo {
    font-size: 0px;
}

.PmsAvailability .generalinformation .guestinfo .guestname,
.PmsAvailability .generalinformation .guestinfo .from,
.PmsAvailability .generalinformation .guestinfo .to {
    display: inline-block;
    font-size: 14px;
    width: 33.33%;
    vertical-align: top;
}

.PmsAvailability .movetotype .itemselector {
    
}

.PmsAvailability .movetotype .itemselector div:first-child {
    border-left: solid 1px;
}

.PmsAvailability .movetotype {
    border: solid 1px #DDD;
    margin-top: 10px;
}

.PmsAvailability .movetotype .headername {
    padding: 10px;
    padding-left: 20px;
    background-color: #EEE;
    font-weight: bold;
}

.PmsAvailability .explenation_header .bookingitemhead.canUse,
.PmsAvailability .movetotype .bookingitem.canUse {
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
    color: #FFF;
    cursor: pointer;
}

.PmsAvailability .movetotype .bookingitem.canUse:hover {
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(11,94,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(11,94,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(11,94,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#0b5e00',GradientType=0 );
}

.PmsAvailability .explenation_header .bookingitemhead.canNotUse,
.PmsAvailability .movetotype .bookingitem.canNotUse {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    color: #888;
}

.PmsAvailability .explenation_header .bookingitemhead {
    width: 20px;
    height: 20px;
}
.PmsAvailability .explenation_header .bookingitemhead,
.PmsAvailability .movetotype .bookingitem {
    border: solid 1px transparent;
    display: inline-block;
    border-right: solid 1px #DDD;
    padding: 3px;
    border-top: solid 1px #DDD;
    line-height: 25px;
}

.PmsAvailability .gs_selected {
    background: rgb(0,110,46) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,110,46,1) 0%, rgba(0,110,46,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ) !important;
}

.PmsAvailability .staytime {
    background-color: #EEE;
    padding: 19px;
    font-weight: bold;
    border-bottom: solid 1px #CCC;
}

.PmsAvailability .updater {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 30px;
    color: #FFF;
}

.PmsAvailability .update_in_progress .updater {
    display: block;
}

.PmsAvailability .itemview {
    position: relative;
}

.PmsAvailability .canNotUseGs_selected,
.PmsAvailability .movetotype .gs_selected.canNotUse {
    background: rgb(169,3,41) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ) !important;
}

.PmsAvailability .itemview {
    font-size: 0px;
}

.PmsAvailability .pricesview, 
.PmsAvailability .itemview_inner {
    display: inline-block;
    font-size: inherit;
    box-sizing: border-box;
    vertical-align: top;
    
    font-size: 14px;
    padding: 20px;
}

.PmsAvailability .itemview_inner {
    border-right: solid 1px #CCC;
    padding-top: 10px;
    width: 70%;
}

.PmsAvailability .pricerow {
    border-bottom: solid 1px #EEE
}
.PmsAvailability .pricerow .col2,
.PmsAvailability .pricerow .col2 input { 
    width: 50px;
}

.PmsAvailability .pricerow .col1 {
    width: 100px;
    line-height: 35px;
}
.PmsAvailability .pricerow .col {
    display: inline-block;
}

.PmsAvailability .pricesview {
    width: 30%;
}

.PmsAvailability .totalrow {
    font-size: 16px;
    margin-top: 20px;
}
.PmsAvailability .extrainfo {
    font-style: italic;
    margin-top: 10px;
    font-size: 13px;
}