.gs_page_width { max-width: 1200px; margin: auto; }
.Menu { padding-top: 10px; }
.Menu a { font-size: 16px; font-weight: bold; color:#FFF; padding-right: 30px; display:inline-block; }
.Menu .lastentry a { padding-right: 0px; }
.Menu .entries .entries a { width: 200px; }
.News .item .news_img_container { margin-bottom: 10px; }
.NewsElements .newstype_shorttext { font-weight: bold; }
.NewsElements .bysub { font-size: 12px; }
body {    
    background-color: #FFF; font-size: 18px; 
    color: #696969;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.C3EventRegistration table { width: 100%; }
.C3EventRegistration td { font-size: 18px; }
.gsarea[area="header"] {
   background: #39c6c1; /* Old browsers */
    background: -moz-linear-gradient(top,  #39c6c1 0%, #28b4af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #39c6c1 0%,#28b4af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #39c6c1 0%,#28b4af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39c6c1', endCovlorstr='#28b4af',GradientType=0 ); /* IE6-9 */
}

.gsarea[area="header"] .gs_page_width { height: 150px;  margin-bottom: 20px; padding-top: 20px; }
.gsarea[area="footer"] .gs_page_width { background-color:#000;
                                        padding-top: 20px;
                                        padding-bottom: 20px;
    background: #f58348; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f58348, #fbbea0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f58348, #fbbea0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f58348, #fbbea0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f58348, #fbbea0); /* Standard syntax */
    color:#fff;
}
.News .news_container { border-bottom: solid 2px; padding-bottom: 10px; margin-bottom: 10px; box-sizing: border-box; }
.News .newstext { font-style: italic; }
h2 { margin: 0px; color: #28b4af; margin-top: 5px; margin-bottom: 5px; }
.gs_language_selection { right: 0px; border: 0px; }

.SimpleFileUpload .uploadform { margin-bottom: 10px; }
.SimpleFileUpload .filelist { display: inline-block; width: 100%;  box-sizing: border-box; float:left; padding: 10px; background-color:#d7d8da;}

.Logout .loggedonmarker { padding: 10px; border-radius: 10px; background-color:#939598; color:#fff; font-weight: bold; padding-left: 30px; padding-right: 30px; margin-right: 20px; font-size: 14px;}
.Logout .logoutclick { color: #8194c1; cursor: pointer; }
.Login { display:inline-block; }

.gs_language_code.active {
    font-weight: bold;
}


.gs_language_code { 
    color: #FFF;
    font-size: 15px;
}

/*    background-repeat: no-repeat; 
    font-size: 0px; 
    height: 35px; width: 35px; 
    padding:0px !important; 
    margin-left: 10px; 
    background-repeat: no-repeat; 
    background-position: top right;
}
.gs_lang_code_nb_NO { background-image: url('https://skytec.getshop.com/displayImage.php?id=eeeff579-0b75-483a-9574-725a0c29fead'); background-size: 33px 33px; }
.gs_lang_code_en_en { background-image: url('https://skytec.getshop.com/displayImage.php?id=a1626d35-83cc-49c7-9c35-60a0f9784b05'); background-size: 33px 29px; background-position: 0px 2px;}*/

.shop_button { border: solid 1px #DDD; padding: 10px; line-height: 20px; height: 20px; padding-left: 20px; padding-right: 20px;}

.Menu .entries .entries {
    background-color: #FFF;
}

.Menu .entries .entries {
    padding-top: 0px;
}
.Menu .entries .entries .entry {
    padding: 5px;
    border-bottom: solid 1px rgba(0,0,0,0.1) !important;
}

.Menu .entries .entries .entry:last-child {
    border-bottom: solid 0px;
}

.Menu .entries .entries div:hover {
    color: #000;
}

.Menu .entries .entries div {
    color: #696969;
    font-size:12px;
    font-weight: normal;
}

.Menu .entries .entries {
    background-color: #FFF !important;
    border: solid 1px #bbb;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.News .newsboxtemplate_1 .news_container, .News .grid-sizer { width: 375px; }
.News .newsboxtemplate_1 .news_container img { max-width: 100%; }


.News .addnewsrow {
    border: solid 1px #ddd;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.News .addnewsrow td {
    font-size: 16px;
}

.News .content { color: #696969 !important; }
.News .news_dates { font-size: 12px !important; }

.Menu .entry.active a {
    color: #696969;
}

.ProductSearch .searchField i,
.ProductSearch .searchField input {
    height: 35px;
    box-sizing: border-box;
    vertical-align: top;
}

.ProductSearch .searchField i {
    width: 35px;
    border: solid 0px;
}
.ProductSearch {
    text-align: right;
}

.News .newsboxtemplate_1 .news_container {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.News .item .news_img_container {
    text-align: center;
}

.News .item .news_img_container,
.News .item img {
    height: 200px;
    width: auto !important;
}
.News .item .news_img_container, .News .item img { overflow: hidden; height: 140px; }
.gsbody_inner[pageid="d204ec01-0895-444b-95a2-a4f0f8662afe"] .News .item img, 
.gsbody_inner[pageid="8a9e7b98-8b93-4c99-8618-549ef3d46601"] .News .item img {
    height: auto !important;
}

.News .news_entry_header {
    height: 55px;
    margin-bottom: 10px;
    overflow: hidden;
}

.News .content {
    height: 194px;
    overflow: hidden;
}

.logoSameHeight img {
    margin-top: 30px;
    height: 60px !important;
    width: auto !important;
    
}

.News .newsboxtemplate_1 .news_container {
    width: 364px;
}

.News {
    background-color: #EFEFEF;
    padding: 20px;
}

.gsbody_inner[pageid="8a9e7b98-8b93-4c99-8618-549ef3d46601"] .News .newsboxtemplate_1 .news_container {
    width: 280px;
}

.gsbody_inner[pageid="8a9e7b98-8b93-4c99-8618-549ef3d46601"] .News .newsboxtemplate_1 {
    font-size: 12px;
}

.gsbody_inner[pageid="b0e1350d-743f-44fa-a1b1-8dc78cb6007f"] .news_img_container {
    display: none;
}

.ProfilePrinter .imagearea img {
    width: auto !important;
}

.SimpleFileUpload .filelist tr td {
    padding: 10px;
    border-bottom: solid 1px #efefef;
}

.gseditormode .SimpleFileUpload .filelist td,
.SimpleFileUpload .filelist tr:last-child td {
    border-bottom: solid 0px #EEE;
    padding-top: 0px;
    padding-bottom: 0px;
}

.SimpleFileUpload .filelist tr td:first-child {
    padding-right: 0px;
}

.gsbody_inner.gs_user_level_100 .gs_language_selection {
    display: inline !important;
}

.ProductSearch {
    display: none;
}

.gsactivetab {
    background-color: #efefef;
}

.gstabcontent {
    border: solid 1px #DDD;
    border-top: solid 0px #DDD;
    
    padding-left: 20px;
    padding-right: 20px;
    background-color: #efefef;
    color: #696969;
    padding: 20px;
}

.gstabbtn {
    border-bottom: solid 0px;
    border: solid 1px #DDD;
    border-bottom: solid 0px #DDD;
    color: #FFF;
    padding: 10px;
    background-color: #ef7f3e;
}

.gstabbtn.gsactivetab {
    background-color: #EFEFEF;
    color: #696969;
}

.gstabcontent .ImageDisplayer {
    border: solid 5px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #FFF;
    padding: 20px;
    width: 100px;
    margin-bottom: 20px; 
}
.ui-datepicker { z-index: 111113 !important; }

.gsbody_inner[pageId="d0213319-1b19-4187-a6cd-aba065bdf30f"] table td {
    font-size: 18px;
}
.gsbody_inner[pageId="d0213319-1b19-4187-a6cd-aba065bdf30f"] table td:first-child {
    width: 20px;
}

.gsbody_inner[pageId="d0213319-1b19-4187-a6cd-aba065bdf30f"] .filelist tr:last-child td {
    padding: 10px
}

.CompanyOwnerChangeUserList .changeuser {
    background-color: #EEE;
    padding: 10px;
}
@media only all and (max-width: 800px) {
    
    .gsarea[area="body"] {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .mobilenavigatemenu {
        text-align: right;
    }
    
    /* Frontpage grey box */
    .gsucell_outer[cellid="c3dc94e5-3942-4740-953a-4d1881a4f163"] iframe { width: 100% !important; }
    
    
    .gsucell_outer[cellid="9949fd02-4057-4976-8c4e-2117bc09ba6b"] .gsucell .gsinner,
    .gsucell_outer[cellid="5e60127a-0b75-46e9-9101-e4696d96da25"] .gsucell .gsinner,
    .gsucell_outer[cellid="a3e8a610-4249-4503-8bb4-7c4e491a8c74"] .gsucell .gsinner,
    .gsucell_outer[cellid="c3dc94e5-3942-4740-953a-4d1881a4f163"] .gsucell .gsinner {
        padding: 0px !important;
    }
    
    /* End frontpage grey box */
    
    .gsucell_outer[cellid="9949fd02-4057-4976-8c4e-2117bc09ba6b"] .gsucell,
    .gsucell_outer[cellid="5e60127a-0b75-46e9-9101-e4696d96da25"] .gsucell,
    .gsucell_outer[cellid="a3e8a610-4249-4503-8bb4-7c4e491a8c74"] .gsucell,
    .gsucell_outer[cellid="2af236a7-f62c-4bed-88cf-36a26e72ecbd"] .gsucell,
    .gsucell_outer[cellid="3bcc4547-f6e5-41e6-9151-628cf3e59e0a"] .gsucell,
    .gsucell_outer[cellid="aa0c9c4f-f2cf-475a-90d5-d037c9ae0707"] .gsucell,
    .gsucell_outer[cellid="96769012-8c4d-40a6-b64d-4f5d2e58c719"] .gsucell,
    .gsucell_outer[cellid="b5795d5f-b261-48f2-8097-093bed1d7624"] .gsucell,
    .gsucell_outer[cellid="d9393542-0993-4ebc-86a4-54d8fd07d2fa"] .gsucell,
    .gsucell_outer[cellid="0e4b9a19-9503-4a32-a24a-5db1de5d9230"] .gsucell,
    .gsucell_outer[cellid="b3f11efd-a28f-47c8-8ae7-d468318e32af"] .gsucell,
    .gsucell_outer[cellid="b9f9f696-10f8-4852-ad68-e9d611762492"] .gsucell,
    .gsucell_outer[cellid="f025ea86-47d9-453b-92c9-a428ce7f6747"] .gsucell,
    .gsucell_outer[cellid="784d1415-827b-4774-80cc-10348ad69284"] .gsucell,
    .gsucell_outer[cellid="3072a358-4e8a-494a-859e-c18e5e01ee71"] .gsucell,
    .gsucell_outer[cellid="f086645f-2eaf-42c0-9ac9-4ca593fb5dd1"] .gsucell,
    .gsucell_outer[cellid="cd14d66d-c0fd-44db-8ea4-7a55193b0ba3"] .gsucell,
    .gsucell_outer[cellid="1cb3c1b4-e357-4783-a732-14b898ff76c1"] .gsucell,
    .gsucell_outer[cellid="35781adc-bfeb-435d-b3ae-6a2ba40cc395"] .gsucell,
    .gsucell_outer[cellid="b7adcaba-b829-4acc-953d-83f56936d27f"] .gsucell,
    .gsucell_outer[cellid="a37a34e9-7ca1-4995-8f31-0e2b6227f3bf"] .gsucell,
    .gsucell_outer[cellid="c3dc94e5-3942-4740-953a-4d1881a4f163"] .gsucell,
    .gsucell_outer[cellid="04228544-7656-4d4a-93df-bce8b122e3ad"] .gsucell {
        display: block !important;
        float: none !important;
        width: 100% !important;
        padding: 0px !important;
        margin-bottom: 20px! important;
    }
    
    
    .gsucell_outer[cellid="b7adcaba-b829-4acc-953d-83f56936d27f"] .gsucell .displayimagecontainer {
        text-align: center;
    }
 
    .gscell_505.gsucell,
    .gscell_581.gsucell {
        width: 100% !important;
    }
}