.gs_page_width { max-width: 1200px; margin: auto; }
.Menu a { font-size: 16px; font-weight: bold; color:#18bbb1; padding-right: 30px; display:inline-block; }
.Menu .lastentry a { padding-right: 0px; }
.Menu .entries .entries a { width: 200px; }
body {    
    background-color: #FFF; padding-top: 10px; font-size: 18px; 

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.gsarea[area="header"] .gs_page_width { height: 220px;  border-bottom: solid 2px #FFA500; margin-bottom: 20px; }
.gsarea[area="footer"] .gs_page_width { background-color:#000;
                                        padding-top: 20px;
                                        padding-bottom: 20px;
    background: #f58348; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f58348, #fbbea0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f58348, #fbbea0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f58348, #fbbea0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f58348, #fbbea0); /* Standard syntax */
    color:#fff;
}
.News .news_container { border-bottom: solid 2px; padding-bottom: 10px; margin-bottom: 10px; box-sizing: border-box; }
.News .newstext { font-style: italic; }
h2 { margin: 0px; color: #28b4af; margin-top: 5px; margin-bottom: 5px; }
.gs_language_selection { right: 0px; border: 0px; }

.SimpleFileUpload .uploadform { display: inline-block; width: 50%; float:left;}
.SimpleFileUpload .filelist { display: inline-block; width: 100%;  box-sizing: border-box; float:left; padding: 10px; background-color:#d7d8da;}
.SimpleFileUpload .filelist.withwacces { width: 50%;  }
.Logout .loggedonmarker { padding: 10px; border-radius: 10px; background-color:#939598; color:#fff; font-weight: bold; padding-left: 30px; padding-right: 30px; margin-right: 20px; font-size: 14px;}
.Logout .logoutclick { color: #8194c1; cursor: pointer; }
.Login { display:inline-block; }

.gs_language_code.active {
    font-weight: bold;
}


.gs_language_code { 
    background-repeat: no-repeat; 
    font-size: 0px; 
    height: 35px; width: 35px; 
    padding:0px !important; 
    margin-left: 10px; 
    background-repeat: no-repeat; 
    background-position: top right;
}
.gs_lang_code_nb_NO { background-image: url('https://skytec.getshop.com/displayImage.php?id=eeeff579-0b75-483a-9574-725a0c29fead'); background-size: 33px 33px; }
.gs_lang_code_en_en { background-image: url('https://skytec.getshop.com/displayImage.php?id=a1626d35-83cc-49c7-9c35-60a0f9784b05'); background-size: 33px 29px; background-position: 0px 2px;}

.shop_button { border: solid 1px #DDD; padding: 10px; line-height: 20px; height: 20px; padding-left: 20px; padding-right: 20px;}

.Menu .entries {
    background-color: #FFF;
    padding-top: 10px;
}

.Menu .entries .entries {
    padding-top: 0px;
}
.Menu .entries .entries .entry {
    padding: 5px;
    border-bottom: solid 1px rgba(0,0,0,0.1) !important;
}

.Menu .entries .entries .entry:last-child {
    border-bottom: solid 0px;
}

.Menu .entries .entries div:hover {
    color: #000;
}
.Menu .entries .entries div {
    color: #696969;
    font-size:12px;
    font-weight: normal;
}

.Menu .entries .entries {
    border: solid 1px #bbb;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.News .newsboxtemplate_1 .news_container, .News .grid-sizer { width: 375px; }
.News .newsboxtemplate_1 .news_container img { max-width: 100%; }


.News .addnewsrow {
    border: solid 1px #ddd;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.News .addnewsrow td {
    font-size: 16px;
}

.News .content { color: #696969 !important; }
.News .news_dates { font-size: 12px !important; }

.Menu .entry.active a {
    color: #333;
}

.ProductSearch .searchField i,
.ProductSearch .searchField input {
    border: solid 1px #ffa500;
    height: 35px;
    box-sizing: border-box;
    vertical-align: top;
}

.ProductSearch .searchField i {
    width: 35px;
}
.ProductSearch {
    text-align: right;
}