.gss_upload_file_to_row {
    position: absolute;
    right: 20px;
    top: 20px;
}

.gss_upload_file_to_row {
    position: absolute;
    right: 20px;
    top: 20px;
}

.gss_delete_manual_added_event {
    position: absolute;
    right: 80px;
    top: 20px;
}