.ColumnProducts { padding-left: 5px; }
.ColumnProducts .image { text-align: center; }
.ColumnProducts img { width: 150px; }
   
.ColumnProducts .header { 
    margin-top: 10px;
    width: inherit;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    height: 25px; 
    background-image: none;
    background-color: inherit;
}

.ColumnProducts .entry {
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: dashed 1px #CCC;
}

.ColumnProducts .entry .title {
    text-align: center;
    font-weight: bold;
}

.ColumnProducts .price {
    text-align: right;
    font-weight: bold;
}

.ColumnProducts .entry .no_image {
    height: 80px;
    padding-top: 50px;
    width: 150px;
}