.SedoxMasterSlave .sedox_blue_button {
    height: 45px;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    padding: none;
}

.jstree-hidden {
    display: none !important;
}

.SedoxMasterSlave .half_width {
    width: 50%;
    display: inline-block;
}

.SedoxMasterSlave .hierarchy_container input[type=text] {
    padding: 10px;
    border: solid 2px #EEE;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-left: 45px;
    width: 50%;
}

.SedoxMasterSlave .hierarchy_container .jstree {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.SedoxMasterSlave .searchtitle {
    font-size: 24px;
    font-weight: normal;
    margin-left: 45px;
    margin-top: 30px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #626b7a;
}

.SedoxMasterSlave .informationtitle {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #2D3C54;
    text-transform: uppercase;
}

.SedoxMasterSlave .information_container {
    top: 30px;
    position: absolute;
    background-color: #f9fafc;
    border: solid 1px #e4ebf1;
    width: 45%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #626b7a;
}

.SedoxMasterSlave .information_container .gs_datalist_input {
    padding: 10px;
    border: solid 2px #EEE;
    border-radius: 8px;
    width: 200px;
}

.SedoxMasterSlave .income_input {
    padding: 10px;
    border: solid 2px #EEE;
    border-radius: 8px;
    width: 200px;
    text-align: right;
    height: 6px;
}

.SedoxMasterSlave .information_data {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.SedoxMasterSlave .aligned_data {
    float: right;
}

.SedoxMasterSlave .save_information {
    width: 100px;
    margin-bottom: 15px;
}

.SedoxMasterSlave .add_slave {
    width: 110px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    padding: 0;
    float: right;
}

.ui-autocomplete {
    width: 220px !important;
    height: 184px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.SedoxMasterSlave .checkbox {
    position: relative;
    min-height: 25px;
    text-align: left;
}

.SedoxMasterSlave .checkbox input[type=checkbox]{
    visibility: hidden;
}

.SedoxMasterSlave .checkbox label {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background-color: white;
    margin-top: 2px;
}

.SedoxMasterSlave .checkbox label:after {
    content: '';
    width: 7px;
    height: 3px;
    position: absolute;
    top: 4px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.SedoxMasterSlave .checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.SedoxMasterSlave .text_data {
    margin-right: 5px;
    font-weight: normal;
}

.SedoxMasterSlave .data_description {
    display: inline-block;
    margin-top: 5px;
}

.SedoxMasterSlave .income_data {
    margin-top: 15px;
}

.SedoxMasterSlave .dealersegment {
    margin-top: 30px;
    border-top: 1px solid #e4ebf1;
    padding-top: 10px;
}

.SedoxMasterSlave .add_slave ~ .aligned_data {
    float: left;
}

.SedoxMasterSlave .add_slave ~ .aligned_data > .gs_datalist_input {
    height: 6px;
}

.SedoxMasterSlave .dealersegment ~ .information_data {
    height: 30px;
    margin-bottom: 15px;
}

.SedoxMasterSlave .float-left {
    float: left;
}

.SedoxMasterSlave .float-right {
    float: right;
}

.SedoxMasterSlave .slave_information {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

.SedoxMasterSlave .slave_options {
    border-left: 1px solid #626b7a;
    border-right: 1px solid #626b7a;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.SedoxMasterSlave .delete_slave {
    display: inline-block;
    margin-left: 15px;
}

.SedoxMasterSlave .delete_slave i:hover {
    color: #8C9096;
    cursor: pointer;
}

.SedoxMasterSlave .comment_input {
    padding: 10px;
    border: solid 2px #EEE;
    border-radius: 8px;
    width: 200px;
    resize: none;
    height: 80px;
}

.SedoxMasterSlave .comment_data {
    height: 90px;
    margin-top: 10px;
}

.SedoxMasterSlave .jstree-closed > a {
    font-weight: bold;
}

.SedoxMasterSlave .jstree-open > a {
    font-weight: bold;
}

.SedoxMasterSlave .slave_name:hover {
    color: #8C9096;
    cursor: pointer;
}

.SedoxMasterSlave .master_name:hover {
    color: #8C9096;
    cursor: pointer;
}