.CrmCustomerView .crmmenuentry {  
    border-bottom: 2px dotted #82cdf3;
    padding-left: 1px;
    padding-right: 1px;
    padding: 3px; 
    cursor:pointer;
    margin-bottom: 10px;
    padding-bottom: 5px;
 }
.CrmCustomerView .attacheddiscountcode { border: solid 1px #bbb; display:inline-block; padding: 7px; margin: 3px; border-radius: 3px; cursor:pointer; }
.CrmCustomerView .attacheddiscountcode i { display:none; }
.CrmCustomerView .attacheddiscountcode:hover i { display:inline-block; }
.CrmCustomerView .primarydiscountcode { font-weight: bold;}
.CrmCustomerView .chosendiscountcode { color:green; }
.CrmCustomerView .companydetailsarea { height: 263px; }
.CrmCustomerView .header { font-size: 20px; border-bottom: solid 2px #000; width:100%; line-height: 30px; padding-bottom: 10px; margin-bottom: 10px; }
.CrmCustomerView .footer { padding-top: 10px; text-align: right; }
.CrmCustomerView .selectedmenuentry { 
    border-bottom: 2px dotted transparent;
    background-color: #2a324e;
    color: #FFF;
    border-radius: 20px;
    border: solid 0px;
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.UserAccountSettings .GetShopModuleTable .settingsarea .col1 { text-align: left; width: 200px; }

.CrmCustomerView .checkbox { width: 20px; height: 20px; }
.CrmCustomerView .bookings .col { width: 120px !important; }
.CrmCustomerView .rowinput { text-align: right; }
.CrmCustomerView .largecheckbox { width: 25px; height: 25px; }
.CrmCustomerView .paymentmethodbtn {
    border: solid 1px;
    margin-left: 5px;
    padding: 3px;
    border-radius: 3px; 
    color:#bbb;
    display:inline-block;
    cursor:pointer;
}
.CrmCustomerView .paymentmethodbtn.selected {
    color:green;
}