.OrderSimplerPrinter_inner .orderheader div {
    display: inline-block;
}

.OrderSimplerPrinter_inner .cartitemrow {
    display: block;
    padding-left: 20px;
}
.OrderSimplerPrinter_inner .cartitemrow .priceandcount,
.OrderSimplerPrinter_inner .cartitemrow .productname {
    display: inline-block;
}

.OrderSimplerPrinter_inner .cartitemrow .priceandcount .price,
.OrderSimplerPrinter_inner .cartitemrow .priceandcount .count {
    display: inline-block;
}

.OrderSimplerPrinter_inner {
    padding-top: 5px;
    border-bottom: solid 1px #CCC;
    padding-bottom: 5px;
}

.OrderSimplerPrinter_inner.lastrow { 
    border: solid 0px;
}

.OrderSimplerPrinter_inner .cartitemrows {
    display: none;
}

.OrderSimplerPrinter_inner .orderheader .orderid {
    width: 100px;
}

.OrderSimplerPrinter_inner .orderheader .cost {
    width: 100px; 
}

.OrderSimplerPrinter_inner .orderheader .createdby {
    width: 150px; 
}

.OrderSimplerPrinter_inner .extrainformation {
    display: block !important;
    padding-left: 40px;
    font-style: italic;
}