<div class="footermenu">
    <div class='moremenu'>
        <div>
            <div class="menuentry col3" ng-mobile-click="showDoors()">
                <i class="fa fa-sign-in"></i>
                Doors
            </div>
            <div class="menuentry col3" ng-mobile-click="goToMasterCodes()">
                <i class="fa fa-key"></i>
                Master codes
            </div>
            <div class="menuentry col3" ng-mobile-click="showMessages()">
                <i class="fa fa-comment"></i>
                Incoming messages
            </div>
        </div>
    </div>
    <div class="menuentry col3" ng-mobile-click="logOut()">
        <i class="fa fa-lock"></i>
        Logout
    </div>
    <div class="menuentry col3" ng-mobile-click="goToNewAccess()">
        <i class="fa fa-plus"></i>
        New access
    </div>
    <div class="menuentry col3" ng-mobile-click="showMore()">
        <i class="fa fa-bars"></i>
        More
    </div>
</div>