<div class="gsview home">
    <div class="informationbox">
        Hello {{ name }}, below you all that has access to your propertie(s).
        <br/>Note, keep this list clean as possible.
    </div>
    
    <div ng-if="loadingList">
        <i class="fa fa-spin fa-spinner"></i> Loading list, please wait..
    </div>
    <div ng-if="accessList.length == 0" class="noaddedyet">
        No entries added yet, add one by pressing "+" New access at the menu in the bottom.
    </div>
    
    <div ng-repeat="access in accessList" class='accessentry' ng-mobile-click='showAccess(access)'>
        <div class='doorName'>{{ access.door.name }}</div>
        <div class='guestName'>{{ access.name }}</div>
        <div class='phone'><i class='fa fa-phone'></i> +{{ access.prefix }} {{ access.phoneNumber }}</div>
        <div class='code'> <i class='fa fa-key'></i> {{ access.code }} </div>
        
        <div class='rowbutton red' ng-mobile-click='deleteAccess(access)'>
            <i class='fa fa-trash'></i>
        </div>
        
        <div class='rowbutton green chatbutton'>
            <i class='fa fa-comment'></i>
        </div>
    </div>
    
</div>
