/* 
    your css goes here
*/
#informationbox.GoogleMaps .container {  padding: 10px;  }
#informationbox.GoogleMaps .title { font-weight: bold; font-size: 16px; }
#informationbox.GoogleMaps .positionright { float:right; }
#informationbox.GoogleMaps .row { clear:both; }
#informationbox.GoogleMaps .description { width: 455px; }
#informationbox.GoogleMaps .templaterow { display:none;}
.GoogleMaps { height: 100%; }
.GoogleMaps .applicationinner { height: 100%; }
.GoogleMaps .googlemapcanvas { height: 100%; }