.PmsSearchBox {
    text-align: right;
    padding-right: 20px;
}
.PmsSearchBox .advancesearch { display:none; }
.PmsSearchBox .advanceserachbuttonenabled { color: #82cdf3; }
.PmsSearchBox .roomtypeselection { position:absolute; border: solid 1px; background-color:#fff; border: solid 1px; z-index: 1; color:#000; min-width: 500px; max-width: 1000px; right: 0px; clear:both; display: none;}
.PmsSearchBox .roomtypeselection .type { padding: 4px; font-size: 16px; clear:both;}
.PmsSearchBox .addtofilterrow {
    border-bottom: solid 1px #efefef;
    padding: 5px;
    background-color:#fff;
    cursor:pointer;
}
.PmsSearchBox .dailydaterangepicker .header {
    display:none;
    border-bottom: solid 1px;
    text-align: center; 
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.PmsSearchBox .dailydaterangepicker .header:hover {
    font-weight: normal;
    cursor:initial;
}
.PmsSearchBox .dailydaterangepicker {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    width: 200px;
    background-color: #fff;
    top: 40px;
    text-align: left;
    padding: 10px;
    display:none;
    border: solid 1px #bbb;
}
.PmsSearchBox .dailydaterangepicker div:hover {
    font-weight: bold;
    cursor:pointer;
}
.PmsSearchBox .fa-trash-o {
    position: inherit; cursor:pointer;
    padding-right: 5px;
    margin-right: 2px;
    font-size: 16px;
}
.PmsSearchBox .otherselection {
    position: absolute;
    display: inline-block;
    display:none;
    width: 280px;
    font-size:12px;
    border: solid 1px #bbb;
    z-index: 2;
    right: 0px;
    background-color: #efefef;
    color: #000;
    padding:10px;
}
.PmsSearchBox .otherselectionheading {    border-bottom: solid 1px #bbb;
    padding-bottom: 5px;
    margin-bottom: 5px; 
}

@media screen and (max-width: 800px) {
    .GetShopModuleTableHeader,
    .tablefilterinput { display:none; }
    .PmsSearchBox { margin-bottom: 10px; border-bottom: solid 1px; padding-bottom: 10px; padding-top: 10px; }
    .PmsSearchBox .dailydaterangepicker { top: 200px; font-size: 20px; width:100%;box-sizing: border-box; width: auto;}
    .gs_headerbox { width: 100%; margin-left: 20px; margin-right: 20px; margin-bottom: 5px; }
    .gs_headerbox .shop_button { width: 20%; font-size: 10px; float:left; }
    .gs_headerbox .opensimplesearch { line-height:15px; }
    .PmsSearchBox .roomtypeselection { min-width:100%; }
    
    .PmsSearchBooking .headercol {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;  }
    .PmsSearchBooking .col_reg,
    .PmsSearchBooking .col_guest,
    .PmsSearchBooking .col_visitor,
    .PmsSearchBooking .col_price
    { display:none; }
    .PmsSearchBooking .GetShopModuleTable { font-size: 11px; }
    .PmsSearchBooking .GetShopModuleTable .col_visitor { width: calc(100% - 350px) !important; }
    .PmsSearchBooking .GetShopModuleTable .headercol.col_visitor { width: calc(100% - 350px) !important; }
    
    .PmsSearchBooking .GetShopModuleTable .attributeheader.datarow .col, 
    .PmsSearchBooking .GetShopModuleTable .datarow_inner .col {
        width: 14% !important;
    }
}