.SalesPointNewSale .group .inner,
.SalesPointNewSale .product .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.SalesPointNewSale {
    padding-left: 100px;
}

.SalesPointNewSale .group,
.SalesPointNewSale .product {
    width: 100px;
    height: 70px;
    display: inline-block;
    border: solid 3px #FFF;
    vertical-align: top;
    text-align: center;
    background-color: #4854ae;
    color: #FFF;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    position: relative;
}


.SalesPointNewSale .group {
    background-color: #91f07c;
    color: black;
    height: 70px;
    width: 80px;
}

.SalesPointNewSale .product:hover {
    background-color: #303fa8;
}

.SalesPointNewSale .leftmenu,
.SalesPointNewSale .productlistouter,
.SalesPointNewSale .rightmenu {
    display: inline-block;
    vertical-align: top;
}

.SalesPointNewSale .rightmenu {
    margin-top: 50px;
}

.SalesPointNewSale .leftmenu {
    width: 100px;
    background-color: #23314e;
    color: #FFF;
    text-align: center;
    min-height: calc(100% - 86px);
    padding-top: 67px;
    position: fixed;
    left: 0px;
}

.SalesPointNewSale .productlistouter {
    width: calc(100% - 300px);
    box-sizing: border-box;
    padding: 50px;
    padding-top: 5px;
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
}

.SalesPointNewSale .rightmenu {
    width: 300px;
    background-color: #f4f4f4;
    min-height: calc(100% - 86px);
    border-left: solid 1px #DDD;
    box-sizing: border-box;
    margin-top: 68px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.SalesPointNewSale .topmenu .entry,
.SalesPointNewSale .leftmenu .entry {
    border-top: solid 1px #222;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 11px;
    min-height: 46px;
}

.SalesPointNewSale .topmenu .entry i,
.SalesPointNewSale .leftmenu .entry i {
    display: block;
    font-size: 25px;
}

.SalesPointNewSale .leftmenu .entry.tabnotactive {
    color: #888;
}

.SalesPointNewSale .header {
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    background-color: #DDD;
    margin-top: -8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
}

.SalesPointNewSale .notabopen_desc {
    font-size: 16px;
    padding-top: 30px;
}

.SalesPointNewSale .notabopen {
    font-size: 30px;
    color: red;
}

.SalesPointNewSale .taboperationoverlay_outer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}

.SalesPointNewSale .taboperationoverlay {
    position: fixed;
    left: 150px;
    top: 100px;
    min-height: 500px;
    right: 150px;
    background-color: #FFF;
}

.SalesPointNewSale .buttonsarea {
    text-align: center;
}


.SalesPointNewSale .headertext {
    padding: 50px;
    text-align: center;
    font-size: 30px;
}

.SalesPointNewSale .tabcreateinfo {
    padding: 10px;
    background-color: #DDD
}

.SalesPointNewSale .cancelcreatenew {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    
    font-size: 30px;
    
    box-sizing: border-box;
    
    background-color: #FFF;
    position: fixed;
    right: 140px;
    top: 90px;
    
    border: solid 2px #999;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.SalesPointNewSale .tablistcontent {
    padding: 50px;
    height: 500px;
    overflow-y: scroll;
}
.SalesPointNewSale .tablist  {
    border-bottom: solid 1px #DDD;
}

.SalesPointNewSale .tablist .col  {
    display: inline-block;
    width: 200px;
    font-size: 16px;
    line-height: 30px;
    
}

.SalesPointNewSale .tablist .cartitemsize {
    width: 100px;
}

.SalesPointNewSale .tablist .createddate {
    width: 300px;
}

.SalesPointNewSale .cartitemline {
    border-bottom: solid 1px #DDD;
    cursor: pointer;
}

.SalesPointNewSale .cartitemline:hover {
    background-color: #DEDEDE;
}

.SalesPointNewSale .cartitemline .details {
    display: none;
    padding: 5px;
    padding-left: 10px;
}

.SalesPointNewSale .cartitemline .details input {
    width: 50px;
    height: 24px;
    text-align: center;
}

.SalesPointNewSale .cartitemline .col {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.SalesPointNewSale .cartitemline .col.count { width: 50px; padding-left: 10px; }
.SalesPointNewSale .cartitemline .col.productname { width: calc(100% - 140px); }
.SalesPointNewSale .cartitemline .col.price { width:90px; text-align: right;}

.SalesPointNewSale .header2 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.SalesPointNewSale .tabtotal {
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

.SalesPointNewSale .leftmenuseperator {
    background-color: #EEE;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    color: #333;
}

.SalesPointNewSale .entry.taboperation {
    background-color: #EEE;
    border-top: solid 1px #DDD;
    border-right: solid 1px #DDD;
    color: #333;
}

.SalesPointNewSale div.entry.taboperation:first-child {
    border-top: solid 0px;
}

.SalesPointNewSale .information {
    font-size: 25px;
    text-align: center;
    color: red;
    padding: 40px;
}

.SalesPointNewSale h2 {
    position: relative;
    padding: 10px;
    margin: 0px;
    background-color: #DDD;
}
.SalesPointNewSale .movebuttons {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    display: none;
}

.SalesPointNewSale .movebuttons .viewconfig .entry .entry_choice {
    cursor: pointer;
    padding-left: 5px;
}

.SalesPointNewSale .movebuttons .viewconfig .entry {
    padding: 5px;
}

.SalesPointNewSale .movebuttons .viewconfig {
    background-color: #DDD;
    font-size: 13px;
    font-weight: normal;
    display: none;
}

.SalesPointNewSale h2:hover {
    background-color: #DDD;
}
.SalesPointNewSale h2:hover .movebuttons {
    display: block;
}
.SalesPointNewSale .multitaxsupport {
    display: none;
}

.SalesPointNewSale .topmenu .entry {
    color: #FFF;
    width: 80px;
    border-left: solid 1px rgba(255,255,255,0.3);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
    height: 67px;
}

.SalesPointNewSale .topmenu {
    height: 67px;
    background-color: #0d152f;
    text-align: right;
    position: fixed;
    z-index: 1;
    width: calc(100% - 100px);
}

.SalesPointNewSale .topmenu .entry span {
    display: block;
    font-size: 25px;
}

.SalesPointNewSale .topmenu .entry.active {
    color: green;
}

.SalesPointNewSale .productlistinner {
    font-size: 14px;
}

.SalesPointNewSale .menuviewlist {
    background-color: #0d152f;
    width: 200px;
    right: 0px;
    position: absolute;
    display: none;
}

.SalesPointNewSale .menuviewlist .listname {
    line-height: 40px;
    font-size: 14px;
    border-bottom: solid 1px #FFF;
    text-align: left;
    padding-left: 10px;
}

.SalesPointNewSale .table {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 11px;
    min-height: 46px;
    border: solid 1px #DDD;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 4px;
    background-color: #0d152f;
    color: #333;
}

.SalesPointNewSale .title {
    margin-bottom: 10px;
    line-height: 0px;
    padding-top: 6px;
}

.SalesPointNewSale .explenation {
    padding-left: 10px;
    margin-bottom: 20px;
}
.SalesPointNewSale .explenation .text {
    line-height: 20px;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}

.SalesPointNewSale .explenation .color {
    vertical-align: top;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid 1px #AAA;
}

.SalesPointNewSale .table.green,
.SalesPointNewSale .explenation .color.green {
    background-color: #1ccf52;
}

.SalesPointNewSale .table.yellow,
.SalesPointNewSale .explenation .color.yellow {
    background-color: #b5ff87;
}

.SalesPointNewSale .cash_disabled {
    color: grey !important;
}

.SalesPointNewSale .checkboxinner {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 100px;
    
}

.SalesPointNewSale .checkboxinner .fa-check-circle {
    display: none;
}
.SalesPointNewSale .checkboxinner .fa-circle {
    display: block;
    color: #2a324e;
}

.SalesPointNewSale .checkboxinner.checked .fa-circle {
    display: none;
}

.SalesPointNewSale .checkboxinner.checked .fa-check-circle {
    display: block;
}

.SalesPointNewSale .checkboxinner i {
    font-size: 23px;
}

.SalesPointNewSale .productionbuttonarea {
    padding: 4px;
    margin-top: 40px;
}

.SalesPointNewSale .productionbuttonarea .shop_button {
    padding: 4px;
    width: 200px;
    line-height: 50px;
    height: 50px;
}

.SalesPointNewSale .row_for_extras {
    padding-left: 10px
}

.SalesPointNewSale .taxrates {
    text-align: left;
    padding-left: 10px;
}

.SalesPointNewSale .oldprice {
    margin-right: 10px;
    text-decoration: line-through;
}

.SalesPointNewSale .tabmenu .gs_shop_small_icon {
    text-align: center;
    padding: 3px;
    margin-left: 5px;
}

.SalesPointNewSale .productlist.isgroup {
    display: none;
}

.SalesPointNewSale .product_list_inner {
    padding: 10px;
}

.SalesPointNewSale .tabmenu.paymentmethods {
    text-align: center;
}

.SalesPointNewSale .outpaymentmethod {
    width: 83px;
    line-height: inherit !important;
    vertical-align: top;
    margin-top: 8px;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.SalesPointNewSale .cashpointindicatorname {
    position: fixed;
    bottom: 0px;
    line-height: 20px;
    text-align: center;
    background-color: #ffe18c;
    left: 0px;
    right: 0px;
}

.SalesPointNewSale .printmenu .entry.taboperation {
    background-color: #29354e;
    color: #FFF;
}

.SalesPointNewSale .printmenu {
    background-color: #EEE;
    display: none;
}

.SalesPointNewSale .orderrow {
    padding: 10px;
    font-size: 15px;
    border-bottom: solid 1px #DDD;
}
.SalesPointNewSale .orderrow .col {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}


.SalesPointNewSale .orderrow .col.orderid {
    width: 100px;
}

.SalesPointNewSale .orderrow .col.date {
    width: 200px;
}

.SalesPointNewSale .orderrow .col.total {
    width: 100px;
}

.SalesPointNewSale .orderrow .col.button {
    padding-top: 0px;
}

.SalesPointNewSale .conference.row {
    border-bottom:solid 1px #DDD;
    padding-left: 20px;
}

.SalesPointNewSale .conference.row .date {
    width: 150px;
}

.SalesPointNewSale .conference.row .name {
    width: calc(100% - 300px);
}

.SalesPointNewSale .conference.row .col {
    display: inline-block;
}

@media (max-width: 1050px) {
    .SalesPointNewSale .topmenu .entry {
        width: 70px;
    }
}