/* 
    your css goes here
*/
.header { position: relative; }
.Logo { position:absolute; right: 20px; display:inline-block; text-align: right; left:auto;  top: 40px; }
.Logo .logo_container { width: auto; height: auto; text-align: right; }
.TopMenu .entry { font-size: 14px; font-weight: 100;  line-height: 80px; padding-right: 10px;}
.header .Login .logged_on_menu { padding: 3px; }
.breadcrumb .breadcrumb-inner {padding-top: 10px; }
.ProductManager .settings { right: 28px; }
.ProductList { position:relative; }
.ProductList .frame { width:1px; z-index: 1; height: 100%; position:absolute;  right: -1px; top: 0px; border-right: solid 1px #BBB;}

.LeftMenu { margin-right: 10px; background-color:#EFEFEF; }
#apparea-left .LeftMenu .menu_0 .menuEntry { background-image: url('{IMAGEFOLDER}/cat-front-icon.png'); background-repeat: no-repeat; background-position: 7px 16px; padding-left: 25px; width: 184px; height: 42px; line-height:42px;  }
#apparea-left .LeftMenu .menu_0 .menuEntry { background-image: url('{IMAGEFOLDER}/cat-front-icon.png'); background-repeat: no-repeat; background-position: 7px 16px; padding-left: 25px; width: 184px; height: 42px; line-height:42px;  }
.breadcrumb .accounting { margin-right: 8px; padding-left: 40px; padding-top: 5px; background-image: url('{IMAGEFOLDER}/shopping_cart.png'); background-repeat: no-repeat;}



#apparea-left .LeftMenu .menu_0 { background-color:#2e64a0; }
.body { background-color:#EEE; }
.mainarea .ProductList, .mainarea .ProductManager { background-color:#FFF; padding: 10px; border: solid 1px #BBB; }
.footer .gs_inner { border-bottom: solid 1px #BBB; }
.header .Login { border-left: solid 1px #BBB; border-bottom: solid 1px #BBB; }
.breadcrumb .breadcrumb-inner, .Footer {border-top: solid 1px #2e64a0; }
.TopMenu a.selected { color: #2e64a0; }
.button .filler, .button-large .filler { background-color: #2e64a0; }
.button ins, .button-large ins {  color:#FFFFFF; }
.skeleton4 .ProductManager .right-wrapper { width: 740px; }
.CategoryList .category_list_inner { border: solid 1px #BBB; }
.TopMenu { left: 20px; }

.skeleton1 .ProductManager .right-wrapper { width: 310px; }
.skeleton2 .ProductManager .right-wrapper { width: 515px; }

.gs_inner { width: 998px; margin:auto; background-color:#EFEFEF; border-left: solid 1px #BBB; border-right: solid 1px #BBB; }
.footer .gs_inner { padding-top: 10px; }
.gs_margin_bottom { margin-bottom: 10px; }
.gs_margin_left { padding-left: 10px; }
.gs_margin_right { padding-right: 10px; }
.gs_row .gs_inner { padding: 10px; width: 978px }

.LeftMenu .menu_0 .menuEntry { background-image: url('{IMAGEFOLDER}/cat-front-icon.png'); background-repeat: no-repeat; background-position: 7px 16px; padding-left: 25px; width: 184px; height: 42px; line-height:42px;  }
.LeftMenu .menu_0 { background-image: url("showApplicationImages.php?appNamespace=ns_00d8f5ce_ed17_4098_8925_5697f6159f66&image=skin/images//glaretop.png");}
