.PsmConfigurationAddons th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}
.PsmConfigurationAddons th {
  border-bottom: solid 1px #ccc;
}

.deactivatedProduct { color:#afafaf; display:none; }

.PsmConfigurationAddons th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
.PsmConfigurationAddons th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.PsmConfigurationAddons tr td {
    border-bottom: solid 1px #fff;
}

.PsmConfigurationAddons tr:hover td {
    border-bottom: solid 1px #ccc;
}

.PsmConfigurationAddons .onlyavailableforitem.selectedItem { 
    color:#000;
}
.PsmConfigurationAddons .onlyavailableforitem { 
    border: solid 1px;
    margin-right: 2px;
    margin-top: 2px;
    cursor:pointer;
    float:left;
    padding: 3px;
    color:#bbb;
}

.PsmConfigurationAddons td { border-right: solid 1px #ccc; width: 40px; text-align: center; }
.PsmConfigurationAddons table { border-bottom: solid 1px #ccc; }
.PsmConfigurationAddons td:first-child { border-left: solid 1px #ccc; padding-left: 5px; }
.PsmConfigurationAddons .includeinroom { background-color:#dbe1ec; border-bottom: solid 1px #dbe1ec; }
.PsmConfigurationAddons .sellonroom { background-color:#7da2e6; border-bottom: solid 1px #7da2e6; }
.PsmConfigurationAddons .extendedinformation { position:absolute; width: 600px; border: solid 1px; background-color:#fff;z-index:1; left:0px; top:15px; display:none; padding: 5px; }
.PsmConfigurationAddons .extendedinformation .settings { float:right; width: 250px; }
.PsmConfigurationAddons .extendedinformation .extendedinforow { clear: both; margin-bottom: 5px; }