.TrackAndTraceRouteManagement .routelist .routeview .servicedate {
    position: absolute;
    right: 10px;
    top: 10px;
}

.TrackAndTraceRouteManagement .routelist .routeview {
    position: relative;
    padding: 5px;
}

.TrackAndTraceRouteManagement .routelist .routeview.started:not(.completed) {
    background-color: #a6ffa7 !important;
    border-bottom: solid 1px #9aee9c;
}

.TrackAndTraceRouteManagement .routelist .routeview.completed.started {
    color: red;
    background-color: #fbff85;
}

.TrackAndTraceRouteManagement .routelist .routeview:nth-child(odd) {
    background-color: #EFEFEF;
}

.TrackAndTraceRouteManagement .routelist .routeview:nth-child(odd).completed.started { 
    background-color: #eaf07c;
}


.TrackAndTraceRouteManagement .addUserRow {
    border-bottom: solid 1px #DDD;
    padding: 3px;
}

.TrackAndTraceRouteManagement .routebox {
    background-color: #EFEFEF;
    padding: 20px;
    margin-top: 20px;
}

.TrackAndTraceRouteManagement .topmenu .shop_button {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    
    box-sizing: border-box;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

    border: solid 1px #DDD;
}

.TrackAndTraceRouteManagement .destinationrow {
    border-bottom: solid 1px #FFF;
    padding: 5px;
}


.TrackAndTraceRouteManagement .tasklist {
    margin-top: 20px;
}
.TrackAndTraceRouteManagement .tasklist .taskrow {
    border-bottom: solid 1px #DDD;
    padding: 5px;
}

.TrackAndTraceRouteManagement .sortings {
    padding: 20px;
    border: solid 1px #DDD;
    margin-bottom: 20px;
}

.TrackAndTraceRouteManagement .tasktypetag {
    width: 50px;
    text-align: center;
    display: inline-block;
    border: solid 1px #DDD;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
}