.TrackAndTraceRouteManagement .routelist .routeview {
    padding: 5px;
}

.TrackAndTraceRouteManagement .routelist .routeview:nth-child(odd) {
    background-color: #EFEFEF;
}

.TrackAndTraceRouteManagement .addUserRow {
    border-bottom: solid 1px #DDD;
    padding: 3px;
}

.TrackAndTraceRouteManagement .drivermanagement {
    background-color: #EFEFEF;
    padding: 20px;
    margin-top: 20px;
}