<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Breakfast list</div>
<div class='row'>
    <div class="input-group">
      <input type="date" class="form-control" ng-model="selectedDay">
      <span class="input-group-addon" id="basic-addon2"  ng-click="updateBreakfastList()">Update</span>
    </div>
</div>


<div class='row ng-hide loading' ng-show="loading"><i class="fa fa-spinner fa-spin"></i></div>

<div class='row ng-hide' ng-show="notfound">
        <div class="col-xs-12">
            Sorry, no entries where found for this date.
        </div>
</div>
<div class='row' style="border-bottom: solid 1px #bbb;"></div>
<div class='row ng-hide breakfastlistrow' ng-show="!loading" ng-repeat="breakfast in breakfastlist">
    <div class="col-xs-1 info">{{breakfast.room}}<br>
    {{breakfast.count}}x</div>
    <div class="col-xs-11">
        {{breakfast.name}}
    </div>
</div>
<div class='row ng-hide' ng-show="!loading">
    <div class="col-xs-10">
        <b>Total number of breakfasts {{breakfastCount}}</b>
    </div>
</div>


<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>