<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Caretaker program</div>
<div class='row' style='padding-top: 20px;'>
    <div class="col-xs-12">
        <span class="changebtn btn btn-success" ng-click="changeView('overview')" view='overview'>Overview</span>
        <span class="changebtn btn btn-info" ng-click="changeView('unassigned')" view='unassigned'>Unassigned tasks</span>
        <span class="changebtn btn btn-info" ng-click="changeView('assigned')" view='assigned'>Assigned tasks</span>
        <span class="changebtn btn btn-info" ng-click="changeView('completed')" view='completed'>Completed tasks</span>
        <span class="changebtn btn btn-info" ng-click="changeView('addtask')" view='addtask'>Add task</span>
        <span class="changebtn btn btn-info" ng-click="changeView('addrepeatingtask')" view='addrepeatingtask'>Repeating task</span>
    </div>
    <div style='clear:both;'></div>
<div ng-show="view === 'addtask'">
    <div style='clear:both;'></div>
    <div class='col-xs-12' style='padding-top: 10px; padding-bottom: 10px;'>
        <select class='form-control' ng-model="selectedRoom" ng-options="item as item.bookingItemName for item in items"></select>
        <textarea ng-model="caretakermsg" class='form-control'></textarea>
        <span class='btn btn-success form-control' ng-click="reportToCareTaker()">Add task</span>
    </div>
</div>
<div ng-show="view === 'addrepeatingtask'">
    <br>
    <div class="row" style="font-weight:bold;">
        <span class="col-xs-12">
            <h1>Add a repeating task</h1>
            <table>
                <tr>
                    <td>Item</td>
                    <td>
                        <select class='form-control' ng-model="selectedRoom" ng-options="item as item.bookingItemName for item in items"></select>
                    </td>
                </tr>
                <tr>
                    <td>Task name</td>
                    <td><input type="text" ng-model="repeatname"></td>
                </tr>
                <tr>
                    <td>Task text</td>
                    <td style='padding-bottom: 20px;'><textarea type="text" ng-model="repeattext" style='width:100%;'></textarea></td>
                </tr>
                <tr>
                    <td>Starting at</td>
                    <td><input type="date" ng-model="repeatstart"></td>
                </tr>
                <tr>
                    <td>Ending at</td><td><input type="date" ng-model="repeatend"></td>
                </tr>
                <tr>
                    <td style='padding-right: 50px;'>Repeating type:</td>
                    <td>
                        <select ng-model="repeattype">
                            <option value="0">Daily</option>
                            <option value="1">Weekly</option>
                            <option value="2">Monthly</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div ng-show="repeattype == '2'">
                            Repeat each <input type='text' ng-model='repeatinterval' value='1' style='width:40px; text-align:center;'> month.
                        </div>
                        <div ng-show="repeattype == '1'">
                            <div><input type="checkbox" ng-model="repeat_mon"> Monday</div>
                            <div><input type="checkbox" ng-model="repeat_tue"> Tuesday</div>
                            <div><input type="checkbox" ng-model="repeat_wed"> Wednesday</div>
                            <div><input type="checkbox" ng-model="repeat_thu"> Thursday</div>
                            <div><input type="checkbox" ng-model="repeat_fri"> Friday</div>
                            <div><input type="checkbox" ng-model="repeat_sat"> Saturday</div>
                            <div><input type="checkbox" ng-model="repeat_sun"> Sunday</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="btn btn-success" style='margin-top: 10px;' ng-click="createRepeatingTask()">Create a new repeating task</span>
                    </td>
                </tr>
            </table>
        </span>
   </div>
    
    <div class="row" style="font-weight:bold;">
        <span class="col-xs-12">
            <h1>Added repeating tasks</h1>
        </span>
    </div>
        
    <div ng-repeat="repeaterData in repeaterList" class="row">
        <span class="col-xs-3"><span class='btn btn-danger' ng-click="removeRepeatingTask(repeaterData)"><i class='fa fa-trash-o'></i></span> {{repeaterData.name}}</span>
        <span class="col-xs-3">{{translateRepeatType(repeaterData.repeaterData.repeatPeride, repeaterData.repeaterData)}}</span>
        <span class="col-xs-3">{{repeaterData.repeaterData.firstEvent.start}}</span>
        <span class="col-xs-3">{{repeaterData.repeaterData.endingAt}}</span>
    </div>
</div>
<div ng-show="view === 'overview'">
    <br>
    <div class='col-md-12' style='margin-bottom: 20px;'><span style='font-size: 16px;'><b>Overview</b></span><br>
        <label>
            <input type="checkbox" ng-model='defectsonly' ng-click="reloadOverview()"> Show only rooms with defects
        </label>
        </div>
    <br><br>
    <div class="row" style="font-weight:bold;">
        <span class="col-xs-3">Name</span>
        <span class="col-xs-3" style="text-align:center;">Assigned</span>
        <span class="col-xs-3" style="text-align:center;">Unassigned</span>
        <span class="col-xs-3" style="text-align:center;">Total</span>
    </div>
    <div ng-repeat="roomview in overView" class="row" style="margin-top: 10px; padding-top: 10px; border-top: solid 1px #bbb;">
        <span class="col-xs-3">{{roomview.roomName}}</span>
        <span class="col-xs-3" style="text-align:center;">{{roomview.assigned}}</span>
        <span class="col-xs-3" style="text-align:center;">{{roomview.unassigned}}</span>
        <span class="col-xs-3" style="text-align:center;">{{roomview.completed}} / {{roomview.total}}</span>
    </div>
</div>
    
<div ng-show="listViewLoaded" style="position:relative;">
    <br>
    <br>
    <div class="assignmentbox">
        <b>Assign task to:</b><br>
        <select class='col-xs-9 form-control' ng-model="assignToUser">
            <option value=''>Assign to me</option>
            <option ng-repeat="caretaker in caretakerlist" value='{{caretaker.id}}'>{{caretaker.fullName}}</option>
        </select>
        <span class='col-xs-3 btn btn-success form-control' ng-click="assignTask();">Assign</span>
    </div>
    <br>
    <div ng-repeat="room in overviewList" class="row" style="padding-top: 10px; border-top: solid 1px #bbb; margin-top: 10px;">
        <span class='col-xs-12'>
            <b>{{room.name}}</b>
            <div ng-repeat="job in room.jobs" class="row" style="padding-left: 20px; padding-top: 5px;">
                <span class='col-xs-12'>
                    <span style='float:right;color:#bbb;' class='hidden-xs hidden-sm' ng-show="job.dateCompleted">Completed by {{job.assignedToName}} at {{job.dateCompleted}}.</span>
                    <span style='float:right;color:#bbb;' class='hidden-xs hidden-sm' ng-show="!job.dateCompleted && job.assignedToName">
                        Assigned to {{job.assignedToName}} at {{job.dateAssigned}}<span class='btn btn-success' ng-click="completeJob(job.id)" style='margin-left: 20px;'><i class='fa fa-check'></i></span>
                    </span>
                    <span class='btn btn-success' style='float:right;' ng-click="displayAssignmentBox($event, job.id)" ng-show="!job.assignedToName && !job.dateCompleted"><i class='fa fa-share' ></i></span>
                    {{job.description}}
                </span>
            </div>
        </span>
    </div>
</div>
<div class='row'><br><br></div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>

<style>
.assignmentbox {
    position:absolute; right: 70px; width: 200px; border: solid 1px #bbb; padding: 10px;z-index: 2; background-color:#fff;display:none;
}
</style>