<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Caretaker program</div>
<div class='row'>
<br>
    <div class='col-md-12'><span style='font-size: 16px;'><b>Things to do</b></span></div>
<br><br>
<div ng-repeat="caretaker in careTakerList" class='caretakerrow row'>
    <div class='row col-md-3'>{{caretaker.rowCreatedDate}}</div>
    <div class='row col-md-3'>{{caretaker.description}}</div>
    <div class='row col-md-3 col-xs-5'>{{caretaker.productName}}</div>
    <div class='row col-md-2 col-xs-5'>{{caretaker.roomName}}</div>
    <div class='row col-md-1 col-xs-2'><span class='btn btn-success' ng-click="completeTask(caretaker)"><i class='fa fa-check'></i></div>
</div>

<div class='row' ng-show="careTakerList.size() === 0">
    <div class='col-md-12'>There is nothing to do</div>
    <br>
    <br>
</div>
<div class='row'><br><br></div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>