<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Cleaning program</div>
<div class='row'>
<br>
    <div class='col-md-10'><span style='font-size: 16px;'><b>Guest checking in today</b></span></div>
    <div class='col-md-2'><span class='btn btn-success'>Report problem</span></div>
<br><br>
</div>
<div style='border-bottom: solid 1px #bbb;'></div>
<div class="row">
    <div ng-repeat="guest in checkInGuests" class='col-xs-12 cleaningrow {{guest.cleaningState}}'>
        {{guest.room}}
        {{guest.guest[0].name}}
        <i class="fa fa-arrow-right" style='float:right;'></i>
        <span style='float:right; padding-right: 20px;' ng-show='guest.hasBeenCleaned'>Ready</span>
        <span style='float:right; padding-right: 20px;' ng-show='!guest.hasBeenCleaned'>Not ready</span>
    </div>
</div>

<div class='row'>
<br>
    <div class='col-md-12'><span style='font-size: 16px;'><b>Guests checking out</b></span></div>
<br><br>
</div>
<div style='border-bottom: solid 1px #bbb;'></div>
<div class="row">
    <div ng-repeat="guest in checkOutGuests" class='col-xs-12 cleaningrow {{guest.cleaningState}}'>
        {{guest.room}}
        {{guest.guest[0].name}}
        <i class="fa fa-arrow-right" style='float:right;'></i>
        <span style='float:right; padding-right: 20px;' ng-show='guest.hasBeenCleaned'>Ready</span>
        <span style='float:right; padding-right: 20px;' ng-show='!guest.hasBeenCleaned'>Not ready</span>
    </div>
</div>

<div class='row'>
<br>
    <div class='col-md-12'><span style='font-size: 16px;'><b>Rooms overview</b></span></div>
<br><br>
</div>
<div class='row'>
    <div ng-repeat="room in rooms" class='col-md-2 col-xs-6'>
        <div class='roombox {{room.inUseState}}'>
            <i class="fa fa-check" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'clean'"></i>
            <i class="fa fa-ban" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'inuse'"></i>
            <i class="fa fa-warning" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'notclean'"></i>
            {{room.bookingItemName}}</div>
    </div>
</div>
<div class='row'><br></div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>