<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Cleaning program</div>

<div class='row' style='text-align: right; padding-top: 5px; padding-right: 5px;'>
    <span class='btn btn-success' ng-click='showReportPanel()'>Message to caretaker</span>
</div>

<div class='row' ng-show='instruction' style="border: solid 1px #CCC !important; padding-top: 10px;">
    <div class='col-md-12'><span style='font-size: 16px;'><b>Cleaning instruction</b></span></div>
    <div class='col-xs-12' ng-bind-html="instruction" style="padding: 20px">
    </div>
</div>

<div class='row' ng-show='reportPanel' >
    <div class='col-xs-12'>
        <select class='form-control' ng-model="selectedRoom" ng-options="item as item.bookingItemName for item in items"></select>
        <textarea ng-model="caretakermsg" class='form-control'></textarea>
        <span class='btn btn-success' class='form-control' ng-click="reportToCareTaker()">Send report</span>
    </div>
</div>

<div ng-repeat="cleaningList in cleaningLists">
    <div class='row'>
    <br>
        <div class='col-md-12' ng-show="cleaningList.type=='checkin'"><span style='font-size: 16px;'><b>Guest checking in today</b></span></div>
        <div class='col-md-12' ng-show="cleaningList.type=='interval'"><span style='font-size: 16px;'><b>Guest needs interval cleaning</b></span></div>
        <div class='col-md-12' ng-show="cleaningList.type=='checkout'"><span style='font-size: 16px;'><b>Guest checking out today</b></span></div>
    <br><br>
    </div>
    <div style='border-bottom: solid 1px #bbb;'></div>
    <div class="row">
        <div ng-repeat="guest in cleaningList.list" class='col-xs-12 cleaningrow {{guest.cleaningState}}'>
            <a ui-sref="cleaningCheckout({  roomName : '{{guest.room}}' })">
                <div>
                    <i class="fa fa-clock-o" ng-show="guest.earlycheckin && cleaningList.type=='checkin'"></i> 
                    <i class="fa fa-home" ng-show="guest.latecheckout && cleaningList.type=='checkout'"></i>
                    <i class="fa fa-user-plus" ng-show="guest.extrabed"></i>
                    <i class="fa fa-bed" ng-show="guest.childbed"></i>

                     {{guest.room}}
                     
                     <i class="fa fa-sign-out" ng-show="printCheckedOut(guest)"></i>
                     <span ng-show="cleaningList.type=='checkin'">{{getCheckinTime(guest.start, guest, false) }}</span>
                    <span ng-show="cleaningList.type=='checkout'">{{getCheckinTime(guest.end, guest, true) }}</span>
                     {{guest.guest[0].name}} 
                    <i class="fa fa-arrow-right" style='float:right;'></i>
                    
                    <span style='float:right; padding-right: 20px;' ng-show='guest.hasBeenCleaned'>Ready</span>
                    <span style='float:right; padding-right: 20px;' ng-show='!guest.hasBeenCleaned'>Not ready</span>
                    <div ng-show="guest.cleaningComment"><i class="fa fa-warning"></i> {{guest.cleaningComment}}</div>
                </div>
            </a>
        </div>
        <div class='col-md-12' ng-show="!cleaningList.list.length" style="border-bottom: solid 1px #bbb; padding: 10px; padding-left: 30px;"><b>No activity for today</b></div>

    </div>
</div>

<div class='row'>
<br>
    <div class='col-md-12'><span style='font-size: 16px;'><b>Red rooms needs to be cleaned</b></span>
    </div>
    
    
<br><br>
</div>
<div class='row'>
    <div ng-repeat="room in rooms" class='col-md-2 col-xs-6'>
        <div class='roombox {{room.inUseState}}' ng-click="toggleCleaningOnRoom(room)">
            <i class="fa fa-check" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'clean'"></i>
            <i class="fa fa-ban" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'inuse'"></i>
            <i class="fa fa-warning" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'notclean'"></i>
            <i class="fa fa-sign-out" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'notcleancheckedout'"></i>
            <i class="fa fa-refresh" style="float:left; margin-left: 5px;margin-top: 3px;" ng-show="room.inUseState === 'needInterval'"></i>
            {{room.bookingItemName}}</div>
    </div>
</div>

<div class='col-md-6'>
    <br><bR><span style='font-size: 16px;'> <b>Explantions:</b></span><br><br>
    <div class='roombox clean' style='text-align: left; display:block; width: 300px; padding: 5px;'><i class="fa fa-check" ></i>&nbsp;&nbsp;&nbsp;Room is clean</div>
    <div class='roombox inuse' style='text-align: left; display:block; width: 300px; padding: 5px;'><i class="fa fa-ban"></i>&nbsp;&nbsp;&nbsp;Room is in use by long therm stay</div>
    <div class='roombox notclean' style='text-align: left; display:block; width: 300px; padding: 5px;'><i class="fa fa-warning"></i>&nbsp;&nbsp;&nbsp;Room is not clean</div>
    <div class='roombox notclean' style='text-align: left; display:block; width: 300px; padding: 5px;'><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Room is not clean(checked out)</div>
    <div class='roombox needInterval' style='text-align: left; display:block; width: 300px; padding: 5px;'><i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;Room need interval cleaning</div>
    
    <div class='row' style='padding: 10px;'>
        <i class="fa fa-clock-o"></i>  Early check in, priority room.<br>
        <i class="fa fa-home"></i> Late check out, can leave later<br>
        <i class="fa fa-user-plus"></i> Additional bed request<br>
        <i class="fa fa-bed"></i> Addition bed for children requested<br>
    </div>

</div>
<div class='col-md-6'>
    <br><bR><span style='font-size: 16px;'> <b>Future view:</b></span><br><br>
    <div>
        <span class="col-xs-6">Date</span>
        <span class="col-xs-2">Checkout</span>
        <span class="col-xs-2">Interval</span>
        <span class="col-xs-2">Total</span>
     </div>
    
    <div ng-repeat="stat in cleaningstats">
        <span class="col-xs-6">{{stat.dateFormatted}}</span>
        <span class="col-xs-2">{{stat.checkoutCleaningCount}}</span>
        <span class="col-xs-2">{{stat.intervalCleaningCount}}</span>
        <span class="col-xs-2">{{stat.intervalCleaningCount + stat.checkoutCleaningCount}}</span>
    </div>
    
</div>


<div class='row'><br></div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>

