<div class='additionalinfo row'>Doors</div>

<div class='row ng-hide loading' ng-show="loading"><i class="fa fa-spinner fa-spin"></i></div>

<div class='row'>
     <div ng-repeat="door in doors" class='col-sm-12 doorlogrow'>
        <div class='col-sm-12'>
            <div class="col-xs-12 col-md-4">
                <b>{{door.name}}</b>
            </div>
            <div class="col-xs-12 col-md-8">
                <a ui-sref="doorlog({{door}})">
                    <span class='dooractionbutton'>
                        <i class="fa fa-tasks"></i>
                        Door log
                    </span>
                </a>
                <span class='dooractionbutton' ng-click="pulseOpen(door.externalId, 'pulseOpen')">
                    <i class="fa fa-heartbeat"></i>
                    Pulse open
                </span>
                <span class='dooractionbutton' ng-click="pulseOpen(door.externalId, 'forceOpenOn')">
                    <i class="fa fa-sign-in"></i>
                    Force open
                </span>
                <span class='dooractionbutton' ng-click="pulseOpen(door.externalId, 'forceOpenOff')">
                    <i class="fa fa-sign-out"></i>
                    Force close
                </span>
            </div>
        </div>
    </div>
</div>
<div class='additionalinfobottom row'></div>