<div class='additionalinfo row'>
    Find a guest
</div>


<div class='row'>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="searchWord" ng-keydown="$event.which === 13 && doSearch(searchWord)" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="doSearch(searchWord)">Find guest</button>
        </span>
    </div>
</div>


<div class='row ng-hide loading' ng-show="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class='row ng-hide' ng-show="notfound">
    <div class="col-xs-12">
        <i class="fa fa-meh-o"></i> No guests found.
    </div>
</div>


<div class="row">
    <div ng-repeat="room in rooms" class='col-xs-12 roomrow {{room.progressState}}' style="border: solid 1px #2f749f;">
        <a ui-sref="guestinfo({ roomid: '{{room.pmsRoomId}}', bookingid: '{{room.bookingId}}' })">
            <span class='col-xs-1 roominfoblock'>
                <div><span class='roominfo'>{{room.room}}</span><br>
                    <i class='fa fa-smile-o' ng-show="{{room.hasArrived}}"></i>
                </div>
            </span>
            <span class='col-xs-5'>
                <div>{{room.owner}}</div>
                <div>Code : <span class='code'>{{room.code}}</span></div>
                <div>Number of guests : <span class='code'>{{room.numberOfGuests}}</span></div>
                
            </span>
            <span class='col-xs-5 guestinfocol'>
                    <div>{{room.guest[0].name}}</div>
                    <div>{{room.guest[0].phone}}</div>
                    <div>{{room.guest[0].email}}</div>
            </span>
        </a>
            <span class='col-xs-1 firecheck'>
                Mark
            </span>
    </div>
    <div style="clear:both;"></div>
    <br>
    <div class="col-xs-12">
        Color descriptions:<br>
        <div class="roomrow notnotstarted">Not started yet</div>
        <div class="roomrow started">Started</div>
        <div class="roomrow ended">Ended</div>
        <div class="roomrow notpaid">Not paid for</div>
        <div class="roomrow waitingforlock">Waiting for clean room</div>
    </div>
</div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>
