<div class='additionalinfo row'>
   <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a> Find a guest
</div>


<div class='row'>
    Search for a guest:<br>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="searchWord" ng-keydown="$event.which === 13 && doSearch(searchWord)" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="doSearch(searchWord)">Find guest</button>
        </span>
    </div>
    <br>
    Or browse a list:<br>
    <select class='form-control' ng-model="filterType">
        <option value='active'>Inhouse</option>
        <option value='activecheckin'>Inhouse + checking in</option>
        <option value='activecheckout'>Inhouse + checking out</option>
        <option value='checkin'>Guest checking in</option>
        <option value='checkout'>Guest checking out</option>
    </select>
    <div class="input-group">
        <input type="date" class="form-control" ng-model="listDate">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="displayList()">Show list</button>
        </span>
    </div>    
</div>


<div class='row ng-hide loading' ng-show="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class='row ng-hide' ng-show="notfound">
    <div class="col-xs-12">
        <i class="fa fa-meh-o"></i> No guests found.
    </div>
</div>


<div class="row">
    <div ng-repeat="room in rooms" class='col-xs-12 roomrow {{room.progressState}}'>
        <a ui-sref="guestinfo({ roomid: '{{room.pmsRoomId}}', bookingid: '{{room.bookingId}}' })">
            <span class='col-xs-2 roominfoblock'>
                <div>
                    <span class='roominfo'>
                        <i class='fa fa-smile-o' ng-show="room.transferredToArx && !room.checkedIn" style='color:black;'>&nbsp;</i>
                        <i class='fa fa-smile-o' ng-show="{{room.checkedIn}}">&nbsp;</i>
                        <i class='fa fa-bell' ng-show="{{room.checkingIntToday}}"></i>
                    </span>
                    {{room.room}}
                    <div><i class='fa fa-users'></i> {{room.numberOfGuests}}</div>
                    <div>{{room.code}}</div>
                </div>
            </span>
            <span class='col-xs-8 guestinfoblock' style='padding-top:5px;'>
                <div class='truncate'>{{room.owner}}</div>
                <div class='truncate'>{{room.guest[0].name}}, {{room.guest[0].phone}}, {{room.guest[0].email}}
                    <span style='float:right; color:#bbb;'>{{convertDate(room.start)}} - {{convertDate(room.end)}}</span>
                </div>
                
            </span>
        </a>
        <i title='Force cleaning' class='fa fa-play' ng-show="room.progressState == 'waitingforlock'" style='position:absolute;left: 60px; top: 5px; font-size: 30px; margin-top: 10px;' ng-click="forceCleaning(room)"></i>
        <span class='col-xs-2 firecheck' ng-class="{'active': isActive}" ng-click="toggleFireCheck($event)">
                Mark
            </span>
    </div>
    <div style="clear:both;"></div>
    <br>
    
    <div class="col-xs-12">
        {{totalcount}} rooms in total.<br>
        {{guestcount}} guests.<br>
    </div>
    <br>
    <br>
    
    <div class="col-xs-12">
        Color descriptions:<br>
        <div class="roomrow notstarted">Not started yet</div>
        <div class="roomrow started active">Started / active</div>
        <div class="roomrow ended">Ended</div>
        <div class="roomrow notpaid">Not paid for</div>
        <div class="roomrow waitingforlock">Waiting for clean room</div>
        <div class="roomrow test">Test mode</div>
    </div>
</div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>
