<!--TODO: Include wubook. -->

<div class='additionalinfo row'>
    <a ui-sref="findguest"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Orders</div>
<div ng-repeat="order in orders" class='orderrow row no-gutter'>
    <div class='col-xs-2'>{{order.incrementOrderId}}</div>
    <div class='col-xs-2'>{{order.amountInc}}</div>
    <div class='col-xs-4'>
        <div ng-show='order.status === 7'>Payed for</div>
        <div ng-show='order.status !== 7'>Not payed for</div>
    </div>
    <div class='col-xs-4' style='text-align:right;'>
        <span class='btn btn-success' div ng-show='order.status === 7' ng-click="doSendReciept(order)">Send reciept</span>
        <span class='btn btn-success' ng-show='order.status !== 7' ng-click="doPayOrder(order)">Make payment</span>
    </div>
</div>

<div class="row" ng-show='booking.forceGrantAccess && !loading'>
    <div class='col-xs-12'>
        Access has been forced. The guests for this booking will be granted access regarding if they have paid for it or not.
    </div>
</div>

<div class="row" ng-show='!booking.forceGrantAccess && !booking.payedFor && !loading'>
    <div class='col-xs-8'>
        If there is unpaid orders and you want to grant access anyway. 
        You can force grant access, the code will be given out even if booking is not fully paid.
    </div>
    <div class='col-xs-4' style='text-align:right;'>
        <span class='btn alert btn-danger' ng-click="forceGrantAccess()">Grant access</span>
    </div>
</div>

<div ng-show='sendRecieptProcess'>
    <div class='additionalinfo row'>Send reciept for order {{recieptOrder.incrementOrderId}}</div>
    <div class='row'>
        <div class='col-xs-5'>Email</div>
        <div class='col-xs-7'><input type="txt" ng-model="recieptEmail" class="form-control" style='width:100%;'></div>
    </div>
    <div class='row'>
        <div class='col-xs-5'></div>
        <div class='col-xs-7'>
            <span class='btn btn-success' style='width:100%;' ng-click="completeSendReciept()">Send reciept</span>
        </div>
    </div>
</div>
<div ng-show='payOrderProcess'>
    <div class='additionalinfo row'>Pay order {{payOrder.incrementOrderId}}</div>
    <div class='row'>
        <div class='col-xs-12'>
            <b>1. Mark order for invoicing (PS: Make sure the bookers information is correct; address, name and birthdate, email and phone number.)</b>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>Note on invoice</div>
    </div>
    <div class='row'>
        <div class='col-xs-12'><textarea style='width:100%; height: 100px;' ng-model="payOrder.invoiceNote"></textarea></div>
    </div>
    <div class='row'>
        <div class='col-xs-8'>
            Send order to invoice
        </div>
        <div class='col-xs-4' style='text-align:right;'>
            <span class='btn btn-success' ng-click="markOrderAsInvoice();">Send order to invoice</span>
        </div>
    </div>
    
</div>

<div class='additionalinfo row'>Bookers information</div>
<div class='row fdsaf'>
    <div class='col-xs-4'>Full name</div>
    <div class='col-xs-8'><input type="txt" ng-model="user.fullName" class="form-control"></div>
</div>
<div class='row'>
    <div class='col-xs-4'>Email</div>
    <div class='col-xs-8'><input type="txt" ng-model="user.emailAddress" class="form-control"></div>
</div>
<div class='row'>
    <div class='col-xs-4'>Prefix</div>
    <div class='col-xs-8'><input type="txt" ng-model="user.prefix" class="form-control"></div>
</div>
<div class='row'>
    <div class='col-xs-4'><a href="tel:+{{user.prefix}}{{user.cellPhone}}"><i class="fa fa-phone" style="color:blue; font-size: 20px;"></i></a> Phone</div>
    <div class='col-xs-8'><input type="txt" ng-model="user.cellPhone" class="form-control"></div>
</div>
<div class='row'>
    <div class='col-xs-4'>Address</div>
    <div class='col-xs-8'><input type="txt" ng-model="user.address.address" class="form-control"></div>
</div>
<div class='row'>
    <div class='col-xs-4'>Postcode</div>
    <div class='col-xs-8'><input type="txt" ng-model="user.address.postCode" class="form-control"></div>
</div>
<div class='row'>
    <div class='col-xs-4'>City</div>
    <div class='col-xs-8'><input type="txt" ng-model="user.address.city" class="form-control"></div>
</div>
<div class='row'>
    <div class='col-xs-4'></div>
    <div class='col-xs-8'><span class="btn btn-success form-control" ng-click="saveUser()">Update user</span></div>
</div>
<div class='additionalinfobottom row'></div>


<div class='additionalinfo row'>Room</div>
<div class='row'>
    <div class='col-xs-4 contactdata'>Room</div>
    <div class='col-xs-8 othercontactdata'><select class="form-control" ng-model='selectedroom'  ng-options="item.id as item.bookingItemName for item in items"></select></div>
</div>
<div class='row'>
    <div class='col-xs-4 contactdata'></div>
    <div class='col-xs-8 othercontactdata'><span class="btn btn-success form-control" ng-click="changeRoom(selectedroom)">Change room</span></div>
</div>
<div class='additionalinfobottom row'></div>



<div class='additionalinfo row'>Room information</div>
<div class='row'>
    <div class='col-md-4 col-xs-2 contactdata'>Code</div>
    <div class='col-md-4 col-xs-2 othercontactdata'>{{ room.code }}</div>
    <div class='col-md-4 col-xs-8 ng-hide' ng-show='roomIsStarted()'>
        <span class='btn btn-warning' ng-click="doRecreateCode()" style='width:50%; float:left;'>New code</span>
        <span class='btn btn-success' ng-click="doResendCode()" style='width:50%; float:left;'>Resend</span>
    </div>
    <div class='col-xs-4' ng-show='!roomIsStarted()'>Unable to send code, see status</div>
</div>
<div class='row' ng-show="resendcode">
    <div class='col-xs-6'>
        <label> Phone number
            <input type='text' ng-model="numbertosendcodeto" placeholder='Phone number'  class="form-control" >
        </label>
    </div>
    <div class='col-xs-6'>
        <label> Verify number and send code
            <span class='btn btn-success' style='width:100%;' ng-click="resendCode()">Send code</span>
        </label>
    </div>
</div>
<div class='row'>
    <div class='col-xs-4 contactdata'>Status</div>
    <div class='col-xs-8 othercontactdata'>
        <div class="ng-hide" ng-show="!booking.payedFor"><b style='color:red'>Not payed for yet</b></div>
        <div ng-show="!room.addedToArx && roomIsStarted()"><b>Waiting for cleaning / code not active yet</b></div>
        <div ng-show="room.addedToArx && roomIsStarted()">Code is active on door</div>
    </div>
</div>
<div class='row'>
    <div class='col-xs-4 contactdata'>Created when</div>
    <div class='col-xs-8 othercontactdata'>{{ booking.rowCreatedDate }}</div>
</div>
<div class='row'>
    <div class='col-xs-4 contactdata'>Booking starting at</div>
    <div class='col-xs-8 othercontactdata'><input type="datetime-local" class="form-control" ng-model="room.date.start">
    </div>
</div>
<div class='row'>
    <div class='col-xs-4 contactdata'>Booking ending at</div>
    <div class='col-xs-8 othercontactdata'><input type="datetime-local" class="form-control" ng-model="room.date.end"></div>
</div>
<div class='row'>
    <div class='col-xs-4 contactdata'></div>
    <div class='col-xs-8 othercontactdata'><span class="btn btn-success form-control" ng-click="changeStay();">Update stay</span></div>
</div>
<div class='additionalinfobottom row'></div>


<div class='additionalinfo row'>Guest information</div>
<div class='row'>
    <div class='col-xs-4 contactdata'>Number of guests</div>
    <div class='col-xs-8 othercontactdata'><input type="number" class="form-control" ng-model="room.numberOfGuests" ng-change="changeRoomCount(room.numberOfGuests)"></div>
</div>
<div ng-repeat="guest in room.guests" class='guestrow row no-gutter'>
    <div class='col-xs-3 col-md-3 nospacing'>
        <label>Guest name
            <input class='form-control' ng-model='guest.name'>
        </label>
    </div>
    <div class='col-xs-2 col-md-1 nospacing'>
        <label>Prefix
            <input class='form-control' ng-model='guest.prefix'>
        </label>
    </div>
    <div class='col-xs-3 col-md-2 nospacing'>
        <label><a href="tel:+{{guest.prefix}}{{guest.phone}}"><i class="fa fa-phone" style="color:blue; font-size: 20px;"></i></a> Phone
            <input class='form-control' ng-model='guest.phone'>
        </label>
    </div>
    <div class='col-xs-4 col-md-6 nospacing'>
        <label style='width:100%; box-sizing: border-box; padding-right: 15px;'>Email
            <input class='form-control' ng-model='guest.email'>
        </label>
    </div>
</div>
<div class='row'>
    <div class='col-xs-6 contactdata'></div>
    <div class='col-xs-6 othercontactdata'><span class="btn btn-success form-control" ng-click="saveGuests();">Update</span></div>
</div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>
