<div class='additionalinfo row'>Other instructions</div>
<div class='row'>
    <select class="form-control" ng-model='selectedroom' ng-change="updateLogList(selectedroom)" ng-options="item.id as item.bookingItemName for item in items"></select>
</div>

<div class='row ng-hide loading' ng-show="loading"><i class="fa fa-spinner fa-spin"></i></div>


<div class='row'>
    <div ng-repeat="log in logs" class='col-sm-12'>
        <div class='col-sm-3'>
            <b>{{log.roomName}}</b><br>
        </div>
        <div class='col-sm-9'>
            <div>{{log.logText}}</div>
            <b>{{log.userName}}</b> - {{log.dateEntry}}<br>
            <br>
        </div>
    </div>
</div>
<div class='additionalinfobottom row'></div>