<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Other instructions</div>
<div class='row'>
    <select class="form-control" ng-model='selectedroom' ng-change="updateLogList(selectedroom)" ng-options="item.id as item.bookingItemName for item in items"></select>
    <br>
    <textarea class="form-control" ng-model="logentrytext"></textarea>
    <br>
    <span class="btn btn-success" style="width:100%;" ng-click="addEntry()">Add log entry</span>
</div>

<div class='row ng-hide loading' ng-show="loading"><i class="fa fa-spinner fa-spin"></i></div>


<div class='row'>
    <div ng-repeat="log in logs" class='col-sm-12 logenty'>
        <div class='col-sm-3 logname'>
            <b>{{log.roomName}}</b>
            <b ng-show="!log.roomName">General enquiry</b>
            <br>
        </div>
        <div class='col-sm-9 logtext'>
            <div>{{log.logText}}</div>
            <div class='addedbytext'>
                <b>{{log.userName}}</b> - {{log.dateEntry}}
            </div>
            <br>
        </div>
    </div>
</div>
<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>