<div class='additionalinfo row'>
    {{ address }}
</div>
<div class='row' ng-show="!hideEngineSelection">
    <select ng-model="dataSelected" ng-options="item.id as item.name for item in multilevelnames" ng-change="updateMultilevelName(dataSelected)" class='form-control'></select>
</div>
<div class='row'>
    <a ui-sref="findguest" ng-show="findguest"><div class='col-md-4'><span class='box'><i class='fa fa-user'></i><span class='text'>Guests</span></span></div></a>
    <a ui-sref="otherinstruction" ng-show="otherinstruction"><div class='col-md-4' ng-show="hasOtherInstructions"><span class='box'><i class='fa fa-info-circle'></i><span class='text'>Instructions</span></span></div></a>
    <a ui-sref="fire" ng-show="fire"><div class='col-md-4' ng-show="hasFireInstructions"><span class='box'><i class='fa fa-fire'></i><span class='text'>Fire</span></span></div></a>

    <a ui-sref="sms" ng-show="sms"><div class='col-md-4'><span class='box'><i class='fa fa-inbox'></i><span class='text'>Sms</span></span></div></a>
    <a ui-sref="log" ng-show="log"><div class='col-md-4'><span class='box'><i class='fa fa-road'></i><span class='text'>Log</span></span></div></a>
    <a ui-sref="doors" ng-show="doors"><div class='col-md-4' ng-show="hasDoorControl"><span class='box'><i class='fa fa-sign-in'></i><span class='text'>Doors</span></span></div></a>
    <a ui-sref="cleaning" ng-show="cleaning"><div class='col-md-4' ng-show="hasCleaning"><span class='box'><i class='fa fa-paint-brush'></i><span class='text'>Cleaning</span></span></div></a>
    <a ui-sref="caretaker" ng-show="caretaker"><div class='col-md-4' ng-show="hasCaretaker"><span class='box'><i class='fa fa-medkit'></i><span class='text'>Caretaker</span></span></div></a>
    <a ui-sref="conference" ng-show="hasConference"><div class='col-md-4' ng-show="hasConference"><span class='box'><i class='fa fa-bullhorn'></i><span class='text'>Conference</span></span></div></a>
    <a ui-sref="pmsreport" ng-show="hasStatistics"><div class='col-md-4' ng-show="hasStatistics"><span class='box'><i class='fa fa-line-chart'></i><span class='text'>Pms Report</span></span></div></a>
    <a ui-sref="timeregistering" ng-show="timeregistering"><div class='col-md-4' ng-show="timeregistering"><span class='box'><i class='fa fa-line-chart'></i><span class='text'>Time registering</span></span></div></a>
    
    <span ng-repeat="view in views">
        <a ui-sref="addonview({ viewid: '{{view.id}}' })" ng-show="{{view.name}}">
            <div class='col-md-4'>
                <span class='box'><i class='fa fa-{{view.icon}}'></i><span class='text'>{{view.name}}</span>
            </div>
        </a>
    </span>
    
</div>
<div class='row'>
    <br>
</div>
<div class='additionalinfobottom row' ng-click="logout()" style='text-align: center; color:#fff;'>Sign out</div>