<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Pms Report</div>
<div class='row'>
        <br>
    <div class='col-xs-6 col-md-3'>
        <label>Start
        <input type="date" class="form-control" ng-model="start">
        </label>
    </div>
    <div class='col-xs-6 col-md-3'>
        <label>End
        <input type="date" class="form-control" ng-model="end">
        </label>
    </div>
    <div class='col-xs-12 col-md-3'>
        <label style="width:100%;">Compare periode
            <select class="form-control" style="width:100% !important;" ng-model="comparePeriode">
                <option value="-1week">-1 uke</option>
                <option value="-1month">-1 måned</option>
                <option value="-1year">-1 år</option>
            </select>
        </label>
    </div>

    <div class='col-xs-12 col-md-3'>
        <br>
        <span class="btn btn-success form-control" ng-click="reloadOverview()">Show</span>
        <br><br>
    </div>
<div ng-repeat="report in pmsreportlist" class='caretakerrow row'>
    <div class="col-xs-12">
        <b>{{report.typeName}}</b>
    </div>
    <div class="selectionrow"></div>
        <div class="col-xs-6">
            {{report.numberOfRooms}} / {{report.totalNumberOfRooms}} romdøgn
        </div>
        <div class="col-xs-6">
            {{report.avgCoverage}}% belegg.
        </div>    
    <div class="selectionrow"></div>
    
    <div class="col-xs-6">
        Kvadratmeter
    </div>
    <div class="col-xs-6">
        {{report.squareMeters}}
    </div>    
    <div class="selectionrow"></div>
    
    <div class="col-xs-6">Snittpris</div>
    <div class="col-xs-6">
        {{report.avgPrice}} / dagen.
    </div>
    <div class="selectionrow"></div>
    
    <div class="col-xs-6">Revpar</div>
    <div class="col-xs-6">
        {{report.revParDaily}} / periode.<br>
        {{report.revParLastPeriode}} / forrige periode.<br>
        
    </div>
    <div class="selectionrow"></div>
    
    <div class="col-xs-6">Kvmpris</div>
    <div class="col-xs-6">
        {{report.squareMetresPriceDaily}} / dagen.<br>{{report.squareMetresPrice}} / perioden.
    </div>
    <div class="selectionrow"></div>
    
    <div class="col-xs-6">Totalt</div>
    <div class="col-xs-6">
        {{report.totalRentedDaily}} / dagen.<br>{{report.totalRented}} / perioden.
    </div>
    <div class="selectionrow"></div>
    
    <div class="col-xs-6">Forrige periode</div>
    <div class="col-xs-6">
        {{report.totalPastPeriodeDaily}} / dagen.<br>{{report.totalPastPeriode}} / perioden.
    </div>
    <div class="selectionrow"></div>
    
    <div class="col-xs-6">Økning</div>
    <div class="col-xs-6">
        {{report.increaseFromLastPeriodeDaily}} / dagen.<br>{{report.increaseFromLastPeriode}} / perioden.
    </div>
</div>

<table border='1' width='100%'>
    <tr style='font-size:10px;'>
        <th>Room</th>
        <th>Belegg(%)</th>
        <th>Kvmpris<br>dag</th>
        <th>Kvm<br>periode</th>
        <th>Snittpris</th>
        <th>Revpar</th>
    </tr>
    <tr ng-repeat="room in roomCoverageList" style='font-size:12px;' >
        <td style='padding:2px;'>{{room.roomName}}</td>
        <td style='padding:2px;'>{{room.coverage}}%</td>
        <td style='padding:2px;'>{{room.sqaurePrice}}</td>
        <td style='padding:2px;'>{{room.squarePricePeriode}}</td>
        <td style='padding:2px;'>{{room.avgPrice}}</td>
        <td style='padding:2px;'>{{room.revpar}}</td>
    </tr>
</table>        
        
<div class='row'><br><br>
    <div class="col-xs-12"><b>Skader / feil på rom som må utbedres</b>
        <div>
            <div><i class='fa fa-check'></i> feilen er utbedret.</div>
            <div><i class='fa fa-close'></i> feilen er ikke utbedret.</div>

        </div>
    </div>
</div>

<div ng-repeat="job in careTakerList" class='row'>
    <div class='col-xs-3'>{{job.rowCreatedDateFormatted}}</div>
    <div class='col-xs-2'>
        {{job.roomName}}</div>
    <div class='col-xs-7'>
        <i class='fa fa-check' ng-show="job.completed"></i> 
        <i class='fa fa-close' ng-show="!job.completed"></i> 

        {{job.description}}</div>
</div>
        
<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>
        
<style>
    .selectionrow { border-bottom: solid 1px #ddd; clear:both; padding-bottom: 10px; margin-bottom: 10px; }
</style>