<div class='additionalinfo row'>
    <a ui-sref="mainpage"><i class='fa fa-arrow-left' style='color:#fff; float:left;'></i></a>
    Send sms to all todays guests</div>
<div class="col-xs-12">
    <div class='row'>
        If you are in need to notify all guests active today, enter the message below and press send.
    </div>
    <div class='row'>
        <textarea class='form-control' ng-model="message"></textarea>
    </div>
    <div class='row'>
        <span class='btn btn-success form-control' ng-click="sendmessage(message)">Send message</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br>
        <b>Sms history</b><br><br>
    </div>
</div>

<div ng-repeat="message in smsMessages" class='guestrow row no-gutter' style="padding-bottom: 20px;">
    <div class="col-xs-2">+{{message.prefix}} {{message.to}}</div>
    <div class="col-xs-10">
        {{message.message}}
        <div style="text-align: right; font-size: 10px; color:#bbb;">{{message.smsHander}} - {{message.rowCreatedDate}}</div>
    </div>
</div>

<div class='additionalinfobottom row'>
    <div style='text-align:center; font-size: 20px; padding: 10px; color:#fff;'>
        <a ui-sref="mainpage"><i class='fa fa-home' style='color:#fff;'></i></a>
    </div>
</div>
