/* 
    Document   : SedoxHeaderApp
    Created on : May 31, 2014, 2:27:30 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

.SedoxHeaderApp a {
    color: #FFF;
}