.ProductList .col_name {
    width: calc(100% - 640px);
}

.ProductList .createnewproductbox {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1500px;
    margin-bottom: 20px;
    border: solid 1px #DDD;
    padding: 20px;
    background-color: #DDD;
}