/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 10:13:50 AM
    Author     : ktonder
*/


.firstrow {
    background: url('../images/bygget/7.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    position:relative;
}

.firstrow .row_inner {
    width: 100% !important;
    height: 100%;
    background-color:rgba(0,0,0,0.3);
    position:Absolute;
    top: 0px;
    padding-top: 200px;
    box-sizing: border-box;
    max-width:100% !important;
    line-height: 40px;
    color:#fff;
}

.utleieprivatbtn {
    display:inline-block; background-color:#6669aa; color:#fff; padding: 10px;width: 200px;text-align: center; font-weight:400;cursor:pointer;
}
.utleienaeringbtn {
    display:inline-block; background-color:#5e5e5e; color:#fff; padding: 10px;width: 200px;text-align: center; font-weight:400;cursor:pointer;
}


.chooseimagebtn {
    border: solid 1px #bbb;
    width: 200px;
    background-color:#fff;
    padding: 10px;
    display:inline-block;
    cursor:pointer;
}