body { background-color:#000; color:#fff; }

.Product .product_price,.Product .addProductToCart, .Product .short_description_title { display:none; }
.Product .images .mainimage,.Product .images { width: 1200px; }
.Product .product_contentbox { margin-top: 0px; padding-top: 0px; }
.Product .short_description { display:none; }
.Product .images .mainimage { border: solid 0px; }
.ProductLists .product_price,.ProductLists .short_description,.ProductLists .addProductToCart { display:none; }
.ProductLists .product_row { border: solid 2px #4a7ebb; margin: 10px; }
.ProductLists .image { width: 400px !important; padding-top: 30px; }
.ProductLists .image img { width: 100% !important; }
.ProductLists .products.row_view .content { left: 0px; padding-top: 5px; width:100%; text-align: center; }
.ProductLists .products.row_view .content {  
    background-image: url("{IMAGEFOLDER}/solgt.png"); 
    background-repeat: no-repeat;
    background-position: left top; 
}
.ProductLists .product_row {  
    background-image: url("{IMAGEFOLDER}/lesmer.png"); 
    background-repeat: no-repeat;
    background-position: bottom right; 
}



.gscontainercell.gscell_4 { display:none; }
.gs_page_width { padding-left: 20px; padding-right: 20px; }
.gsmobilemenu { display:none; }
.webshop_button_area { display:none; }
.ProductLists .products.grid_view .productbox img { margin-bottom: 50px; }
.gscell_6.gsuicell img { padding-right: 0px !important; }
.Contact .contactform2 .fields,.Contact .contactform2 .submitarea { width: 100%; }
.Contact input.submitbutton { width: 100%; margin-top: 10px; }