<div class="gsview home">
    <div style="text-align: center;">
        <div>
            <span class="gsbtn" style="width:250px; padding-top: 50px; padding-bottom: 50px;margin-right:10px; font-size: 30px;" ng-mobile-click="startNewBooking()"><i class="fa fa-thumbs-o-up"></i><br>Start booking</span>
            <span class="gsbtn" style="width:250px; padding-top: 50px; padding-bottom: 50px;margin-left:10px; font-size: 30px;" ng-mobile-click="goToBooking()"><i class="fa fa-calendar-check-o"></i><br>Already booked</span>
        </div>
    </div>
</div>
