/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2015, 2:49:45 PM
    Author     : ktonder
*/

.RelatedProducts input  {
    margin-top: 3px;
    width: 270px;
    padding: 8px 8px;
    font-weight: 400;
    font-size: 14px;
    color: #444;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}
.RelatedProducts .related_product_administration {
    border-top: solid 1px #EEE;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.RelatedProducts .related_product_administration i {
    padding: 6px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #EEE, #DDD);
    margin-left: -29px;
    margin-top: 1px;
    cursor: pointer;
    border-left: solid 1px #CCC;
}

.RelatedProducts .add_related_product_result .search_result_product .shop_button {
    position: absolute; 
    right: 3px; 
    top: 3px;
}

.RelatedProducts .add_related_product_result .search_result_product {
    position: relative;
    border: solid 1px #EEE;
    padding-top: 3px;
    padding-bottom: 3px;
    padding: 10px;
    height: 35px;
}

.RelatedProducts .add_related_product_result {
    margin-top: 20px;
}