.PmsBooking .pmsfront1 { background-color:#f5f5f5; color:#000; border: solid 1px #efefef; padding: 15px; font-size: 14px; }
.PmsBooking .pmsfront1 .heading {
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
    font-size: 16px;
    padding-bottom: 3px;
    display:block; text-align: center;
}
.PmsBooking .pmsfront .dates input { border: solid 0px; width: 80px; }

.PmsBooking .pmsfront1 .dates input:focus, .PmsBooking .dates input:focus{
    outline: 0;
}
.PmsBooking .pmsfront1 .infotext { margin-top: 10px; margin-bottom: 10px; }
.PmsBooking .pmsfront .dates .dates_inner { display:inline-block; background-color:#fff; padding-left: 5px; border: solid 1px #bbb; }
.PmsBooking .pmsfront .dates.start_date { float:left; }
.PmsBooking .pmsfront1 .dates.end_date { float:right; }
.PmsBooking .pmsfront .fa-calendar { padding:5px; cursor:pointer;background-color: #f29400; color:#FFF;  }
.PmsBooking .pmsfront .check_available_button { color:#fff; cursor:pointer; margin-top: 20px; display:block; padding: 7px; text-align: center; background-color: #f29400; }
.PmsBooking .productlist { margin-top: 20px; margin-bottom: 10px; }
.PmsBooking .productlist select {
    width: 100%;
    background-color: #FFF;
    padding: 5px;
}
.PmsBooking .inputhelpertext { padding-bottom: 3px; display:inline-block; }
.PmsBooking .pmsfront2 .fa-bed { font-size: 40px; margin-top: 15px; margin-bottom: 10px; }
.PmsBooking .pmsfront2 .check_available_button { width: 200px; padding: 6px; }
.PmsBooking .inputblock { display:inline-block; float:left; margin-right: 20px;  }

/* pmsfront3 */
.PmsBooking .pmsfront3 .productlist{margin:2%;}
.PmsBooking .pmsfront3 .productlist select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 100%;
    color: #807668;
    background-color: #ffeccf;
    padding: 6px;
    border: 0;
    border-radius: 4px;
    
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.PmsBooking .pmsfront3 select::-ms-expand {display: none;}
.PmsBooking .pmsfront3 .select_arrow{position:relative;display: inline;}
.PmsBooking .pmsfront3 .go_to_page_button.disabled { background:gray; cursor:initial; }
.PmsBooking .pmsfront3 .select_arrow:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.PmsBooking .pmsfront3 .select_arrow:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .3em;
    right: .75em;
    border-top: 8px solid #000;
    opacity: 0.5;
}
.PmsBooking .pmsfront3 .productlist option{padding:5px;}
.PmsBooking .pmsfront3 {letter-spacing:2px;font-family: 'Quicksand', sans-serif;}
.PmsBooking .pmsfront3 .inputblock{margin:0 2%;padding:0;width:46%;box-sizing: border-box;text-align:center;}
.PmsBooking .pmsfront3 .inputblock_button{}
.PmsBooking .pmsfront3 .dates{width:100%;box-sizing: border-box;}
.PmsBooking .pmsfront3 .dates input{width: 80%;background-color: rgba(0,0,0,0);color:#fff;width: 100%;padding: 8px 0 6px 34px;;box-sizing: border-box;}
.PmsBooking .pmsfront3 .dates .dates_inner{width:100%;box-sizing: border-box;background-color: #ffb33a;border:0;padding:0;height:29px;}
.PmsBooking .pmsfront3 .dates .dates_inner i{ position: absolute;width: 12px;padding: 8px;}
.PmsBooking .pmsfront3 .go_to_page_button{
    margin:4% 2%;
    padding:8px;
    box-sizing:border-box;
    background-color:#ffb33a;
    color:#fff;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
    border-radius:4px;
}
.PmsBooking .pmsfront3 .dates_inner:hover,
.PmsBooking .pmsfront3 .dates_inner:hover i,
.PmsBooking .pmsfront3 .selected_product:hover,
.PmsBooking .pmsfront3 .go_to_page_button:hover{opacity: 0.8;}


.PmsBooking .datepickermobile{display: none;}
.daterangepicker{background-color:#fff !important;}
.PmsBooking .infoBox{
    position: absolute;
    display: none;
    background-color:#fff;
    color:#000;
    box-shadow:0px 0px 4px 0px #000;
    padding: 12px;
    margin-top:6px;
    z-index: 2;
}

/*pmsfront4*/
.PmsBooking .pmsfront4 *{box-sizing: border-box;}
.PmsBooking .pmsfront4 {
    position: relative;
    background-color:rgba(10, 30, 41, 0.9);  
    max-width:400px;
    padding:20px;
    color:#fff;
    border-radius: 4px;
    letter-spacing: 1px;
    user-select:none;
}
.PmsBooking .pmsfront4 .pfheader{
    font-size: 20px;
    text-align: center;
    letter-spacing:2px;
    border-bottom:1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 4px;
}
.PmsBooking .pmsfront4 .pfbox{
    width:50%;
    text-align: center;
    float:left;
    padding:0 10%;
}
.PmsBooking .pmsfront4 .pfbox input{
    width:50%;
    float:left;
    height:auto;
    line-height: 1;
    text-align:center;
    border: 0;
    background: transparent;
    color:#fff;
    font-size: 16px;
    line-height: 24px;
    padding:0;
}
.PmsBooking .pmsfront4 .pfbox i{
    width: 25%;
    line-height: 24px;
    float: left;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #0a1e29;
    font-size: 14px;
    cursor: pointer;
}
.PmsBooking .pmsfront4 .pfbox .inner{
    float:left;
    text-transform: capitalize;
}
.PmsBooking .pmsfront4 input{
    padding:0 10px;
    width: 100%;
    height:40px;
    line-height:40px;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 1px;
}
.PmsBooking .pmsfront4 .date_pickerwrapper{position: relative;}
.PmsBooking .pmsfront4 .date_pickerwrapper:after{
    content: "\e92f";
    position: absolute;
    font-family: "icomoon";
    right: 20px;
    top: 32px;
    color: #000;
}
.PmsBooking .pmsfront4 #date_picker{text-align:center;}
.PmsBooking .pmsfront4 .searchbutton{
    background: #329ad6;
    margin-top:10px;
    color: #fff;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.PmsBooking .pmsfront4 #coupon_input{display:none;}
.PmsBooking .pmsfront4 #information{position: absolute;right:20px;}
.PmsBooking .pmsfront4 #informationBox{
    right:0;
    margin-top:30px;
    left:auto;
}
.PmsBooking .pmsfront4 #informationBox:after{top:-5px;right:18px;}
.PmsBooking .pmsfront4 .infoBox{
    position: absolute;
    display: none;
    background-color:#fff;
    color:#000;
    box-shadow:0px 0px 4px 0px #000;
    padding: 12px;
    margin-top:6px;
    z-index: 2;
}
.PmsBooking .pmsfront4 .searchbutton:hover{background-color:#40aae6;}
.PmsBooking .pmsfront4 .disabled{opacity: 0.2 !important;cursor:default !important;}

/*pmsfront5*/
.PmsBooking .pmsfront5 *{
    box-sizing: border-box;
}

.PmsBooking .pmsfront5{
    position: relative;
    padding: 14px 14px 10px 14px;
}
.PmsBooking .pmsfront5 input{
    padding:0 10px;
    height:40px;
    line-height:40px;
    border: 1px solid #dadada;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 1px;
}
.PmsBooking .pmsfront5 span[gstranslationfield="checkout"] {float:right;}
.PmsBooking .pmsfront5 .inner div[gstype="bookingtranslation"]{padding-bottom: 8px;}
.PmsBooking .pmsfront5 .infoBox{display: none;}
.PmsBooking .pmsfront5 .searchbutton{
    width:10%;
    background: #329ad6;
    margin-left: 20px;
    color: #fff;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
.PmsBooking .pmsfront5 .pfbox{
    width:50%;
    text-align: center;
    float:left;
    padding:0 10%;
}
.PmsBooking .pmsfront5 .pfbox input{
    width:50%;
    float:left;
    height:auto;
    line-height: 1;
    text-align:center;
    border: 0;
    background: transparent;
    font-size: 16px;
    line-height: 24px;
    padding:0;
}
.PmsBooking .pmsfront5 .pfbox i{
    width: 25%;
    line-height: 26px;
    float: left;
    text-align: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    cursor: pointer;
}
.PmsBooking .pmsfront5 #faholder_coupon{position: relative;}
.PmsBooking .pmsfront5 #faholder_coupon:after{
    content: "\f097";
    position: absolute;
    font-family: fontawesome;
    pointer-events: none;
    right: 8px;
    top: 0;
}
.PmsBooking .pmsfront5 #coupon_input.active{
    width:200px;
    border:1px solid #dadada;
    padding:0 10px;
}
.PmsBooking .pmsfront5 #information{
    position: absolute;
    right:10px;
    top:10px;
    color:#333;
}
.PmsBooking .pmsfront5 #informationBox{right: 5px;top:20px;}
.PmsBooking .pmsfront5 .pfbox .inner{text-transform: capitalize;}
.PmsBooking .pmsfront5 .pfframe{float:left;}
.PmsBooking .pmsfront5 .guestframe{max-width: 500px;}
.PmsBooking .pmsfront5 .disabled{opacity: 0.2 !important;cursor:default !important;}
.PmsBooking .pmsfront5 #faholder_date{position: relative;}
.PmsBooking .pmsfront5 #faholder_date:after{
    content: "\f073";
    position: absolute;
    font-family: fontawesome;
    pointer-events: none;
    right: 8px;
    top: 0;
}
.PmsBooking .excludeChildSelection{display:none;}

/*pmsfront6*/
.PmsBooking .pmsfront6 { background-color: #fff;}
.PmsBooking .pmsfront6 *{box-sizing:border-box;}
.PmsBooking .pmsfront6 .gsl_button:hover{background-color:#48cfa3;}
.PmsBooking .pmsfront6 .gsl_button{
    text-align:center;
    letter-spacing:1px;
    background: #3fc297;
    color:#fff;
    cursor:pointer;
    border-radius:2px;
    display: inline-block;}
.PmsBooking .pmsfront6 .disabled{opacity:0.3 !important; cursor: default !important;}
.PmsBooking .pmsfront6 .disabled:hover{opacity: 0.3 !important;}
.PmsBooking .pmsfront6 .fa{padding:0 4px;}
.PmsBooking .pmsfront6 .fa_box{position: relative;width: 27%;float:left;}
.PmsBooking .pmsfront6 .fa_box::after{
    font-family: fontawesome;
    font-family: 'icomoon' !important;
    position: absolute;
    pointer-events: none;
    right: 1.5em;
    top: 50%;
    margin-top: -.8em;
    font-size: 20px;}
.PmsBooking .pmsfront6 .gslbookingHeader {display: block;width: 100%;user-select:none;height:60px;position:relative;}

.PmsBooking .pmsfront6 .gslbookingHeader input{overflow: hidden;text-overflow: ellipsis;}
.PmsBooking .pmsfront6 .gslbookingHeader input::-webkit-input-placeholder{color:#000;}
.PmsBooking .pmsfront6 .gslbookingHeader input::-moz-placeholder{color:#000;}
.PmsBooking .pmsfront6 .gslbookingHeader input:-moz-placeholder{color:#000;}
.PmsBooking .pmsfront6 .gslbookingHeader input:-ms-input-placeholder{color:#000;}
.PmsBooking .pmsfront6 .gslbookingHeader input:focus{outline-width:0;box-shadow: 0 0 0;}

.PmsBooking .pmsfront6 .gslbookingHeader .date::after{content: "\e92f";}
.PmsBooking .pmsfront6 .gslbookingHeader .guests::after{content: "\e90f";}
.PmsBooking .pmsfront6 .gslbookingHeader .coupon::after{content: "\e911";}

.PmsBooking .pmsfront6 .gslbookingHeader .gsl_button:hover{background-color:#4391dc;}
.PmsBooking .pmsfront6 .gslbookingHeader .gsl_button{
    height: 60px;
    line-height: 60px;
    letter-spacing:1px;
    float:right;
    background: #329ad6;
    width: 19%;
    border-radius: 0;
    font-size:18px;}
.PmsBooking .pmsfront6 .gslbookingHeader input{
    width:100%;
    cursor: pointer;
    height:60px;
    line-height:60px;
    letter-spacing:1px;
    font-size:16px;
    padding:0 30px 0 26px;
    background-color:#fff;
    border:0;}
.PmsBooking .pmsfront6 .guestInfoBox{
    position: absolute;
    display: none;
    font-size:16px;
    width: 100%;
    min-width: 300px;
    border-top: 2px solid #94ccdf;
    padding: 16px;
    text-align: left;
    text-transform: capitalize;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 2;}
.PmsBooking .pmsfront6 .guestInfoBox div{position:relative;}
.PmsBooking .pmsfront6 .guestInfoBox input{padding: 0;height: auto;width:50%;cursor: default;text-align: center;line-height: 50px;}
.PmsBooking .pmsfront6 .guestInfoBox input:hover{box-shadow: 0 0 0;}
.PmsBooking .pmsfront6 .guestInfoBox i{cursor: pointer;padding: 10px;border-radius: 4px;background-color: #fff;color: #94ccdf;border: 1px solid #94ccdf;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
.PmsBooking .pmsfront6 .guestInfoBox_left{float:left;width:40%;padding-bottom:0;}
.PmsBooking .pmsfront6 .guestInfoBox_left div{padding:14px 0;}
.PmsBooking .pmsfront6 .guestInfoBox_right{float:right;width:60%;text-align: right;padding-bottom:0;text-align: center;}

.PmsBooking .pmsfront6 .mobilecheckinheading, .PmsBooking .pmsfront6 .mobilecheckoutheading { color:#bbb; width: 50%; float: left; border-bottom:1px solid #ddd;padding:0 4px;}
.PmsBooking .pmsfront6 .mobilecheckinheading span, .PmsBooking .pmsfront6 .mobilecheckoutheading span{position:absolute;}
.PmsBooking .pmsfront6 .mobilecheckinheading{box-shadow: 1px 0px 0px 0px #ddd;}

/*.PmsBooking .pmsfrontTheme{
    height: 60px;
    width: 20px;
    position: absolute;
    z-index: 2;
    background: #5c70cd;
}*/

@media only all and (max-width:800px){
    .PmsBooking .datepickermobile{display: block;}
    
    .PmsBooking #date_picker,
    .PmsBooking #faholder_date,
    .PmsBooking .date_pickerwrapper{display: none;}
    
    /*pmsfront4*/
    .PmsBooking .pmsfront4 {background-color:rgba(10, 30, 41, 1);}
    .PmsBooking .pmsfront4 .pfbox {padding:5% 3%;}
    .PmsBooking .pmsfront4 #information{right:5px;}
    .PmsBooking .pmsfront4 .datepickermobile input{width:49%;float: left;font-size: 12px;padding:4px;}
    
    /*pmsfront5*/
    .PmsBooking .pmsfront5 #coupon_input{width: 100%;}
    .PmsBooking .pmsfront5 #information{right:5px;top:5px;}
    .PmsBooking .pmsfront5 .datepickermobile input{
        width:49%;
        padding:4px;
        font-size: 12px;
    }
    .PmsBooking .pmsfront5 .searchbutton{width: 49%;float:right;margin: 25px 0 0 0;}
    .PmsBooking .pmsfront5 .pfframe{width: 100%;}
    .PmsBooking .pmsfront5 .couponframe{width:49%;}
    .PmsBooking .pmsfront5 .guestframe{padding: 20px 0}
    
    /*pmsfront6*/
    .PmsBooking .pmsfront6 .fa_box.guests{width:100% !important;padding: 10px 0;}
    .PmsBooking .pmsfront6 .fa_box #guests{display:none;}
    .PmsBooking .pmsfront6 .fa_box #coupon_input {border: 1px solid #ddd !important;border-width: 1px 0px 1px 0px;}
    .PmsBooking .pmsfront6 .fa_box.coupon {width:65%;}
    .PmsBooking .pmsfront6 .fa_box.gsl_button{width:35%;height:60px;line-height:60px;}
    .PmsBooking .pmsfront6 .gslbookingHeader input{border:0 !important;font-size: 14px;padding:0 20px;height:60px;line-height:60px;}
    .PmsBooking .pmsfront6 .gslbookingHeader .guestInfoBox input{box-shadow: 0 0 0;height:50px;line-height:50px;}
    .PmsBooking .pmsfront6 .guestInfoBox i{padding:8px;}
    .PmsBooking .pmsfront6 .gssigninbutton { margin-top:10px;}
    
    .PmsBooking .pmsfront6 #date_picker_start[type="date"] {padding:12px 0 0 20px;}
    .PmsBooking .pmsfront6 #date_picker_end[type="date"] {padding:12px 0 0 20px;}
    .PmsBooking .pmsfront6 .guestInfoBox {
        position: initial !important;
        display:block !important;
        border-bottom: 2px solid #329ad6;
        width:100% !important;
        min-width: 0;
        border:0;box-shadow:0 0 0;
        padding:0 20px;
    }
    .PmsBooking .pmsfront6 .fa_box::after { display:none !important; }
}