.gsbody_inner {background-color:#fff; padding: 10px; }
.gsmobilemenu { display:none !important; }
body { background-color:#fff; padding: 10px; }
input { height: 30px; width: 30px; }
label { font-size: 30px; line-height: 50px; }
.gsmobileheader { display:none !important; }