/*Colors:
Input      : #ffffff; white
Background1: #f9f9f9; white
Background2: #efefef; gray
Borders1   : #dddddd; gray
Borders2   : #ececec; gray
Shadows    : #aaaaaa; gray
TextColor  : #222222; black
ThemeColor1: #3776b3; blue
ThemeColor2: #83b0dc; blue
Hover1     : #f2f5f7; blue
Hover2     : #4391dc; blue
Hover3     : #91bfec; blue
Correct    : #6dc59a; green
Error      : #de5353; red
*/

/*-----------------gslfront_1-----------------*/
.GslBooking .gslfront_1{background-color: #f9f9f9;padding: 0px;font-size: 14px;position: relative;cursor:default;color:#222;/*box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.5);*/}
.GslBooking .gslfront_1 *,.GslBooking .gslfront_1 *::before,.GslBooking .gslfront_1 *::after{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.gslbooking .gslfront_1 h4{font-size: 18px;margin: 10px 0;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;}
.gslbooking .gslfront_1 button{font:500 !important;}

/*gsniceradiobutton*/
.GslBooking .gslfront_1 input[type=radio]{display: none;}
.GslBooking .gslfront_1 input[type=radio] ~ label{position: relative;padding:0 20px;cursor: pointer;font-weight: 500;color: #3776b3;}
.GslBooking .gslfront_1 input[type=radio] ~ label:hover{opacity: 0.75;}
.GslBooking .gslfront_1 input[type=radio] ~ label::before{content: "";position: absolute;top:2px;border: 2px solid #3776b3;border-radius: 100%;padding: 5px;left: 0;background-color: #3776b3;}
.GslBooking .gslfront_1 input[type=radio]:checked + label::after{content: "";position: absolute;background-color: #f9f9f9;padding: 4px;border-radius: 100%;left: 3px;top: 5px;}
/*----------------*/

/*gsnicecheckbox*/
.GslBooking .gslfront_1 input[type=checkbox]{display:none;}
.GslBooking .gslfront_1 input[type=checkbox] ~ label{position: relative;cursor:pointer;padding: 4px 20px;font-size: 12px;color: #3776b3;border-bottom: 1px solid #ddd;}
.GslBooking .gslfront_1 input[type=checkbox] ~ label:hover{opacity: 0.75;}
.GslBooking .gslfront_1 input[type=checkbox] ~ label::before{content: "";position: absolute;border: 2px solid #3776b3;left: 0;padding: 5px;background-color: #3776b3;}
.GslBooking .gslfront_1 input[type=checkbox]:checked + label::after{content: "\f00c";position: absolute;left:2px;font-family: fontawesome;color: #f9f9f9;}
/*--------------*/

.GslBooking .gslfront_1 input:hover{box-shadow: inset 0px 0px 2px #ddd;}
.GslBooking .gslfront_1 input:focus,.GslBooking .gslfront_1 select:focus{outline-width:0;box-shadow: inset 0 0 0 1px #3776b3;}

.GslBooking .gslfront_1 .gsl_button:hover{background-color:#4391dc;}
.GslBooking .gslfront_1 .gsl_button{
    text-align:center;
    letter-spacing:1px;
    background:#3776b3;
    color:#f9f9f9;
    cursor:pointer;
    border-radius:20px;
    display: inline-block;}
.GslBooking .gslfront_1 .gsl_button.return:hover{background-color:#91bfec;}
.GslBooking .gslfront_1 .gsl_button.continue{padding:8px 0;width: 68%;}
.GslBooking .gslfront_1 .gsl_button.return{
    width:26%;
    margin:0 2%;
    padding:8px 0;
    background-color: #83b0dc;}
.GslBooking .gslfront_1 .disabled{opacity:0.3 !important; cursor: default !important;}
.GslBooking .gslfront_1 .disabled:hover{opacity: 0.3 !important;}
.GslBooking .gslfront_1 .validCode{box-shadow: inset 10px 0px 0 #6dc59a !important;}
.GslBooking .gslfront_1 .non-validCode{box-shadow: inset 10px 0px 0 #de5353 !important;color:#de5353 !important;}
.GslBooking .gslfront_1 .fa_box{position: relative;width: 20%;display: inline-block;}
.GslBooking .gslfront_1 .fa_box::after{
    font-family: fontawesome;
    position: absolute;
    pointer-events: none;
    color: #3776b3;
    right: 1em;
    top: 50%;
    margin-top: -.8em;
    font-size: 14px;}

/*-----------------HEADER-----------------*/
.GslBooking .gslfront_1 .gslbookingHeader {display: inline-block;width: 100%;user-select:none;}

.GslBooking .gslfront_1 .gslbookingHeader input{overflow: hidden;text-overflow: ellipsis;}
.GslBooking .gslfront_1 .gslbookingHeader input::-webkit-input-placeholder{color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader input::-moz-placeholder{color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader input:-moz-placeholder{color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader input:-ms-input-placeholder{color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader input:focus{outline-width:0;box-shadow: 0 0 0;}

.GslBooking .gslfront_1 .gslbookingHeader .coupon input{background-color:#f9f9f9;color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader .coupon input:focus{background-color:#f9f9f9;cursor:text;}
.GslBooking .gslfront_1 .gslbookingHeader .coupon input::-webkit-input-placeholder{color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader .coupon input::-moz-placeholder{color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader .coupon input:-moz-placeholder{color:#3776b3;}
.GslBooking .gslfront_1 .gslbookingHeader .coupon input:-ms-input-placeholder{color:#3776b3;}

.GslBooking .gslfront_1 .gslbookingHeader .destination::after{content: "\f041";}
.GslBooking .gslfront_1 .gslbookingHeader .date::after{content: "\f133";}
.GslBooking .gslfront_1 .gslbookingHeader .guests::after{content:"\f0c0";}
.GslBooking .gslfront_1 .gslbookingHeader .coupon::after{content: "\f097";}

.GslBooking .gslfront_1 .gslbookingHeader .gsl_button{
    height: 50px;
    line-height: 50px;
    border-radius: 0;
    font-size:16px;}
.GslBooking .gslfront_1 .gslbookingHeader input{
    width:100%;
    cursor: pointer;
    height:50px;
    line-height:50px;
    font-size:16px;
    padding:0 30px 0 16px;
    color:#3776b3;
    background-color:#f9f9f9;
    border:0;}
.GslBooking .gslfront_1 .guestInfoBox{
    position: absolute;
    display: none;
    font-size:16px;
    width: 270px;
    border-top: 2px solid #3776b3;
    padding: 16px;
    text-align: left;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 1;}
.GslBooking .gslfront_1 .guestInfoBox div{position:relative;}
.GslBooking .gslfront_1 .guestInfoBox input{padding: 0;height: auto;width:50%;cursor: default;text-align: center;}
.GslBooking .gslfront_1 .guestInfoBox input:hover{box-shadow: 0 0 0;}
.GslBooking .gslfront_1 .guestInfoBox i{cursor: pointer;width: 25%;padding: 5%;border-radius: 10%;background-color: #3776b3;color: #f9f9f9;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
.GslBooking .gslfront_1 .guestInfoBox i:hover{opacity: 0.75;}
.GslBooking .gslfront_1 .guestInfoBox_left{float:left;width:40%;padding-bottom:0;}
.GslBooking .gslfront_1 .guestInfoBox_left div{padding:14px 0;}
.GslBooking .gslfront_1 .guestInfoBox_right{float:right;width:60%;text-align: right;padding-bottom:0;text-align: center;}
.GslBooking .gslfront_1 .guestInfoBox_footer{clear:both;font-size:14px;padding:20px 0 0;}
.GslBooking .gslfront_1 .guestInfoBox_footer div{float:right;text-align: center;cursor:pointer;}
.GslBooking .gslfront_1 .guestInfoBox_footer div:hover{color:#3776b3;}

.GslBooking .gslfront_1 .destinationInfoBox{
    position: absolute;
    display: none;
    border-top: 2px solid #3776b3;
    min-width: 280px;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 1;}
.GslBooking .gslfront_1 .destination_line{padding: 10px;border-bottom:1px solid #ddd;cursor: pointer;}
.GslBooking .gslfront_1 .destination_line:hover{background-color:#f2f5f7;}
.GslBooking .gslfront_1 .destination_image{width: 40px;height: 40px;border-radius: 10%;margin-right: 10px;}

/*-----------------BODY-----------------*/
.GslBooking .gslfront_1 .gslbookingBody{border-top:1px solid #ddd;}
.GslBooking .gslfront_1 #productoverview_footer{display:none;}
.GslBooking .gslfront_1 #productentry{max-height: 800px;overflow-y: auto;}

/*css scrollbar is not supported in Mozilla firefox, and Edge*/
.GslBooking .gslfront_1 #productentry::-webkit-scrollbar-track{box-shadow: inset 1px 0px 2px #ddd;background-color:#f1f1f1;}
.GslBooking .gslfront_1 #productentry::-webkit-scrollbar{width:14px;}
.GslBooking .gslfront_1 #productentry::-webkit-scrollbar-thumb{background-color:#c6c6c6;border-radius: 6px;border:3px solid #f1f1f1;}
.GslBooking .gslfront_1 #productentry::-webkit-scrollbar-thumb:hover{background-color:#b2b2b2;}
.GslBooking .gslfront_1 .productentry{background-color: #f9f9f9;position:relative;overflow:hidden;}
.GslBooking .gslfront_1 .productentry_main{width: 70%;float: right;min-height: 296px;}

/*Gallery*/
.GslBooking .gslfront_1 .productentry_gallery{width: 30%;position: absolute;overflow: hidden;}
.GslBooking .gslfront_1 .productentry_gallery .image-holder{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 350ms ease-in-out;
    padding-bottom: 66.667%;}
.GslBooking .gslfront_1 .productentry_gallery .gallery {position: relative;white-space: nowrap;font-size: 0;}

.GslBooking .gslfront_1 .productentry_gallery .gallery-wrapper {position: relative;overflow: hidden;}
.GslBooking .gslfront_1 .productentry_gallery .gallery-image{opacity: 0.5;}
.GslBooking .gslfront_1 .productentry_gallery .gallery-image:hover{opacity: 0.7;}
.GslBooking .gslfront_1 .productentry_gallery .gallery-image.active{opacity: 1;}
.GslBooking .gslfront_1 .productentry_gallery .image-wrapper{cursor: pointer;width: 25%;display: inline-block;}
.GslBooking .gslfront_1 .productentry_gallery .controls{font-size: 26px;border-top: none;}
.GslBooking .gslfront_1 .productentry_gallery .move-btn:hover{background-color:rgba(255,255,255,.4);color:rgba(0, 0, 0, 0.7) !important}
.GslBooking .gslfront_1 .productentry_gallery .move-btn{
    display: inline-block;
    position: absolute;
    width: 6%;
    border: none;
    color: transparent;
    background-color: transparent;
    padding: 11px 0;
    bottom: 0;
    cursor:w-resize;
    text-align:center;}
.GslBooking .gslfront_1 .productentry_gallery .move-btn.left{display:none;}
.GslBooking .gslfront_1 .productentry_gallery .move-btn.right{right: 0;cursor:e-resize}
.GslBooking .gslfront_1 .feature .fa-search:hover{opacity: 0.5;}
.GslBooking .gslfront_1 .feature .fa-search{
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 23%;
    font-size: 80px;
    cursor: pointer;
    color:#000;
    background-color: rgba(249, 249, 249, 0.5);
    opacity: 0;
    transition:0.2s;}

/*Productentry info*/
.GslBooking .gslfront_1 .productentry_header{background-color:#3776b3;color:#f9f9f9;}
.GslBooking .gslfront_1 .productentry_header div{display:inline-block;font-size: 16px;padding:7px 10px;}
.GslBooking .gslfront_1 .productentry_itemlist{border-bottom: 1px solid #ddd;padding-left:7px;}
.GslBooking .gslfront_1 .productentry_itemlist:hover{background-color:#f2f5f7;}
.GslBooking .gslfront_1 .productentry_itemlist .price{padding:0 10px;}
.GslBooking .gslfront_1 .productentry_itemlist i{padding-left:3px;}
.GslBooking .gslfront_1 .productentry_itemlist div{display:inline-block;padding:7px;}
.GslBooking .gslfront_1 .productentry_itemlist select{
    width: 45px;
    padding: 2px 4px;
    margin: 6px;
    border: 0;
    border-radius:3px;
    box-shadow: inset 0 0 0 1px #ececec;
    background-color:#fff;
    cursor: pointer;}
.GslBooking .gslfront_1 .productentry_body{padding: 10px 10px 30px 10px;}
.GslBooking .gslfront_1 .productentry_total{width:100%;text-align: center;font-size:18px;padding:14px;border-top: 1px solid #ddd;}
.GslBooking .gslfront_1 .productentry_footer{position:absolute;width:70%;bottom:0;padding:6px 0;text-align: right;}
.GslBooking .gslfront_1 .productentry_footer i{padding: 0 10px;}
.GslBooking .gslfront_1 .productoverview .gsl_button.continue.active:hover{background-color:#4391dc;}
.GslBooking .gslfront_1 .productoverview .gsl_button.continue.active{cursor: pointer;background-color:#3776b3;}
.GslBooking .gslfront_1 .productoverview .gsl_button.continue{
    background-color: #ddd;
    width: 20%;
    position: absolute;
    right:10px;
    bottom:10px;
    cursor: default;}
.GslBooking .gslfront_1 .product_availablerooms{font-size: 12px !important;}
.GslBooking .gslfront_1 .unavailableRooms{color:#ddd;}

/*Addons and guest information*/
.GslBooking .gslfront_1 .addons_overview{background-color:#efefef;}

.GslBooking .gslfront_1 .overview{background-color:#efefef;display: none;}
.GslBooking .gslfront_1 .overview_article{width:70%;padding:10px;background-color:#f9f9f9;box-shadow: inset -1px 0 0 #ddd;}
.GslBooking .gslfront_1 .overview_room_info{float:right;width: 30%;padding:10px;}
.GslBooking .gslfront_1 .overview_confirmation{clear: both;position:absolute;right:0;bottom:10px;width:30%;}
.GslBooking .gslfront_1 .overview_addons .addon div{width: 20%;display: inline-block;}
.GslBooking .gslfront_1 .overview_addons .addButton{padding: 4px 0;background-color:#83b0dc;}
.GslBooking .gslfront_1 .overview_addons .addButton.added_addon{background-color:#de5353;}
.GslBooking .gslfront_1 .overview_addons .addButton.added_addon:hover{background-color:#de5353;}
.GslBooking .gslfront_1 .overview_addons .addButton:hover,

.GslBooking .gslfront_1 .overview_addons .addon{    background-color: #eaf5ff;
    padding: 8px;
    margin: 10px 0;
    border-radius: 0 20px 20px 0;
    border-left: 6px solid #3776b3;
    box-shadow: inset 0px 0px 0px 1px rgba(55, 118, 179, 0.12);
    color: #232323;}
.GslBooking .gslfront_1 .roomentry{padding:20px 0;}
.GslBooking .gslfront_1 .guestentry{padding-top:10px;}
.GslBooking .gslfront_1 .guestentry div{display:inline-block;width: 25%;}
.GslBooking .gslfront_1 .guestentry i{padding:0 2px;cursor:pointer;color:#aaa;}
.GslBooking .gslfront_1 .guestentry i:hover{color:#555;}
.GslBooking .gslfront_1 .guestentry input{padding:8px;width:100%;border:1px solid #ddd;border-right:0;}
.GslBooking .gslfront_1 .guest_phone{width:25% !important;background-color:#f9f9f9;color: #3776b3;text-align: center;padding: 8px 0;}
.GslBooking .gslfront_1 .guest_addon{border: 1px solid #ddd;padding: 8px;width:100% !important;position: relative;border-radius:0 20px 20px 0;}
.GslBooking .gslfront_1 .addguest{padding: 4px 10px;}
.GslBooking .gslfront_1 .removeguest{
    background-color: #de5353;
    position: absolute;
    border-radius:50%;
    right: 0;
    top: 0;
    padding: 11px !important;
    color: #f9f9f9 !important;}
.GslBooking .gslfront_1 .active_addon{color:#3776b3 !important;}
.GslBooking .gslfront_1 .gsl_button.goToPayment{width:68%;padding:8px 0;}
/*End of gslfront 1*/