/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 10:13:50 AM
    Author     : ktonder
*/

.firstrow {
    background-image: url('../images/future.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50px;
}

.introbox {
    width: 500px;
    margin-left: 80px;
    padding: 20px;
    margin-bottom: 50px;
}

.introbox h2 {
    font-size: 30px;
}

.actionbutton.bookademo {
    margin-left: 80px;
    margin-bottom: 100px;
}

.underbox h2 {
    font-size: 70px;
    color: #F9B000;
    font-weight: bold;
    font-family: 'arial';
    margin-bottom: 30px;
}

.underbox {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.sized_and_centered_row {
    max-width: 1200px;
    margin: 0 auto;
}

.center_content {
    text-align: center;
}

.slider_button {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    background-color: #FFF;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border: dashed 5px #DDD;
    cursor: pointer;
}

.slider_button h2 {
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.slider_button p {
    margin: 0px;
}

.sliderrow {
    height: 700px;
}

.slider_row_inner {
    position: relative;
}

.slider {
    background-size: cover;
    position: absolute;
    min-height: 500px;
    top: 130px;
    display: none;
}

.slider.slider_1 {
    background: url('../images/guestbooksonline.png') no-repeat 100px top ;
}

.slider.slider_2 {
    background: url('../images/paysonline.png') no-repeat left top ;
}

.slider.slider_3 {
    background: url('../images/sms.png') no-repeat left top ;
}

.slider.slider_4 {
    background: url('../images/pga.png') no-repeat left top ;
}

.slider.slider_5 {
    background: url('../images/checkout.png') no-repeat left top ;
}

.slider.slider_6 {
    background: url('../images/survey.png') no-repeat left top ;
}

.slider.slider_7 {
    background: url('../images/postcheckout.png') no-repeat left top ;
}

.sliderrow {
    text-align: center;
    margin: 0 auto;
    background-color: #fbfbfb;
}

.slider .contentarea {
    text-align: left;
    width: 300px;
    background-color: #FFF;
    padding: 30px;
    
    margin-left: 650px;
    margin-top: 50px;
}


.slider_row_header {
    background-color: #fbfbfb;
    padding: 50px;
    margin-top: 50px;
}

.sliders {
    max-width: 1000px;
    margin: 0 auto;
}

.slider_button.active {
    background-color: #f9af00;
}

.productbox {
    margin: 25px;
    background-color: #fbfbfb;
    width: 445px;
    text-align: center;
    padding: 50px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    height: 250px;
    padding-top: 0px;
}

.productbox .image img {
    max-width: 400px;
}

.productsheaderrow {
    padding-top: 50px;
    padding-bottom: 50px;
}

.productsheaderrow h2 {
    color: #f9af00;
    font-size: 50px;
}

.productbox.small {
    width: 245px;
    height: 270px;
    padding-top: 0px;
}

.productbox.small .image img {
    max-width: 200px;
}


.productbox .title {
    font-weight: bold;
    font-size: 25px;
}

.productbox img {
    max-height: 120px;
}
@media only screen and (max-width: 800px) {
    .introbox {
        margin-left: 0px;     
        margin-right: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .slider .contentarea {
        margin-left: 20px;
        margin-top: 0px;
        width: 90%;
        margin-right: 20px;
        background-color: inherit;
        box-sizing: border-box;
        margin-top: 30px;
    }
    
    .slider {
        position: initial;
        background: none !important;
    }
    
    .productbox {
        width: 100% !important;
        box-sizing: border-box;
        margin: 0px;
        padding: 30px;
        height: inherit;
    }
    
    div.productbox:nth-child(even) {
        background-color: #FFF;
        padding-bottom: 30px !important;
    }
    
    .actionbutton.bookademo {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
        box-sizing: border-box;
    }
    
    .productbox .image img {
        max-width: calc(100% - 20px);
    }
    
    .productbox {
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px) !important;
    }
}