<div class='gsview'>
    The menu is stored on the device due to performance reasons.
    <br/>
    <br/>
    <div class='button' ng-click="reloadData()">
        <i class='fa fa-spinner fa-spin' ng-if='starteda || startedb ||startedc '></i>
        Download menu
    </div>
    
    <div style="font-size: 20px; margin-top: 30px;">
        <input type='checkbox' ng-model="standalone" ng-click="toggleStandalone()"/> Is standalone ?
    </div>
    <br/>
    Active payment methods:
    <div ng-repeat='method in datarepository.paymentMethods '>
        <input type='checkbox' ng-model='method.isActiveForDevice' ng-click='savePaymentMethods()'/>{{ method.appName }}
    </div>
    
    <h2>Active product lists for this device</h2>
    <div ng-repeat='list in datarepository.productLists '>
        <input type='checkbox' ng-model='list.isActiveForDevice' ng-click='saveActiveLists()'/>{{ list.listName }}
    </div>
</div>