.aviary_wrap {
    position: relative;
}

.aviary_button {
    top: 0px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0px;
    padding: 2px;
    cursor: pointer;
    z-index: 1;
    border-radius: 2px;
    background-color: #3a99d7;
    box-shadow: 0px 0px 2px #bbb;
    display: none;
    z-index: 2;
}

.aviary_button > i {
    font-size: 18px;
    color: white;
    margin-left: 1px;
    position: absolute;
    left: 2px;
}

.aviary_edit_button {
    left: 0px;
}

.aviary_edit_background_button {
    left: 0px;
}

.aviary_revert_button {
    left: 22px;
}