.NewsLetter .heading {
    text-align: right;
    margin-bottom: 10px;
}

.NewsLetter .conctact_list { display: none; }

.NewsLetter input#news_letter_subject {
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    
    padding: 5px 10px;
    width: 165px;
    outline: none;
}
.NewsLetter #attachments .fa-trash-o { float:right; cursor:pointer; }
.NewsLetter .attach_file_button { float:right; }