<div ng-if='!datarepository.selectedRouteForPoolController'>
    <div style='text-align: center; font-weight: bold;'>Please select route you wish to modify.</div>
    <br/>
    <div ng-repeat='route in routes ' class='select_route_row'>
        {{ route.name }} <div class="button modifyRouteButton" ng-mobile-click="selectRoute(route)"><i class='fa fa-arrow-right'></i></div>
    </div>
</div>

<div ng-if='datarepository.selectedRouteForPoolController'>
    <div style='text-align: center; font-weight: bold;'>Select route that you wish to remove and add to pool</div>
    <div ng-repeat='destination in datarepository.selectedRouteForPoolController.destinations' class='move_to_pool_row'>
        <div class='button move_to_pool_button' ng-mobile-click='moveToPool(destination)'><i class='fa fa-arrow-down'></i></div>
        {{ destination.seq }} - {{ destination.company.name }}
    </div>
</div>