<div ng-if='!datarepository.selectedRouteForPoolController'>
    <div style='text-align: center; font-weight: bold;'>Please select route you wish to modify.</div>
    <br/>
    <div ng-repeat='route in datarepository.routes ' class='select_route_row' ng-if="!route.completedInfo.completed">
        {{ route.name }} <div class="button modifyRouteButton" ng-mobile-click="selectRoute(route)"><i class='fa fa-arrow-right'></i></div>
    </div>
</div>

<div ng-if='datarepository.selectedRouteForPoolController'>
    <div style='text-align: center; font-weight: bold;'>Select route that you wish to remove and add to pool</div>
    <div ng-repeat='destination in datarepository.selectedRouteForPoolController.destinations' class='move_to_pool_row'>
        
        
        <div class='destinationtypes'>
            <div class='indicator_pickup' ng-show="isTaskType(destination, true, false)">P</div>
            <div class='indicator_delivery' ng-show="isTaskType(destination, false, true)">D</div>
            <div class='indicator_pickup_and_delivery' ng-show="isTaskType(destination, true, true)"><span>P</span> <span></span> <span>D</span></div>
        </div>
        
        <div class='button move_to_pool_button' ng-mobile-click='moveToPool(destination)'><i class='fa fa-arrow-down'></i></div>
        {{ destination.seq }} - {{ destination.company.name }}
    
    </div>
    
    <div style="margin-top: 50px;" ng-if="pooledDestinations.length > 0">
        <b>From pool: </b>
        <br/>
        <div ng-repeat='destination in pooledDestinations' class='move_to_pool_row'>
            <div class='destinationtypes'>
                <div class='indicator_pickup' ng-show="isTaskType(destination.destination, true, false)">P</div>
                <div class='indicator_delivery' ng-show="isTaskType(destination.destination, false, true)">D</div>
                <div class='indicator_pickup_and_delivery' ng-show="isTaskType(destination.destination, true, true)"><span>P</span> <span></span> <span>D</span></div>
            </div>
            <div class='button move_to_pool_button' ng-mobile-click='moveFromPool(destination.destination, destination.id)'><i class='fa fa-arrow-up'></i></div>
            {{ destination.destination.seq }} - {{ destination.destination.company.name }} ( From: {{ destination.originalRoute.id }} )
        </div>
    </div>
</div>


