.AccountingDownload .col_startDate,
.AccountingDownload .col_endDate,
.AccountingDownload .col_rowCreatedDate {
    width: 90px !important;
}

.AccountingDownload .col_amountEx,
.AccountingDownload .col_amountInc,
.AccountingDownload .col_amountExDebet,
.AccountingDownload .col_orders {
    width: 80px !important;
}

.AccountingDownload .preview .row .col {
    display: inline-block;
}

.AccountingDownload .preview .row .col1 { width: 100px; }
.AccountingDownload .preview .row .col2 { width: 200px; }
.AccountingDownload .preview .row .col3 { width: 300px; }

.AccountingDownload .informationbox {
    border: solid 1px #DDD;
    padding: 20px;
    background-color: #FEFEFE;
}

.AccountingDownload .askForTransformation .shop_button {
    margin-top: 20px;
}

.AccountingDownload .askForTransformation i {
    margin-bottom: 20px;
    font-size: 20px;
}

.AccountingDownload .askForTransformation {
    background-color: #EEE;
    text-align: center;
    padding: 20px;
}

.AccountingDownload .OrderSimplePrinter .compactorderheader div {
    display: inline-block;
    width: 200px;
    border-bottom: solid 1px #DDD;
}