/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2018, 10:50:50 PM
    Author     : ktonder
*/

.infobox {
    padding: 50px;
    border-top: solid 1px rgba(0,0,0,0.1);
    
}

.infobox .desc {
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
    font-size: 25px;
    width: calc(100% - 105px);
}

.infobox span {
    font-size: 50px;
    vertical-align: top;
    color: red;
    width: 100px;
}

.infobox.green span {
    color: green;
}

.room .roomtitle {
    background-color: rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.room {
    border: solid 1px rgba(0,0,0,0.1);
}

.buttonarea {
    text-align: center;
    padding: 20px;
}