/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 10:13:50 AM
    Author     : ktonder
*/

.firstrow {
    background: url('../images/canyon.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    padding-top: 1px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content_row .row_inner {
    margin-top: 50px;
    margin-bottom: 50px;
}

.picker_header { color:#fff !important; }

.firstrow .contentarea {
    color: #FFF;
    text-align: center;
    padding-bottom: 30px;
}



.firstrow .contentarea h2 {
    font-size: 40px;
}

.row_2 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.row_4 {
    text-align: center;
    margin-top: 130px;
    margin-bottom: -4px;
}