.gsarea[area="header"] { background-color:#000; color:#fff; height: 70px; }
.gsarea[area="header"] .Menu a { color:#fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.75); }
.gsarea[area="footer"] { background-color:#3e3e40; color:#fff; height: 230px; }
.gs_page_width { width:1024px; margin: auto; }
body {font-family: 'Open Sans', sans-serif;}
h2,h1 { font-weight: 500; }
.Menu { position:absolute; right: 0px; text-align: right; }
.Menu .entry { padding: 20px; }
.Menu .entries .entries { border: solid 1px #efefef; margin-top: 10px; border-top: solid 0px #efefef; }
.Menu .entries .entries .entry {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 5px; text-align: left; border-top: solid 1px #efefef; background-color:rgba(0,0,0,0.8); 
}

#informationbox-holder {
  -webkit-border-radius: 3px;
    border-radius: 3px; 
    background-color: #146da6;
}

#informationboxtitle {
background-color: #146da6;
}

.GetShopToolbox .seperator,
.GetShopToolbox .title {
    background-color: #146da6;
}

#informationbox { background-color:#fff }