.PmsSendMessagesConfiguration .messagebox-outer {  float:left;width: 50%; padding: 5px; box-sizing: border-box; }
.PmsSendMessagesConfiguration .messagebox { border: solid 1px #bbb; box-sizing: border-box; margin-bottom: 10px; border-radius: 3px; background-color:#fff; padding-right: 10px;padding-left: 10px; }
.PmsSendMessagesConfiguration .messagebox .heading { box-sizing: border-box; border-bottom: solid 1px #bbb; width: 100%; padding: 10px; font-size: 16px; font-weight: bold; }
.PmsSendMessagesConfiguration .messagebox .heading i { float:right; cursor:pointer; }
.PmsSendMessagesConfiguration .messagebox .body textarea { width: 100%; height: 150px; box-sizing: border-box; }
.PmsSendMessagesConfiguration .messagebox .footer { text-align: right; padding-bottom: 5px; }
.PmsSendMessagesConfiguration .emailtemplate { width: 100%;box-sizing: border-box;height: 400px; }
