.PmsSendMessagesConfiguration .messagebox-outer {  float:left;width: 50%; padding: 5px; box-sizing: border-box; }
.PmsSendMessagesConfiguration .messagebox { border: solid 1px #bbb; box-sizing: border-box; margin-bottom: 10px; border-radius: 3px; background-color:#fff; padding-right: 10px;padding-left: 10px; }
.PmsSendMessagesConfiguration .messagebox .heading { box-sizing: border-box; border-bottom: solid 1px #bbb; width: 100%; padding: 10px; font-size: 16px; font-weight: bold; }
.PmsSendMessagesConfiguration .messagebox .heading i { float:right; cursor:pointer; }
.PmsSendMessagesConfiguration .messagebox .body textarea { width: 100%; height: 150px; box-sizing: border-box; }
.PmsSendMessagesConfiguration .messagebox .footer { text-align: right; padding-bottom: 5px; }
.PmsSendMessagesConfiguration .emailtemplate { width: 100%;box-sizing: border-box;height: 400px; }
.PmsSendMessagesConfiguration .messageboxnew { border: solid 1px #bbb; border-radius: 5px;background-color:#efefef; margin-bottom: 20px; }
.PmsSendMessagesConfiguration .messageboxnew .title { padding: 10px; }
.PmsSendMessagesConfiguration .messageboxnew .footer { padding: 10px; position:relative; }
.PmsSendMessagesConfiguration .messageboxnew .footer .fa-trash-o { position:absolute; right: 10px; font-size: 20px; color:#000; cursor:pointer; }
.PmsSendMessagesConfiguration .messageboxnew .footer .fa-edit { position:absolute; right: 30px; font-size: 20px; color:#000; cursor:pointer; }
.PmsSendMessagesConfiguration .messageboxnew .optionspreview {    position: absolute;
    right: 70px;
    top: 13px;
    text-align: right;
    font-size: 10px; }
.PmsSendMessagesConfiguration .messageboxnew .optionspreview.sms { top: 5px; }
.PmsSendMessagesConfiguration .messageboxnew .content { border-top: solid 1px #bbb; border-bottom: solid 1px #bbb; padding: 10px; background-color:#fff; }
.PmsSendMessagesConfiguration .loadeditevent { overflow:auto; position: fixed; z-index:3;width: 100%; height: 100%; background-color:rgba(0,0,0,0.5); left:0px; top: 0px; display:none; }
.PmsSendMessagesConfiguration .previewarea {
    background-color: #efefef;
    padding: 10px;
    border: solid 1px #bbb;
    margin: 10px;
    max-height: 300px;
    overflow: auto;
}