.integrationsstart {
    background-color:#fff;
}


.row_1 {
    background-image: url('../images/integrationstop.png');
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 500px;
}
.row_2 { text-align: center; }

.page_row .page_row_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.integrationbox { display:inline-block; width: 250px; height: 250px; border: solid 1px #e5b031; margin: 20px; position: relative; border-radius: 10px; }
.integrationbox .title { padding: 20px; border-bottom: solid 1px #e5b031; }
.integrationbox .desc { position:absolute; font-size: 14px; padding: 10px; text-align: left;}
.integrationbox .footer { position:Absolute; bottom: 0px; text-align: center;width:100%; border-top: solid 1px #e5b031; padding: 2px; color:#bbb;box-sizing: border-box;}
.page_row .page_row_inner p {
    margin-top: 0px;
    margin-bottom: 20px;
}
