.MecaFleetPKKList .pkkrow {
    border-bottom: solid 1px #DDD;
    padding: 5px;
    position: relative;
    padding-bottom: 10px;
}
.MecaFleetPKKList .pkkrow:hover {
    background-color : #E9E9E9;
}

.MecaFleetPKKList .pkkrow:last-child {
    border-bottom: solid 0px;
}

.MecaFleetPKKList .pkkrow.header {
    background-color: #DDD;
}

.MecaFleetPKKList .pkkrow div {
    display: inline-block;
}

.MecaFleetPKKList .pkkrow div:nth-child(1) { width: 30px; padding-left: 10px; text-align: center;}
.MecaFleetPKKList .pkkrow div:nth-child(2) { width: 50px; padding-left: 10px;}
.MecaFleetPKKList .pkkrow div:nth-child(3) { width: 150px; }
.MecaFleetPKKList .pkkrow div:nth-child(4) { width: 650px; }
.MecaFleetPKKList .pkkrow div:nth-child(5) { width: 200px; }

.MecaFleetServiceList .servicerow.yellow {
    background-color: #e0dd00;    
}

.MecaFleetPKKList .pkkrow .disabled { color: grey; }
.MecaFleetPKKList .pkkrow .red { color: red; }
.MecaFleetPKKList .pkkrow .yellow { color: yellow; }
.MecaFleetPKKList .pkkrow .green { color: green; }

.MecaFleetPKKList .pkkrow .details {
    display: block;
    padding: 20px;
    margin: 20px;
    border: solid 1px #DDD;
    background-color: #EFEFEF;
    text-align: center;
}