.Login  {
    text-align: right;
    margin-bottom: 10px
}
.Login .login_header_type_1 {
    font-size: 25px;
    
    border: solid 1px #EEE;
    border-top: solid 0px;
    display: inline-block;
    border-radius: 0px 0px  10px 10px ;
    
}

.Login .login_content {
    text-align: left;
}

.Login .login_header_type_1 i {
    cursor: pointer;
}

.Login .login_header_type_1 i {
    padding: 20px;
}

.Login .login_header_type_1 .fa-lock {
    border-left: solid 1px;
}

.gsarea[area="header"] .Login .loginform {
    display: none;
}

.gsarea[area="body"] .Login .login_header_type_1 {
    display: none;
}

.Login .recover_section_outer.disabled { color:rgba(0,0,0,0.1); }
.Login .recover_section_outer.disabled input { color:rgba(0,0,0,0.1); }

.Login .recover_section_outer { width: 33.3%; float:left; box-sizing: border-box; padding: 10px; }
.Login .recover_section { padding: 10px; }
.Login .recover_section input { display:block; height: 30px;  width: 100%;  box-sizing: border-box; margin-bottom: 5px; }
.Login .form {
    margin-top: 20px;
}
.Login .form .gs_button,
.Login .form .loginbutton {
    width: 320px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.Login .form input {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    background: #FFF;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}