.PmsGroupBookingHeader .top_box {
    text-align: center;
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    
}

.PmsGroupBookingHeader .addAddonsPanel .addonsrow {
    clear:both;
    height: 36px;
    line-height: 36px;
    margin-bottom: 3px;
}
.PmsGroupBookingHeader .moveCategoryPanel {
    margin-bottom: 30px;
    display: none;
    width: 600px;
    border: solid 1px #bbb;
    background-color: #efefef;
    position: absolute;
    margin-top: 50px;
    padding: 20px;
    z-index:2; 
}
.PmsGroupBookingHeader .col.owner { width: 200px; }
.PmsGroupBookingHeader .col.end { width: 170px; }
.PmsGroupBookingHeader .col.start { width: 170px; }
.PmsGroupBookingHeader .col.guestnames { width: 350px; }
.PmsGroupBookingHeader .col.roomtype { width: 200px; }
.PmsGroupBookingHeader .col.room { width: 200px; }
.PmsGroupBookingHeader .col.choose { float:right; cursor:pointer; }
.PmsGroupBookingHeader .addfromotherroomrow:hover { font-weight: bold; }

.PmsGroupBookingHeader .findroomfrombooking {
    border: solid 1px #bbb;
    background-color: #efefef;
    width: 100%;
    display: none;
    z-index: 2;
    position:absolute;
    left: 0px;
}
.PmsGroupBookingHeader .addAddonsPanel .addonsrow .addAddonsToRoom,
.PmsGroupBookingHeader .addAddonsPanel .addonsrow .removeAddonFromRoom
{
    float:right;
}
.PmsGroupBookingHeader .addAddonsPanel .addonsrow .addAddonsToRoom:hover,
.PmsGroupBookingHeader .addAddonsPanel .addonsrow .removeAddonFromRoom:hover
{
    font-weight: bold;
}
.PmsGroupBookingHeader .addAddonsPanel {
    margin-bottom: 30px;
    display: none;
    width: 600px;
    border: solid 1px #bbb;
    background-color: #efefef;
    position: absolute;
    margin-top: 50px;
    padding: 20px;
    z-index:2;
}

.PmsGroupBookingHeader .searchbrregbutton { color: blue; cursor:pointer; }
.PmsGroupBookingHeader .updatepricepanel { display:none; }
.PmsGroupBookingHeader .brregsearchresultrow:hover { font-weight: bold; cursor:pointer;}
.PmsGroupBookingHeader .searchbrregarea {
    position: absolute;
    border: solid 1px;
    z-index:2;
    display: inline-block;
    display:none;
    padding: 10px;
    background-color:#fff;
    border-color: #bbb;
}

.PmsGroupBookingHeader {
    max-width: 1500px;
    margin: auto;
}
.PmsGroupBookingHeader .notavailablerooms { color:red; font-size: 18px; display:none; }

.PmsGroupBookingHeader .datarow_extended_content { padding: 0px !important; }

.PmsGroupBookingHeader .booker_main_user.selected { display:block; }
.PmsGroupBookingHeader .top_box {
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    color: #FFF;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    cursor:pointer;
}
.PmsGroupBookingHeader .show_change_user { float:right; background-color: rgba(133,178,211,1); border-top: solid 1px; }
.PmsGroupBookingHeader .top_box:hover {
    color:#5c2c7e;
}
.PmsGroupBookingHeader .setsameasbooker { color: blue; cursor:pointer; }
.PmsGroupBookingHeader .top_box.selected {
    color:#3d463b;
}

.PmsGroupBookingHeader .top_box .title {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
}

.PmsGroupBookingHeader .booker_main_user .title {
    text-align: center;
    color: #FFF;
    background: rgb(167,199,220);
    background: -moz-linear-gradient(top, rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%);
    background: -webkit-linear-gradient(top, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%);
    background: linear-gradient(to bottom, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%);
    padding: 5px;
}

.PmsGroupBookingHeader .edituserdetails {
    width:50%; float:left; padding-right:10px;box-sizing: border-box;
}
.PmsGroupBookingHeader .masseditguests {
    width:50%; float:left;background-color:#fff;
}

.PmsGroupBookingHeader .booker_main_user {
    margin-top: 50px;
}

.PmsGroupBookingHeader .booker_main_user .col {
    display: inline-block;    
    padding: 5px;
}

.PmsGroupBookingHeader .booker_main_user .col1 { width: 150px; }
.PmsGroupBookingHeader {
    margin-bottom: 50px;
    margin-top: 50px;
}

.PmsGroupBookingHeader .amount {
    width: 100px;
    text-align: right;
}

.PmsGroupBookingHeader .col.name{
    width: 300px;
}

.PmsGroupBookingHeader .col.room {
    width: 100px;
}

.PmsGroupBookingHeader .col.date {
    width: 150px;
}

.PmsGroupBookingHeader .col.nights {
    width: 50px;
}

.PmsGroupBookingHeader .header.row {
    font-size: 0px;
}

.PmsGroupBookingHeader .header.row .col {
    font-size: 13px;
    font-weight: bold;
}

.PmsGroupBookingHeader div.row:nth-child(odd) {
    background-color: #FFF;
}

.PmsGroupBookingHeader .row.deleted {
    color: red;
}