.PmsGroupBookingHeader .top_box {
    text-align: center;
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    
}

.PmsGroupBookingHeader .searchbrregbutton { color: blue; cursor:pointer; }
.PmsGroupBookingHeader .brregsearchresultrow:hover { font-weight: bold; cursor:pointer;}
.PmsGroupBookingHeader .searchbrregarea {
    position: absolute;
    border: solid 1px;
    z-index:2;
    display: inline-block;
    display:none;
    padding: 10px;
    background-color:#fff;
    border-color: #bbb;
}

.PmsGroupBookingHeader {
    max-width: 1500px;
    margin: auto;
}
.PmsGroupBookingHeader .notavailablerooms { color:red; font-size: 18px; display:none; }

.PmsGroupBookingHeader .datarow_extended_content { padding: 0px !important; }

.PmsGroupBookingHeader .booker_main_user.selected { display:block; }
.PmsGroupBookingHeader .top_box {
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    color: #FFF;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    cursor:pointer;
}
.PmsGroupBookingHeader .show_change_user { float:right; background-color: rgba(133,178,211,1); border-top: solid 1px; }
.PmsGroupBookingHeader .top_box:hover {
    color:#5c2c7e;
}
.PmsGroupBookingHeader .setsameasbooker { color: blue; cursor:pointer; }
.PmsGroupBookingHeader .top_box.selected {
    color:#3d463b;
}

.PmsGroupBookingHeader .top_box .title {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
}

.PmsGroupBookingHeader .booker_main_user .title {
    text-align: center;
    color: #FFF;
    background: rgb(167,199,220);
    background: -moz-linear-gradient(top, rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%);
    background: -webkit-linear-gradient(top, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%);
    background: linear-gradient(to bottom, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%);
    padding: 5px;
}

.PmsGroupBookingHeader .edituserdetails {
    width:50%; float:left; padding-right:10px;box-sizing: border-box;
}
.PmsGroupBookingHeader .masseditguests {
    width:50%; float:left;background-color:#fff;
}

.PmsGroupBookingHeader .booker_main_user {
    margin-top: 50px;
}

.PmsGroupBookingHeader .booker_main_user .col {
    display: inline-block;    
    padding: 5px;
}

.PmsGroupBookingHeader .booker_main_user .col1 { width: 150px; }
.PmsGroupBookingHeader {
    margin-bottom: 50px;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    .PmsGroupBookingHeader .top_box { width: 80px; height: 80px; font-size:25px; margin-bottom: 20px;  }
    .PmsGroupBookingHeader .edit_details_directprint { width: 100%; box-sizing: border-box;  }
    .PmsGroupBookingHeader .edituserdetails { width: 100%; margin-left: 10px;float:none;}
    .PmsGroupBookingHeader .masseditguests { width:100%; float:none; margin-top: 10px;}
    .PmsGroupBookingHeader .masseditguests [gsname="name"],
    .PmsGroupBookingHeader .masseditguests [gsname="email"]
    { width:calc((100%/2) - 140px) }
    .PmsGroupBookingHeader .masseditguests [gsname="phone"] { width:80px; }
    .PmsGroupBookingHeader select.gsniceselect1 { width: 100% !important; }
    .PmsGroupBookingHeader .edit_details_directprint .shop_button { width: 100% !important; }
    .PmsGroupBookingHeader [areatype="stay"] { display:none; }
    .PmsGroupBookingHeader [areatype="conference"] { display:none; }
    .PmsGroupBookingHeader .headercol {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;  }
    .PmsGroupBookingHeader .col_reg,
    .PmsGroupBookingHeader .col_guest,
    .PmsGroupBookingHeader .col_visitor,
    .PmsGroupBookingHeader .col_price
    { display:none !important; }
    .PmsGroupBookingHeader .GetShopModuleTable { font-size: 11px; }
    .PmsGroupBookingHeader .GetShopModuleTable .col_visitor { width: calc(100% - 350px) !important; }
    .PmsGroupBookingHeader .GetShopModuleTable .headercol.col_visitor { width: calc(100% - 350px) !important; }
    
    .PmsGroupBookingHeader .GetShopModuleTable .attributeheader.datarow .col, 
    .PmsGroupBookingHeader .GetShopModuleTable .datarow_inner .col {
        width: 14% !important;
    }

    
}