.PmsAvailabilityTimeline .timelineresult { margin-top: 30px; }
.PmsAvailabilityTimeline .full { background-color:#881212; color: white; }
.PmsAvailabilityTimeline .available { background-color:green; color: white; }
.PmsAvailabilityTimeline th { background-color:#efefef; padding-left: 5px; padding-right: 5px; }
.PmsAvailabilityTimeline .valueentry_item { width: 60px; font-size: 10px; height: 12px; position:absolute; border-bottom: solid 1px #efefef; left:0px; background-color:#fff; display:inline-block; margin-top: 1px; }
.PmsAvailabilityTimeline .valueentry_placeholder { border: solid 0px; width: 60px; font-size: 10px; line-height: 10px; float:left; left:0px; background-color:#fff; display:inline-block; margin-top: 1px; }
.PmsAvailabilityTimeline .valueentry { border-top: solid 1px #efefef; border-left: solid 1px #efefef; display:inline-block; float: left; width: 60px; text-align: center; font-size: 10px; height: 10px; }
.PmsAvailabilityTimeline .valueentry.date { 
    width: 61px;
    float: left;
    font-size: 10px; 
    border: 0px;
    padding-left: 5px;
    box-sizing: border-box;
}
.PmsAvailabilityTimeline .timelineoverviewouter { width: 100%;  max-height: 800px;overflow: auto; box-sizing: border-box; position:relative; }
.PmsAvailabilityTimeline .dateheadingrow { background-color:#fff; height: 20px; padding-top: 30px; }
.PmsAvailabilityTimeline .topspacingitemoverview { height: 50px; clear:both;}