.ProductLists .grid_view .product_title { 
font-size: 13px;
height: 25px !important;
padding: 0px !important;
line-height:25px;
overflow:hidden;
}
.gsinner.gsdepth_0 { padding-left: 10px; padding-right: 10px; }
.shop_button { padding: 0px; width:100%; margin: 0px !important;}
.gstabheader { border-bottom: solid 1px; }
.gstabheader .gstabbtn { font-size: 12px; border-bottom: solid 0px; border-top-left-radius: 3px; border-top-right-radius: 3px;  }

/* colors */
.gstabheader .gstabbtn,.gstabheader {  border-color: #bbb; }

.ProductLists .grid_view .product_title, .gsmobilemenuentry,.gstabheader .gstabbtn.gsactivetab,.shop_button { 
    background: #f2f5f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}
.shop_button,.ProductLists .grid_view .product_title, .gsmobilemenuentry {
    color:#000;
}
