.Hotelbooking .bookingbox .heading { border-bottom: solid 1px; font-size: 16px; display:block; width: 100%; text-align:center;  }
.Hotelbooking .room_selection { width:100%; background-color:#FFF; padding: 5px; }
.Hotelbooking .date_selection_room { width:100%; border: solid 1px #b0bda4; margin:0px;padding: 3px;filter:alpha(opacity=2); opacity:2; }
.Hotelbooking .fa-calendar { margin: 3px; cursor:pointer; }
.Hotelbooking .check_available_button, .Hotelbooking .continue_to_cart_button { color:#FFF; text-align: center; margin-top: 20px; background-color:#d2684f; padding:3px; cursor: pointer; padding-top: 7px;  padding-bottom: 7px; }
.Hotelbooking .continue_button { display:block;  width: 175px;text-align: center; background-color:#d2684f; padding:3px; cursor: pointer; padding-top: 7px;  padding-bottom: 7px; }

.Hotelbooking .boxontop { width: 90%; height: 90%; position:absolute; z-index: 1; left: 17px; top: 12px; }
.Hotelbooking .bookingbox { box-sizing:border-box;-moz-box-sizing:border-box;position: absolute; top: 122px; color:#EFEFEF; width: 350px; height: 245px;  }
.Hotelbooking .background-box { background-color:#000; position:absolute;z-index: 0; width: 100%; height: 100%; opacity:0.7; filter:alpha(opacity=70); }
.Hotelbooking .room_available { font-size: 16px; display:block; }
.Hotelbooking .space_betweenroom { height: 20px; }
.Hotelbooking .error_on_check { display:none; padding-top: 20px; font-size: 16px; }
.Hotelbooking .booking_page.page_2 input,.Hotelbooking .booking_page.page_2 select { border: solid 1px#BDC7D8; margin:0px; padding: 5px; width: 170px; }
.Hotelbooking .booking_page.page_2 select { width: 182px; }
.Hotelbooking .title { font-weight: bold; font-size: 24px;  border-bottom: solid 3px #f7f7f7; padding-bottom: 10px; margin-bottom: 20px;  }
.Hotelbooking .cal_header { text-align: center; padding: 5px; border: solid 1px #a4ae95; background-color:#b9c4a9; }
.Hotelbooking .cal_header.second { border: solid 1px #b2b6bc; background-color:#cbcbcb; }
.Hotelbooking .cal_field { border: solid 1px #e5e5e5; display:inline-block; width: 23px; height: 23px; line-height: 23px; cursor:pointer; }
.Hotelbooking .cal_field.selected { background-color: #b4bac4; }
.Hotelbooking .booking_count_box td { font-size: 18px; font-weight: bold; }
.Hotelbooking .booking_count_box input { border: solid 1px #BDC7D8; width: 40px; margin-left: 20px; }
.Hotelbooking .booking_count_box select { width: 100%; background-color:#FFF; border: solid 1px #e5e5e5; }
.Hotelbooking .room_selection_2 { padding-left: 20px; padding-right: 20px; position:relative; }
.Hotelbooking .room_selection_2.product { padding: 20px; border: solid 1px #EEEEEE; margin-bottom: 5px; display:block; background-color: #f5f5f5; }
.Hotelbooking .room_selection_2.product .name { font-weight: bold; font-size: 18px; }
.Hotelbooking .room_selection_2 .firstbox { display:inline-block; width: 60%; }
.Hotelbooking .room_selection_2 .secondbox { display:inline-block; width: 10%;text-align:center;  }
.Hotelbooking .room_selection_2.product .secondbox { font-size: 30px; color:#BBBBBB;  }
.Hotelbooking .room_selection_2 .selection_box { float:left; }
.Hotelbooking .room_selection_2 .personalcount { font-size: 14px; font-weight: bold; }
.Hotelbooking .room_selection_2 .price_text { font-size: 22px; font-weight: bold; }
.Hotelbooking .sold_out { margin: 20px; color:#BBB; }

.Hotelbooking .no_room_available { font-size: 22px; text-align: center; }
.Hotelbooking .room_selection_2 .price_box { float:right;display:inline-block; width: 30%; padding-top:10px; }
.Hotelbooking .room_selection_2 .selectbutton { cursor:pointer; border: solid 1px #c2c7cf; padding: 5px; float: right; background-color:#b7bdc7; color:#FFF; }
.Hotelbooking .room_selection_2 .available_rooms { position:absolute; bottom:5px; left:20px; color:#c2c7cf; }

.Hotelbooking .room_selection_2.selected { border: solid 2px #b1bea0; }
.Hotelbooking .room_selection_2.selected .selectbutton { background-color: #b1bea0; border: solid 1px #cbd3c0; }
.Hotelbooking .to_checkout { text-align: right; }
.Hotelbooking .continue_to_cart_button { padding-left: 20px; padding-right: 20px; display: inline-block; }
.Hotelbooking .booking_table .disabled { color:#bBB; }
.Hotelbooking .contact_text { display:inline-block; width: 150px; }
.Hotelbooking .right_aligned_price { float:right; }
.Hotelbooking .booking_contact_data { float:right; }
.Hotelbooking .summary_heading { border-bottom: solid 1px #BBB; padding-bottom: 5px; margin-bottom: 5px; font-size: 16px; }
.Hotelbooking .summary_total { border-top: solid 1px #BBB; border-bottom: solid 1px #BBB; margin-top: 10px; padding-top: 5px; padding-bottom: 5px; font-weight:bold; }
.Hotelbooking .price_row { padding: 3px; }
.Hotelbooking .bookingsummary input, .Hotelbooking .bookingsummary select { border: solid 1px #BDC7D8; border-radius: 2px; padding: 3px; }
.Hotelbooking .bookingsummary select { min-width: 175px; background-color:#FFF; }
.Hotelbooking .invalid { background-color:#ffd9d9 !important; }
.Hotelbooking .calendar { width:200px; }
.Hotelbooking .top_box { min-height: 260px; }
.Hotelbooking .calendar { margin-right: 30px; }
.Hotelbooking .rebated_product { color:#BBB; font-size: 15px; }
.Hotelbooking .formation_page { font-size: 30px; text-align: center; padding-top: 20px; }
.Hotelbooking .error_text { color:#ab5f22; font-weight: bold; font-size: 14px; }
.Hotelbooking .imagepreview { max-height: 100px; float:left; margin-right: 10px; }
@media only all and (min-width: 800px) {
    .Hotelbooking .calendar { float:left; margin-bottom: 20px; }
    .Hotelbooking .booking_count_box { float:right; }
    .Hotelbooking .booking_contact_data { display:inline-block; float:right; width: 45%; }
    .Hotelbooking .summaryview { display:inline-block; float:left; width: 45%; }
}

@media only all and (max-width: 800px) {
    .Hotelbooking .booking_contact_data { padding-bottom: 40px;width: 100%;  }
    .Hotelbooking .summaryview { padding-bottom: 40px; }
    .Hotelbooking .contact_text { width: 100px; }
    .Hotelbooking .contact_input input, .Hotelbooking .contact_entry select { width: 100%; }
    .Hotelbooking .top_box table { width: 100%; margin-bottom: 120px; }
}
