.Hotelbooking .bookingbox .heading { border-bottom: solid 1px; font-size: 16px; display:block; width: 100%; text-align:center; margin-bottom: 20px;  margin-top: 20px;  padding-bottom: 20px; }
.Hotelbooking .room_selection { width:100%; background-color:#FFF; padding: 5px;height:30px; border: solid 1px; line-height: 30px; }
.Hotelbooking .date_selection_room { box-sizing: border-box; border: solid 1px #b0bda4; margin:0px; width: 170px; color:#000; font-size: 14px; height: 30px; line-height: 30px; padding-left: 5px; }
.Hotelbooking .fa-calendar { margin: 3px; cursor:pointer; }
.Hotelbooking .check_available_button, .Hotelbooking .continue_to_cart_button,.Hotelbooking .continue_to_summary,.Hotelbooking .complete_partner_checkout { color:#FFF; text-align: center; background-color:#d2684f; cursor: pointer; height: 29px; line-height: 29px; }
.Hotelbooking .continue_button { display:block;  width: 175px;text-align: center; background-color:#d2684f; padding:3px; cursor: pointer; padding-top: 7px;  padding-bottom: 7px; }
.gsarea[area="body"] a { text-decoration: underline !important; }
.Hotelbooking .title { text-transform: uppercase; }
.Hotelbooking .page_selectroom { text-align:center; }
.Hotelbooking .company_cal_header { display:block; text-align: center; border-bottom: solid 1px #bbb; height: 30px; line-height: 30px; }
.Hotelbooking .company_calendar { border: solid 1px #bbb;display: inline-block; height:240px; width:100%; float:left;}
.Hotelbooking .company_calendar input[type="checkbox"] { border: solid 1px; }
.Hotelbooking .company_calendar .caldate { transition: background-color 0.5s ease; display:inline-block; width: 12.5%; height: 30px; line-height: 30px; border-right: solid 1px #bbb; border-bottom: solid 1px #bbb; box-sizing: border-box; text-align: center; cursor:pointer; padding: 2px; }
.Hotelbooking .company_calendar .caldate.lastone { border-right: solid 0px; }
.Hotelbooking .company_calendar .caldate.checkbox { height: 30px; }
.Hotelbooking .company_calendar .caldate.datelabel { cursor:inherit; }
.Hotelbooking .company_calendar .caldate.checkbox input { margin: 0px; padding: 0px; height: 15px; margin-top: 5px;}
.Hotelbooking .outer_company_calendar {  padding-right: 10px; padding-bottom: 10px; box-sizing: border-box; width:25%; display:inline-block; }
.Hotelbooking .continue_to_summary {margin-right: 10px; }
.Hotelbooking .company_room_selection { width: 100%; }
.Hotelbooking .company_calendar .caldate.selected { background-color:#267426; color:#fff; }
.gsarea[area="body"] a.partnerlink { text-decoration: none !important; color:#4fd268; }
.Hotelbooking .ordernowtextbutton { font-size: 20px;
display: inline-block;
height: 30px;
border: solid 1px #bbb;
width: 100%;
line-height: 30px;
box-sizing: border-box;
background-color: #dce7e8;
padding-left: 20px;
color: #000;
position: relative;
}
.Hotelbooking .ordernowtextbutton i { position:absolute; right: 5px; top: 5px; }

.Hotelbooking .boxontop { width: 100%; position:absolute; height: 200px; }
.Hotelbooking .bookingbox { box-sizing:border-box;-moz-box-sizing:border-box; width: 350px; height: 65px;  }
.Hotelbooking .background-box { background-color:#000; position:absolute;z-index: 0; width: 100%; height: 100%; opacity:0.7; filter:alpha(opacity=70); }
.Hotelbooking .room_available { font-size: 16px; display:block; }
.Hotelbooking .space_betweenroom { height: 20px; }
.Hotelbooking .spacer { height: 20px; }
.Hotelbooking .error_on_check { display:none; padding-top: 20px; font-size: 16px; }
.Hotelbooking .booking_page.page_2 input,.Hotelbooking .booking_page.page_2 select { border: solid 1px#BDC7D8; margin:0px; padding: 5px; width: 170px; }
.Hotelbooking .booking_page.page_2 select { width: 182px; }
.Hotelbooking .cal_header { text-align: center; padding: 5px; border: solid 1px #a4ae95; background-color:#b9c4a9; text-transform: uppercase; }
.Hotelbooking .cal_header.second { border: solid 1px #b2b6bc; background-color:#cbcbcb; }
.Hotelbooking .cal_field { border: solid 1px #e5e5e5; display:inline-block; width: 27px; height: 27px; line-height: 23px; cursor:pointer; margin-bottom: 2px; }
.Hotelbooking .cal_field.selected { background-color: #b4bac4; }
.Hotelbooking .calendar.right .cal_field.selected { background-color: #b4bac4; }
.Hotelbooking .calendar.left .cal_field.selected { background-color: #b9c4a9; }
.Hotelbooking .top_cal_header { border-bottom: solid 1px rgba(0,0,0,0.2) !important; }
.Hotelbooking .booking_count_box td { font-size: 18px; font-weight: bold; }
.Hotelbooking .booking_count_box td.checkininfo { font-size: 14px; font-weight: normal; }
.Hotelbooking .booking_count_box input { border: solid 1px #BDC7D8; width: 40px; margin-left: 20px; }
.Hotelbooking .booking_count_box select { width: 50px; background-color:#FFF; border: solid 1px #e5e5e5; }
.Hotelbooking .room_selection_2 {  padding-right: 20px; padding-top:5px; position:relative; padding-left: 170px; }
.Hotelbooking .room_selection_2.product { padding: 20px; padding-left: 170px; padding-top:45px; border: solid 1px #EEEEEE; margin-bottom: 5px; display:block; background-color: #f5f5f5; height:60px; padding-right: 5px; }
.Hotelbooking .room_selection_2.product .name { font-weight: bold; font-size: 18px; }
.Hotelbooking .room_selection_2 .firstbox { display:inline-block; width: 50%; }
.Hotelbooking .room_selection_2 .secondbox { display:inline-block; width: 10%;text-align:center;  }
.Hotelbooking .room_selection_2.product .secondbox { font-size: 30px; color:#BBBBBB;  }
.Hotelbooking .room_selection_2 .selection_box { float:left; }
.Hotelbooking .room_selection_2 .personalcount { font-size: 14px; font-weight: bold; }
.Hotelbooking .room_selection_2 .price_text { font-size: 22px; font-weight: bold; margin-left: 20px; display:inline-block; float:left; padding-top: 5px; }
.Hotelbooking .seperator {border-bottom: solid 1px #dbdee3; border-top: solid 1px #dbdee3; margin-bottom: 20px; height: 1px; display:inline-block;  width: 100%; }
.Hotelbooking .sold_out { float:right; }
.Hotelbooking .summary_heading { text-transform: uppercase; }
.Hotelbooking .referencecheckline { padding-bottom: 20px; padding-top: 3px; display: inline-block; padding-left: 20px; }
.Hotelbooking .included_all_rooms { padding-bottom: 20px; }
.Hotelbooking .bookingcol { position: relative; width: 185px !important; text-align: left; display:inline-block; float:left; }
.Hotelbooking .calbackground { position: absolute; right: 12px; bottom: 0px; text-align: center; z-index: 2; }
.Hotelbooking .calbackground i { width: 25px; height: 30px; text-align: center;  line-height: 30px; color:#000; margin:0px; }
.Hotelbooking .room_selection_col { width: 380px !important; }
.Hotelbooking .frontpagebookingrow { margin-left: 190px; }

.Hotelbooking .no_room_available { font-size: 22px; text-align: center; }
.Hotelbooking .room_selection_2 .price_box { float:right;display:inline-block; width: 30%;  }
.Hotelbooking .room_selection_2 .selectbutton { cursor:pointer; border: solid 1px #c2c7cf; padding: 5px; float: right; background-color:#b7bdc7; color:#FFF; }
.Hotelbooking .room_selection_2 .available_rooms { position:absolute; bottom:45px; left:170px; color:#c2c7cf; }
.Hotelbooking .col-33 { width: 33.33%; box-sizing: border-box; float:left; padding: 10px;  }
.Hotelbooking .col-33 input { width: 100%; border-radius: 3px;  line-height: 30px; font-size: 20px;}
.Hotelbooking .col-50 { width: 50%; box-sizing: border-box; float:left; padding: 10px;  }
.Hotelbooking .col-50 input { width: 100%; border-radius: 3px;  line-height: 30px; font-size: 20px;}
.Hotelbooking .col-100 input { width: 100%; border-radius: 3px;  line-height: 30px; font-size: 20px;}
.Hotelbooking .row_seperator { clear:both; }

.Hotelbooking .room_selection_2.selected { border: solid 2px #b1bea0; }
.Hotelbooking .room_selection_2.selected .selectbutton { background-color: #b1bea0; border: solid 1px #cbd3c0; }
.Hotelbooking .to_checkout { text-align: right; width:100%; }
.Hotelbooking .continue_to_cart_button { padding-left: 20px; padding-right: 20px; display: inline-block; width: 150px; }
.Hotelbooking .booking_table .disabled { color:#bBB; }
.Hotelbooking .contact_text { display:inline-block;  }
.Hotelbooking .right_aligned_price { float:right; }
.Hotelbooking .summary_total { border-top: solid 1px #BBB; border-bottom: solid 1px #BBB; margin-top: 10px; padding-top: 5px; padding-bottom: 5px; font-weight:bold; }
.Hotelbooking .price_row { padding: 3px; }
.Hotelbooking .bookingsummary input { border: solid 1px #BDC7D8; border-radius: 2px; padding: 3px; }
.Hotelbooking .invalid { background-color:#ffd9d9; }
.Hotelbooking .calendar { width:220px; }
.Hotelbooking .calspacing { margin-top: 15px; height: 15px; }
.Hotelbooking .cal_nav { font-size: 10px; }
.Hotelbooking .booking_table tbody th { padding-bottom: 15px; }
.Hotelbooking .top_box { min-height: 260px; }
.Hotelbooking .calendar { margin-right: 30px; }
.Hotelbooking .rebated_product { color:#BBB; font-size: 15px; }
.Hotelbooking .formation_page { font-size: 30px; text-align: center; padding-top: 20px; }
.Hotelbooking .error_text { color:#ab5f22; font-weight: bold; font-size: 14px;clear:both; }
.Hotelbooking .check_available_button { text-transform: uppercase; }
.Hotelbooking .roomdesc { font-size: 10px; color:#5c6060; }
.Hotelbooking .tooltip { z-index: 2; display:none; position:absolute; left: 190px; top: 5px; background-color:#fff; box-shadow: 2px 2px 2px rgba(0,0,0,0.5); border-radius: 3px; padding: 10px; color:#fff; background-color:#000; }
.Hotelbooking .tooltip p { margin: 0px; padding: 0px; }
.Hotelbooking .imagepreview {
    width: 152px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 90px;
}
.Hotelbooking .bookingcol { width: 25%; display:inline-block; box-sizing: border-box; padding-right: 10px; }
.Hotelbooking .bookingcol .start_cal { background-color:#b9c4a9;}
.Hotelbooking .bookingcol .end_cal { background-color:#bec3cc;}

.Hotelbooking .hotelthumbnails { position:absolute; left: 0px; bottom: 0px; }
.Hotelbooking .imagepreviewthumb {
    height: 30px;
    float:left;
    padding-bottom: 2px;
    padding-left: 2px;
}
@media only all and (min-width: 800px) {
    .Hotelbooking .calendar { float:left; }
    .Hotelbooking .booking_count_box { float:right; }
}

@media only all and (max-width: 800px) {
    .Hotelbooking .firstcalcol { padding-right: 10px; }
    .Hotelbooking { min-height: 190px; }
    .Hotelbooking .date_selection_room { width: 100%;  }
    .Hotelbooking .bookingcol { display:inline-block; width: 100%; float:none;  height: 50px; padding-right: 10px; }
    .Hotelbooking .bookingcol.datecol { width: 50%;float:left; }
    .Hotelbooking .summaryview { padding-bottom: 40px; }
    .Hotelbooking .contact_text { width: 100px; }
    .Hotelbooking .contact_input input { width: 100%; font-size: 14px !important; }
    .Hotelbooking .top_box table { width: 100%; margin-bottom: 20px; }
    .Hotelbooking .room_selection_2.product { height: auto; min-height: 105px; padding-left: 0px; padding-top: 35px; margin-bottom: 15px; }
    .Hotelbooking .secondbox.selection_box { position:absolute; right:0px; bottom: 0px; font-size: 12px !important; }
    .Hotelbooking .room_selection_2 .available_rooms { bottom: auto; top: 75px; left: 160px; padding-right: 10px; }
    .Hotelbooking .name { font-size: 16px; margin-top: 40px; margin-bottom: 10px; position: absolute; top: -35px; width:100%; padding-left: 5px; font-size: 15px !important; }
    .Hotelbooking .room_selection_2 .selectbutton { width: 102px; text-align: center; }
    .Hotelbooking .continue_to_cart_button { width: 100%; padding-left:0px; padding-right: 0px; }
    .Hotelbooking .imagepreview { top: 35px; left: 2px; }
    .Hotelbooking .room_selection_2 .price_text { font-size: 15px !important; padding-right:10px;}
    .Hotelbooking .tooltip { left: 30px !important; }
    .Hotelbooking .calbackground { right: 10px; bottom: 2px; }
}
