body {
    font-family: 'Open Sans', sans-serif;
}

.gs_page_width {
    margin: 0 auto;
    width: 1366px;
}

.gsrotateright.gsrotatearrow {
    border-color: #FFF;
    color: #000;
}

.gsarea[area="header"] {
    margin-bottom: 100px;
}

.gsarea[area="footer"] {
    margin-top: 100px;
}

.gsarea[area="header"] .Menu {
    position: absolute;
    top: 170px;
    right: 0px;
    left: 0px;
    text-align: center;
}

.gsarea[area="header"] .Menu .entry {
   
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: #888;
    text-shadow: 2px 3px 3px #BBB;
}

.gsarea[area="header"] .Menu .entries  .entries {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}


.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] input {
    box-sizing: border-box;
    
}

/* submit */
.gsucell[cellid="7d7fb359-16b5-40aa-ab32-9c84a500b142"] {
    width: 50px !important;
    vertical-align: top;
    margin: 0px;
}

.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] input,
.gsucell[cellid="7d7fb359-16b5-40aa-ab32-9c84a500b142"] input {
    margin: 0px;
}

.gsucell[cellid="7d7fb359-16b5-40aa-ab32-9c84a500b142"] input {
    border: solid 2px #CCC;
    border-radius: 0px 10px 10px 0px ;
    background-color: #CCC;
    color: #FFF;
    line-height: 17px;
    height: 26px;
}

.gsucell[cellid="f162af06-a5de-4cc4-bb4f-b15df27d7990"] {
    padding-top: 170px;
}

/* text */

.gsucell[cellid="8b2922b1-0b88-4c3b-8850-ecb2e2b9cce8"] {
    width: 300px !important;
    line-height: 20px;
    color: #888;
}

/* input */
.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] {
    width: 200px !important;
    vertical-align: top;
    
}

.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] label input {
    border: solid 2px #CCC;
    border-radius: 10px 0px 0px 10px;
    line-height: 20px;
    padding-left: 20px;
}

.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] label span {
    display: none;
}

.shop_button {
    background-color: #5dbebc !important;
    border: solid 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.15) 53%,rgba(255,255,255,0.1) 100%);
    color:#fff;
    padding: 3px;
    line-height: 30px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.app.Button {
    text-align: center;
}


.floatingboxes .app {
    padding: 20px;
}

.ProductLists .slidelist .product_inner .image {
    width: 430px;
    display: inline-block;
    vertical-align: top;
}

.ProductLists .slidelist .product_inner .descriptionarea {
    width: calc(100% - 500px);
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.ProductLists .slidelist .product_inner .price {
    display: none;
}

.ProductLists .slidelist .product_inner .title {
    font-size: 20px;
    padding-bottom: 20px;
}

.gsrotatearrow i {
    display: none;
}
.gsrotatearrow {
    height: 50px;
    width: 30px;
    background-size: cover;
    margin-top: -25px;
}

.gsrotateleft { background-image: url('{IMAGEFOLDER}/left.png'); left: -50px;}
.gsrotateright { background-image: url('{IMAGEFOLDER}/right.png'); right: -50px; }

.checkbox_textleft {
    padding-left: 20px;
    line-height: 30px;
    font-size: 18px;
}

.gsarea[area="prisoverslag"],
.gsarea[area="signupcourse"] 
{
    font-size: 18px;
}

.gsarea[area="prisoverslag"] .inputfield.formiteminput,
.gsarea[area="signupcourse"] .inputfield.formiteminput 
{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.gsarea[area="prisoverslag"] .FormItem .title {
    display: none;
}

.gsarea[area="prisoverslag"] .inputfield.formiteminput :focus,
.gsarea[area="prisoverslag"] .inputfield.formiteminput .focus,
.gsarea[area="signupcourse"] .inputfield.formiteminput :focus,
.gsarea[area="signupcourse"] .inputfield.formiteminput .focus
{
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#informationbox-holder.gsnewinfobox,
#informationbox-holder.gsnewinfobox #informationboxtitle {
    background-color: #5dbebc;
}

.gsarea[area="prisoverslag"] .submitForm,
.gsarea[area="signupcourse"] .submitForm {
    background-color: #5dbebc !important;
    border: solid 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.15) 53%,rgba(255,255,255,0.1) 100%);
    color:#fff;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}