body {
    font-family: 'Open Sans', sans-serif;
}

.gs_page_width {
    margin: 0 auto;
    width: 1366px;
}

.gsarea[area="header"] {
    margin-bottom: 100px;
}

.gsarea[area="footer"] {
    margin-top: 100px;
}

.gsarea[area="header"] .Menu {
    position: absolute;
    top: 170px;
    right: 0px;
    left: 0px;
    text-align: center;
}

.gsarea[area="header"] .Menu .entry {
   
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: #888;
    text-shadow: 2px 3px 3px #BBB;
}


.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] input {
    box-sizing: border-box;
    
}

/* submit */
.gsucell[cellid="7d7fb359-16b5-40aa-ab32-9c84a500b142"] {
    width: 50px !important;
    vertical-align: top;
}

.gsucell[cellid="7d7fb359-16b5-40aa-ab32-9c84a500b142"] input {
    border: solid 2px #CCC;
    border-radius: 0px 10px 10px 0px ;
    background-color: #CCC;
    color: #FFF;
    line-height: 20px;
}

.gsucell[cellid="f162af06-a5de-4cc4-bb4f-b15df27d7990"] {
    padding-top: 170px;
}

/* text */

.gsucell[cellid="8b2922b1-0b88-4c3b-8850-ecb2e2b9cce8"] {
    width: 300px !important;
    line-height: 20px;
    color: #888;
}

/* input */
.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] {
    width: 200px !important;
    vertical-align: top;
    
}

.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] label input {
    border: solid 2px #CCC;
    border-radius: 10px 0px 0px 10px;
    line-height: 20px;
    padding-left: 20px;
}

.gsucell[cellid="afbd79b1-3b27-4268-81cc-dd917a364396"] label span {
    display: none;
}
