body {
    background-color: #4d4d4f;
    font-family: 'Open Sans', sans-serif;
}

.gslayoutbox:not(.gsrotatingrow) {
    padding: 15px;
    background-color: #FFF;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.gsrotatingrow {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    background-color: #e0e0e0;
}

.gsmobilemenu .gsmobilemenuentry {
    display: none;
}

.gsmobilemenu .gsmobilemenuentry.gsmobilemenubox {
    display: block;
    width: 100%;
    background: #3c3c3b;
    background-color: #3c3c3b;
}

.shop_button {
    background-color: #5dbebc !important;
    border: solid 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.15) 53%,rgba(255,255,255,0.1) 100%);
    color:#fff;
    padding: 3px;
    line-height: 30px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.submitForm {
    background-color: #5dbebc !important;
    border: solid 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.15) 53%,rgba(255,255,255,0.1) 100%);
    color:#fff;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gsrotatearrow {
    top: -5px;
    color: #3c3c3b;
}
.gsrotateright {
    right: 5px;
}
.gsrotateleft {
    left: 5px;
}

.gsmobilebody {
    background-color: #FFF;
}

.gsarea[area="prisoverslag"] div[appid="4b541cf4-e87c-4234-9d20-435283e08710"],
.gsarea[area="signupcourse"] div[appid="4b541cf4-e87c-4234-9d20-435283e08710"]
{
    font-family: 'Indie Flower', cursive;
}

.gsarea[area="prisoverslag"] div[appid="620f2a25-7d4e-4c54-abaa-11c90e3704e9"],
.gsarea[area="signupcourse"] div[appid="4b541cf4-e87c-4234-9d20-435283e08710"] {
    text-align: center;
    margin-top: 30px;
}

.gsarea[area="signupcourse"] .gslayoutbox { padding: 0px; }
.gsarea[area="prisoverslag"] div[appid="620f2a25-7d4e-4c54-abaa-11c90e3704e9"] input,
.gsarea[area="signupcourse"] div[appid="4b541cf4-e87c-4234-9d20-435283e08710"] input  {
    width: 100%;
}
.gsarea[area="prisoverslag"] input, .gsarea[area="signupcourse"] input {
    padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.gsarea[area="prisoverslag"] .content, .gsarea[area="signupcourse"] .content {
    min-height: 0px !important;
    margin-top: 15px;
}
.gsarea[area="prisoverslag"] .FormItem .title, .gsarea[area="signupcourse"] .FormItem .title {
    display: none;
}

.app.Button {
    text-align: center;
}

body .gsbody_inner {
    padding-bottom: 46px;
    background-color: #FFF;
    font-size: 18px;
}

body {
    padding-bottom: 46px;
}