/* 
    Document   : addon.css
    Created on : Aug 9, 2012, 3:51:52 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/
.x-field-select,
.x-field-text {
    border: solid 1px #BBB;
}

.x-form-label {
    border-right: solid 1px #BBB;
}

.x-msgbox-dark {
    height: 200px;
}

.x-msgbox-buttons {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.x-msgbox-inner {
    min-height: 125px !important;
    height: 125px !important;
}