.ProductSearch .searchField input {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    width: 200px;
    background: #FFF;
}

.ProductSearch .searchField i {
    border-top: solid 1px #E5E5E5;
    border-bottom: solid 1px #E5E5E5;
    border-right: solid 1px #E5E5E5;
    height: 24px;
    width: 24px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.gsarea[area="footer"] .searchResult,
.gsarea[area="header"] .searchResult {
    display: none;
}

.gsarea[area="body"] .searchField {
    display: none;
}