<div class="gsview newaccess">
    Name of guest:
    <br/><input type='text' ng-model='guestName' />
    <br/>
    <br/>
    Phone number:
    <br/><input type='text' class='prefix' ng-model='guestPhonePrefix' placeholder='1'/> <input  class='phonenumber' type='text' ng-model='guestPhoneNumber' placeholder='95012345'/>
    <br/>
    <br/> Room
    <br/>
    <div class="styled-select slate">
        <select  ng-model='doorId'>
            <option ng-repeat="door in doors" value='{{door.externalId}}'>
                {{ door.name }}
            </option>
        </select>
    </div>
    <br/>
    <br/>
    
    <div class='button' ng-mobile-click='createAccess()'>Grant access</div>
</div>