.GetShopDeviceList {
    max-width: 1000px;
    margin: 0 auto;
}

.GetShopDeviceList .createnewdevice {
    margin-top: 50px;
    background-color: #EFEFEF;
    padding: 50px;
}

.GetShopDeviceList .col_name {   width: 100px; }
.GetShopDeviceList .col_type {   width: 100px; }