.ComfortDashBoard .informationarea { border: solid 1px #bbb; width: 49%; float:left; padding: 10px; box-sizing: border-box; background-color:#fff; font-size: 12px; overflow:auto; height: 300px; }
.ComfortDashBoard .informationarea.right { float:right;  }
.ComfortDashBoard .informationarea .title { font-size: 25px; text-align: center; border-bottom: solid 1px #efefef; padding-bottom: 10px; margin-bottom: 10px; }
.ComfortDashBoard .informationarea .summarytext { font-size: 20px; }
.ComfortDashBoard .informationarea .summarytextamount { float:right; }