body,
html {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.tvbody {
    position: relative;
    overflow: hidden;
    height: 1080px;
    width: 1920px;
    box-sizing: border-box;
    background-image: url('images/background.jpg');
    background-size: cover;
}

.footer {
    height: 145px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #00297c;
}

.footer .footer_logo {
    position: absolute;
    background-image: url('images/meca_logo.png');
    width: 350px;
    height: 145px;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0px;
}

.newstitle {
    position: absolute;
    font-weight: bold;
    left: 10px;
    top: 7px;
}
.newsstripe {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100px;
    top: 20px;
    background-color: rgba(255,255,255,0.95);
    color: #333;
    display: none;
}

.newsstripe .nyheterinner {
    font-size: 30px;
    line-height: 100px;
    padding-left: 50px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: absolute;
}

.animation {
    height: 930px;
}

.getshop_tv_id {
    display: none;
    text-align: center;
    border: solid 1px #DDD;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    top: 50px;
    z-index: 10;
    padding: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    margin: 10px;
    width: 250px;
    text-align: center;
}
    
input[type="text"]:focus,
input[type="text"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.savebutton {
    display: inline-block;
    background: green;
    color: #FFF;
    padding: 10px;
}