.MecaFleetSettings textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    border: solid 1px #DDD;
    padding: 10px;
}

.MecaFleetSettings input {
    width: 100%;
    margin-bottom: 5px;
}