.YouTube .searchresult { 
    border: solid 1px #BBB;
    clear: both; 
    height: 85px; 
    margin: 20px; 
    padding: 10px; 
    position:relative;
    background-color: #EEE;
}
.YouTube .searchresult img { float: left; margin-right: 10px; }
.YouTube .searchresult .title { font-weight: bold; font-size: 20px; }
.YouTube .searchresult .selection_container { position: absolute; bottom: 5px; right: 5px; }
.YouTube .search_help { font-size: 16px; color: #333;}
.YouTube .inputfield { border: solid 1px #CCC; padding: 3px;}
.YouTube .youtubeicon { margin-top: 8px; color: #DDD; width: 67px; height: 67px; font-size: 67px; }
.YouTube .searchbar { text-align: center;padding: 10px;  }
.YouTube .searchbar input { font-size: 16px;  }

#informationbox.YouTube {
    background-color: #FFF;
}