/* 
    Document   : theme
    Created on : Aug 12, 2013, 9:21:54 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

.col1,
.col2 { 
    display: inline-block;
    padding: 5px; 
}

.row:not(:first-child) {
    border-top: dashed 1px #CCC;
}

.entry {
    border: dashed 1px #ccc;
    margin-bottom: 10px;
}

.col1 {
    width: 100px;
    font-weight: bold;
    position: absolute;
    top: 0px;
}

.row {
    position: relative;
}
.col2 {
    margin-left: 100px;
    width: 500px;
}

.CourseDayEntry,
.ContentManager {
    text-align: left;
    margin: 20px;
}

.kursentry {
    position: relative;
    padding: 10px;
    border: solid 1px #DDD; 
    margin-bottom: 20px;
    background-image: -webkit-linear-gradient(#fefefe, #cecece) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#fefefe, #cecece) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#fefefe, #cecece) !important; /* IE10 */
    background-image:      -o-linear-gradient(#fefefe, #cecece) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#fefefe, #cecece) !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding-top: 65px;
}

.disabled {
    background-position: 0px -0px !important;
    color: #222 !important;
}

.displayActiveFilter {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

label.error { 
    color: red; 
    font-weight:bold
}

.freespots {
    border: solid 2px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: green;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 5px 5px 3px #888888;
}

.freespots .label {
    font-size: 10px;
}

.freespots .number {
    font-size: 20px;
    padding: 5px;
}

.available {
    background: -webkit-linear-gradient(#0acf59, #009b3e);
}

.notavailable {
    background: -webkit-linear-gradient(#f2ffaa, #e5d200);
    color: #000;
}

.availablepositions_course_selected {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    display: none;
}

.disconnected,
.connecting,
.loading {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    z-index: 1200;
}

.disconnected { z-index: 1203; }
.connecting { z-index: 1202; }
.loading { z-index: 1201; }

.disconnected div,
.connecting div,
.loading div {
    position: absolute;
    width: 200px; 
    border: solid 2px;
    border-radius: 5px;
    margin-top: -50px;
    top: 50%;
    height: 100px;
    background-color: #000;
    left: 50%;
    text-align: center;
    padding: 20px;
    margin-left: -120px;
}

.connecting { display: inherit; }

.refresh {
    display: none;
    background-color: rgba(256,256,256,0.5);
    border-radius: 5px;
    border: solid 1px #666;
    position: absolute;
    z-index: 1100;
    background-image: url('images/refresh_24.png');
    top: 20px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 0px 0px 3px #000;
}

.companyinformation {
    border: solid 2px #CCC;
    border-radius: 7px;
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 4px;

}

.companyinformation .value {
    display: inline-block;
}

.companyinformation .description {
    width: 100px;
    display: inline-block;
}



.ui-btn-active {
    background-color: inherit;
    background-image: inherit;
    background-image: inherit;
    background-image: inherit;
    background-image: inherit;
    background-image: inherit;
    background-image: inherit;
    border: inherit;
    background: inherit;
}

.infopage td {
    vertical-align: top !important;
    position: relative;
}

.infopage td span {
    position: absolute;
    bottom: -10px;
    left: 5px;
    text-align: center;
}


.headerbutton {
    border-radius: 0px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: solid 1px #333;
    border-top: solid 0px;
    border-right: solid 0px;
    background-color: rgba(30,30,30,0.9);
    background: linear-gradient(to bottom, #666, #333);
    border-bottom: solid 1px #363636;
    position: absolute;

}

.headerbutton .inner {
    width: 50px;
    position: relative;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.newsbutton .counter {
    position: absolute; 
    
    top: 5px;
    right: 45px;
    background-color: rgba(166, 12,12, 0.9);
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #FFF;
    padding: 2px;
    padding-left: 4px; padding-right: 4px;
    font-weight: bold;
    display: none;
}

#news .newsentry {
    border: solid 1px #DDD;
    background: linear-gradient(to bottom, #fefefe, #cecece);
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
    padding-right: 30px;
}

#news .newsentry .right {
    border-left: dashed 1px #444;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 35px;
    background-color: #333333;
    background-image: url('images/right.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#news .newsentry .header {
    border-bottom: solid 1px #353535;
    padding-bottom: 5px;
    font-size: 14px;
}

.ui-header {
    text-align: left;
    border: solid 0px;
}
.ui-header .logo {
    margin-top: 10px;
    margin-left: 10px;
    left: 10px;
    width: 300px;
}

#news .newsentry .content {
    padding: 10px;
    font-size: 13px;
    font-weight: normal;
}
#news .newsentry .footer {
    font-size: 12px; 
    text-align: right;
    padding-right: 35px;
}

#home {
    text-align: left;
}

#home .ui-header {
    text-align: center;
    padding-top: 20px;
}

.mainmenu_outer {
    text-align: center;
}

.mainmenu {
    width: 280px;
    display: inline-block;
    text-align: left;
}
.mainmenu .menu_entry {
    position: relative;
    display: inline-block;
    font-size: 50px;
    color: #006e63;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.mainmenu .menu_entry .name {
    color: #000;
}

#courselistoverview {
    text-align: left;
}

.mainmenu .menu_entry .name {
    font-size: 12px;
    width: 80px;   
}



.ui-page {
    background-image: inherit;
    background-color: inherit;
    color: #000;
    text-align: center;
}

html {
    background: url('images/bkg_1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    
}

.ui-page-theme-a .ui-footer .ui-btn,
.backbutton {
    border: solid 0px !important;
    color: #FFF !important;

    /*background-image: -webkit-gradient(linear, left top, left bottom, from( #333), to( #000000)) !important;  Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#006e63, #004d45) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#006e63, #004d45) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#006e63, #004d45) !important; /* IE10 */
    background-image:      -o-linear-gradient(#006e63, #004d45) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#006e63, #004d45) !important;
    border-radius: 0px !important;
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #000;
    border-top: solid 1px #333;
}

#courselistoverview {
    
}

#courselistoverview .monthcontainer {
    margin-bottom: 20px;
}

#courselistoverview .month_list_entries {
    padding-left: 10px;
    margin-top: 10px;
    border-top: solid 1px #DDD;
    padding-top: 10px;
}

#courselistoverview .month_list_entries .list_view_entry_entry {
    padding: 5px;
    margin-bottom: 2px;
    
    background-image: -webkit-linear-gradient(#fefefe, #cecece) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#fefefe, #cecece) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#fefefe, #cecece) !important; /* IE10 */
    background-image:      -o-linear-gradient(#fefefe, #cecece) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#fefefe, #cecece) !important;

    border: solid 1px #DDD;
    
}

#courselistoverview .month_list_entries .list_view_entry_entry .extrainfo {
    text-align: right;
    font-size: 11px;
    padding: 4px;
}

.hidden {
    display: none;
}

.ui-btn.ui-input-btn.ui-btn-a.ui-corner-all.ui-btn-inline {
    border: solid 0px !important;;
    background: inherit !important;
}

.contentcourselist {
    margin-left: 10px;
    margin-right: 10px;
}

#infopage { text-align: left; }

.extrainformationforgroup {
    margin-top: 10px;
}

.mainmenu .menu_entry {
    /*font-size: 0px;*/
}

.mainmenu .menu_entry img {
    padding: 0px; 
    margin-bottom: -5px;
}