.SalesPointCartCheckout .cartsummary .col {
    display: inline-block;
    padding: 5px;
    padding-right: 0px;
}


.SalesPointCartCheckout .cartsummary .row { border-bottom: solid 1px #DDD;}
.SalesPointCartCheckout .cartsummary .row.row_last { border-bottom: solid 0px #DDD;}
.SalesPointCartCheckout .cartsummary .col1 { width: 30px; text-align: right; }
.SalesPointCartCheckout .cartsummary .col2 { width: calc(100% - 200px); }
.SalesPointCartCheckout .cartsummary .col3 { width: 100px; }

.SalesPointCartCheckout .matrix_item {
    margin-left: 50px;
}

.SalesPointCartCheckout .row {
    position: relative;
}
.SalesPointCartCheckout .addonlist_row,
.SalesPointCartCheckout .pricematrix_row {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    background-color: #EFEFEF;
    
}

.SalesPointCartCheckout .addonlist_row.odd,
.SalesPointCartCheckout .pricematrix_row.odd {
    background-color: #FFF;
}

.SalesPointCartCheckout .pricematrix_row .matrix_item {
    position: absolute; 
    right: 0px;
    top: 0px;
    padding: 7px;
    padding-bottom: 6px;
}

.SalesPointCartCheckout .pmsaddonsrow {
    margin-top: 20px;
}


.SalesPointCartCheckout .addonlist_row .addon_inputs input {
    padding: 7px;
    padding-bottom: 6px;
}

.SalesPointCartCheckout .addonlist_row .addon_inputs {
    text-align: right;
}

.SalesPointCartCheckout .addonlist_row .addon_count {
    width: 20px;
    text-align: center;
    padding: 7px;
    padding-bottom: 6px;
}

.SalesPointCartCheckout .normalrow {
    border-bottom: solid 1px #DDD;
    line-height: 45px;
    padding-bottom: 5px;
}

.SalesPointCartCheckout .last_row .normalrow {
    border-bottom: solid 0px;
}

.SalesPointCartCheckout .normalrow .textfields {
    position: absolute;
    right: 10px;
    top: 5px;
}
.SalesPointCartCheckout .summary {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 10px;
}

.SalesPointCartCheckout .normalrow .itemcount {
    width: 30px;
    text-align: center;
}

[area="gs_modul_cart"] .SalesPointCartCheckout {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.SalesPointCartCheckout .payment_options .option_content {
    position: absolute;
    background-color: #FFF;
    right: 0px;
    border: solid 1px;
}
.SalesPointCartCheckout .payment_options .shop_button {
    width: 100% !important;
    margin-bottom: 3px;
}