.PmsConference .conferencesystem { font-size: 14px;}
.PmsConference .warningnotabletoadd {     border: solid 1px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: #fff;
    font-size: 32px;
}
.PmsConference .dayentryheader { display: inline-block;height: 20px; width: 46px; padding:2px;text-align: center; border: solid 1px #efefef; background-color:#fff;}
.PmsConference .dayentrymonthheader { display: inline-block;height: 20px; width: 22px; padding:2px;text-align: center;}
.PmsConference .conferencetimelines { border-bottom: solid 1px #efefef;display:inline-block; }
.PmsConference .removeguest { cursor:pointer; }
.PmsConference .listreportsarea { position:absolute; z-index: 2; background-color:#fff; border: solid 1px #bbb; padding: 10px; right: 0px; margin-top: 10px; display:none; }
.PmsConference .itemname,
.PmsConference .dayentry { display:inline-block;  font-size: 14px; border: solid 1px #efefef; background-color:#fff; border-bottom: solid 0px; height: 20px; width: 20px; padding:2px; text-align: center; cursor:pointer;}
.PmsConference .emptyitemname { width: 202px; display:inline-block;  float:left; text-align: left; padding : 2px; }
.PmsConference .itemname { width: 200px; float:left; text-align: left; }
.PmsConference .edititembox { position: absolute; width: 500px; background-color: #fff; border: solid 1px #bbb; padding: 10px; display:none;}
.PmsConference .itemname .fa-edit { display:none; }
.PmsConference .itemname:hover .fa-edit { display:inline-block; }
.PmsConference .conferencesystem { max-width: 1600px; margin: auto; overflow: auto; height: 2000px; }
.PmsConference .conferenceoverview { border: solid 1px #bbb; background-color:#fff; padding: 10px; width: 800px; display:inline-block; display:none; position:absolute; top: 150px;z-index:3;}
.PmsConference .addconferencepanel { border: solid 1px #bbb; display:inline-block; background-color:#fff; position:absolute; padding: 10px; display:none; right:0px; }
.PmsConference .GetShopQuickUser .booked_for,
.PmsConference .edit_user_btn { display:none; }
.PmsConference .hasactiveventstart { background-color:green; border-color:green;border-top-left-radius: 4px; border-bottom-left-radius: 4px;color:#fff !important;}
.PmsConference .hasactiveventmiddle { background-color:green; border-color:green; }
.PmsConference .hasactiveventend { background-color:green; border-color:green;border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.PmsConference .hasactiveventboth { background-color:green; border-color:green;border-radius: 4px; color:#fff !important;}
.PmsConference .GetShopQuickUser .change_user_form, .PmsConference .GetShopQuickUser .edit_details_of_user,
.PmsConference .GetShopQuickUser .change_user_form, .PmsConference .GetShopQuickUser .edit_details_of_user { position: initial;box-shadow:none; }
.PmsConference .loadcalendar {
    position: absolute;
    background-color: #fff;
    border: solid 1px #bbb;
    padding: 10px;
    z-index: 3;
}
.PmsConference .addeventbox { width: 250px; border: solid 1px; display:inline-block; padding: 3px;background-color:#ddd; border: #bbb; position:absolute; z-index: 2; display:none;  }
.PmsConference .loadcalendar input { width: 90px; }
.PmsConference .header { margin-top: 10px; margin-bottom: 20px; text-align: right; position: relative; }
.PmsConference .openevent,
.PmsConference .openconference { color: #4b6e3e; cursor: pointer; }
.PmsConference .eventreportarea { padding :20px; }
.PmsConference .conferencelist {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: solid 1px #bbb;
    z-index: 2;
    font-size: 14px;
    display:none;
    right: 0px;
    width: 400px;
    color: #000;
    text-align: left;
}

.PmsConference .extendedtextoverlay {z-index:5; position:absolute; padding: 10px; border: solid 1px; background-color:#efefef; width:100%; box-sizing: border-box; display:none; }
.PmsConference .extendedtextoverlay .extendextarea { width: 100%; box-sizing: border-box; height: 500px; margin-bottom: 5px; }
.PmsConference .printheader { display:none;}
.PmsConference .dateheader { border: solid 1px #bbb; text-align: center; font-weight: bold; background-color:#efefef; }
.PmsConference .texttable tr td { border-bottom: solid 1px; padding: 10px; }
.PmsConference .itemsfilter { display:none; border: solid 1px;margin-top: 10px;padding: 10px; }
.PmsConference .headerspacer { height: 50px; }

@media print {
    .reportfilter { display:none; }
    .dateheader { border: solid 0px !important; background-color: none !important; }
    .printheader { display:block !important; }
    .PmsConference .openevent,
    .PmsConference .openconference { color: black; }

}
