/* 
    Document   : theme
    Created on : Aug 12, 2013, 9:21:54 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

.col1,
.col2 { 
    display: inline-block;
    padding: 5px; 
}

.row:not(:first-child) {
    border-top: dashed 1px #CCC;
}

.entry {
    border: dashed 1px #ccc;
    margin-bottom: 10px;
}

.col1 {
    width: 100px;
    font-weight: bold;
    position: absolute;
    top: 0px;
}

.row {
    position: relative;
}
.col2 {
    margin-left: 100px;
    width: 500px;
}

.CourseDayEntry,
.ContentManager {
    text-align: left;
}

.kursentry {
    padding: 10px;
    border: dashed 2px #CCC; 
    margin-bottom: 20px;
    background-color: #DDD;
}

.disabled {
    background-position: 0px -0px !important;
    color: #222 !important;
}

.displayActiveFilter {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

label.error { 
    color: red; 
    font-weight:bold
}