<div style="margin:auto;max-width:600px;">
    <h1>1 / 3 Room selection</h1>
    <div style="clear:both;padding-top: 15px;">
        <div ng-show="nightcount == 0">
                    
            <div ng-show="notAvailable" style="font-size: 30px;color:red; padding-bottom: 30px;">
                Sorry, we are sold out of rooms for the selected time periode.
            </div>
            
            <div><b style="font-size: 24px;">Select number of nights you would like to stay</b></div>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(1)">1</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(2)">2</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(3)">3</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(4)">4</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(5)">5</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(6)">6</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(7)">7</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(8)">8</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(9)">9</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(10)">10</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(11)">11</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(12)">12</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(13)">13</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(14)">14</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(15)">15</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(16)">16</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(17)">17</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(18)">18</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(19)">19</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(20)">20</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(21)">21</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(22)">22</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(23)">23</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(24)">24</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(25)">25</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(26)">26</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(27)">27</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(28)">28</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(29)">29</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(30)">30</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(31)">31</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(32)">32</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(33)">33</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(34)">34</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(35)">35</span>
            <span class="gsbtn nightselectionbtn" ng-mobile-click="setNightsCount(36)">36</span>
            <br><br>* For longer stay, please contact us.
        </div>
        
    </div>
    <div ng-show="nightcount > 0">
        <div style="clear:both;height: 55px;">
            <b style="font-size: 24px;">Number of nights</b>
            <span style="float:right">
                <input type="text" style="font-size: 22px; width:40px;padding: 5px; text-align: center; border-radius: 3px;"
                       ng-model="nightcount" disabled>
            </span>
        </div>
        <div style="clear:both;">
            <b style="font-size: 24px;">Number of rooms</b>
            <span style="float:right">
                <span class="gsbtn" ng-mobile-click="decrementRooms();"><i class="fa fa-minus-circle"></i></span>
                <input type="text" style="font-size: 22px; width:40px;padding: 5px; text-align: center; border-radius: 3px;"
                       ng-model="roomcount" disabled>
                <span class="gsbtn" ng-mobile-click="incrementRooms()"><i class="fa fa-plus-circle"></i></span>
            </span>
        </div>
        <div style="clear:both;padding-top: 15px;">
            <b style="font-size: 24px;">Discount code</b>
            <span style="float:right">
                <input type="text" style="font-size: 22px; width:120px;padding: 5px; text-align: center; border-radius: 3px;"
                       ng-model="discountcode">
            </span>
        </div>

        <div ng-repeat="i in getRoomCount() track by $index" style="clear:both;padding-top: 10px;">
            <b style="font-size: 20px;">Number of guest for room {{$index+1}} (Max {{maxNumberOfGuestPerRoom[$index]}} guests)</b>
            <span style="float:right"> 
                <span class="gsbtn" ng-mobile-click="decrementGuests($index);"><i class="fa fa-minus-circle"></i></span>
                <input type="text" style="font-size: 22px; width:40px;padding: 5px; text-align: center; border-radius: 3px;"
                       ng-model="guestcount[$index]" disabled>
                <span class="gsbtn" ng-mobile-click="incrementGuests($index)"><i class="fa fa-plus-circle"></i></span>
            </span>
        </div>
    
        <div style="clear:both;padding-top: 15px;" ng-show="roomcount > 0">
        <span style="float:right">
            <span class="gsbtn" style="text-align:center;" ng-mobile-click="startBooking()">Continue to guest information</span>
        </span>
    </div>
    
    <div ng-show="errorOccured" style="color:red; padding-top: 10px;">
        * Number of rooms, number of nights and number of guests has to be filled in before continue.
    </div>
    
</div>


<style>
    .nightselectionbtn { width: 40px; text-align:center;margin-top: 5px; }
</style>