<div class='topinfobox'>
    Velkommen tilbake!
    <br/>Velg et av menypunktene under for å få mer informasjon
</div>

<a href='#/car'>    
    <div class="frontbox">
        <i class="fa fa-car"></i>
        MITT KJØRETØY
    </div>
</a>

<a href='#/sendkm'>    
    <div class="frontbox">
        <i class="fa fa-bullhorn"></i>
        MELD KILOMETERSTAND
    </div>
</a>

<a href='#/contact'>    
    <div class="frontbox">
        <i class="fa fa-comment"></i>
        KONTAKT
    </div>
</a>

<a href='#/login'>    
    <div class="frontbox" ng-click="doLogout()">
        <i class="fa fa-lock"></i>
        LOGG UT
    </div>
</a>