.GetShopStoreCreator .label {
    display: block;
    height: 30px;
    margin-top: 15px;
}
.GetShopStoreCreator .gsniceselect1,
.GetShopStoreCreator .gsniceinput1 {
    width: 100%;
    box-sizing: border-box;
}
.GetShopStoreCreator .gserrorfield {
    color: #ff6161;
    border: solid 1px;
    margin-top: 5px;
    text-align: center;
}

.GetShopStoreCreator .thankyou {
    padding: 20px;
    border: solid 2px green;
    text-align: center;
}