.EcommerceOrderView .markaspaidarea {
        position: absolute;
    z-index: 2;
    background-color: #fff;
    padding: 10px;
    border: solid 1px #bbb;
    left: 50%;
    display:none;
}
.EcommerceOrderView .chargebysavedcard { display:none; }

.EcommerceOrderView .cartitem span.specialeditview {
    position: absolute;
    right: 45px;
    padding: 10px;
    border: solid 1px #bbb;
    background-color: #fff;
    display: none;
}
.EcommerceOrderView .menuarea,
.EcommerceOrderView .workarea {
    width: 500px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.EcommerceOrderView .workarea {
    width: calc(100% - 210px);
    box-sizing: border-box;
}

.EcommerceOrderView .menuarea {
    width: 200px;
    box-sizing: border-box;
    padding: 30px;
    padding-left: 10px;
}

.EcommerceOrderView .menuarea .menuentry i{
    font-size: 30px;
    display: none;
}
.EcommerceOrderView .menuarea .menuentry {
    text-align: left;
    padding: 5px;
    cursor: pointer;
    color: #82cdf3;
    text-decoration: dotted;
    text-decoration: none;
    width: inherit;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 13px;
    font-weight: bold;
}

.EcommerceOrderView .menuarea .menuentry span {
    border-bottom: 2px dotted #82cdf3;
    padding-left: 1px;
    padding-right: 1px;
    padding: 3px;
    margin-left: 20px;
}

.EcommerceOrderView .menuarea .menuentry.active span {
    
}

.EcommerceOrderView .menuarea .menuentry.active span {
    border-bottom: 2px dotted transparent;
    display: inline-block;
    background-color: #2a324e;
    color: #FFF;
    border-radius: 20px;
    border: solid 0px;
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.EcommerceOrderView .orderinformation {
    display: none;
}

.EcommerceOrderView .orderinformation.active {
    display: block;
}

.EcommerceOrderView .tab.active {
    background-color: #FFF;
}

.EcommerceOrderView .insideheader {
    font-size: 20px;
    border-bottom: solid 2px #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
}


.EcommerceOrderView .row {
    border-top: solid 1px #EEE;
}
.EcommerceOrderView .row .col { display: inline-block; padding: 0px;}
.EcommerceOrderView .row .col1 { width: 130px; }

.EcommerceOrderView .row .col2 { width: calc(100% - 134px); box-sizing: border-box; }


.EcommerceOrderView .cartitem span {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 10px;
}
.EcommerceOrderView .cartitem .count {
    width: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 0px !important;
}

.EcommerceOrderView .ordersummary {
    padding: 10px;
    font-weight: bold;
}

.EcommerceOrderView .invoiceNote {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
}

.EcommerceOrderView .buttonarea {
    margin-top: 30px;
}

.EcommerceOrderView .cartitem .startdate,
.EcommerceOrderView .cartitem .enddate {
    box-sizing: border-box;
    width:95px;
}

.EcommerceOrderView .cartitem .additionalMetaData,
.EcommerceOrderView .cartitem .metaData
{
    box-sizing: border-box;
    width:130px;
}
.EcommerceOrderView .cartitem .price {
    width: 50px;
}

.EcommerceOrderView .cartitem .product {
    width: calc(100% - 680px);
    box-sizing: border-box;
    margin-right: 20px;
}

.EcommerceOrderView .ordershortmenu {
    text-align: center;
    background-color: #EEE;
    padding: 5px;
}

.EcommerceOrderView .paymentmethods {
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    border: solid 1px #DDD;
    display: none;
}

.EcommerceOrderView .paymentmethods .paymentoption {
    padding: 5px;
    border-bottom: solid 1px #DDD;
    cursor: pointer;
}

.EcommerceOrderView .paymentmethods .paymentoption:hover {
    background-color: #EEE;
}

.EcommerceOrderView .paymentmethods div.paymentoption:last-child {
    border-bottom: 0px;
}