body {
    background-color: #fff;
}

.gslayoutbox:not(.gsrotatingrow) {
    background-color: #FFF;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.gsrotatingrow {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    background-color: #e0e0e0;
}

.gsmobilemenu .gsmobilemenuentry {
    display: none;
}

.gsmobilemenu .gsmobiletopmenu,
.gsmobilemenu .gsslideright {
    display: inline-block;
    width: 50%;
    background: #333;
    background-color: #333;
}

.gsbody_inner[userloggedin="false"] .gsmobilemenu {
    display: none;
}

.gsbody_inner[userloggedin="false"] .gsmobilemenu .gsslideright {
    display: none;
}

.shop_button {
    background-color: #FFF;
    color: #333;
    border-radius: 0px;
    border: solid 2px #333;
    line-height: 30px;
    height: 30px;
}

.gscell[cellid="23869f19-f711-4c89-aca8-213de8cc3afd"] .Login .login_header_type_1 {
    display: none;
}

.gscell[cellid="23869f19-f711-4c89-aca8-213de8cc3afd"] .Login {
    display: block !important;
    padding-top: 20px;
}

.gsmobilebody {
    padding: 20px;
}

.Contact {
    background-color: #FFF;
    margin-top: 20px;
}

.shop_button {
    border: 0px;
    padding: 10px !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */

    color: #FFF;
}


.gsmobilebody .Login .login_header_type_1 {
    display: none;
}

.gsmobilebody .Login {
    display: block;
}