.EditEventType label {
    display: block;
    margin-bottom: 10px;
}
.EditEventType input[type='txt'] {
    width: 400px;
}

.EditEventType .groupinformation .title {
    line-height: 40px;
    padding-left: 20px;
    background-color: #F9f9f9;
}

.EditEventType .groupinformation .inner {
    padding: 20px;
}
.EditEventType .groupinformation {
    border: solid 1px #DDD;
    
    padding-top: 0px;
    margin-bottom: 20px;
}

.EditEventType .connectedEvents .row {
    border-bottom: solid 1px #DDD;
    padding: 10px;
}

.EditEventType .connectedEvents a:last-child .row {
    border-bottom: solid 0px;
}

.EditEventType .connectedEvents {
    margin-bottom: 50px;
    border: solid 1px #DDD;
    padding: 20px;
}