/* Empty. Add your own CSS if you like */
.getshop-header {
	height: 100px;
}

button i.big-icon:before {
    font-size: 48px !important;
}

button.high {
	max-height:100px;
}

.separator-15vh {
	height:15vh;
}

.separator-10vh {
	height:10vh;
}

.item-note-small {
	font-size:11px;
	color:black;
}

.group-badge {
	font-size:24px;
	display: block;
	text-align:center;
	width:100%;
}

.center {
	text-align:center;
}