<div class="gsview login">
    <div class="informationbox">
        Hello {{ name }}, you have {{ routes.length }} available routes.
        
        <br/>
        <br/>
        Please select one of the following.
        
        <br/>
    </div>
    
    <div class="buttonarea" style="font-size: 0px; margin-bottom: 10px;">
        <div class="button" ng-mobile-click="openPool()" style="width: 50%; display: inline-block; box-sizing: border-box; font-size: 15px;">
            <i class="fa fa-tags"></i> Pool
        </div>
        &nbsp; <div class="button" ng-mobile-click="refresh()" style="width: 50%; display: inline-block; box-sizing: border-box; font-size: 15px;">
            <i class="fa fa-refresh refreshicon"></i> Refresh
        </div>
    </div>
    
    <div class="route" ng-repeat="route in routes">
        {{ route.name }}
        <br/> Destinations {{ getUncompletedTasksNumber(route) }} / {{ route.destinations.length }}

        <div ng-mobile-click="openRoute(route.id)" ><div class="button showroutebutton" ng-if="route.startInfo.started"><i class="fa fa-arrow-right"></i></div></div>
        <div class="button startbutton" ng-if="!route.startInfo.started" ng-mobile-click="startRoute(route)">
            <span ng-if="route.startInProgress">
                Starting...
            </span>
            <span ng-if="!route.startInProgress">
                Start
            </span>
            
        
        </div>
    </div>
    
  
</div>
