/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2016, 10:04:16 AM
    Author     : ktonder
*/

.gsview.login .route .showroutebutton,
.gsview.login .route .startbutton {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 70px;
    height: 49px;
    box-sizing: border-box;
    text-align: center;
    padding: 0px;
    padding-top: 13px;
}

.gsview.login .route {
    text-align: left;
    
    /*margin-top: 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    font-size: 14px;
}

.gsview.login .route:nth-last-of-type(odd) {
    background-color: rgba(255,255,255,0.2);
}

.gsview .loaderbox_home_gps {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    
    border: solid 1px rgba(0,0,0,0.2);
    background-color: #4b9fe4;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
    display: none;
}