<div class="gsview login">
    <div class="informationbox">
        Hello {{ name }}, you have {{ routes.length }} available routes.
        
        <br/>
        <br/>
        Please select one of the following.
        
        <br/>
    </div>
    
    <div class="buttonarea" style="font-size: 0px; margin-bottom: 10px;">
        <div class="button" ng-mobile-click="openPool()" style="width: 50%; display: inline-block; box-sizing: border-box; font-size: 15px;">
            <i class="fa fa-tags"></i> Pool
        </div>

        <div class="button" ng-mobile-click="loadData()" style="width: calc(50% - 5px); display: inline-block; box-sizing: border-box; font-size: 15px; margin-left: 5px;">
            <i class='fa fa-refresh'></i> Fetch my routes
        </div>
    </div>
    
    <div class="route" ng-repeat="route in datarepository.routes">
        {{ route.name }}
        <br/> Destinations x / {{ route.destinations.length }}

        <div ng-mobile-click="openRoute(route.id)" ><div class="button showroutebutton" ng-if="route.startInfo.started"><i class="fa fa-arrow-right"></i></div></div>
        <div class="button startbutton" ng-if="!route.startInfo.started" ng-mobile-click="startRoute(route.id)">Start</div>
    </div>
</div>