body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: 0px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.gs_header {
    height: 100px;
    text-align: center;
    background-image: url('images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.gs_header .unsentMessageCount .uploadcounttext {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #c9e2f7;
    padding: 3px;
    border-radius: 50px;
    font-size: 12px;
}

.gs_header .unsentMessageCount i {
    background-color: #c9e2f7;
    padding: 3px;
    border-radius: 50px;
    position: absolute;
    left: 5px;
    bottom:5px;
}
.gs_header .unsentMessageCount {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    position: relative;
    height: 20px;
    width: 20px;
}

.textinput {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 25px;
    font-size:17px;
}

.textinput:focus,
.textinput.focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.mainview {
    padding-left: 10px;
    padding-right: 10px;
    display: relative;
    padding-bottom: 70px;
    position: relative;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%; box-sizing: border-box;
    text-align: center;
    background-color:#44c767;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:15px 26px;
    text-decoration:none;
    text-shadow:-1px 1px 0px #2f6627;
}

.button:hover {
    background-color:#5cbf2a;
}

.button:active {
    position:relative;
    top:1px;
}

.gs_footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 50px;
    
}

.footermenu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: #3f4c6b; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

.footermenu .menuentry {
    color: #FFF;
    height: 50px;
    font-size: 10px;
    box-sizing: border-box;
    padding-top: 5px;
}

.footermenu .menuentry i {
    display: block;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

[ng-mobile-click],
[data-ng-mobile-click],
[x-ng-mobile-click] {
    cursor: pointer;
}

.loadingData,
.fetchingGpsCoordinates {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    font-size: 20px;
    display: none;
    z-index: 1;
}

.fetchingGpsCoordinates i {
    display: block;
    font-size: 40px;
    margin-bottom: 20px;
}

.importantmessageview {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    text-align: center;
    padding: 20px;
}

.warningbox {
    background-color: red;
    color: #FFF;
    text-align: center;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gs_header_error_field {
    position: fixed;
    top: 0px;
    background-color: red;
    color: #FFF;
    padding: 20px;
    text-align: center;
    display: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.numpadcomma {
    display: none !important;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: solid 1px #CCC;
    text-align: center;
    width: 45%;
    padding-bottom: 10px;
    font-size: 30px;
    margin-right: 10px;
    padding-top: 10px;
}

.plusminus {
    display: none !important;
    border-bottom: solid 1px #CCC;
    text-align: center;
    width: 45%;
    padding-bottom: 10px;
    font-size: 30px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 10px;
}
