.gs_page_width { max-width: 1024px; margin: auto; }
.Menu { text-align: center; padding-top: 20px;padding-bottom: 20px;  }
.Menu a div { padding-left: 20px; color:#000;margin: 1px; margin-bottom: 10px; margin-top: 10px; letter-spacing: 1px; font-family: 'Slabo 27px', serif; text-transform: uppercase; }
.Menu .entries .entries div { margin: 0px; }
.gsarea[area="header"] { background-color: #e8e8e8; padding-top: 10px; }
.gsarea[area="footer"] { background-color: #e8e8e8; padding-top: 10px; padding-top: 80px; padding-bottom: 80px; color:#000; }
body { font-size: 18px; font-family: verdana,geneva; }

h1,h2,h3 { margin: 0px; text-transform: uppercase; letter-spacing: 2px; font-family: 'Ubuntu', sans-serif; font-weight: 400; margin-bottom: 10px; margin-top: 10px; }
.gs_language_selection { right: 0% !important; border: 0px; }
.PmsBooking .pmsfront .heading {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-color: #04a9b1;
}
.PmsBooking .pmsfront1 { background-color:rgba(255,255,255,0.5); border: solid 0px; }

.PmsBooking .pmsfront2 .check_available_button { width: 100%; }
.Menu .entries .entries { background-color:#e8e8e8; text-align: left; padding: 4px;  }

.PmsBookingProductList .imgcontainer { background-color:#f5f5f5; }
.PmsBookingSummary .itemrow { font-size: 18px; }
.PmsBookingSummary .bottomborder { margin-bottom: 10px; }
.PmsBookingContactData h3.paymentheaders { margin-top: 10px; margin-bottom: 10px; font-size: 16px; }
.PmsBookingContactData h2.paymentheaders {  margin-bottom: 25px; }
.PmsBookingCalendar .calendar .calendar_header,
.PmsBookingCalendar .calendar .day.selected,
.PmsBookingProductList .continue_button,
.PmsBookingContactData .complete_button,
.PmsBooking .pmsfront .check_available_button,
.PmsBooking .pmsfront .fa-calendar {
    background-color: #04a9b1; 
    text-transform: uppercase;
}

.frontpagebox .gsdepth_1.gsinner { border: solid 1px #ddd; margin: 10px; box-sizing: border-box; }
.frontpagebox .gsdepth_2.gscount_0 { border-bottom: solid 1px #ddd; padding-top: 5px; }
.frontpagebox .gsdepth_2.gscount_1 { padding: 10px; }
.Login .form .gs_button, .Login .form .loginbutton,
.shop_button { background: #0c3d66; border-radius: 0px; color:#fff; margin: 5px; }
.Login .login_content { text-align: center; }

.PmsBookingCalendar .calendar .day { border-color: #bbb; background-color:#efefef; font-size: 12px; }
.PmsBookingCalendar .calendar .day.dayheader { border: solid 0px; background-color:#fff; }
.day.dayheader { font-size: 12px; }

@media only all and (max-width: 800px) {
    .gsarea[area="header"] img { max-width: 80% !important;padding-top: 40px; }
    .gs_page_width { padding-left: 20px; padding-right: 20px; }
    .mobilenavigatemenu { color:#000; }
   .Menu a div { width: 100%; box-sizing: border-box; }
   .gs_language_selection { top: -10px; }
   .mobilenavigatemenu {
        text-align: center !important;
    }
    .Menu .menuentries.horizontal { background-color:#fff !important; }
    .Menu a div { text-align: center; }
    .gsinner.gsuicell.gsdepth_1.gscount_1.gscell_126 { padding-top: 5px !important; }
}