.gs_page_width { max-width: 1024px; margin: auto;}
.Menu { text-align:  left; color: #aaa; padding-top: 20px !important; }
.Menu .entry a { color: #aaa; font-size: 12px; text-transform: uppercase;
          letter-spacing: 3px;
          padding: 10px;
          display:inline-block;
          width:100%;
          font-family: 'Hind', sans-serif;
          font-weight: 100;text-spacing: 20px; }
.Menu .entry {  padding-right: 30px; }
.Menu .entries .entries .entry:hover { background-color:#080605; }
.Menu .entries .entries .entry { background-color: #181411; border-bottom: solid 1px #414244; }
.Menu { float: right; padding-top: 10px; }
.gsarea[area="header"] .gsinner.gsdepth_0 { width: 100%; padding-right: 20px;}
#gsbody {
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}
#gsbody {
    font-weight: 100 !important;
}


.gsarea[area="header"] { padding-top: 20px; background-color:#181411; height: 100px !important; position: relative; padding-bottom: 0px; margin-bottom: 0px;}
.gsarea[area="footer"] { padding-top: 20px; background-color:#181411; position: relative; padding-bottom: 0px; 

margin-bottom: 0px;
    
    color: #efefef !important;
    
}

.gsarea[area="body"] a { text-decoration: underline; }

.gsarea[area="footer"] .ContentManager { color:#aaa !important;  }

gsarea[area="body"] { margin-top: 0px; }

.front, .back  { background-color:#fff; }
.gsflipback .gsucell.gsdepth_2 { padding: 20px; background-color:#1b1714; border: solid 5px #403c39; color:#e4e3e1; font-weight: bold; letter-spacing: 0px; }
.News h2 { text-transform: uppercase; margin-top: 10px; margin-bottom: 10px; }
.News .news_container { letter-spacing: 0px; color:#000 !important; }

#gsbody .subpages { font-weight: 400 !important; letter-spacing: 1px; font-family: 'Raleway', sans-serif; font-size: 16px; line-height: 26px; font-weight: 400; }
.gsucell.subpages h1 { text-transform: uppercase; letter-spacing: 6px; font-size: 28px; line-height: 36px; font-weight: 600; }
.gsucell.subpages h2 { text-transform: uppercase; letter-spacing: 6px; font-weight: 600; }
.gsucell.subpages h3 {font-family: 'Montserrat', sans-serif; font-weight: normal;line-height: 28px; }
.gsucell.subpages h4 { text-transform: uppercase; font-size: 14px; font-weight: 600; letter-spacing: 6px; margin: 0px; margin-bottom: 8px; }
.News .news_container { border-color: #414244; }


@media only all and (max-width: 800px) {
    .gsarea[area="header"] { height: 150px !important; }
    .gsarea[area="header"] img { width: 100% !important; }
    .Menu {
        z-index: 10;
        font-size: 20px;
    }
    .Menu .entry a { padding: 0px; }
    .gsarea[area="header"] .gscell_22.gsuicell { padding-left: 0px !important; }
    .Menu .menuentries.horizontal {
        position:fixed;
        left: 0px;
        top: 0px;
        display:none;
        width: 100%;
        height: 100%;
        padding-right: 30px;
        padding-left: 30px;
        background-color: #181411;
    }
    .ProductLists .templatebox_1 .productbox:hover .addProductToCart { background-color: inherit !important; color:#000 !important; }
    .gs_page_width { padding-left: 20px; padding-right: 20px; }
    .gsarea[area="header"] .Menu .menuentries .entries .entries .entry div { border-bottom: 0px; }
    .gsarea[area="header"] .Menu .menuentries .entries .entries {background-color: #000; }
    .gsuicell .gscell_49 { display:none !important; }
    .CartHeader { margin-right: 10px; }
    
    .gscell_34 .imagecontainer.adjust_center { display:none; }
    
    .gsrotateright {
        right: 0px;
        top: 35px;
    }
    .gsrotateleft {
        left: 0px;
        top: 35px;
    }

}
