.ScormManager .groupscormarea {
    border: solid 1px #DDD;
    margin-top: 30px;
    padding: 20px;
}

.ScormManager .scormgroups {
    display: none;
    padding: 20px;
}

.ScormManager .scormrow {
    padding: 5px;
}

.ScormManager .scormrow:nth-child(odd) {
    background-color: #EFEFEF;
}
.ScormManager h2 {
    font-size: 15px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}