#backsidesettings .gs_user_menu .gss_button {
    width: 110px;
    margin-right: 15px;
    margin-bottom: 5px;
    overflow: hidden;
}
#backsidesettings .gs_user_menu {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

#backsidesettings .users_userlist {
}

#backsidesettings .gs_user_workarea {
    display: inline-block; 
    width: 1000px;

}

#backsidesettings .user_entry_row {
    border-bottom: solid 1px #EDEDED;
    position:relative;
}

#backsidesettings .user_entry_row .content {
    display: inline-block;
    width: 855px;
    vertical-align: top;
    height: 100px;
    position: relative;
    padding-top: 10px;
}

#backsidesettings .user_entry_row .image {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
    position: relative;
    padding-bottom: 10px;
    
}

#backsidesettings .user_entry_row .image i {
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 90px;
    line-height: 100px;
    color: #008ad2;
}

#backsidesettings .user_level {
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 12px;
}

#backsidesettings .user_list_header {
    border-bottom: solid 1px #EDEDED;
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

#backsidesettings .user_entry_row .created {
    font-size: 13px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: grey;
}
#backsidesettings .user_entry_row:hover {
    background-color: #EDEDED;
}