.Users .name {
    position: absolute;
    left: 90px;
}

.Users .email {
    position: absolute;
    left: 90px;
    top: 18px;
}

.Users .lastLoggedIn {
    position: absolute;
    left: 90px;
    top: 36px;
}

.Users .expireDate {
    position: absolute;
    left: 90px;
    top: 56px;
}

.Users .row:hover {
    background-color: #DDD;  
}

.Users .row {
    padding: 5px;
    cursor:pointer;
    background-image: url('{IMAGEFOLDER}/user80.png');
    background-repeat: no-repeat;
    height: 80px;
    position: relative;
    font-size: 14px;
    background-position: 0px 5px ;
    border-bottom: solid 1px #DDD;
}

.Users .edit_password_table {
    width: 100%;
}

.Users .email_log tr:hover {
    background-color:#EFEFEF;
    cursor:pointer;
}

.Users .email_subject {
    padding-left: 10px;
    display:inline-block;
    width: 100px;
    padding-right: 10px;
    overflow: hidden;
    height: 14px;
}

.Users .email_short_text {
    overflow:hidden; 
    display:inline-block;
    height: 14px;
    width: 80%;
    
/*    color:#6e62c9; */
}
.Users .email_subject_large {
    font-size:16px;
    font-weight: bold;
    border-bottom: solid 1px;
}

.Users .outgoing {
    color: #575180;
}

.Users .incoming {
    padding: 5px;
}

.Users .email_header {
    padding: 5px;
    text-align: center;
    background-color:#969696;
}


.Users .email_row {
    cursor:pointer;
    padding: 3px;
    border-bottom: solid 1px #BBBBBB;
    border-right: solid 1px #BBBBBB;
    border-left: solid 1px #BBBBBB;
    background-color: #EFEFEF;
}

.Users .date {
    position:absolute;
    z-index:1;
    right:5px;
    width: 180px;
    text-align: right;
    background-color:#EFEFEF;
    color:#BBBBBB;
    padding-right: 4px;
}

.Users .invite_content {
    width: 800px;
}

.Users .email_invite { width: 500px; }
.Users .title_invite { width: 500px; }
.Users .msg_invite { width: 500px; height: 100px; }
.Users .invite_content .button { position: relative; margin-left: 10px; margin-top: 5px; }
.Users .emails_sent { font-weight: bold; font-size:16px; margin-top: 10px; }
.Users .personal_information table,.Users .change_password table { width: 600px; }

.Users .title { font-size: 14px; }
.Users .statistic { font-size: 14px; }
.Users ul li { font-size: 14px; }


.Users .user {
    cursor:pointer;
    border-bottom: dashed 1px #ddd;
    position: relative;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Users .user .address {
    position: absolute;
    right: 0px;
    width: 300px;
}
.Users .user .info {
    padding: 5px;
}

.Users .user .image {
    padding: 5px;
    background-image: url('{IMAGEFOLDER}/user80.png');
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    font-size: 14px;
    background-position: 0px 5px ;
}

.Users .user.admin .image {
    background-image: url('{IMAGEFOLDER}/useradmin80.png');
}

.Users #result {
    border-top: dashed 1px;
    padding-top: 5px;
}

.Users .searchimage {
    background-repeat: no-repeat;
    padding: 5px;
    background-image: url('{IMAGEFOLDER}/search.png');
    height: 80px;
    width: 80px;
    background-position: 0px 5px ;
}

.Users .searchheader {
    width: 100%;
    position: relative;
    font-size: 14px;
}

.Users .searchheader .serachfield {
    position: absolute;
    bottom: 8px;
    text-align: right;
    right: 0px;
    
}

.Users .col1 {
    width: 200px;
}

.Users table td {
    vertical-align: top;
}
.Users .organisation table {
    width: 100%;
}
.Users .organisation {
    width: 200px;
    padding: 3px;
    border: solid 1px #DDD;
    border-radius: 5px;
}
.Users .save_user_button { float:right; }
.Users .pm_rights { cursor:pointer; }
.Users .sepbox img {  max-width: 200px; max-height:100px; }

.Users #result .user .fa-star {
    position: absolute;
    right: 10px; 
    top: 30px;
    font-size: 40px;
    color: green;
}