<div class="gsview guestinfo">
    <div class='overviewbox'>
        <div class='header'>Guest info</div>
        <div ng-if='loadingUserInfo'>
            <i class='fa fa-spin fa-spinner'></i> Loading
        </div>
        <div ng-if='!loadingUserInfo'>
            <div class='doorName'>Room: {{ access.door.name }}</div>
            <div class='guestName'>Guest name: {{ access.name }}</div>
            <div class='phone'><i class='fa fa-phone'></i> +{{ access.prefix }} {{ access.phoneNumber }}</div>
            <div class='code'> <i class='fa fa-key'></i> {{ access.code }} </div>    
        </div>
    </div>
    
    <div class='overviewbox'>
        <div class='header'>Messages</div>
        <div ng-if='loadingMessages'>
            <i class='fa fa-spin fa-spinner'></i> Loading
        </div>
        
        <div ng-if='!loadingMessages'>
            <div ng-repeat="message in messages" class="messagerow">
                <div class="content">{{ message.message }}</div>
                <div class="date">{{ message.rowCreatedDate }}</div>
            </div>
        </div>
        
        <div>
            <textarea class='sendMessageArea' ng-model='textMessageToSend' placeholder="Message goes here"></textarea>
            <div class='button' ng-mobile-click='sendMessage()'>Send  message</div>
        </div>
    </div>
</div>