<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/getshopapi.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="arxapp">
     
    <ion-nav-view></ion-nav-view>


   


    <!-- Here are the page partials -->
    <script id="login.html" type="text/ng-template">
      <ion-view title="Login">
        <ion-content>
          <div class="list list-inset">
            <div class="item item-divider">Choose host:</div>
            <div class="item item-input item-button-right">
              <div class="input-label">
                Host
              </div>
              <select ng-model="data.selectedHost">
                <option value="" disabled>...</option>
                <option ng-repeat="creds in userData.credentials">{{creds.host}}</option>
              </select>
              <button class="button button-positive" ng-click="loginWithSavedCredentials()">Go</button>
            </div>
            <div class="item item-divider">Or add new login</div>
            <label class="item item-input">
              <span class="input-label">Nettaddresse</span>
              <input type="text" ng-model="data.enteredHost">
            </label>
            <label class="item item-input">
              <span class="input-label">Brukernavn</span>
              <input type="text" ng-model="data.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Passord</span>
              <input type="password" ng-model="data.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logg inn&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </div>
      </ion-content>
      </ion-view>
    </script>
    <script id="menu.html" type="text/ng-template">
      <ion-view title="Menu">
        <ion-content>
          <!--Big menu bar row-->
          <div class="row">
            <div class="col-25">
              <img src="img/getshop.png" />
            </div>
            <div class="col-25 col-offset-25">
              <button class="button button-block button-clear button-dark high"><i class="icon ion-gear-b big-icon"></i><br>Instillinger</button>
            </div>
            <div class="col-25">
              <button class="button button-block button-clear button-dark high" ui-sref="login"><i class="icon ion-key big-icon"></i><br>Logg ut</button>
            </div>
          </div>

          <!--Separator row-->
          <div class="separator-15vh"></div>
          <!--Two middle rows for menu items-->
          <div class="row">
            <button class="button button-block button-clear button-dark high" ui-sref="login"><i class="icon ion-ios-cart big-icon"></i><br>Bestill</button>
            <button class="button button-block button-clear button-dark high" ui-sref="doors"><i class="icon ion-locked big-icon"></i><br>Doors</button>
            <button class="button button-block button-clear button-dark high" ui-sref="users"><i class="icon ion-person big-icon"></i><br>Brukere</button>
          </div>
          <div class="row">
            <button class="button button-block button-clear button-dark high" ui-sref="login"><i class="icon ion-cloud big-icon"></i><br>Cloud</button>
            <button class="button button-block button-clear button-dark high" ui-sref="login"><i class="icon ion-mic-a big-icon"></i><br>Feedback</button>
            <button class="button button-block button-clear button-dark high" ui-sref="login"><i class="icon ion-ios-paper big-icon"></i><br>Nyheter</button>
          </div>
          <!--Separator row-->
          <div class="separator-15vh"></div>
          <!--Row with number-->
          <div class="row">
            <div class="col col-33 col-offset-33 text-center">106</div>
          </div>
        </ion-content>
      </ion-view>
    </script>
    <script id="users.html" type="text/ng-template">
      <ion-view title="Users">
        <ion-header-bar class="bar bar-header bar-light">
          <h1 class="title">Brukere</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">

            <a class="item item-icon-left" ng-repeat="user in persons" href="#/users/{{user.firstName}}">
              <i class="icon ion-person"></i>
              <span class="item-note item-note-small">
                Adgangsgrupper <br>
                <span class="group-badge">{{user.accessCategories.length}}</span>
              </span>
              <h2>{{user.firstName}} {{user.lastName}}</h2>
              <p>{{user.streetAddress}}</p>
              <p>{{user.endDate}}</p>
            </a>
          </div>
          </ion-content>
        <ion-footer-bar class="bar bar-footer">
          <button class="button button-full" ui-sref="menu">Tilbake</button>
        </ion-footer-bar>
      </ion-view>
    </script>
    <script id="user-detail.html" type="text/ng-template">
      <ion-view title="{{user.firstName}} {{user.lastName}}">
        <ion-header-bar class="bar bar-header bar-light">
          <h1 class="title">{{user.firstName}} {{user.lastName}}</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">

            <div class="item item-icon-left" ng-repeat="ac in user.accessCategories">
              <i class="icon ion-key"></i>
              <h2>{{ac.name}}</h2>
              <p>{{ac.description}}</p>
              <p>{{ac.startDate}} - {{ac.endDate}}</p>
            </div>

          </div>
          </ion-content>
        <ion-footer-bar class="bar bar-footer">
          <button class="button button-full" ui-sref="users">Tilbake</button>
        </ion-footer-bar>
      </ion-view>
      </ion-view>
    </script>
    <script id="doors.html" type="text/ng-template">
      <ion-view title="Doors">
       <ion-header-bar class="bar bar-header bar-light">
          <h1 class="title">Doors</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <a class="item item-icon-left" ng-repeat="door in doors" href="#">
              <span class="item-note item-note-small">
                <button class="button button-positive" ng-click="setTimerOnDoor(door.externalId)"><i class="icon ion-lock-combination"></i></button>
                <button class="button button-positive" ng-click="closeDoor(door.externalId)"><i class="icon ion-locked"></i></button>
                <button class="button button-positive" ng-click="openDoor(door.externalId)"><i class="icon ion-unlocked"></i></button>
              </span>
              <i class="icon ion-key"></i>
              <h2>{{door.name}}</h2>
            </a>
          </div>
        </ion-content>
        <ion-footer-bar class="bar bar-footer">
          <button class="button button-full" ui-sref="menu">Tilbake</button>
        </ion-footer-bar>        
      </ion-view>
    </script>

  </body>
</html>
