.C3RegisterHours .projectoverview {
    border: solid 1px #DDD;
    padding: 20px;
    background-color: #EEE;
    margin-bottom: 30px;
}

.C3RegisterHours .hourrow .editbutton,
.C3RegisterHours .hourrow .fromdate,
.C3RegisterHours .hourrow .hour,
.C3RegisterHours .hourrow .todate {
    font-size: 18px;
}

.C3RegisterHours .hourrow .editbutton { display: inline-block; width: 80px; }
.C3RegisterHours .hourrow .fromdate { display: inline-block; width: 150px; }
.C3RegisterHours .hourrow .todate { display: inline-block; width: 150px; }
.C3RegisterHours .hourrow .hour { display: inline-block; width: 150px; }
.C3RegisterHours .hourrow .othercost { display: inline-block; width: 150px; }

.C3RegisterHours .hourrow { border-bottom: solid 1px #DDD; padding-bottom: 5px; padding-top: 5px;}

.C3RegisterHours .hourrow.summary { border-bottom: solid 0px; margin-bottom: 50px; }

.C3RegisterHours .downloadofreport {
    border: solid 1px green;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
    background: #f1e767; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1e767 0%, #feb645 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */

    color: #000;
    text-align: centeR;
    margin-bottom: 30px;
    padding: 20px;
}

.C3RegisterHours .shop_button {
    background-color: #EEE;
    margin-top: 10px;
}