
.PmsEventCalendar .pmsbutton {
      background-color: #44c767;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.PmsEventCalendar .pmsbutton.active {
    border-color:darkgreen;
}
.PmsEventCalendar .eventconfig label {
    padding-bottom: 20px;
    display:inline-block;
    width:100%;
}

.PmsEventCalendar .eventconfig label input,
.PmsEventCalendar .eventconfig label textarea,
.PmsEventCalendar .eventconfig label select
{
    padding-top: 3px;
    width: 100%;
    box-sizing: border-box;
}

.PmsEventCalendar .eventconfig label .text { 
    display:inline-block;
    width: 100%;
    padding-bottom: 3px;
}

.PmsEventCalendar .imagedisplayer_upload_form_menu { text-align: left !important; }
.PmsEventCalendar .imagedisplayer_upload_form_menu i { display:none;  }
.PmsEventCalendar .eventconfig { padding-left: 300px; padding-right: 300px; }

.PmsEventCalendar .image { float:left; padding: 3px;  margin-right: 10px;  margin-bottom: 10px; width:30%; border: solid 1px #bbb; height: 100%; min-height: 130px; }
.PmsEventCalendar .image img { width: 100%; }

.PmsEventCalendar .noimgtxt { display:block; width:100%; line-height: 130px; text-align: center; }
.PmsEventCalendar .filelist a { color: blue; cursor: pointer; }

.PmsEventCalendar .datecol { font-size: 20px;  padding-left: 10px; padding-right: 20px; padding-top:15px;}
.PmsEventCalendar .listtext { font-size: 16px; }
.PmsEventCalendar .listtext h2,.PmsEventCalendar h1 { margin: 0px; padding-top:10px; }
.PmsEventCalendar .cat { background-color:#bbb; padding: 1px; display:inline-block; color:#efefef; margin-top: 5px; margin-bottom: 5px; padding-left: 10px; padding-right: 10px; font-size: 12px; }
.PmsEventCalendar .arrangedby { font-size: 12px; color:#bbb; font-weight: bold; margin-top: 5px; margin-bottom: 5px; }
.PmsEventCalendar .filelist { display:none; }

.PmsEventCalendar #entryconfigurationTable{width: 100%;}
.PmsEventCalendar #entryconfigurationImage{width:65%;}
.PmsEventCalendar #previewing,.PmsEventCalendar #previewingLogo{width:100%;height:175px;}

.PmsEventCalendar #file,
.PmsEventCalendar #logo{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;  
}

.PmsEventCalendar #file + label,
.PmsEventCalendar #logo + label{

    text-align: center;
    font-weight: 500;
    padding-top:10px;
    background-color:#eee;
    border-top:1px solid #ddd;
}

.PmsEventCalendar #file + label:hover,
.PmsEventCalendar #logo + label:hover{
    border-top:1px solid #bbb;
    background-color: #f3f3f3;
    cursor: pointer;
}

.PmsEventCalendar .eventlistbox{font-size:24px;letter-spacing: 2px;width:100%;}
.PmsEventCalendar .eventlistbox h1{font-size:2.5em;}
.PmsEventCalendar .eventlistboxframe{float:left;width:50%;box-sizing: border-box;position: relative;height:auto;}

.PmsEventCalendar .eventlistboxes{
    height:360px;
    margin-bottom:10px;
    margin-left: 10px;
    color:#fff;
    background: #888;
 
}
.PmsEventCalendar .boxcolor{
    background: #8BBD39;
    position: relative;
    top:-9px;
    height: 179px;
}
.PmsEventCalendar .boxtext{position:relative;top:-40px;left:10px;}
.PmsEventCalendar .boxid{width:100%;height:190px;opacity: 0.7; display:block;}
.PmsEventCalendar .noimg{display: block;}

@media only all and (max-width: 800px){
    .PmsEventCalendar .eventlistboxframe{position:relative;right:5px;}
    .PmsEventCalendar .eventlistbox h1{font-size: 1.5em;}
    .PmsEventCalendar .boxtext{top:-28px;}
    .PmsEventCalendar .eventlistboxes{height:180px;}
    .PmsEventCalendar .boxcolor{height:85px;}
    .PmsEventCalendar #boxid{height:95px;}
    
}
