
.PmsEventCalendar .pmsbutton {
      background-color: #44c767;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.PmsEventCalendar .pmsbutton.active {
    border-color:darkgreen;
}
.PmsEventCalendar .eventconfig label {
    padding-bottom: 20px;
    display:inline-block;
    width:100%;
}

.PmsEventCalendar .eventconfig label input,
.PmsEventCalendar .eventconfig label textarea,
.PmsEventCalendar .eventconfig label select
{
    padding-top: 3px;
    width: 100%;
    box-sizing: border-box;
}

.PmsEventCalendar .eventconfig label .text { 
    display:inline-block;
    width: 100%;
    padding-bottom: 3px;
}

.PmsEventCalendar .imagedisplayer_upload_form_menu { text-align: left !important; }
.PmsEventCalendar .imagedisplayer_upload_form_menu i { display:none;  }
.PmsEventCalendar .eventconfig { padding-left: 300px; padding-right: 300px; }

.PmsEventCalendar .image { float:left; padding: 3px;  margin-right: 10px;  margin-bottom: 10px; width:30%; border: solid 1px #bbb; height: 100%; min-height: 130px; }
.PmsEventCalendar .image img { width: 100%; }

.PmsEventCalendar .noimgtxt { display:block; width:100%; line-height: 130px; text-align: center; }
.PmsEventCalendar .filelist a { color: blue; cursor: pointer; }