.EventUserList .userline {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    
}

.EventUserList .userline:nth-child(event) {
    background-color: #F0F0F0;
    
}

.EventUserList .userline .options {
    position: absolute;
    right: 5px;
    top: 5px;
}

.EventUserList .usercomments_infobox {
    padding: 20px;
}

.EventUserList .usercomments_infobox textarea {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
}

.EventUserList .innercomments {
    margin-top: 20px;
    background-color: #FFF;
    padding: 20px;
}

.informationboxbackground.EventUserList {
    padding: 20px;
}

.EventUserList .usersettings {
    padding: 20px;
    
    border: solid 1px #DDD;
    background-color: #FFF;
    min-height: 300px;
}

.EventUserList .userlistinner {
    padding: 20px;
}
.EventUserList .reports {
    padding: 20px; 
    background-color: #F9f9f9;
}

.EventUserList .user_special_comments {
    width: 500px;
    position: absolute;
    background-color: #FFF;
    padding: 10px;
    border: solid 1px #DDD;
    z-index: 1;
    display: none;
}

.EventUserList .waitinglistusers {
    border-top: dashed 1px #DDD;
    margin-top: 30px;
    padding-top: 30px;
}