/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2019, 7:54:59 PM
    Author     : ktonder
*/

.collection .orderamount,
.collection .refnumber {
    display: inline-block;
}

.collection .orderamount {
    width: 100px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
}

.collection .refnumber {
    width: calc(100% - 110px);
    box-sizing: border-box;
    padding-left: 10px;
}

.collection .subtotal {
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    padding-top: 3px;
    margin-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.collection .adjustment {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    border: solid 1px #DDD;
    line-height: 50px;
    padding-top: 15px;
    box-sizing: border-box;
    margin-right: 15px;
    
    background: #e5e696; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5e696 0%, #d1d360 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e5e696 0%,#d1d360 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */
    float: left;
}

.collection .adjustment_row {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 50px;
}