table.calendar    { border-left:1px solid #999; width: 100% }
tr.calendar-row  {  }
td.calendar-day  { cursor: pointer; min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover  { background:#eceff5; }
td.calendar-day-np  { background:#eee; min-height:150px; } * html div.calendar-day-np { height:150px; }
td.calendar-day-head { 
    font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; 

    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */


}
div.day-number    { background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }

.Calendar .containsdata {
    
}

.calendercontent {
    height: 80px;
}

/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }

.dayevents h2 {
    text-align: center;
    background-color: #DDD;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dayevents .noentry {
    font-size: 14px;
    padding: 10px;
    background-color: #EEEEEE;
}
.dayevents {
    margin-top: 10px;
    /*margin-right: 11px;*/
}


.addevent input {
    width: 264px;
}

.dayentry .addcomment {
    cursor: pointer;
}
.dayentry .addcomment.activeComment {
    color:#008000;
}
.dayentry .fa-graduation-cap {
    display:block !important;
    color:#e77373;
}
.dayentry .fa:hover {
    color:#043e82;
    cursor:pointer;
}


.dayentry .fa { display: none; }
.dayentry .fa.fa-trash-o { display:block; }
.dayentry .fa.source { display:block; }
.dayentry .fa.source.fa-mobile { margin-left: 2px;}
.dayentry {
    padding: 10px; 
    background-color: #eeeeee;
    border: solid 1px #DDD;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}

.Calendar .calendercontent { font-size: 10px; color: #FFF; padding-top: 23px; position: relative;  }
.Calendar .calendercontent .day-number { position: absolute; right: 0px; top: 0px; }

.Calendar .calendercontent .content .outerdiv { 
    display: inline-block;
    margin-left: 10px;
}
.Calendar .calendercontent .content .outerdiv div { 
    margin-bottom: 3px; 
    color: #FFF; 

    background-image: url('{IMAGEFOLDER}/red.png');
    width: 50px;
    height: 50px;
    font-size: 0px;
    
    display: inline-block;
}

.Calendar .calendercontent:hover { color: #000 !important; }
.dayentry .start { padding-left: 5px; }
.dayentry .stop { padding-left: 5px; }
.dayentry .title { font-weight: bold; color: #888; border-bottom: solid 1px; font-size: 14px; }
.dayentry .location { margin-top: 5px; }
.dayentry .location .content { padding-left: 5px; }
.dayentry .description { margin-top: 5px; }
.dayentry .description .content { padding-left: 5px; }

.Calendar .right-arrow,
.Calendar .left-arrow {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.Calendar .right-arrow {
    background-image: url('{IMAGEFOLDER}/th_right_arrow.png');
}

.Calendar .left-arrow {
    background-image: url('{IMAGEFOLDER}/th_left_arrow.png');
}

.Calendar .dayrow:hover {
    background-color: #BBB;
}

.Calendar .remove {
    cursor:pointer;
    color:red;
    padding-left: 5px;
}

.Calendar .dayrow .addcomment.activeComment.fa { display: block; }
.Calendar .dayrow:hover .fa { display:block; }

.Calendar .filters {
    width: 150px;
    padding-right: 10px;
    font-size: 13px;
}

.Calendar .filters .filter {
    border: solid 1px #DDD;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.Calendar .filters .filter.selected {
    background-color: green;
    background-image: linear-gradient(bottom, rgb(47,223,87) 48%, rgb(76,255,114) 74%);
    background-image: -o-linear-gradient(bottom, rgb(47,223,87) 48%, rgb(76,255,114) 74%);
    background-image: -moz-linear-gradient(bottom, rgb(47,223,87) 48%, rgb(76,255,114) 74%);
    background-image: -webkit-linear-gradient(bottom, rgb(47,223,87) 48%, rgb(76,255,114) 74%);
    background-image: -ms-linear-gradient(bottom, rgb(47,223,87) 48%, rgb(76,255,114) 74%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.48, rgb(47,223,87)),
            color-stop(0.74, rgb(76,255,114))
    );
}


.Calendar .dayentry .rowicon { display: none; }


.Calendar .dayentry {
    position: relative;
    padding-bottom: 65px
}
.Calendar .dayentry .availblepositions {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    text-align: center;
    width: 50px;
    background-color: green;
    border: solid 1px;
    font-size: 18px;
    padding: 5px;
    box-shadow: 0px 0px 5px #FFF;
    background: -webkit-linear-gradient(#0acf59, #009b3e);
    color: #FFF;
}

.Calendar .dayentry .availblepositions.notavailable {
    background-color: red;
    background: -webkit-linear-gradient(#b4ff00, #ffd200);
    color: #000
}

.Calendar .dayentry .availblepositions .text {
    font-size: 9px;
    font-weight: bold;
}

.Calendar .dayentry .location .content{
    display: inline-block;
}

.Calendar .dayentry .moreinfo {
    position: absolute;
    left: -5px;
    bottom: 10px;
}

.Calendar .dayentry .booking {
    position: absolute;
    right: -5px;
    bottom: 10px;
}

.Calendar .dayentry.odd {
    margin-right: 20px;
}

.Calendar .dayentry .buttons {
    height: 65px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;    
}

.Calendar .configuration {
    z-index: 2;
}

.Calendar .reminderform {
    padding: 20px;
    font-size: 16px;
    color: #FFF;
}

.Calendar .reminderform .reminderhistoryrow {
    margin-top: 10px;
    border-top: dashed 1px #1f1f1f;
    padding-top: 10px;
    padding-left: 10px;
}

.Calendar .transfer_event_list .add_user_to_this_event:hover {
    background-color: #585858;
}

.Calendar .transfer_event_list .add_user_to_this_event {
    border-bottom: dashed 1px #585858;
    cursor: pointer;
    padding: 4px;
}
.Calendar .transfer_event_list {
    padding-left: 20px;
    padding-right: 20px;
}
.Calendar .transferdialog {
    padding: 20px;
    font-size: 14px;
    color: #FFF;
}

.Calendar .calendar_comment_area {
    padding: 20px;
    color: #FFF;
    font-size: 16px;
}

.Calendar .calendar_comment_area .gs_button:not(.small) {
    position: absolute;
    right: 24px;
    top: 378px;
}

.Calendar .calendar_comment_area textarea {
    width: 940px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.Calendar .calendar_comment_area .commententry {
    border-top: dashed 1px #333;
    padding: 10px;
    margin-bottom: 20px;
}

.Calendar .calendar_comment_area .commententry:first-child {
    border-top: solid 0px;
}

.Calendar .calendar_comment_area .commententry .datecreated {
    font-size: 13px;
    text-align: right;
}

.editlocationscalendar td {
    font-size: 16px;
}
.editlocationscalendar {
    padding: 20px;
    font-size: 16px;
    color: #FFF;
    padding-bottom: 50px;
}

.editlocationscalendar .selectlcoation {
    display: inline-block;
    border: solid 1px #FFF;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.editlocationscalendar .gs_button.calendar_location_save {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.editlocationscalendar .gs_button.calendar_location_back {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.editlocationscalendar .gs_button.calendar_location_delete {
    position: absolute;
    bottom: 20px;
    right: 150px;
}

.calendar_comment_inner {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #4f4f4f;
}

.calendar_comment_inner:last-child {
    border-bottom: solid 0px;
}

.Calendar .calendar_tabs {
    margin-bottom: 20px;
}

.calender_tab_entry {
    border: solid 1px;
    margin-right: 10px;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    padding-left: 20px; 
    padding-right: 20px;
    cursor: pointer;
}

.day_entry  { padding-left: 15px; padding-bottom: 10px; margin-bottom: 10px; }

.Calendar .dayentry .extraText {
    border: solid 1px red;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding: 3px;
}

.Calendar .downloadpdf {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 60px;
    background-image: url('{IMAGEFOLDER}/pdf-icon.png');
    height: 48px;
    background-repeat: no-repeat;
    line-height: 48px;
}
.listview_month_location { margin-bottom: 20px; margin-left: 10px; border: solid 1px #333; padding: 3px; margin-top: 5px; }
.listview_month_location td { vertical-align: top; font-size: 15px; padding: 5px; }
.listview_month_location th {  background-color: #333; padding: 5px; }
.listview_month_location tr:nth-child(odd) td { background-color: #333; }


.Calendar .save_candidate_setting {
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.Calendar .week.calendar-day-np {
    width: 25px;
    text-align: center;
}

.Calendar .calendar.inline,
.Calendar table { 
    width: 100% !important; 
}

#ba3802e2-5d77-4c86-8ba0-94e06734b4f8 {
    background-image: url('{IMAGEFOLDER}/blue.png');
}

#1beac170-4d09-487c-9fbc-b2a0694f99e8 {
    background-image: url('{IMAGEFOLDER}/green.png');
}