body {
    font-family: 'Roboto', sans-serif;
}

.gs_page_width {
    max-width: 1377px;
    margin: 0 auto;
}

.gscell_11.gsuicell {
    border-radius: 100px;
    background-color: #4785ac;
    color: #FFF;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.gscell_9.gsuicell:before {
    content: "\f112";
    position: absolute;
    left: 0px;
    top: 0px;
    color: #4785ac;    
    font-size: 77px;
    font-family: fontawesome;
    transform: rotate(200deg);
}

.gscell_16.gsuicell {
    width: 100%;
    height: 80px;
    position: relative;
}

.gscell_16.gsuicell .ImageDisplayer {
    width: 100%;
    height: 80px;
}

.gscell_16.gsuicell img {
    max-height: 100px;
    position: absolute;
    z-index: 2;
    left: 0px;
    max-width: 100%;
}

.gscell_9.gsuicell {
    padding-left: 100px;
}

.gsarea[area="header"] .Menu {
    margin-top: 20px;
}

.gsarea[area="header"] .Menu .entry a {
    color: #444;
}

.gsarea[area="header"] .Menu .entry {
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.gsarea[area="header"] .Menu {
    text-align: right;
}

.gsarea[area="footer"] {
    background-color: #a0d0ed;
    padding-top: 20px;
    color: #FFF;
    font-size: 16px;
}

.gscell_26.gsucell:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    background-color: #9dd2ef;
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    top: -75px;
    height: 160px;
}

.gscell_26.gsucell:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    background-color: #9dd2ef;
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    top: -75px;
    height: 160px;
}

.gscell_29.gsucell:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    background-color: #9dd2ef;
    -ms-transform: skewY(+4deg);
    transform: skewY(+4deg);
    top: -192px;
    height: 160px;
}

.shop_button {
    background: none;
    border: 0px;
    border-radius: 0px;
    background-color: #9dd2ef;
}

@media only all and (max-width: 800px) {
    .gsinner.gsdepth_0 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gscell_9.gsuicell {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .Menu .mobilenavigatemenu {
        text-align: center;
    }
    .Menu .menuentries {
        text-align: left;
    }
    .Menu .fa-navicon { font-size: 30px; margin-bottom: 10px; }
    .ImageDisplayer img { width: 100% !important; }
    
    .gsucell .gscell_24.gsuicell { padding-left: 10px !important; padding-right: 10px !important; }
    .gsucell .gscell_27.gsuicell { padding: 0px !important; }
    .Contact .shop_button { width: 100%; }
    .gsucell .gscell_9.gsuicell { padding-top: 90px !important; }
    h2 { margin: 0px; }
    .picker_header { display:none; }
}