.DefaultPaymentHandlingAction .order_action_button {
    width: 190px;
    display: inline-block;
    color: #FFF;
    background-color: #29354e;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    padding: 13px;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}
.DefaultPaymentHandlingAction .ordernotesupdatearea {
    position: absolute;
    width: 225px;
    background-color: #bbb;
    padding: 2px;
    border: solid 1px #efefef;
    border-radius: 3px;
    display:none;
}

.DefaultPaymentHandlingAction .doupdateOrderNote {
    width: 100%;
    box-sizing: border-box;
}

.DefaultPaymentHandlingAction .ordernotesupdatearea textarea {
    width: 100%;
    height: 90px;
    margin-bottom: 3px;
}

.DefaultPaymentHandlingAction .edit_user_btn {
    color:#4da6cb;
}

.DefaultPaymentHandlingAction .commonbox {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-right: 20px;
    text-align: left;
}

.DefaultPaymentHandlingAction .paymentmethodname {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    border-bottom: solid 1px #e2e5e7;
    line-height: 40px;
    padding-left: 26px;
}

.DefaultPaymentHandlingAction {
    margin-bottom: 20px;
    text-align: center;
    border: solid 1px #DDD;    
}
