body {
    font-size: 17px;
    font-family: 'Cabin', sans-serif;
    color: #222;
}

.gsarea[area="header"] {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f501a+0,7b7c37+100 */
    background: #4f501a; /* Old browsers */
    background: -moz-linear-gradient(top,  #4f501a 0%, #7b7c37 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4f501a 0%,#7b7c37 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4f501a 0%,#7b7c37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f501a', endColorstr='#7b7c37',GradientType=0 ); /* IE6-9 */
    height: 110px;
    position: relative;
    box-shadow: -5px 0px 5px;
    font-size: 16px
}

[appid="2c4b6189-eb08-4533-b98a-41fc43aa1026"] img {
    height: 140px !important;
    z-index: 1;
    right: 0px;
    position: absolute;
    top: 30px;
}
.gs_page_width {
    max-width: 1160px;
    margin: 0 auto;
}

.gsucell[cellid="40c75073-d164-4b01-808b-362d9a9a31b7"] {
    width: 100% !important;
}

.applicationarea[appid="1c7d1b2f-2052-4390-a721-2d347ec4e264"] {
    position: absolute;
    left: 0px;
    top: 10px;
}

.gsarea[area="header"] img {
    z-index: 1;
}

.gsarea[area="header"] .Menu .entry {
    padding: 10px;
}
.gsarea[area="header"] .Menu a {
    color: #FFF;
}

.gsarea[area="header"] .Menu .entries .entries {
    width: 400px;
    background-color: #FFF;
    border: solid 1px #DDD;
    
}
.gsarea[area="header"] .Menu .entries .entries a {
    color: #333;
} 
.gsarea[area="header"] .Menu {
    position: absolute;
    left: 0px;
    top: 90px;
    border-radius: 0px 0px 5px 5px;
    
    background: #757633; /* Old browsers */
    background: -moz-linear-gradient(top,  #757633 0%, #7a7b36 38%, #4f501a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #757633 0%,#7a7b36 38%,#4f501a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #757633 0%,#7a7b36 38%,#4f501a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757633', endColorstr='#4f501a',GradientType=0 ); /* IE6-9 */
    z-index: 1;
}

.gsarea[area="header"] .Menu .entry {
    border-right: solid 1px rgba(0,0,0,0.1);
}

.gsarea[area="header"] .Menu  .entry:first-of-type {
    padding-left: 20px;
}

.gsarea[area="header"] .Menu  .entries .entries .entry:first-of-type {
    padding-left: 10px;
}
.gsarea[area="header"] .Menu .entry:last-of-type {
    border-right: solid 0px;
    padding-right: 20px;
}

.gsarea[area="body"] {
    padding-top: 50px;
}

[pageid="e30dbf6f-83ec-4c37-9e01-943438cf8fa3"] .gsarea[area="body"] {
    padding-top: 0px;
}

.gsarea[area="footer"] {
    margin-top: 50px;
    background-color: #e5e5e5;
    height: 150px;
    padding-top: 20px;
    color: #666;
}

.shop_button {
    background: #757633; /* Old browsers */
    background: -moz-linear-gradient(top,  #757633 0%, #7a7b36 38%, #4f501a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #757633 0%,#7a7b36 38%,#4f501a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #757633 0%,#7a7b36 38%,#4f501a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757633', endColorstr='#4f501a',GradientType=0 ); /* IE6-9 */
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
}

.NewsFeed .newsentrysmall {
        border: solid 1px #999;
    color: #FFF;
    padding: 10px;
}

.NewsFeed .newsentrysmall .date {
    color: #FFF;
}

@media screen and (max-width: 799px) {
    .gsarea[area="header"] .Menu { width: 100%; }
    .gsarea[area="header"] .Menu .entries .entries { 
        background-color: inherit; 
        border: solid 0px;
        padding-left: 15px;
    }
    
    .gsarea[area="footer"] {
        min-height: 150px;
        height: auto;
    }
    .gsarea[area="footer"] img {
        width: 100px;
        display: inline-block;
        height: 100px;
    }
    .gsucell[cellid="9b869d49-6fbf-4315-9822-f1e7a50205e7"] {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .gsucell[cellid="9b869d49-6fbf-4315-9822-f1e7a50205e7"] .gsucell {
        display: inline-block;
    }
    
    .shop_button {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .gsarea[area="body"] {
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .gsarea[area="header"] .mobilenavigatemenu {
        
        width: 40px;
        font-size: 0px;
        text-align: center;
        background-color: #707130;
        position: fixed;
        top: 70px;
    }
    
    .gsarea[area="header"] .mobilenavigatemenu i:before {
        font-size: 30px;
        color: #FFF;
    }
    
    .simplebooking_inner {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    [appid="2c4b6189-eb08-4533-b98a-41fc43aa1026"] img {
        margin-top: 20px;
    }
}
