.PmsBookingMultipleSelectionBooking{
    position:absolute;
    right:5%;
    width:30%;
    height:auto;
    margin:0;
    padding:0;
    top: 50px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    z-index: 2;
}
.PmsBookingMultipleSelectionBooking .applicationinner{padding:5%;}
.PmsBookingMultipleSelectionBooking .title{
    margin:0 0 5% 0;
    width:100%;
    font-weight:bold;
    letter-spacing:1px;
    font-size: 20px;
    color: #555;
    cursor: default;
}
.PmsBookingMultipleSelectionBooking .boxarea{
    width:100%;
    border-bottom:1px solid rgba(205,22,37,.8);
}
.PmsBookingMultipleSelectionBooking .boxarea ul.tab{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    border: none;
    
}
.PmsBookingMultipleSelectionBooking .boxarea ul.tab li{
    width:33.3%;
    float:left;
}
.PmsBookingMultipleSelectionBooking .boxarea ul.tab li a{
    margin:0;
    border: 1px solid rgba(205,22,37,.8);
    border-bottom-width: 0;
    color:rgba(205,22,37,.8);
    font-weight:bold;
    width:75%;
    min-width:60px;
    display: inline-block;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    background-color:#fff;
}

.PmsBookingMultipleSelectionBooking .boxarea ul.tab li .activeTab{
    color: #FFF;
    background-color:rgba(205,22,37,.8) !important;
}
.PmsBookingMultipleSelectionBooking .tabcontent{
    padding:10% 0 10% 0;
    min-height:60px;
    display: none;
    border: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.PmsBookingMultipleSelectionBooking .tabcontentCheckin .fa-calendar-o{
    padding:2%;
    height:15px;
    background-color:#cb3845;
    cursor:pointer;
    color:#fff;
}
.PmsBookingMultipleSelectionBooking .dateinput{
    background-color:#fff;
    height:15px;
    margin-bottom:1%;
    padding:2% 0 2% 0;
    width:35%;
    font-size:1em;
    color: #555;
    border: none;
    text-align: center;
    cursor: context-menu;
}
.PmsBookingMultipleSelectionBooking .bottomarea .searchbooking{
    position:relative;
    width:100%;
    color: white;
    background-color: rgba(205, 22, 37,.8);
    border: 0px;
    cursor: pointer;
    padding:1% 0 1% 0;
}
@-webkit-keyframes fadeEffect {
    from{opacity: 0;}
    to  {opacity: 1;}
}

@keyframes fadeEffect {
    from{opacity: 0;}
    to  {opacity: 1;}
}  
@media only all and (max-width: 800px){    
    .PmsBookingMultipleSelectionBooking{
        position:relative;
        left:0;
        width:100%;
        height:auto;
        border:1px solid rgba(0,0,0,0.2);
    }
    .PmsBookingMultipleSelectionBooking .tabcontent{background-color:rgba(255, 138, 147, 0.1)}
}