.gs_page_width {
    margin: 0 auto;
    /*border: solid 1px;*/
}


.gsarea[area="footer"] {
    background-color: black;
}

.gsarea[area="header"] {
    background-color: #020202;
}

.left_side_bar {
    width: 300px;
    
    background-color: #f9fafc;
}

.gs_main_column {
    width: calc(100% - 300px);
}