
body {
    font-family: 'Lato', sans-serif;
}

/* HEADER SETTINGS */
.gsarea[area="header"] .gscell[cellid="04869e19-a87b-41de-82ed-59241eccc920"] {
    float: right !important;
    width: inherit !important;
    margin-top: 20px;
    margin-right: 20px;
}

.gsarea[area="header"] .gscell[cellid="0283146d-48ac-4814-ab4a-3b4602608558"],
.gsarea[area="header"] .gscell[cellid="d832c66f-6c1a-435e-a125-bc411c80add7"] {
    width: 300px !important;
}

/* First row */
.gsarea .gscell[cellid="6f258b06-3f19-48ef-8bf2-4e744ae0d213"] {
    height: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Second row */
.gsarea .gscell[cellid="c6ea0a3a-5a6e-4d55-93b0-bd62b6df2804"] {
    background-color: #c30f10;
    height: 90px;
}

.gsarea .gscell[cellid="d832c66f-6c1a-435e-a125-bc411c80add7"] {
    background-color: #8d0d0c;
    height: 90px;
}

.gsarea[area="header"] {
    background-color: #202020;
}

/* END HEADER SETTINGS */

.gsarea[area="footer"] {
    background-color: black;
}

.boldFont {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.left_side_bar {
    width: 300px;
    background: rgb(249,250,252); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(249,250,252,1) 0%, rgba(249,250,252,1) 91%, rgba(234,237,242,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(249,250,252,1) 0%,rgba(249,250,252,1) 91%,rgba(234,237,242,1) 100%);
    background: linear-gradient(to right,  rgba(249,250,252,1) 0%,rgba(249,250,252,1) 91%,rgba(234,237,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafc', endColorstr='#eaedf2',GradientType=1 );
}

.gs_main_column {
    width: calc(100% - 300px);
}

.left_side_bar .Menu .entry,
.left_side_bar .Menu .menuentries {
    display: block !important;
}

.left_side_bar .Menu .entry.active {
    background-color: #e9ebea;
    background-image: url('{IMAGEFOLDER}/right_menu_active_indicator.png');
    background-position: right;
    background-repeat: no-repeat;
    font-weight: normal;
}

.left_side_bar .Menu .entry {
    border-bottom: solid 1px #e4e8eb;
    color: #35475d;
    height: 59px;
    line-height: 59px;
    font-size: 16px;
}

.left_side_bar .Menu .entry i {
    padding-left: 33px;
    width: 33px;
    font-size: 20px;
}

.left_side_bar .Menu .entry:last-child {
    border-bottom: solid 0px;
}



.gsarea[area="header"] .Menu .entry {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border-right: solid 1px #9f0d10;
    border-left: solid 1px #d24b48;
    height: 90px;
    
    font-family: 'Roboto', sans-serif;
}

.gsarea[area="header"] .Menu .entry:last-child {
    border-right: solid 0px;
}
.gsarea[area="header"] .Menu .entry:first-child {
    border-left: solid 0px;
}

.gsarea[area="header"] .Menu .entry a{
    color: #FFF;
    font-size: 15px;
    
}

.gsarea[area="header"] .Menu i {
    display: block;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    padding-top: 10px;
    line-height: 40px;      
}

.banner_redbox {
    background-image: url('{IMAGEFOLDER}/banner_text_box1.png');
    width: 364px;
    height: 54px !important;
    line-height: 45px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.front_page_box_red_inner {
    background-image: url('{IMAGEFOLDER}/corners_white.png');
    width: 234px !important;
    height: 322px !important;
    margin: 0 auto;
    background-color: #992122;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
}

.front_page_box_inner {
    background-image: url('{IMAGEFOLDER}/corners.png');
    width: 234px !important;
    height: 322px !important;
    margin: 0 auto;
    background-color: #fefefe;
    border: solid 1px #d5d5d5;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.front_page_box_red_inner .gscount_1,
.front_page_box_inner .gscount_1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
}

.front_page_box_red_inner .gscount_2,
.front_page_box_inner .gscount_2 {
    color: #757575;
    font-size: 13px;
    text-align: center;
}

.front_page_box_red_inner .gscount_0,
.front_page_box_inner .gscount_0 {
    height: 153px;
    box-sizing: border-box;
    padding-top: 30px;
}


.sedox_internal_view .creditinformation {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 14px;
    border-top: solid 2px #dae3ea;
    margin-top: 20px;
}
.sedox_internal_view .innerview {
    padding: 43px;
    border-left: solid 1px #e4ebf1;
    border-right: solid 1px #e4ebf1;
    
    
}

.sedox_internal_view .title {
    color: #33455a;
    font-size: 16px;
    margin-bottom: 43px;
}

.sedox_internal_view .title i {
    font-size: 25px;
    margin-right: 10px;
}

.sedox_internal_view {
    display: none;
    position: relative;
    border-top: solid 4px #3ead0d;
    border-bottom: solid 4px #3ead0d;
}

.sedox_internal_view .fileinfo,
.sedox_internal_view .downloadinfo {
    border: solid 1px #e4ebf1;
    display: inline-block;
    width: 398px;
    min-height: 200px;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: top;
}

.sedox_internal_view .downloadinfo {
    margin-right: 20px;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.03), -12px 0 8px -4px rgba(31, 73, 125, 0.03);

}

.sedox_internal_view .fileinfo {
    width: calc(100% - 418px);
}

.sedox_internal_view .box_header {
    line-height: 45px;
    border-bottom: solid 4px #41c1de;
    background-color: #f9fafc;
    color: #46566f;
    padding-left: 22px;
    font-size: 16px;
}

.sedox_internal_view .box_header .subinfo {
    float: right;
    font-size: 13px;
    padding-right: 22px;
}


.sedox_internal_view .downloadinfo .box_content {
    padding: 23px;
}

.sedox_internal_view .downloadinfo select {
    border: 1px solid #e2e3e5;
    background: transparent;
    width: 345px;
    box-sizing: border-box;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('{IMAGEFOLDER}/arrow_down.png') 96% / 15% no-repeat #f7f7f7;
    background-size: 14px;
    border-radius: 3px;
    margin-bottom: 20px;
} 

.sedox_internal_view .row_type1 {
    line-height: 43px;
    border-bottom: solid 1px #cecfd1;
}

.sedox_internal_view .row_type1 .row_subinfo {
    float: right;
}

.sedox_internal_view .priceview {
    padding-top: 20px;
}

.sedox_internal_view .priceview .pricetext {
    font-size: 25px;
    text-align: center;
    color: #3a465e;
    margin-bottom: 20px;
}

.sedox_internal_view .row_type2 .row_subinfo {
    float: right;
    padding-right: 20px;
}

.sedox_internal_view .row_type2 {
    line-height: 45px;
    background-color: #f7f7f7;
    border-bottom: solid 1px #f6f6f6;
    padding-left: 20px;
    color: #5d6773;
    font-weight: bold;
}

.sedox_internal_view .row_type2:nth-child(even) {
    background-color: #fcfcfc;
}

.sedox_internal_view .priceview .price {
    font-size: 60px;
    text-align: center;
    color: #3a465e;
}

.sedox_internal_view .creditinformation .redinfo {
    color: red;
}
.sedox_internal_view .creditinformation .sedox_blue_button {
    float: right;
    display: inline-block;
}
.sedox_blue_button {
    background-color: #40c1e1;
    text-align: center;
    line-height: 44px;
    color: #FFF;
    border-radius: 3px;
    padding-right: 50px;
    padding-left: 50px;
}

.profile_box {
    
}
.profile_box .gsdepth_2.gscount_0:first-child {
    background-color: #f9fafc;
    line-height: 50px;
    padding-left: 10px;
    color: #34465a;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 1px #e4ebf1;
    box-shadow: 0 16px 8px -8px rgba(31, 73, 125, 0.03);
}

.profile_box .gsdepth_1.gsinner:first-child {
    /*border: solid 1px;*/
    border: solid 1px #e4ebf1;
    box-shadow: 0px 0px 8px rgba(31, 73, 125, 0.1);
    margin: 20px !important;
}