.gs_page_width {
    margin: 0 auto;
    /*border: solid 1px;*/
}


.gsarea[area="footer"] {
    background-color: black;
}

.gsarea[area="header"] {
    background-color: #020202;
}

.left_side_bar {
    width: 300px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
background: rgb(201,222,150); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 ); /* IE6-9 */

}

.gs_main_column {
    width: calc(100% - 300px);
}