.SalesPointReports .leftmenu,
.SalesPointReports .reportarea {
    display: inline-block;
    vertical-align: top;
}

.SalesPointReports .leftmenu {
    width: 100px;
    background-color: #23314e;
    color: #FFF;
    text-align: center;
    min-height: calc(100% - 86px);
    padding-top: 75px;
}

.SalesPointReports .leftmenu .entry {
    border-top: solid 1px #222;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.SalesPointReports .leftmenu .entry i {
    display: block;
    font-size: 30px;
}


.SalesPointReports .reportarea {
    border: solid 1px #DDD;
    width: calc(100% - 106px);
}

.SalesPointReports .orderline {
    padding: 5px;
    border-bottom: solid 1px #DDD;
    padding-left: 20px;
    font-size: 0px;
}

.SalesPointReports .orderline:nth-child(odd) {
    background-color: #DDD;
}

.SalesPointReports .orderline .col {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 14px;
}

.SalesPointReports .orderline .col.type {
    width: 190px;
}

.SalesPointReports .orderline .col.name {
    width: calc(100% - 600px);
}

.SalesPointReports .orderline .orderid { width: 100px; }
.SalesPointReports .orderline .date { width: 150px; }

.SalesPointReports .paymentrow {
    border: solid 1px #DDD;
    margin: 50px;
}

.SalesPointReports .paymentrow h2 {
    padding-left: 20px;
}

.SalesPointReports .summary {
    background-color: #DDD;
    padding: 20px;
}

.SalesPointReports .summary .col.name {
    width: 250px;
}

.SalesPointReports .summary .orderline {
    border-bottom: solid 1px #efefef;
}

.SalesPointReports .nofound {
    font-size: 25px;
    text-align: center;
    padding: 50px;
    color: red;
}

.SalesPointReports .col_rowaction {
    width: 100px;
}

.SalesPointReports .reportheader {
    max-width: 1500px;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 28px;
    background-color: #DDD;
    padding-top: 10px;
    padding-bottom: 15px;
}

.SalesPointReports .informationbox {
    background-color: red;
    padding: 20px;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}
.SalesPointReports .closewarnings .row {
    font-size: 16px;
    margin-bottom: 30px;
}
.SalesPointReports .closewarnings {
    border: solid 1px red;
    margin: 50px;
    padding: 20px;
}

.SalesPointReports .closewarnings h2 {
    color: red;
}

.SalesPointReports .closewarnings .row .rooms {
    padding-top: 20px;
    padding-left: 20px;
}

.SalesPointReports .cashpointname {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    
    background-color: #DDD;
}