
html{overflow-x:hidden;}
body{font-family: 'Source Sans Pro', sans-serif;font-size:16px;}
.gsmobileheader { display:none; }
.sticky{position:fixed !important;top:-65px !important;}
.gs_language_selection{border:0;right:10px;top:-20px;}
.gs_language_selection .gs_lang_code_nb_NO{
    background-image: url(/showApplicationImages.php?appNamespace=ns_08ca876d_b116_4178_bb87_3137415448d1&image=skin/images//flag_norwegian.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;gsgss
    width: 18px;
    background-size: 35px;
}
.gs_language_selection .gs_lang_code_en_en{
    background-image: url(/showApplicationImages.php?appNamespace=ns_08ca876d_b116_4178_bb87_3137415448d1&image=skin/images//flag_english.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 30px;
}
.selectcolors { display:none; }
.gs_page_width {max-width: 1100px;margin: 0 auto;}
.Menu .menuentries.horizontal, .Menu .menu_simple_menu, .Menu .menuentries.horizontal .entry { padding-top: 2px; }
.gsarea[area="header"] {position:absolute;background-color:rgba(0,0,0,0);z-index: 2;top:0px;width: 100%;text-align: center; padding-top:30px;}
.gsarea[area="header"] .Menu .menuentries.horizontal .entry.active .entries a div{opacity:1 !important;border-bottom:0 !important;}
.gsarea[area="header"] .Menu .entry .entries .entry.active a div{opacity:0.7 !important;border-bottom:0 !important;}
.gsarea[area="header"] .Menu .entry.active a div{opacity:1 !important;border-bottom:3px solid #333;}
.gsarea[area="header"] .Menu .entry .entries {top: 30px;background:rgba(255,255,255,1);}
.gsarea[area="header"] .Menu .entry .entries div {padding: 0px;width: 200px;text-align: left;}
.gsarea[area="header"] .Menu .entry div i {display: block;font-size: 30px;}
.gsarea[area="header"] .Menu .entry div {font-size: 14px;line-height: 25px;margin: 15px 0 15px 0;padding: 0 10px 0 10px;text-align: center;color:#555;}

.gsarea[area="body"]{margin-top:150px;}

.gsarea[area="footer"] {background: #f5f5f5;box-shadow: 0px 0px 3px #bbb;color:#555;min-height: 150px;}

.PmsBooking .pmsfront1{font-size:13px;}
.shop_button,
.PmsPricing .pmsbutton,
.PmsManagement .pmsbutton,
.BookingEngineManagement .pmsbutton,
.PmsConfiguration .pmsbutton{
    display:inline-block;
    color:#fff;
    background:#44c767;
    border:1px solid #e6e6e6;
    border-radius: 2px;
    line-height:25px;
    height:25px;
    font-size:16px;
    font-family: Arial;
    text-shadow: 0px 1px 0px rgba(47, 102, 39, 0.5);
    padding:2px 10px 2px 10px;
    margin-top:5px;
}
.shop_button:hover,
.PmsPricing .pmsbutton:hover,
.PmsManagement .pmsbutton:hover,
.BookingEngineManagement .pmsbutton:hover,
.PmsConfiguration .pmsbutton:hover{
    background-color:#43bb63;
    border-color:0;
}
.PmsConfiguration .pmsbutton.active{background-color:#fff;color:#44c767;border-color:#44c767;}
.PmsPricing .selectedpriceplan{background-color:#fff;color:#44c767;border-color:#44c767;}
.PmsPricing .selectedpriceplan:hover{background-color:#fff;color:#44c767;border-color:#44c767;}

.ProductLists .slidelist .product {font-size: 16px;}
.ProductLists .slidelist .product .price {position: absolute;top: 0px;right: 120px;font-size: 26px;font-weight: bold;}
.ProductLists .slidelist .product .title {font-size: 25px;}
.ProductLists .slidelist .product .image {display: inline-block;padding: 20px;}
.ProductLists .slidelist .product .image img {width: 430px;display: inline-block;vertical-align: top;border-radius: 15px;}
.ProductLists .slidelist .product .descriptionarea {
    display: inline-block;
    width: 500px;
    border: solid 1px #F1F1F1;
    vertical-align: top;
    padding: 20px;
    margin-top: 20px;
}

/*ColorTheme of the site*/
.PmsBooking .pmsfront .fa-calendar,
.PmsBookingProductList .continue_button,
.PmsBookingContactData .complete_button,
.PmsBookingCalendar .calendar .day.selected,
.PmsBooking .pmsfront .check_available_button,
.PmsBookingCalendar .calendar .calendar_header{
    background-color:#ffcc62;
    color:#333;
}
/*-------------------*/

.BookingEngineManagement .roomlist{max-height:600px;overflow-y:auto;}
.BookingEngineManagement .addGroupOptions input,

.PmsManagement .pmsinput{padding:3px;}
.PmsManagement .bookinginfo select,
.PmsManagement .bookinginfo input{font-size:14px;border:1px solid #bdbdbd;background-color:#fff;}
.PmsManagement .pmsbutton[gstype="submitToInfoBox"]{line-height:15px;height:15px;font-size: 13px;max-width: 90px;box-sizing: initial !important;}
.PmsManagement .pmsbutton.closeadduser{line-height:15px;height:15px;font-size: 14px;max-width: 90px;box-sizing: initial !important;}
.PmsManagement .pmsbutton.showlog{background-color: #146da6 !important;color:#fff !important;}
.PmsManagement .tabs .tab{border-color:#fff;margin-right:5px;border-radius: 0;background-color:#146da6;color:#fff;font-weight:700;letter-spacing:1.5px;}
.PmsManagement .tabs .tab.selected{border-color:#146da6;color:#146da6;}
.PmsManagement .tabarea{border-top-color:#146da6;}
.PmsManagement .viewmode:hover { color:#146da6;}
.PmsManagement .selectedbooker{background-color:#146da6;}

.PmsConfiguration .createPmsViewinput {position:relative;top:-2px;padding:5px;margin-right:5px;}
.PmsConfiguration .paymentlinks input{width:49.2%!important;height:23px !important;}
.PmsConfiguration .paymentlinks .webadressclass{width:42%!important;height:23px !important;}
.PmsConfiguration #createproductinput{position:relative;top:-1px;padding:5px;}
.PmsConfiguration .configentry select[gsname="locktype"]{width:172px;}
.PmsConfiguration .configentry select[gsname="bookingProfile"]{width:125px;}
.PmsConfiguration .pmsbutton.active{border-width: 2px;border-radius: 4px;padding: 1px 10px 1px 10px;}

.PmsBookingCalendar .day.disabled{background-color:#fff;}
.PmsBookingSummary .addAddonOnRoom {font-size: 18px;font-weight: bold;}

@media only all and (max-width:1100px){
    .gscell_9 .shop_button, .gscell_91 .shop_button { font-size: 30px !important; }
    .gsarea[area="header"] .Menu .entry div { padding-left: 10px; }
    .gsinner { padding-left: 10px; padding-right: 10px; }
    .gscell_41.gsdepth_1.gsuicell { padding: 0px !important; }
    .gscell_42.gsdepth_1.gsuicell { padding: 0px !important; }
    .gscell_43.gsdepth_1.gsuicell { padding: 0px !important; }
}

@media only all and (max-width:800px){
     .GslBooking .gslfront_1 .isSticked { padding-bottom: 50px !important; }
    .gs_language_selection{border:0;right:0px;top:-28px !important;}
    .gsarea[area="header"] { border-bottom: solid 1px #efefef; }
    .gscell_9 .shop_button, .gscell_91 .shop_button { font-size: 20px !important; width:95%; box-sizing: border-box; line-height: 8px !important; }
    
    .gsinner {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .Menu .fa { position:absolute; left: 10px; top: -140px; }
    .gsarea[area="header"] .Menu .menuentries.horizontal { border: solid 2px; }
    .gsarea[area="header"] .Menu .entry .entries div { text-align: center; width:100%; }
    .gscell_41.gsdepth_1.gsuicell { margin-bottom: 20px; }
    .gscell_42.gsdepth_1.gsuicell { margin-bottom: 20px; }
    .gscell_43.gsdepth_1.gsuicell { margin-bottom: 20px; }
    .gscell_60 .ContentManager h1 { font-size: 30px !important; }
    .gscell_41.gsdepth_1.gsuicell img { float:left; padding-right: 10px; }
    .gscell_42.gsdepth_1.gsuicell img { float:left; padding-right: 10px;}
    .gscell_43.gsdepth_1.gsuicell img { float:left; padding-right: 10px; }
    .GoogleMaps { height: 200px !important; }
    .Contact .shop_button { width: 100%; box-sizing: border-box;}
    h1 { text-align:center;}
    .gsarea[area="header"] .Menu .menuentries.horizontal{background-color:#fff;}
    .gsarea[area="footer"] .ContentManager div { text-align: center !important;}
    .gsarea[area="footer"] {padding-bottom: 10px; }
    .gscell_84 .gsaddcontent { min-height: 150px; }
    .gscell_73 .gsaddcontent { min-height: 150px; }
    .gscell_68 .gsaddcontent { min-height: 150px; }
    .gscell_70 .gsaddcontent { min-height: 150px; }
    .Banner { text-align: center; }
    .PmsBooking .inputblock,
    .PmsBooking .pmsfront .check_available_button,
    .PmsBooking .pmsfront .dates.start_date,
    .PmsBooking .pmsfront .dates.end_date,
    .PmsBooking .pmsfront .dates .dates_inner {width: 100%;}
}