body {
    background: rgba(0,96,186,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,96,186,1) 0%, rgba(0,58,129,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,96,186,1)), color-stop(100%, rgba(0,58,129,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,96,186,1) 0%, rgba(0,58,129,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,96,186,1) 0%, rgba(0,58,129,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,96,186,1) 0%, rgba(0,58,129,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,96,186,1) 0%, rgba(0,58,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0060ba', endColorstr='#003a81', GradientType=1 );
    
    background-position: fixed;
    padding-bottom: 50px;
    margin: 0px;
    padding: 0px;
    
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.gs_header {
    height: 100px;
    text-align: center;
    background-color: rgba(0, 59, 129, 0.5);
}

.gs_footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 50px;
    border-top: solid 1px rgba(0,0,0,0.2);
}

.mainview {
    padding: 20px;
    padding-bottom: 100px;
}

textarea,
input[type="textfield"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    background-color: rgba(255,255,255, 1);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
}

textarea {
    height: 300px;
}

.button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

    line-height: 40px;
    color: #FFF;
    
    text-align: center;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.topinfobox {
    background-color: rgba(0,0,0,0.1);
    padding: 30px;
    margin-top: 10px;
    text-align: center;
}

