/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 12:31:25 PM
    Author     : ktonder
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    padding: 20px;
    box-sizing: border-box;
}

.body {
    padding-top: 100px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-image: url('images/header.png');
    height: 100px;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #FFF;
}


.actionbutton {
    background-color: #f9af00;
    font-weight: bold;
    padding: 10px;
    border-radius: 100px;
    width: 300px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.actionbutton:hover {
    background-color: #fec233;
}

.contentrow .box {
    display: inline-block;
    vertical-align: top;
}

.boxes_3 .box { width: calc(33% - 10px);  }

.menu {
    padding-top: 30px;
    font-size: 18px;
}

.menu .entry {
    margin-right: 30px;
}

.footer_row {
    background-color: #6b6b6b;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer_row .footer_inner {
    max-width: 1200px;
    margin: 0 auto;
    color: #FFF;
}


.footer_row a {
    color: #FFF;
}

.footer_row .col {
    display: inline-block;
    vertical-align: top;
    width: 390px;
}

.menu .entry_contactus {
    padding: 15px;
    border-radius: 20px;
    background-color: #000;
    color: #FFF;
}

.mobilemenu {
    padding-top: 100px;
}

.mobilemenu {
    display: none;
}

@media only screen and (max-width: 800px) {
    .boxes_3 .box {
        width: 100%;
    }
    
    .footer_row .col {
        display: block;
        padding-left: 20px;
        padding-right:20px;
        margin-bottom:50px;
    }
    
    .menu { display: none; }
}