<?xml version='1.0' encoding='utf-8'?>
<widget id="com.getshop.mecafleet" version="0.0.13" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Meca Fleet Application</name>
    <description>
        Meca Fleet App is an application to keep track of cars. A carowner download the app and sends information about it to the carservice.
    </description>
    <author email="post@getshop.com" href="http://www.getshop.com">
        GetShop Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-push" spec="~1.6.4">
        <variable name="SENDER_ID" value="109031011731" />
    </plugin>
</widget>
