/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2015, 10:46:21 AM
    Author     : ktonder
*/


body {
    font-family: 'Open Sans', sans-serif;
}

.gs_page_width {
    max-width: 1100px;
    margin: 0 auto;
}


.gsarea[area="header"] {
    position: fixed !important;
    z-index: 2;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 3px #000;
}

.gsarea[area="header"] .gsdepth_0.gscount_0.gsrow,
.gsarea[area="header"] .gsdepth_0.gscount_1.gsrow {
    background: rgba(255,255,255,0.2); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.gsarea[area="header"] .Menu .entry .entries {
    background-color: #fafafa;
    top: 40px;
    border-left: solid 1px #c9c9c9;
    border-bottom: solid 1px #c9c9c9;
    border-right: solid 1px #c9c9c9;
    margin-left: -1px;
}

.gsarea[area="header"] .Menu .entry.active a {
    border-right: solid 0px;
    color: #FFFFFF ! important;
}

.gsarea[area="header"] .Menu .entry div i {
    display: block;
    font-size: 30px;
}
.gsarea[area="header"] .Menu .entry  div {
    font-size: 14px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    /*font-weight: 300;*/
    color:#ffffff;
}

.gsarea[area="header"] .Menu .entry:last-child a div {
    border-right: solid 0px;
}
.gsarea[area="footer"] .gsdepth_0.gscount_0 {
    background-color: #2b2b2b;
}
.gsarea[area="footer"] .gsdepth_0.gscount_1 {
    background-color: #393939;
    min-height: 264px;
}
.gsarea[area="footer"] .gsdepth_0.gscount_2 {
    background-color: #2b2b2b;
}

.gsarea[area="footer"] {
    background-color: #DDD;
}

.ProductLists .slidelist .product {
    font-size: 16px;
}


.ProductLists .slidelist .product .price {
    position: absolute;
    top: 0px;
    right: 120px;
    font-size: 26px;
    font-weight: bold;
}
.ProductLists .slidelist .product .title {
    font-size: 25px;
}

.ProductLists .slidelist .product .image {
    display: inline-block;
    
    padding: 20px;
}

.ProductLists .slidelist .product .image img {
    width: 430px;
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
}

.ProductLists .slidelist .product .descriptionarea {
    display: inline-block;
    width: 500px; 
    border: solid 1px #F1F1F1;
    vertical-align: top;
    padding: 20px;
    margin-top: 20px;
}

.shop_button {
    color: #FFF;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
    
    padding-right: 20px;
    padding-left: 20px;
}

.PmsBooking .pmsfront { background-color:rgba(0,0,0,0.8); color:#fff; border: solid 0px; }
.PmsBooking .pmsfront .heading { padding-bottom: 10px !important; margin-bottom: 20px; text-transform: uppercase; }
.PmsBooking .check_available_button,
.PmsBookingProductList .continue_button,
.PmsBookingCalendar .calendar .day.selected,
.PmsBookingContactData .complete_button,
.PmsBookingCalendar .calendar .calendar_header,
.PmsBooking .pmsfront .fa-calendar
{ background-color: #3e3ed7 !important; }

.Menu .entries .entries a div { color:#000 !important; }
.PmsBookingCalendar .calendar .day { border: solid 1px #efefef; }
