<div class="gsview door">
    Room: {{ door.name }}
    
    <div class='overviewbox'>
        <div class='header'>Logs</div>
        <div ng-if="loadinglogs">
            <i class="fa fa-spin fa-spinner"></i> Loading
        </div>
        
        <div ng-if="!loadinglogs">
            <div class="doorLog" ng-repeat="log in logs">
                {{ log.card }} - {{ convertTimestamp(log.timestamp) }}
            </div>
        </div>
        
        <div ng-if="logs.length == 0">
            <i class="fa fa-close"></i> No entries available the past 7 days.
        </div>
    </div>
</div>

