
body {
    font-family: "nimbus-sans";
    font-weight: 300;
}

.gs_inner {
	width: 1024px;
	margin: 0 auto;
}


.applicationarea {
	min-height: 50px;
}

.gs_outer.footer {
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-top: solid 1px #e38c10;
	background-color: #f8a223;
}

#apparea-header {
	height: 203px;
}

.gs_outer.header {
	background-color: #f8a223;
	margin-bottom: 20px;
	background: linear-gradient(#f8a223 0px, #f8a223 100px, #ac201a 101px, #ac201a 100%);
}

.Logo img {
	position: absolute;
	top: 15px;
	padding: 5px;
	background-color: #f8a223;
}

.gs_outer.breadcrumb {
	display: none;
}

.gs_margin_left {
	padding-left: 8px;
}

.gs_margin_right {
	padding-right: 8px;
}

.mainarea .gs_row.gs_outer {
	margin-bottom: 20px;
}


.TopMenu {
	right: 0px;
	bottom: 15px;
	font-family: "arial";
	font-weight: 130;
	font-size: 15px;
}

.TopMenu .entry i {
	padding-right: 5px;
	padding-top: 7px;
	vertical-align: top;
}



.TopMenu .entry a {
	color: #FFF;
}

.TopMenu .entry {
	height: 35px;
	line-height: 35px;
	vertical-align: bottom;
	font-size: 15px;
	margin-left: 40px;
	
}

.TopMenu .subentries .entry {
	background-color: #f8a223;
	font-size: 13px;
	margin-left: 0px;
}

.Login .notloggedon {
	display: none;
}

.ImageDisplayer,
.Banner {
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
