
<div ng-if="needToPreselectType()">
    Are you counting parcels or containers?
    <div class="button" ng-mobile-click="setContainerType('container')">Container</div>
    <div class="button" ng-mobile-click="setContainerType('parcels')">Parcels</div>
</div>

<div ng-if="!needToPreselectType()" style="width: 350px; margin: 0 auto;">
    <div class='cor_row' ng-if="showOldValue"><div class='correction_field1' > {{ getOldQuantityText() }}</div><div class='correctionfield'>{{ getOldQuantity(order) }}</div></div>
    <div class='cor_row'><div class='correction_field1'> {{ getNewQuantityText() }} </div><div class='correctionfield'> {{ vm.numbers }}</div></div>

    <bc-keypad
      bc-number-model="vm.numbers"
      bc-right-button="submit"
      bc-left-button="backspace"
      bc-right-button-method="makeCorrection($event, numbers)"
    ></bc-keypad>
    
</div>

