
<div ng-if='task.instruction' class='instruction'>
    <b>Instruction</b>
    <br/>{{ task.instruction }}
</div>

<div class='podBarcode'> {{ task.podBarcode }} </div>

<div ng-if="taskType === 'delivery'" class="task_delivery">
    <div ng-if="getContainerBundles().length > 0">
        <div class="task_titleheader">Containers to deliver</div>
        
        <div class="summary">
            <div class="summaryrow">
                <div class="col">Order Number</div>
                <div class="col">Odds Bundles</div>
                <div class="col">Full Bundles</div>
                <div class="col">Large Displays</div>
                <div class="col">Driver Copies</div>
                <div class="col">Total</div>
            </div>

            <div ng-repeat="order in getContainerBundles()" ng-mobile-click-end="toggleActionButton(order)" class="summaryrow" order="{{order.referenceNumber}}">
                <div class="col"><span class="fa" ng-class="{'fa-check': orderFinished(order), 'fa-close' : !orderFinished(order), 'fa-warning' : order.exceptionId }"></span>{{order.referenceNumber}}</div>
                <div class="col">{{order.orderOdds}}</div>
                <div class="col">{{order.orderFull}}</div>
                <div class="col">{{order.orderLargeDisplays}}</div>
                <div class="col">
                    {{order.orderDriverDeliveries}}
                    <br/><span ng-if='order.hasOwnProperty("driverDeliveryCopiesCounted")'> ( {{ order.driverDeliveryCopiesCounted }} )</span>
                </div>
                <div class="col">
                    {{order.quantity}}
                </div>
                <div class="">{{ order.orderType }} {{order.comment}}</div>
                <div class="deliverytaskaction" ng-class="{'alreadyasdf' :  shouldBeVisible(order)}">
                    <div ng-if="order.orderDriverDeliveries">
                        <div style='width: 48%; display: inline-block;' class="button orange exceptionButton" ng-class="{ 'order_task_completed' : order.hasOwnProperty('driverDeliveryCopiesCounted') }" ng-mobile-click="openDriverCopies(order)">
                            <i class="fa fa-check"></i> Count drivercopies
                        </div>
                        <div style='width: 48%; display: inline-block;' class="button orange exceptionButton order_task_completed" ng-mobile-click="openCorrection(order)">
                            Make correction
                        </div>
                    </div>
                    <div ng-if="!order.orderDriverDeliveries">
                        <div class="button orange exceptionButton order_task_completed" style='width: 100%; display: inline-block;' ng-mobile-click="openCorrection(order)">Make correction </div>
                    </div>
                    <div ng-if="!order.orderDriverDeliveries">
                        <div class="button orange exceptionButton" style='width: 100%; display: inline-block;' ng-mobile-click="openDeliveryException(order)">Add exception</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-if="getLooseOrders().length > 0">
        <div class="task_titleheader">Parcels to deliver. Please count.. </div>

        <div class="summary">
            <div class="summaryrow">
                <div class="col">Order Number</div>
                <div class="col">Odds Bundles</div>
                <div class="col">Full Bundles</div>
                <div class="col">Large Displays</div>
                <div class="col">Driver Copies</div>
                <div class="col">Total</div>
            </div>

            <div ng-repeat="order in getLooseOrders()" ng-mobile-click-end="toggleActionButton(order)" class="summaryrow" order="{{order.referenceNumber}}">
                <div class="col"><span class="fa" ng-class="{'fa-check': orderFinished(order), 'fa-close' : !orderFinished(order), 'fa-warning' : order.exceptionId }"></span>{{order.referenceNumber}}</div>
                <div class="col">{{order.orderOdds}}</div>
                <div class="col">{{order.orderFull}}</div>
                <div class="col">{{order.orderLargeDisplays}}</div>
                <div class="col">
                    {{order.orderDriverDeliveries}}
                    <br/><span ng-if='order.driverDeliveryCopiesCounted'> ( {{ order.driverDeliveryCopiesCounted }} )</span>
                </div>
                <div class="col">{{order.quantity}}</div>
                <div class="">{{ order.orderType }} {{order.comment}}</div>
                <div class="deliverytaskaction" ng-class="{'alreadyasdf' :  shouldBeVisible(order)}">
                    <div ng-if="order.orderDriverDeliveries">
                        <div style='width: 48%; display: inline-block;'class="button orange exceptionButton" ng-class="{'order_task_completed' : order.hasOwnProperty('driverDeliveryCopiesCounted')}" ng-mobile-click="openDriverCopies(order)"><i class="fa fa-check"></i> Count drivercopies</div>
                        <div style='width: 48%; display: inline-block;'class="button orange exceptionButton order_task_completed" ng-mobile-click="openCorrection(order)">Make correction </div>
                    </div>
                    <div ng-if="!order.orderDriverDeliveries">
                        <div class="button orange exceptionButton order_task_completed" ng-mobile-click="openCorrection(order)">Make correction </div>
                    </div>
                    <div ng-if="!order.orderDriverDeliveries">
                        <div class="button orange exceptionButton" style='width: 100%; display: inline-block;' ng-mobile-click="openDeliveryException(order)">Add exception</div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    
    <div class="summaryrow">
        <center>Overall bundles: {{ getTotalBundles(task); }}</center>
        <center>Loose bundles: {{ getBundleCount(getLooseOrders()); }}</center>
        <center ng-if='getBundleCount(getCages())'><span ng-if='getContainerCount()'>{{ getContainerCount() }} x </span>Container bundles: {{ getBundleCount(getContainerBundles()); }}</center>
    </div>
    <br/>
    <div ng-if="isAnyContainers()">
        <div class="button" ng-mobile-click="openCountPalletsOrCages()">
            <div ng-if='!isContainerCounted()'>Count containers.</div>
            <div ng-if='isContainerCounted()'>Recount containers.</div>
        </div>
    </div>
    
    <div ng-if='allOrdersFinished() && isContainerCounted()' class="button deliveredbutton" ng-mobile-click="markAsDeliverd()"><i class="fa fa-check"></i> Delivered <span ng-if='anyOrderExceptions()'><br/>(with exceptions)</span></div>
    <div ng-if='!allOrdersFinished() && isContainerCounted()'>
        Please complete all the tasks above.
    </div>
</div>

<div ng-if="taskType === 'pickup_parcels'" class="pickup_parcels">
    <div class="task_titleheader">How many parcels do you pickup?</div>
    
    <div class="summary"> 
        
        <div class="summaryrow">
            <div class="col">Reference Number</div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">parcels</div>
            <div class="col">containers</div>
        </div>
        <div ng-repeat="order in task.orders" ng-mobile-click-end="toggleActionButton(order)" class="summaryrow" order="{{order.referenceNumber}}">
            <div class="col"><span class="fa" ng-class="{'fa-check': orderFinished(order), 'fa-close' : !orderFinished(order), 'fa-warning' : order.exceptionId }"> 
                </span> {{order.referenceNumber}}
                <div ng-if='order.countedContainers > 0'>
                    ( container )
                </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            
            <div class="col">
                <div ng-if="order.countedBundles > -1 || order.barcodeScanned.length">
                    <span ng-if='order.countedBundles > 0'>  {{ order.countedBundles }} </span>
                    <span ng-if='order.countedBundles < 0 && order.barcodeScanned.length > 0 && !order.container'> {{ order.barcodeScanned.length }} </span>
                    <span ng-if='order.countedBundles < 0 && order.container'> - </span>
                </div>
                <div ng-if="order.countedBundles < 0 && !order.barcodeScanned.length"> - </div>
            </div>
            
            <div class="col">
                <div ng-if="order.countedContainers > -1 || order.barcodeScanned.length">
                    <span ng-if='order.countedContainers > 0'>  {{ order.countedContainers }} </span>
                    <span ng-if='order.countedContainers < 0'> - </span>
                </div>
                <div ng-if="order.countedBundles < 0 && !order.barcodeScanned.length"> - </div>
            </div>
            
            <div class="deliverytaskaction" ng-class="{'alreadyasdf' :  shouldBeVisible(order)}" ng-if="!order.mustScanBarcode && !order.container">
                <div style="border: solid 1px red; padding: 10px; text-align: center; margin-top: 10px;">
                    <i class="fa fa-info"></i> Please scan one of the returnlabels or add an exception
                    <br/>    
                </div>

                <div style='width: 100%; display: inline-block;'class="button exceptionButton" ng-mobile-click="openPickupException(order)">Add exception</div>
            </div>
            
            <div class="deliverytaskaction" ng-class="{'alreadyasdf' :  shouldBeVisible(order)}" ng-if="order.mustScanBarcode && !order.container">
                <div style="border: solid 1px red; padding: 10px; text-align: center; margin-top: 10px;">
                    <i class="fa fa-info"></i> Scan all returnlabels or add an exception
                    <br/>    
                </div>
                
                <div style='width: 100%; display: inline-block;'class="button exceptionButton" ng-mobile-click="openPickupException(order)">Add exception</div>
                <div style='width: 100%; display: inline-block;'class="button" ng-mobile-click="resetPickupOrder(order.referenceNumber)">Reset count/scan</div>
            </div>
            
            <div class="deliverytaskaction" ng-class="{'alreadyasdf' :  shouldBeVisible(order)}" ng-if="order.container">
                <div style="border: solid 1px red; padding: 10px; text-align: center; margin-top: 10px;">
                    <i class="fa fa-info"></i> Enter amount of containers
                    <br/>    
                </div>

                <div style='width: 100%; display: inline-block;'class="button exceptionButton" ng-mobile-click="openPickupException(order)">Add exception</div>
            </div>
        </div>
    </div>
    
    <div class="button scanbutton" ng-mobile-click="startScanner()" ng-mobile-click-end="stopScanner()">Scan</div>
    <div class="button scanbutton" ng-mobile-click="showKeyReference()" >Key reference</div>
    
    <div ng-if='allOrdersFinished()' class="button" ng-mobile-click="markAsDeliverd()"><i class="fa fa-check"></i> Pickup completed <span ng-if='anyOrderExceptions()'><br/>(with exceptions)</span></div>
</div>

