
<div class='podBarcode'> {{ task.podBarcode }} </div>

<div ng-if="taskType === 'delivery'" class="task_delivery">
    <div ng-if="getCagesAndPallet().length > 0">
        <div class="task_titleheader">Cages to deliver</div>
        
        <div class="summary">
            <div class="summaryrow">
                <div class="col">Order Number</div>
                <div class="col">Odds Bundles</div>
                <div class="col">Full Bundles</div>
                <div class="col">Large Displays</div>
                <div class="col">Driver Copies</div>
                <div class="col">Total</div>
            </div>

            <div ng-repeat="order in getCagesAndPallet()" ng-mobile-click-end="toggleActionButton(order)" class="summaryrow" order="{{order.referenceNumber}}">
                <div class="col"><span class="fa" ng-class="{'fa-check': orderFinished(order), 'fa-close' : !orderFinished(order)}"></span>{{order.referenceNumber}}</div>
                <div class="col">{{order.orderOdds}}</div>
                <div class="col">{{order.orderFull}}</div>
                <div class="col">{{order.orderLargeDisplays}}</div>
                <div class="col">
                    {{order.orderDriverDeliveries}}
                    <br/><span ng-if='order.hasOwnProperty("driverDeliveryCopiesCounted")'> ( {{ order.driverDeliveryCopiesCounted }} )</span>
                </div>
                <div class="col">
                    {{order.quantity}}
                    <br/><span ng-if='order.palletsOrCagesDelivered'>( {{ order.palletsOrCagesDelivered }} )</span>
                </div>
                <div class="">{{ order.orderType }} {{order.comment}}</div>
                <div class="deliverytaskaction" ng-class="{'alreadyasdf' :  shouldBeVisible(order)}">
                    <div ng-if="order.orderDriverDeliveries">
                        <div style='width: 33%; display: inline-block;' class="button orange exceptionButton" ng-class="{ 'order_task_completed' : order.hasOwnProperty('driverDeliveryCopiesCounted') }" ng-mobile-click="openDriverCopies(order)">
                            <i class="fa fa-check"></i> Count drivercopies
                        </div>
                        <div style='width: 33%; display: inline-block;' class="button orange exceptionButton order_task_completed" ng-mobile-click="openCorrection(order)">
                            Make correction
                        </div>
                        
                        <div class="button orange exceptionButton"  style='width: 32%; display: inline-block;' ng-class="{ 'order_task_completed' : order.hasOwnProperty('palletsOrCagesDelivered') }" ng-mobile-click="openCountPalletsOrCages(order)">
                            <i class="fa fa-check"></i> Count pallet or cages
                        </div>
                    </div>
                    <div ng-if="!order.orderDriverDeliveries">
                        <div class="button orange exceptionButton"  style='width: 48%; display: inline-block;' ng-mobile-click="openCorrection(order)">Make correction </div>
                        <div class="button orange exceptionButton"  style='width: 48%; display: inline-block;' ng-mobile-click="openCountPalletsOrCages(order)" ng-class="{ 'order_task_completed' : order.hasOwnProperty('palletsOrCagesDelivered') }" >
                            <i class="fa fa-check"></i>Count pallet or cages
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-if="getLooseOrders().length > 0">
        <div class="task_titleheader">Parcels to deliver. Please count.. </div>

        <div class="summary">
            <div class="summaryrow">
                <div class="col">Order Number</div>
                <div class="col">Odds Bundles</div>
                <div class="col">Full Bundles</div>
                <div class="col">Large Displays</div>
                <div class="col">Driver Copies</div>
                <div class="col">Total</div>
            </div>

            <div ng-repeat="order in getLooseOrders()" ng-mobile-click-end="toggleActionButton(order)" class="summaryrow" order="{{order.referenceNumber}}">
                <div class="col"><span class="fa" ng-class="{'fa-check': orderFinished(order), 'fa-close' : !orderFinished(order)}"></span>{{order.referenceNumber}}</div>
                <div class="col">{{order.orderOdds}}</div>
                <div class="col">{{order.orderFull}}</div>
                <div class="col">{{order.orderLargeDisplays}}</div>
                <div class="col">
                    {{order.orderDriverDeliveries}}
                    <br/><span ng-if='order.driverDeliveryCopiesCounted'> ( {{ order.driverDeliveryCopiesCounted }} )</span>
                </div>
                <div class="col">{{order.quantity}}</div>
                <div class="">{{ order.orderType }} {{order.comment}}</div>
                <div class="deliverytaskaction">
                    <div ng-if="order.orderDriverDeliveries">
                        <div style='width: 48%; display: inline-block;'class="button orange exceptionButton" ng-mobile-click="openDriverCopies(order)">Count drivercopies</div>
                        <div style='width: 48%; display: inline-block;'class="button orange exceptionButton" ng-mobile-click="openCorrection(order)">Make correction </div>
                    </div>
                    <div ng-if="!order.orderDriverDeliveries">
                        <div class="button orange exceptionButton" ng-mobile-click="openCorrection(order)">Make correction </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    
    <div class="summaryrow">
        <center>Overall bundles: {{ getTotalBundles(task); }}</center>
        <center>Loose bundles: {{ getBundleCount(getLooseOrders()); }}</center>
        <center ng-if='getBundleCount(getCages())'><span ng-if='getCageCount()'>{{ getCageCount() }} x </span>Caged bundles: {{ getBundleCount(getCages()); }}</center>
        <center ng-if='getBundleCount(getPallets())'><span ng-if='getPalletCount()'>{{ getPalletCount() }} x </span>Pallet bundles: {{ getBundleCount(getPallets()); }}</center>
    </div>
    
    <div ng-if='allOrdersFinished()' class="button deliveredbutton" ng-mobile-click="markAsDeliverd()"><i class="fa fa-check"></i> Delivered</div>
</div>

<div ng-if="taskType === 'pickup_parcels'" class="pickup_parcels">
    <div class="task_titleheader">How many parcels do you pickup?</div>
    <div class="deliveryamount">
        <input type="number" class="textfield"/>
    </div>
    
    <div ng-if='allOrdersFinished()' class="button" ng-mobile-click="markAsDeliverd()"><i class="fa fa-check"></i> Delivered</div>
</div>

