.task_delivery {
    text-align: center;
}

.deliveryamount {
    border: solid 5px rgba(255,255,255,0.2);
    margin-left: 18px;
    margin-right: 18px;
    font-size: 50px;
    color: #bf510e;
    border-radius: 0px 0px 10px 10px;
}

.task_titleheader {
    background-color: rgba(255,255,255,0.2);
    padding-top: 5px;
    border-radius: 10px 10px 0px 0px ;
}

.deliveredbutton,
.exceptionbutton {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.exbuttontoselect {
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.exceptionbutton {
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.textfield {
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.pickup_parcels .deliveryamount {
    text-align: center;
}

.summary .summaryrow {
    padding: 5px;
    font-size: 12px;
    border:solid 1px rgba(0,0,0,0.05);
    min-height: 40px;
}
.summary .summaryrow:nth-last-child(even) {
    background-color: rgba(0,0,0,0.1);
}

.summary .summaryrow:first-of-type {
    font-size: 10px;
    min-height: 25px;
}

.alreadyasdf {
    display: block !important;
}

.summaryrow .button .fa-check {
    display: none;
    
}

.summaryrow .button.order_task_completed .fa-check { color: green; display: inline-block; }

.summaryrow .button.order_task_completed {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4b357+0,75890c+100;Olive+3D+%233 */
    background: #a4b357; /* Old browsers */
    background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */

}

.summary .summaryrow .col {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.summary .summaryrow .col:nth-of-type(1) {width: 90px;}
.summary .summaryrow .col:nth-of-type(2) {width: 40px;}
.summary .summaryrow .col:nth-of-type(3) {width: 40px;}
.summary .summaryrow .col:nth-of-type(4) {width: 40px;}
.summary .summaryrow .col:nth-of-type(5) {width: 40px;}
.summary .summaryrow .col:nth-of-type(6) {width: 30px;}


.pickup_parcels .summary .summaryrow .col:nth-of-type(4) {width: 10px;}
.pickup_parcels .summary .summaryrow .col:nth-of-type(6) {width: 40px;}

.summary {
    text-align: left;
}
.summary .deliverytaskaction {
    display: none;
}

.correction_field1 {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
}

.correctionfield {
    background-color: #FFF;
    width: 100px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.cor_row {
    vertical-align: central;
    margin-bottom: 5px;
}

.podBarcode {
    text-align: center;
    padding: 10px;
    border:solid 1px #9595bf;
    margin-bottom: 10px;
}
.scanbutton {
    line-height: 100px; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    width: 49%;
}