/* 
    Document   : SedoxLogin
    Created on : May 29, 2014, 9:35:21 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

.SedoxLogin  {
    background-color: #f1f1f1;
    padding: 20px;
    height: 243px;
    font-size: 16px;
}


.SedoxLogin .userinfo {
    line-height: 26px;
}

.SedoxLogin .login,
.SedoxLogin .sedoxtitle {
    font-size: 22px;
    color: #cc0000;
}

.SedoxLogin .login {
    text-align: center;
}

.SedoxLogin .buttons {
    margin-top: 30px;
}

.SedoxLogin input {
    text-align: center;
    height: 34px;
    width: 245px;
    border: solid 1px #8d8d8d;
    padding: 5px;
    margin-bottom: 11px;
}

.SedoxLogin input { line-height: 20px; padding-left: 5px; }
.SedoxLogin .placeholder { color: #aaa; }