.PmsBookingSummary .itemrow .price {float: right; }
.PmsBookingSummary .bottomborder { padding-bottom: 10px; border-bottom: solid 1px #bbb;}
.PmsBookingSummary .addaddonsbutton { border: solid 1px #bbb; color:#fff; border-radius: 3px; padding: 3px; background-color:#0063DC; cursor:pointer; }