.PmsBookingSummary .itemrow .price {float: right; }
.PmsBookingSummary .bottomborder { padding-bottom: 10px; border-bottom: solid 1px #bbb;}
.PmsBookingSummary .addaddonsbutton { border: solid 1px #bbb; color:#fff; border-radius: 3px; padding: 3px; background-color:#0063DC; cursor:pointer; }
.PmsBookingSummary .removeAddon { cursor:pointer; }
.PmsBookingSummary .itemname { display:inline-block; width: 100px; }
.PmsBookingSummary .bookedaction { font-size: 16px; display:inline-block; width: 20px; text-align: center; }
.PmsBookingSummary .itemrow { font-size: 14px; margin-bottom: 10px; }
.PmsBookingSummary .addmoredates { color:blue; cursor:pointer; }
.PmsBookingSummary .title { display:inline-block; width: 110px; text-align: right; font-size: 12px; padding: 2px; float:left;}
.PmsBookingSummary .optionbox { width: 200px; display: inline-block; min-height: 30px; float:left; }
.PmsBookingSummary .eventrow { clear:both; }
.PmsBookingSummary .addMoredatesPanel { z-index: 2; padding: 5px; border: solid 1px #bbb; display:none; position:absolute; left: 25px; top: 20px; background-color:#fff; box-shadow: 0px 0px 5px 1px #bbb; width: 330px; }
.PmsBookingSummary .addMoredatesPanel .fa-close { right: 5px; top: 3px; position:absolute; font-size: 10px; color:#bbb; cursor:pointer; }
.PmsBookingSummary .addMoredatesPanel .optionbox { padding-left: 5px; }
.PmsBookingSummary .addMoredatesPanel .optionbox select,
.PmsBookingSummary .addMoredatesPanel .optionbox input
{ border: solid 1px #bbb; background-color:#fff; font-size: 12px; width: 100%; box-sizing: border-box; }
.PmsBookingSummary .addMoredatesPanel .fa-caret-up { position:absolute; top: -10px; color:#bbb; left:0px; }
.PmsBookingSummary .addMoredatesPanel .repeatoption { display:none; }
.PmsBookingSummary .addMoredatesPanel .repeatoption.repeat_0 { display:inline-block; }
.PmsBookingSummary .addMoredatesPanel .optionbox input[type="button"] {width: 50%; float:left; cursor:pointer; }
.PmsBookingSummary .addMoredatesPanel .optionbox input[type="checkbox"] {width: inherit; cursor:pointer; }
.PmsBookingSummary .addMoredatesPanel .optionbox input[type="radio"] {width: inherit; cursor:pointer; }
.PmsBookingSummary .addMoredatesPanel .optionbox input[type="button"]:hover { background-color:#eaeaea; }
.PmsBookingSummary .addMoredatesPanel .repeatrow { display:none; }
.PmsBookingSummary .adddatetype { margin-bottom: 15px; display:inline-block; padding: 2px; cursor:pointer; background-color:#efefef; width: 115px; text-align: center;border: solid 1px #bbb; }
.PmsBookingSummary .adddatetype.selected { background-color:#fff;   border: solid 1px #bbb; }
.PmsBookingSummary .addMoredatesPanel .datetypepanel { display:none; }
.PmsBookingSummary .addMoredatesPanel .datetypepanel.repeat { display:inherit;}