/* 
    Document   : main
    Created on : Feb 27, 2012, 6:24:40 PM
    Author     : boggi
    Description:
        Purpose of the stylesheet follows.
*/

.Account .register_user {
    width: 150px;
}

.Account .personal_information {
    width:450px;
    display:inline-block;
    padding-left: 30px;
    margin-right: 60px;
}

.Account .change_passord {
    display:inline-block;
}

.Account #registration #postal_code {
    width: 50px;
}

.Account .change_passord .registration_heading {
    font-size: 16px;
    margin-bottom: 20px;
    display:block;
}

.Account #right_col { padding-bottom: 40px; }
.Account .personal_information { border-right: solid 1px #BBB; }


.Users .overview .heading, .Users .overview .registration_heading { font-size : 16px; display:block; border-bottom: solid 1px #BBB; margin-bottom: 20px; }
.Users .overview { margin-bottom: 50px; }


.Account .personal_information td, 
    .Account .change_passord td,
    .Users .personal_information td, 
    .Users .change_passord td { font-size: 14px; }

.Account .personal_information input, 
    .Account .change_passord input,
    .Users .personal_information input, 
    .Users .change_passord input { font-size: 14px; border: solid 1px #BBB; border-radius: 3px; padding: 3px; width: 200px; }

.Account .plans { padding-top: 40px; }

.Account table.priceandplans {
    cell-spacing: 0px;
}
.Account table.priceandplans th,
.Account table.priceandplans td { font-size: 14px; }