<div class="gsview login">
    
    <div ng-if="!room" >
        <h1>No room has been selected.</h1>
        Please select a room first, click on the "Change room" button on the bottom menu.
    </div>
    
    <div ng-if="room">
        
        <div class='roomname'> {{ room.name }}</div>
        
        <div class='tabledescription'>
            <div class='inforow'> <span class='availabletableindiicator'></span><span> Available table </span></div>
            <div class='inforow'> <span class='inusetableindicator'></span><span>Table in use</span> </div>
        </div>
        
        <div ng-repeat="table in room.tables"  ng-click="goToTable(table.id)" ng-class='inUse(table) ? "resturanttable red" : "resturanttable green"'>
            <div class='tablename'>{{ table.name }}</div>
        </div>
    </div>
    
</div>
