/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2018, 3:05:20 PM
    Author     : ktonder
*/

.searcharea {
    text-align: center;
}

.heading {
    padding-top: 20px;
}

.warning {
    color: red;
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
}