/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2015, 8:55:21 PM
    Author     : ktonder
*/

#informationbox-holder .LasGruppenOrderSchema {
    max-width: inherit;
}

.LasGruppenOrderSchema {
    max-width: 950px;
    color: #333;
}

body[editormode="true"] .LasGruppenOrderSchema {
    margin-left: 90px;
}

body[editormode="true"] #informationbox-holder .LasGruppenOrderSchema {
    margin-left: 0px;
}

.LasGruppenOrderSchema .header {
    background-color: #ff6e00;
    color: #FFF;
}

.LasGruppenOrderSchema .header .logo {
    background-image: url('{IMAGEFOLDER}/logo.png');
    width: 230px;
    height: 101px;
    display: inline-block;
    vertical-align: top;
}

.LasGruppenOrderSchema .header .headerinfo {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 60px;
    top: 15px;
}

.LasGruppenOrderSchema .orderpage {
    font-size: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.LasGruppenOrderSchema .col table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.LasGruppenOrderSchema .col td {
    font-size: 16px;
}
.LasGruppenOrderSchema .col {
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
    min-height: 40px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}
.LasGruppenOrderSchema .header .maintitle {
    font-size: 40px;
}

.LasGruppenOrderSchema input, .LasGruppenOrderSchema textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    background: #FFFFFF; 
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
} 

.LasGruppenOrderSchema textarea { 
    height: 150px; 
    line-height: 150%; 
} 

.LasGruppenOrderSchema input:hover, .LasGruppenOrderSchema textarea:hover, 
.LasGruppenOrderSchema input:focus, .LasGruppenOrderSchema textarea:focus { 
    border-color: #C9C9C9; 
} 


.LasGruppenOrderSchema .col_0 {
    width: 100%;
    padding: 20px;
}
.LasGruppenOrderSchema .td_col_1 {
    width: 210px;
}

.LasGruppenOrderSchema textarea {
    width: 100%;
}

.LasGruppenOrderSchema .cylinder_setup,
.LasGruppenOrderSchema .keys_setup {
    border: Solid 1px #EEE;
    margin-bottom: 10px;
    display: none;
}
.LasGruppenOrderSchema .col_0 table {
    text-align: center;
}
.LasGruppenOrderSchema .certego_pagetitle {
    font-size: 20px;
    padding: 10px;
    background-color: #ff6e00;
    color: #FFF;
    text-align: left;
}

.LasGruppenOrderSchema .certego_pagetitle .stepof {
    float: right;
}

.LasGruppenOrderSchema td input[type="text"] {
    width: 100%;
}

.LasGruppenOrderSchema .shippinginformation,
.LasGruppenOrderSchema .extratext_shipping,
.LasGruppenOrderSchema .specialsending,
.LasGruppenOrderSchema .select_stores {
    display: none;
}

.LasGruppenOrderSchema .add_cylinder_row,
.LasGruppenOrderSchema .add_key_row {
    /*float: right;*/
}

.LasGruppenOrderSchema .cylinder_template_row,
.LasGruppenOrderSchema .keys_template_row {
    display: none;
}

.LasGruppenOrderSchema .cylinder_setup input {
    width: 80px;
}

.LasGruppenOrderSchema .signaturesecurity .shop_button,
.LasGruppenOrderSchema .pincodesetup .shop_button {
    /*float: right;*/
}

.LasGruppenOrderSchema .signaturesecurity,
.LasGruppenOrderSchema .pincodesetup {
    margin-top: 20px;
    display: none;
}

.LasGruppenOrderSchema .cylinder_setup select {
    height: 35px;
}

.LasGruppenOrderSchema .orderpage {
    display: none;
}

.LasGruppenOrderSchema .order_page1 {
    display: block;
}

.LasGruppenOrderSchema .button_area .next {
    float: right;
}

.LasGruppenOrderSchema .shop_button {
    background: #ff6e00;
    border-radius: 0px;
    height: 35px;
    line-height: 35px;
}

.LasGruppenOrderSchema .radio_required {
    color: red;
}

.LasGruppenOrderSchema .required:not([disabled="disabled"]) {
    border: solid 1px red;
}

.LasGruppenOrderSchema .helptext {
    display: inline-block;
    font-size: 12px;
    color: grey;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.LasGruppenOrderSchema .systemnumber_uppercase {
    text-transform: uppercase;
}

.LasGruppenOrderSchema .certego_login.certego_logout {
    margin-top: 43px;
}
.LasGruppenOrderSchema .certego_login {
    font-size: 16px;
    right: 0px;
    background-color: #ff6e00;
    color: #FFF;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    position: absolute;
}

.LasGruppenOrderSchema .login_button {
    float: right;
}


.LasGruppenOrderSchema .loginform_picode,
.LasGruppenOrderSchema .loginform {
    display: none;
}

.LasGruppenOrderSchema .certego_login_button {
    border: solid 2px #ff8c37;
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    
    margin-left: 4px;
    
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

    color: #FFF;
}

.LasGruppenOrderSchema .loginform {
    display: none;
}

.LasGruppenOrderSchema .menu_entry {
    padding: 10px;
    cursor: pointer;
    border-bottom: solid 1px #DDD;
    border-left: solid 1px #DDD;
    border-right: solid 1px #DDD;
    background-color: #FAFAFA;
}

.LasGruppenOrderSchema .menu_entry:hover {
    background: none;
}

.LasGruppenOrderSchema .system_entry {
    padding: 10px;
}

.LasGruppenOrderSchema .sub_entry_content {
    display: none;
}

.LasGruppenOrderSchema .sub_entry_content:first-child {
    display: block;
}

.LasGruppenOrderSchema .system_entry:nth-child(n+2) {
    background-color: #F9F9F9;
}

.LasGruppenOrderSchema .address_to_edit {
    border: solid 1px #DDD;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.LasGruppenOrderSchema .address_to_edit i {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #F9F9F9;
    padding-top: 35px;
}

.LasGruppenOrderSchema #edit_delivery_addr {
    display: none;
}

@media only all and (max-width: 948px) {
    .LasGruppenOrderSchema .col {
        width: 100%;
    }
    
    .LasGruppenOrderSchema td input[type="text"] {
        width: 95%;
    }
    
    .button_area {
        position: relative;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

