@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cekwse');
  src:  url('fonts/icomoon.eot?cekwse#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?cekwse') format('woff2'),
    url('fonts/icomoon.ttf?cekwse') format('truetype'),
    url('fonts/icomoon.woff?cekwse') format('woff'),
    url('fonts/icomoon.svg?cekwse#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e91d";
}
.icon-search2:before {
  content: "\e91e";
}
.icon-key:before {
  content: "\e910";
}
.icon-basket:before {
  content: "\e90e";
}
.icon-checkered-flag:before {
  content: "\e916";
}
.icon-document-file-html:before {
  content: "\e90b";
}
.icon-flag-checkered:before {
  content: "\e917";
}
.icon-brain:before {
  content: "\e930";
}
.icon-calendar-text:before {
  content: "\e92f";
}
.icon-man-woman:before {
  content: "\e92e";
}
.icon-typewriter:before {
  content: "\e92d";
}
.icon-crown:before {
  content: "\e92c";
}
.icon-king:before {
  content: "\e92c";
}
.icon-queen:before {
  content: "\e92c";
}
.icon-chevron-left-circle:before {
  content: "\e92b";
}
.icon-chevron-right-circle:before {
  content: "\e92a";
}
.icon-right:before {
  content: "\e92a";
}
.icon-group-work:before {
  content: "\e929";
}
.icon-factory:before {
  content: "\e928";
}
.icon-build:before {
  content: "\e928";
}
.icon-generate:before {
  content: "\e928";
}
.icon-cart-exchange:before {
  content: "\e927";
}
.icon-user-lock:before {
  content: "\e926";
}
.icon-database-upload:before {
  content: "\e925";
}
.icon-exit2:before {
  content: "\e923";
}
.icon-enter:before {
  content: "\e924";
}
.icon-exit:before {
  content: "\e922";
}
.icon-door:before {
  content: "\e922";
}
.icon-sign-out:before {
  content: "\e922";
}
.icon-log-out:before {
  content: "\e922";
}
.icon-logout:before {
  content: "\e922";
}
.icon-calendar-user:before {
  content: "\e91f";
}
.icon-user-minus:before {
  content: "\e920";
}
.icon-user-plus:before {
  content: "\e921";
}
.icon-library:before {
  content: "\e91c";
}
.icon-book:before {
  content: "\e91b";
}
.icon-hdd-down:before {
  content: "\e91a";
}
.icon-chevrons-expand-vertical:before {
  content: "\e919";
}
.icon-list:before {
  content: "\e918";
}
.icon-bag-dollar:before {
  content: "\e915";
}
.icon-clipboard-check:before {
  content: "\e914";
}
.icon-user:before {
  content: "\e913";
}
.icon-lifebuoy:before {
  content: "\e912";
}
.icon-receipt:before {
  content: "\e911";
}
.icon-users:before {
  content: "\e90f";
}
.icon-cashier:before {
  content: "\e90d";
}
.icon-bed:before {
  content: "\e90c";
}
.icon-hotel:before {
  content: "\e90c";
}
.icon-sleep:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e908";
}
.icon-flag:before {
  content: "\e90a";
}
.icon-gs-logo:before {
  content: "\e909";
}
.icon-gs-availability:before {
  content: "\e900";
}
.icon-gs-booking:before {
  content: "\e901";
}
.icon-gs-cleaning:before {
  content: "\e902";
}
.icon-gs-dashboard:before {
  content: "\e903";
}
.icon-gs-gears:before {
  content: "\e904";
}
.icon-gs-new:before {
  content: "\e905";
}
.icon-gs-prices:before {
  content: "\e906";
}
.icon-gs-reports:before {
  content: "\e907";
}
