.gss_outer_orderoverview {
    padding: 30px;
    background-color: #FFF;
    color: #333;
}

.gss_overview_order:hover {
    background-color: #EEE;
}

.gss_overview_order {
    border-bottom: solid 1px #EEE;
    padding-bottom: 3px;
    padding-top: 3px;
    cursor: pointer;
}

.gss_order_col {
    display: inline-block;
    width: 200px;
}

.gss_order_col.gss_col_4 {
    width: 50px;
}
.gss_order_col.gss_col_3 {
    width: 100px;
}
.gss_order_col.gss_col_2 {
    width: 850px;
}
.gss_order_col.gss_col_1 {
    width: 100px;
    padding-left: 10px;
}

.gss_order_nextprevbuttons {
    height: 44px;
    position: relative;
}

.gss_order_nextprevbuttons .gss_button {
    position: absolute;
}

.gss_order_nextprevbuttons .order_gss_prev_buttons {
    left: 0px;
    top: 0px;
}

.gss_order_nextprevbuttons .order_gss_next_buttons {
    right: 0px;
    top: 0px;
}

.gss_order_nextprevbuttons,
.gss_overview_order,
.gss_pagenumber_bottom {
    width: 100%;
}
.gss_pagenumber_bottom {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gss_outer_order_content {
    display: none;
}

.gss_no_orders_found {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gss_no_orders_found i {
    color: red;
    font-size: 60px;
}

.gss_orderview {
    margin-top: 10px;
    padding: 10px;
    border-top: solid 1px #EEE;
}

.gss_order_line {
    position: relative;
    border-bottom: solid 1px #EEE;
    padding: 5px;
    padding-left: 10px;
}

.gss_order_line_price {
    position: absolute;
    right: 10px;
}

.gss_more_order_settings {
    padding: 20px;
    display: none;
    margin-top: 20px;
    background-color: #EEE;
}

.gss_orderview_available_payments {
    display: none;
    padding-top: 10px;
}

.gss_orderview_available_payments .gss_order_view_select_payement_method {
    padding: 5px;
    border: solid 1px #EEE;
    cursor: pointer;
}

.gss_small_order_listview .order_col .order_col_inner {
    border: dashed 1px #DDD;
    padding: 10px;
    
}

.gss_small_order_listview .order_col {
    font-size: 14px;
    vertical-align: top;
    width: 33.33%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

.gss_small_order_listview {
    font-size: 0px;    
    display: none;
}

