.optionbox span {
    display: block;
    font-size: 170px;
    
}

.optionbox .title {
    font-size: 30px;
    padding-top: 30px;
    height: 50px;
}

.optionboxes {
    text-align: center;
}

.optionbox {
    text-align: center;
    width: 280px;
    margin: 20px;
    padding: 50px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    color: #FFF;
    background-color: #4cafcf;
    border: solid 1px rgba(0,0,0,0.2);
}
