.InformationScreen .mainview {
    background-color: #FFF;
    color: #333;
}


.InformationScreen .mainview .tvs .tv_selector {
   width: 50px;
   background: linear-gradient(to bottom, #EEE, #CCC);
   text-align: center;
   border-right: solid 1px #BBB;
   display: inline-block;
   cursor: pointer;
}

.InformationScreen .mainview .tvs .tv_selector.tv_active {
   color: #FFF;
   background: linear-gradient(to bottom, #00c813, #008e0d); 
}

.InformationScreen .mainview .tvs {
    min-height: 50px;
    background-color: #EEE;
    border-bottom: solid 1px #EEE;
    font-size: 0px;
}

.InformationScreen .tv_information_top {
    background-color: #CCC;
    padding: 5px;
    text-align: center;
    
}
.InformationScreen .mainview .tvs .tv_title {
    font-size: 10px;
    text-align: center;
}
.InformationScreen .mainview .tvs i {
    font-size: 30px;
    margin: 5px;
}
.InformationScreen .mainview .workarea {
    min-height: 350px;
    padding: 20px;
}

.InformationScreen .workarea .slider {
    display: inline-block;
    border: solid 1px #EEE;
    height: 150px;
    width: 150px;
    padding: 20px;
    font-size: 17px;
    text-align: center;
}

.InformationScreen .workarea td {
    font-size: 16px;
}

.InformationScreen .slider {
    position: relative;
    vertical-align: top;
}

.InformationScreen .slider .delete_slider {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    border-left: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    cursor: pointer;
}

.InformationScreen .slider_types .select_slider_type {
    border: Solid 1px #DDD;
    margin: 10px;
    display: inline-block;
    background: linear-gradient(to bottom, #EEE, #DDD); 
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}

.InformationScreen .select_slider_class {
    background: linear-gradient(to bottom, #EEE, #DDD); 
    margin: 10px;
    cursor: pointer;
    
}

.InformationScreen .active_slider {
    background: linear-gradient(to bottom, #00c813, #008e0d); 
    color: #FFF;
}

.InformationScreen .type_icon {
    width: 177px;
    height: 115px;
    position: absolute;
    left: 6px;
    bottom: 6px;
}

.InformationScreen .type_icon.type1 { background-image: url('{IMAGEFOLDER}/type1.jpg'); }
.InformationScreen .type_icon.type2 { background-image: url('{IMAGEFOLDER}/type2.jpg'); }

.InformationScreen .uploadpicture {
    position: relative;
    display: inline-block;
    border: solid 1px;
    min-height: 200px;
    min-width: 200px;
    cursor: pointer;
}

.InformationScreen .uploadpicture img {max-width: 200px; max-height: 200px;}

.InformationScreen .uploadpicture .upload_help {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgba(255,255,255,0.5);
}

.InformationScreen .tv_setting {
    color: #666;
    border-bottom: solid 1px #DDD;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.InformationScreen .tv_settings_outer {
    border: solid 1px #DDD;
    border-bottom: solid 0px #DDD;
}