.PmsBookingCalendar .calendar .day { cursor: pointer; border: solid 1px #bbb; line-height: 20px; width: 100%; display:inline-block; text-align: center; margin: 1px;box-sizing: border-box; height: 100%; }
.PmsBookingCalendar .calendar .calendar_header { position: relative; text-align: center; border: solid 1px #bbb; font-size: 16px; padding: 5px; background-color:#f09325; color:#fff; }
.PmsBookingCalendar .calendar .calendar_header .fa { cursor:pointer; }
.PmsBookingCalendar .calendar .calendar_header .fa-arrow-left { position: absolute; left: 5px; top: 5px; }
.PmsBookingCalendar .calendar .calendar_header .fa-arrow-right { position: absolute; right: 5px; top: 5px; }
.PmsBookingCalendar .calendar .day.selected { background-color:#f09325; color:#fff; }
.PmsBookingCalendar .calendar .dayouter { box-sizing: border-box; width: 14.28%; display:inline-block; padding: 2px;padding-bottom: 0px; }
.PmsBookingCalendar .day.dayheader { border: solid 0px; }
.PmsBookingCalendar .day.empty { border: solid 0px; }