.MailChimp .mailinputfield { height: 18px; line-height: 18px; }
.MailChimp .incorrectinput { color:red; padding-top: 10px; display:block; }
.MailChimp .emailAdded { color:green; padding-top: 10px; display:block; }