@font-face {
  font-family: 'TheSans';
  src:  url('/fonts/thesans.ttf') format('sans');
}

.gs_page_width { max-width:  1100px; margin: auto; }
.gsarea[area="header"] .gs_page_width { max-width: 100%; padding-right: 30px; padding-left: 30px; height: 125px; color: #fff;}
.gsarea[area="header"] .ImageDisplayer { position:absolute; left:0px; width: 100px; height: 100px;z-index: 2; }
.gsarea[area="header"] .Menu { position:absolute; right: 0px; top: 60px; }
.gsarea[area="header"] .Menu a div {padding-left: 20px; text-transform: uppercase; color: #fff; font-size: 16px; letter-spacing: 2px; }
.gsarea[area="header"] { background-color: #f15a29; }
.gsarea[area="footer"] { background-color: #f1be37; min-height: 150px; }
.PmsCalendar .dayentry:hover { background-color: #f1be37 !important; color:#000 !important; }
.PmsCalendar .tinycalendar { background-color: #8bbd39; }
.PmsCalendar .day.disabled { color:#eee; }
.Menu .entries .entries .entry {     width: 300px;
    background-color: #f15a29;
    padding-top: 5px;
}
body {
    font-family: 'TheSans', Fallback, sans-serif;
}