@font-face {
  font-family: 'TheSans';
  src:  url('/fonts/thesans.ttf') format('sans');
}

.gs_page_width { max-width:  1100px; margin: auto; }
.gsarea[area="header"] .gs_page_width { max-width: 100%; padding-right: 30px; padding-left: 30px; height: 135px; color: #000;}
.gsarea[area="header"] .ImageDisplayer { left:0px; width: 100px; height: 100px;z-index: 2; }
.gsarea[area="header"] .Menu { position:absolute; right: 0px; top: 60px; }
.gsarea[area="header"] .Menu a div {padding-left: 20px; text-transform: uppercase; color: #000; font-size: 16px; letter-spacing: 2px; }
.gsarea[area="header"] { background-color: #efefef; }
.gsarea[area="footer"] { background-color: #f1be37; min-height: 150px; }
.PmsCalendar .dayentry:hover { background-color: #f1be37 !important; color:#000 !important; }
.PmsCalendar .tinycalendar { background-color: #8bbd39; }
.PmsCalendar .day.disabled { color:#eee; }
.Menu .entries .entries .entry {     width: 300px;
    background-color: #f15a29;
    padding-top: 5px;
}
body {
    font-family: 'TheSans', Fallback, sans-serif;
}

@media only all and (max-width: 800px) {
    .gsarea[area="header"] .ImageDisplayer { left: 36%; }
    .gsarea[area="header"] .ContentManager { margin-top: 20px; }
    .gsarea[area="header"] .Menu { top: 13px; color:#fff; left:0px; }
    .gsarea[area="header"] { height: 220px; }
    .gs_page_width { padding-left: 20px; padding-right: 20px; }
    .mobilenavigatemenu { color:#fff; }
   .Menu a div { width: 100%; box-sizing: border-box; }
   .gs_language_selection { top: -10px; }
   .mobilenavigatemenu {
        text-align: center !important;
    }
    .gscell_29.gsucell { height: 180px; }
    .Menu .menuentries.horizontal .entries { background-color:#000 !important; }
    .Menu a div { text-align: center; }
    .gsinner.gsuicell.gsdepth_1.gscount_1.gscell_126 { padding-top: 5px !important; }
}