.PmsBookingRoomView .bookingoverview_content_row .bottommenuarea {
    text-align: right;
    font-size: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.PmsBookingRoomView .addguesttoconferencepanel {
    position: absolute;
    width: 600px;
    background-color: #efefef;
    border: solid 1px #bbb;
    padding: 5px;
    display:none;
}
.PmsBookingRoomView .previewarea {
    border: solid 1px #bbb;
    margin-top: 20px;
    padding: 20px;
    display:none;
}

.PmsBookingRoomView .whyoutofsync { 
    display:none;
    padding: 10px;
    background-color:#fff;
}

.PmsBookingRoomView .unpaidamountwarning { 
    border-bottom: solid 1px;
    background-color: #ff0000;
    padding: 10px;
    color: #fff;
    height: 35px;
    font-size: 24px;
}

.PmsBookingRoomView .guestsuggestionname {
        display:inline-block;
        width: 35%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
.PmsBookingRoomView .guestsuggestionemail {
        display:inline-block;
        width: 35%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
.PmsBookingRoomView .guestsuggestionphone
    {
        display:inline-block;
        width: 20%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
.PmsBookingRoomView .guestionsuggestionarea { padding: 10px; padding-left: 22px; }
.PmsBookingRoomView .guestionsuggestionarea .addsuggestionarrow {
    position: absolute;
    left: -18px;
    top: 4px;
    cursor:pointer;
    color:#86c330;
}


.PmsBookingRoomView .countrylanguagebox { display:inline-block; width: 45%; }
.PmsBookingRoomView .countrylanguagebox .gsniceselect1 { border: solid 0px; border-bottom: solid 1px #DDD; cursor:pointer;text-transform: uppercase; }
.PmsBookingRoomView .activeroom { background-color:#ebfbcb !important; }

.PmsBookingRoomView .notvalidselection { font-size: 20px; color: red; font-weight: bold; margin-top: 20px; line-height: 30px; }
.PmsBookingRoomView .colheader {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.PmsBookingRoomView .splistayoptions { display:none; margin-top:10px; }

.PmsBookingRoomView .grouppaymentprocess {
    position: absolute;
    display:none;
    background-color: #fff;
    border: solid 1px #bbb;
    z-index: 8;
    padding: 5px;
    right: 10px;
    top: 10px;
}
.PmsBookingRoomView .editaddonpanel { z-index: 2; }

.PmsBookingRoomView .isgroupinformation { 
    padding: 5px; 
    background-color:#e0ebee; 
    color:#4c4b4b; 
    margin-top: -25px;
    height: 40px;
    border-radius: 40px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 40px;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-right: 16px;
    position:relative;
}
.PmsBookingRoomView .isgroupinformation .fa-info-circle {
    font-size: 18px;
    position: absolute;
    top: 16px;
    left: 15px;
}

.PmsBookingRoomView .isdeletedinformation { background-color:red; color:#fff; padding: 5px; padding-left: 10px; }
.PmsBookingRoomView .roomindication { color: #4c4b4b; float:right; }

.PmsBookingRoomView .bookingoverview_content_row .bottommenuarea .shop_button {
    font-size: 15px;
    margin-right: 20px;
}
.GetShopModuleTable .col.col_payment {
    max-width: 100px;
    overflow: hidden;
}

.PmsBookingRoomView .checkoutview {
    position: absolute;
    background: #c7f7f9;
    z-index: 1;
    width: 800px;
    right: 10px;
    border: solid 1px #bbb;
    margin-top:5px;
    display:none;
}

.PmsBookingRoomView .addAddonsArea {
    position: absolute;
    background: #c7f7f9;
    z-index: 1;
    width: 400px;
    border: solid 1px #bbb;
    margin-top:5px;
    display:none;
}
.PmsBookingRoomView .addAddonsArea .addAddonsAreaInner { max-height: 400px; overflow: auto; }


.PmsBookingRoomView .pricecontainerbox { padding-right: 10px; }

.PmsBookingRoomView .priceselectionhelp { display:none; font-size: 12px; font-style: italic; color:green; padding-top: 10px; }
.PmsBookingRoomView .masseditpricesbox {
    border: solid 1px #bbb;
    padding: 10px;
    background-color: #fff;
    z-index: 2;
}
.PmsBookingRoomView .changespanel {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    right: 10px;
    top: 50px;
    border: solid 1px #bbb;
    display:none;
}

.PmsBookingRoomView .changespanel .changetextrow {
    border-bottom: solid 1px #bbb;
    padding: 10px;
}

.PmsBookingRoomView .pricerows { max-height: 200px; overflow:auto;}
.PmsBookingRoomView .unsavedchangeswarning {
    background-color: gray;
    color: #fff;
    padding: 0px;
    height: 33px;
    font-size: 17px;
    padding-top: 15px;
    position: relative;
    padding-left: 20px;
}

.PmsBookingRoomView .editaddonpanel { border: solid 1px #bbb; position:absolute; background-color: #fff; padding: 2px; }

.PmsBookingRoomView .removeselectedaddons { background-color: red;
    display: block;
    width: 241px;
    float: left;
    margin-right: 10px; }
.PmsBookingRoomView .addonsaddedrow { font-size: 18px; border-bottom: solid 1px #ddd; padding: 10px; }
.PmsBookingRoomView .addonsArea .headercol { font-weight: bold; }
.PmsBookingRoomView .addonsaddedrow .fa-edit{ float:right; }
.PmsBookingRoomView .addonsaddedrow .fa-square-o { cursor: pointer; }
.PmsBookingRoomView .addonsArea .col-1 { width: 20px !important; }
.PmsBookingRoomView .addonsArea .col-2 { width: 225px !important; }
.PmsBookingRoomView .addonsArea .col-3 { width: 100px !important; }
.PmsBookingRoomView .addonsArea .col-4 { width: 100px !important; }
.PmsBookingRoomView .addonsArea .row { font-size: 20px; }
.PmsBookingRoomView .addonsArea .row .fa { cursor:pointer; }
.PmsBookingRoomView .bookingoverview_content_row .bottommenuarea .shop_button:hover {
    background: rgb(99,182,219); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 );
}

.PmsBookingRoomView .bookingoverview_content_row .bottommenuarea .shop_button.disabled {
    background: #EFEFEF;
    background-color: #EFEFEF;
    color: #888;
}

.PmsBookingRoomView .bookingoverview_content_row {
    font-size: 0px;
    background-color: #FFF;
    margin-bottom: 20px;
}
.PmsBookingRoomView .checkinheadertext {font-size: 12px; }
.PmsBookingRoomView .changedatespanel { display:none; }
.PmsBookingRoomView .datepresentation { border-bottom: solid 1px #e9ebed; padding-bottom: 10px; margin-bottom: 10px; cursor:pointer; }
.PmsBookingRoomView .checkincheckoutbutton {width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: block;}

.PmsBookingRoomView .bookingoverview_content_row .menuarea,
.PmsBookingRoomView .bookingoverview_content_row .workarea {
    width: 500px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.PmsBookingRoomView .bookingoverview_content_row .workarea {
    width: calc(100% - 200px);
    box-sizing: border-box;
}

.PmsBookingRoomView .bookingoverview_content_row .menuarea {
    width: 200px;
    box-sizing: border-box;
    padding: 30px;
    padding: 0px;
    padding-left: 10px;
    float:left;
}

.PmsBookingRoomView .bookingoverview_content_row .menuarea .menuentry i{
    font-size: 30px;
    display: none;
}
.PmsBookingRoomView .bookingoverview_content_row .menuarea .menuentry {
    text-align: left;
    padding: 5px;
    cursor: pointer;
    color: #82cdf3;
    text-decoration: dotted;
    text-decoration: none;
    width: inherit;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-top: 0px;
    font-size: 13px;
    font-weight: bold;
}

.PmsBookingRoomView .bookingoverview_content_row .menuarea .menuentry span {
    border-bottom: 2px dotted #82cdf3;
    padding-left: 1px;
    padding-right: 1px;
    padding: 3px;
    margin-left: 20px;
}

.PmsBookingRoomView .bookingoverview_content_row .menuarea .menuentry.active span {
    
}

.PmsBookingRoomView .bookingoverview_content_row .menuarea .menuentry.active span {
    border-bottom: 2px dotted transparent;
    display: inline-block;
    background-color: #2a324e;
    color: #FFF;
    border-radius: 20px;
    border: solid 0px;
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.PmsBookingRoomView .seperatorbox .seperatortext {
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    position: relative;
    margin: 0 auto;
}

.PmsBookingRoomView .seperatorbox .rowseperator {
    position: absolute;
    left: 0px;
    height: 1px;
    right: 0px;
    top: 10px;
    border-top: dashed 3px #DDD;
    
}
.PmsBookingRoomView .searchbox .tabs {
    background-color: #EEE;
    font-size: 0px;
}   

.PmsBookingRoomView .searchbox .tab {
    padding: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px #DDD;
    cursor: pointer;
    font-size: 13px;
}

.PmsBookingRoomView .searchbox .buttonareaadvanced {
    margin-top: 10px;
}
.PmsBookingRoomView .searchbox .dropdowns {   
}
.PmsBookingRoomView .searchbox .tab_content {
    padding-top: 20px;
}
.PmsBookingRoomView .searchbox .tab_content.active {
    display: block;
}

.PmsBookingRoomView .searchbox .tab.active {
    background-color: #FFF;
}

.PmsBookingRoomView .searchbox .tab_content {
    padding-left: 50px;
    display: none;
}
.PmsBookingRoomView .searchbox {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    width: calc(100% - 255px);
    box-sizing: border-box;
    height: 252px;
}

.PmsBookingRoomView .quickfilters .header {
    text-align: center;
    padding: 5px;
    background-color: #EEE;
    margin-bottom: 10px;
   
}
.PmsBookingRoomView .quickfilters i {
    margin-left: 10px;
}
.PmsBookingRoomView .quickfilters .quickfilter_sub {
    padding: 5px;
    padding-left: 25px;
    cursor: pointer;
}
.PmsBookingRoomView .quickfilters {
    display: inline-block;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    vertical-align: top;
    width: 200px;
}

.PmsBookingRoomView .orderpreview {
    position: fixed;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    background-color: #FFF;
    z-index: 3;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    display: none;
}

.PmsBookingRoomView .orderpreview .header {
    font-size: 20px;
    background-color: #EEE;
    text-align: center;
    padding: 20px;
    
}

.PmsBookingRoomView .orderpreview .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #FFF;
    border: solid 3px #888; 
    border-radius: 50px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

.PmsBookingRoomView .orderpreview .content {
    overflow-y: scroll;
    position: absolute;
    top: 70px;
    bottom: 90px;
    left: 0px;
    right: 0px;
}

.PmsBookingRoomView .orderpreview .menurow {
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: right;
    padding: 20px;
}

.PmsBookingRoomView .workarea div[tab] {
    display: none;
}

.PmsBookingRoomView .no_orders_created i {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
}
.PmsBookingRoomView .no_orders_created {
    font-size: 20px;
    color: red;
    text-align: center;
}

.PmsBookingRoomView .workarea div[tab].active {
    display: block;
}

.PmsBookingRoomView .bookinginformation .prefix {
    width: 30px;
}

.PmsBookingRoomView .bookinginformation .col2 {
    width: calc(100% - 230px);
}
.PmsBookingRoomView .bookinginformation .guestheader {
    padding: 5px;
    background-color: #EFEFEF;
    margin-top: 20px;
}
.PmsBookingRoomView .colbox {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.PmsBookingRoomView .warning {
    margin-bottom: 30px;
    background-color: #e8ffc8;
    padding: 20px;
}

.PmsBookingRoomView .bookinginformation .header {
    border-bottom: solid 2px #333;
    padding-bottom: 5px;
}

.PmsBookingRoomView .bookinginformation .guest_row .remove_guest {
    background: #fb6a32;
    background-color: #fb6a32;
    color: #FFF;
    width: 15px;
    height: 15px;
    padding: 0px;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    padding: 2px;
}

.PmsBookingRoomView .bookinginformation .guest_row {
    font-size: 0px;
}


.PmsBookingRoomView .bookinginformation .guest_col {
    display: inline-block;
    padding-right: 10px;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
}

.PmsBookingRoomView .bookinginformation .guest_col input {
    width: 100%;
    box-sizing: border-box;
} 

.PmsBookingRoomView .bookinginformation .guest_col .gsniceinput1.prefix {
    width:50px;
}

.PmsBookingRoomView .bookinginformation .guest_col .gsniceinput1.cellnumber {
    width: calc(100% - 61px);
}

.PmsBookingRoomView .payment_process_started {
    padding: 20px;
}

.PmsBookingRoomView .bookinginformation .guest_col1 { width: calc(100% - 550px); }
.PmsBookingRoomView .bookinginformation .guest_col2 { width: 300px; }
.PmsBookingRoomView .bookinginformation .guest_col3 { width: 200px; }
.PmsBookingRoomView .bookinginformation .guest_col4 { width: 35px; }
.PmsBookingRoomView .bookinginformation .guest_col5 { width: 225px; }

.PmsBookingRoomView .GetShopQuickUser .booked_for {
    display: inline-block;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.PmsBookingRoomView .insideheader {
    padding: 0px;
    margin: 0px;
    padding: 10px;
    padding-left: 0px;
    border-bottom: solid 1px #eceef0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

.PmsBookingRoomView .insideheader .gs_shop_small_icon {
    background: #86c330;
    background-color: #86c330;
    bottom: 5px;
    float:right;
    border-radius: 3px;
    color: #FFF;
    border: solid 0px;
}

.PmsBookingRoomView .guestinformation[tab="orders"] .SalesPointCartCheckout {
    padding: 20px;
}
.PmsBookingRoomView .guestinformation[tab="orders"] .payment_window {

    padding: 20px;
}
.PmsBookingRoomView .guestinformation[tab="orders"] .payment_options .options,
.PmsBookingRoomView .guestinformation[tab="orders"] .payment_options .option_content {
    display: inline-block;
    vertical-align: top;
}

.PmsBookingRoomView .rmation[tab="orders"] .payment_options .option_content {
    width: calc(100% - 250px);
    min-height: 250px;
    border: solid 1px #CCC;
    padding: 20px;
    box-sizing: border-box;
}

.PmsBookingRoomView .guestinformation[tab="orders"] .payment_options .options i {
    display: none;
}

.PmsBookingRoomView .guestinformation[tab="orders"] .payment_options .options .activeline {
    position: absolute;
    top: 15px;
    right: -27px;
    width: 24px;
    height: 0px;
    border: solid 1px #DDD;
    display: none;
}

.PmsBookingRoomView .guestinformation[tab="orders"] .payment_option_choice.active i {
    display: inline-block;
}

.PmsBookingRoomView .guestinformation[tab="orders"] .payment_option_choice.active .activeline {
    display: block;
}

.PmsBookingRoomView .guestinformation[tab="orders"] .payment_options .options .payment_option_choice {
    position: relative;
    width: 200px;
    margin-bottom: 10px;
}
.PmsBookingRoomView .guestinformation[tab="orders"] .payment_options .options {
    width: 224px;
    padding-right: 20px;
    position: relative;
}

.PmsBookingRoomView .paymentinfo  {
    font-size: 15px;
    color: green;
}
.PmsBookingRoomView .guestinfo { width:100%; }
.PmsBookingRoomView .guestinfo, 
.PmsBookingRoomView .guestinfobox {
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.PmsBookingRoomView .guestinfobox {
    width: calc(100% - 632px);
}


.PmsBookingRoomView .guestinfobox div.row:last-child {
    border-bottom: solid 0px;
}

.PmsBookingRoomView .unsettledamount {
    animation: bodybg 1s 0s linear infinite alternate;
    color: red;
}

@keyframes bodybg{
  from   {color: #960000;}
  to     {color: #ff5e5e;}
}

.PmsBookingRoomView .date,
.PmsBookingRoomView .by {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 20px;
    background-color: #EFEFEF;
}

.PmsBookingRoomView .logtext {
    font-size: 14px;
    padding: 20px;
}

.PmsBookingRoomView .log_pages {
    font-size: 0px;
}

.PmsBookingRoomView .log_pages .pagenumber.active {
    background: rgb(164,179,87); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 );
}
.PmsBookingRoomView .log_pages .pagenumber {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    
    background: rgb(255,168,76); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); 

    border-right: solid 1px rgba(255,255,255,0.5);
    color: #FFF;
    cursor: pointer;
}

.PmsBookingRoomView .loaderspinner {
    text-align: center;
    padding: 50px;
    font-size: 50px;
}

.PmsBookingRoomView .logentry {
    border-bottom: solid 1px #DDD;
    font-size: 0px;
}
.PmsBookingRoomView .bookinginfocolheader { background-color:#ddd; }

.PmsBookingRoomView .guestinformation[tab="ticket"] {
    padding: 20px;
}

.PmsBookingRoomView .TicketList .datarow_extended_content {
    padding: 20px;
}

.PmsBookingRoomView .betawarning {
    background-color: red;
    color: #FFF;
    padding: 20px;
    text-align: center;
}
.PmsAvailability .startdate { width: 100px; }

.PmsBookingRoomView .otheroptionstd {
    padding-left:50px;   
}
.PmsBookingRoomView .sendmessagetext {
    width: 100%; height: 100px; border:solid 1px #ddd; overflow:hidden;
}
.PmsBookingRoomView .showcredithistorybutton {
    font-size: 14px;
    background-color: #DDD;
    padding: 5px;
    border: solid 1px #CCC;
    float: right;
    cursor: pointer;
}

.PmsBookingRoomView .verifonestatus {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

.PmsBookingRoomView .row_payment_status_line.notok {
    color: red;
}

.PmsBookingRoomView .row_payment_status_line.allok {
    color: green;
}

.PmsBookingRoomView .row_payment_status_line .col_productname {
    width: calc(100% - 670px);
}
.PmsBookingRoomView .row_payment_status_line .col_productname.longwidth {
    width: calc(100% - 500px);
}
.PmsBookingRoomView .row_payment_status_line .col_paymenttype {
    width: 150px;
}
.PmsBookingRoomView .row_payment_status_line .col_paymentdate {
    width: 150px;
}
.PmsBookingRoomView .row_payment_status_line .col_date {
    width: 130px;
}

.PmsBookingRoomView .row_payment_status_line .col_balance {
    width: 100px;
}

.PmsBookingRoomView .row_payment_status_line .col_value {
    width: 125px;
}

.PmsBookingRoomView .row_payment_status_line .col_product {
    width: calc(100% - 570px);
}

.PmsBookingRoomView .row_payment_status_line .col_paid {
    width: 80px;
    text-align: right;
}

.PmsBookingRoomView .row_payment_status_line .col_remaining.large,
.PmsBookingRoomView .row_payment_status_line .col_paid.large {
    width: 130px;
}

.PmsBookingRoomView .row_payment_status_line .col_remaining {
    width: 100px;
    text-align: right;
}

.PmsBookingRoomView .row_payment_status_line .col_status {
    width: 20px !important;
}

.PmsBookingRoomView .row_payment_status_line .col_orderid {
    width: 75px;
}

.PmsBookingRoomView .row_payment_status_line .col_amount {
    width: 90px;
}

.PmsBookingRoomView .row_payment_status_line .col {
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
}

.PmsBookingRoomView .row_payment_status_line.header .col {
    vertical-align: bottom;
}

.PmsBookingRoomView .room_view_outer {
    position: relative;
}

.PmsBookingRoomView .row_payment_status_line.oddrow {
    background-color: #fafcfd;
}

.PmsBookingRoomView .row_payment_status_line {
    border-top: solid 1px #DDD;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#7c8a8f;
    font-weight: bold;
}

.PmsBookingRoomView .row_payment_status_line.header {
    font-weight: bold;
    color:#000;
}

.PmsBookingRoomView .row_payment_status_line.header {
    border-top: solid 0px;
    border-bottom: solid 2px #25374f;
}

.PmsBookingRoomView .ordermenu {
    position: absolute;
    background-color: #FFF;
    width: 250px;
    border: solid 1px #DDD;
    border-bottom: solid 0px;
    display: none;
    right: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    z-index: 1;
}

.PmsBookingRoomView .ordermenu .entry {
    padding: 5px;
    border-bottom: solid 1px #DDD;
    cursor: pointer;
}

.PmsBookingRoomView .ordermenu .entry:hover {
    background-color: #EFEFEF;
}

.PmsBookingRoomView .small_payment_summary {
    text-align: center;
    font-size: 0px;
}
.PmsBookingRoomView .payment_summary_view_box {
    width: calc(100% / 2);
    display: inline-block;
    border: solid 1px #EFEFEF;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
    height: 255px;
}

.PmsBookingRoomView .payment_summary_view_box i {
    font-size: 60px;
    color: orange;
}

.PmsBookingRoomView .payment_summary_view_box .text {
    font-size: 20px;
}

.PmsBookingRoomView .payment_summary_view_box .amount {
    font-size: 30px;
    color: green;
}

.PmsBookingRoomView .markaspaidwindow .innner_area {
    background-color: #FFF;
    margin: 0 auto;
    width: 600px;
    min-height: 200px;
    margin-top: 30px;
    position: relative;
}

.PmsBookingRoomView .markaspaidwindow .innner_area .closebutton {
    right: 10px;
    top: 10px;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
}

.PmsBookingRoomView .markaspaidwindow {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.PmsBookingRoomView .addonsArea .col {
    display: inline-block;
}

.PmsBookingRoomView .headerboxes {
    background-color: #f5f8fa;
    padding-bottom: 30px;
}

.PmsBookingRoomView .first_collapsable_shadowbox {
    margin-top: 20px !important;
}

.PmsBookingRoomView .collapsable_shadowbox .collapser {
    font-size: 35px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.PmsBookingRoomView .collapsable_shadowbox[defaultclosed="false"] .collapser.open {
    display: none;
}

.PmsBookingRoomView .collapsable_shadowbox[defaultclosed="true"] .collapsable_content {
    display: none;
}

.PmsBookingRoomView .collapsable_shadowbox[defaultclosed="true"] .collapser.closed {
    display: none;
}

.PmsBookingRoomView .collapsable_shadowbox {
    box-shadow: 0px 2px 15px rgba(0,0,0,0.3);
    margin: 20px;
    padding: 14px;
    background-color: #ffffff;
    margin-top:10px;
    margin-bottom:10px;
}
.PmsBookingRoomView .collapsable_shadowbox .col {
    display: inline-block;
    box-sizing: border-box;
    font-size: 15px;
}

.PmsBookingRoomView .collapsable_shadowbox .col1 {
    width: 190px;
    line-height: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #777;
}

.PmsBookingRoomView .show_edit_user,
.PmsBookingRoomView .show_change_user,
.PmsBookingRoomView .bookinghighlightcolor
{ color:#4da6cb; }

.PmsBookingRoomView .collapsable_shadowbox .col2 {
    padding-left: 10px;
    width: calc(100% - 200px);
}

.PmsBookingRoomView .collapsable_shadowbox .col_box_width_2 {
    width: calc(50% - 27px);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.PmsBookingRoomView .collapsable_shadowbox .col_box_width_2.second {
    margin-left: 50px;
}

.PmsBookingRoomView .collapsable_shadowbox .row {
    border-top: solid 1px #e8ebed;
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 33px;
    line-height: 30px;
}

.PmsBookingRoomView .collapsable_shadowbox div.row:nth-child(odd) {
    background-color: #fafcfd;
}

.PmsBookingRoomView .GetShopQuickUser .change_user_form,
.PmsBookingRoomView .GetShopQuickUser .edit_details_of_user {
    right: 35px;
}

.PmsBookingRoomView .colheader .extraheaderstuff {
    font-size: 13px;
    position: absolute;
    left: 230px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-transform: none;
    font-weight: normal;
    border-left: solid 1px #DDD;
    padding: 9px;
    padding-left: 20px;
}

.PmsBookingRoomView .colheader .extraheaderstuff .text {
    width:180px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 10px;
}
.PmsBookingRoomView .colheader .extraheaderstuff .title {
    width: 109px;
    color: #777;
    display: inline-block;
}

.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .workarea { width: calc(100% - 150px); margin-top: 20px; }
.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .menuarea { width: 150px; margin-left: 0px; margin-top: 20px; }
.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .menuentry { margin-left: 0px; }

.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .col_5 { display: none; }

.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .col_rowCreatedDate,
.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .col_paymentDate,
.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .col_inctaxes,
.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .col_extaxes,
.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .col_incrementOrderId { width: 70px !important; }
.PmsBookingRoomView .missingonroomgroup { position:absolute; right: 50px; color:#bbb; }
.PmsBookingRoomView .guestinformation[tab="orderstab"] .EcommerceOrderList .col_user { width: calc(100% - 740px) !important; }


.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_reg { display:none; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_checkout { width: 80px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_price { width: 50px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_state { width: 40px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_totalprice { width: 55px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_expandbutton { width: 50px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_bookedfor { width: 100px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_room { width: 51px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_addons { width: 60px; }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .col_visitor { width: calc(100% - 670px); }
.PmsBookingRoomView .PmsSearchBooking .GetShopModuleTable .secondary_text { color: #888;overflow: hidden;text-transform: none; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.PmsBookingRoomView .row.hidden {
    display: none;
}

@media screen and (max-width: 1300px) {
    .PmsBookingRoomView .isgroupinformation {
        font-size: 10px;
    }
    .PmsBookingRoomView .bookinginfocolheader .shop_button { width: 75px; font-size: 10px; }
}
@media screen and (max-width: 1024px) {
    .PmsBookingRoomView .collapsable_shadowbox .col2 { width: 100%; }
}
