/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2018, 9:12:52 PM
    Author     : ktonder
*/

.PmsBookingRoomView .accesscode {
    padding-top: 20px;
    min-height: 250px;
    padding-right: 20px;
}

.PmsBookingRoomView .accesscode .successinfo {
    font-size: 18px;
    padding-bottom: 20px;
}

.PmsBookingRoomView .accesscode .isnotactive {
    padding-left: 20px;
}

.PmsBookingRoomView .accesscode .code {
    color: #87caf0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.PmsBookingRoomView .access_codes_information {
    padding: 20px;
    padding-left: 70px;
    position: relative;
    min-height: 50px;
}

.PmsBookingRoomView .access_codes_information i {
    position: absolute;
    left: 20px;
    font-size: 30px;
    color: #82cdf3;
}
