body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: 0px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.gs_header {
    height: 100px;
    text-align: center;
    background-image: url('images/logo.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #a2c4e2;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.gs_header .unsentMessageCount .uploadcounttext {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #c9e2f7;
    padding: 3px;
    border-radius: 50px;
    font-size: 12px;
}

.gs_header .unsentMessageCount i {
    background-color: #c9e2f7;
    padding: 3px;
    border-radius: 50px;
    position: absolute;
    left: 5px;
    bottom:5px;
}
.gs_header .unsentMessageCount {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    position: relative;
    height: 20px;
    width: 20px;
}

.textinput {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 25px;
    font-size:17px;
}

.mainview {
    padding-left: 10px;
    padding-right: 10px;
    display: relative;
    padding-bottom: 70px;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%; box-sizing: border-box;
    text-align: center;
    background-color:#44c767;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:15px 26px;
    text-decoration:none;
    text-shadow:-1px 1px 0px #2f6627;
}

.button:hover {
    background-color:#5cbf2a;
}

.button:active {
    position:relative;
    top:1px;
}

.moremenu {
    display: none;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}

.gs_footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.footermenu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
    background: #3f4c6b; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    font-size: 0px;
}

.footermenu .menuentry {
    color: #FFF;
    height: 50px;
    font-size: 10px;
    box-sizing: border-box;
    padding-top: 5px;
    border-left: solid 1px rgba(0,0,0,0.2);
}

.footermenu .menuentry:first-child {
    border-left: solid 0px rgba(0,0,0,0.2);
}

.footermenu .menuentry.col2 {
    width: 49% !important;
    display: inline-block;
}

.footermenu .menuentry.col3 {
    width: 33% !important;
    display: inline-block;
}

.footermenu .menuentry i {
    display: block;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

[ng-mobile-click],
[data-ng-mobile-click],
[x-ng-mobile-click] {
    cursor: pointer;
}

.loadingData,
.fetchingGpsCoordinates {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    font-size: 20px;
    display: none;
    z-index: 1;
}

.fetchingGpsCoordinates i {
    display: block;
    font-size: 40px;
    margin-bottom: 20px;
}

.importantmessageview {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    text-align: center;
    padding: 20px;
}

.warningbox {
    background-color: red;
    color: #FFF;
    text-align: center;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
html {
     overflow-y: -moz-scrollbars-vertical;
     overflow-y: scroll;
}

.styled-select select {
   background: #FFF;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 100%;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 100%;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 100%;
}

.gsview .overviewbox {
    position: relative;
    border:solid 1px rgba(0,0,0,0.2);
    padding: 20px;
    margin-top: 25px
}

.gsview .overviewbox .header {
    position: absolute; 
    top: -13px;
    height: 15px;
    left: 10px;
    font-size: 11px;
    border:solid 1px rgba(0,0,0,0.2);
    background-color: #c1dcf3;
    padding: 5px;
}

.gsbtn {
    border: solid 1px #6393c1;
    background-color:#6393c1;
    color:#fff;
    padding: 10px;
    border-radius: 3px;
    display:inline-block;
    cursor:pointer;
    
}

.gsbtnsmall {
    border: solid 1px #6393c1;
    background-color:#6393c1;
    color:#fff;
    padding: 2px;
    border-radius: 3px;
    display:inline-block;
    cursor:pointer;
    padding-left: 10px; padding-right: 10px;
}

.row { padding-bottom: 10px; }
.definedinput { font-size: 22px; width:100%;padding: 5px; border: solid 1px #bbb; border-radius: 3px; }
.profileselectionbtn { background-color:#bbb; border-color:#fff; }
.profileSelected { font-weight: bold; background-color:green; }
.guestcol { width: 180px; display:inline-block; }
.guestcolprefix { width: 50px; }
.chosen-container { vertical-align: middle; }
.chosen-container-single .chosen-single {line-height: 38px; height: 38px;  }
select { background-color:#fff; }
.waitoverlay { position:fixed; left:0px; top:0px; width:100%; height: 100%;background-color:rgba(0,0,0,0.4); color:#fff; padding-top: 50px; text-align: center; display:none; }