<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-if="!taskType">
    Container or parcels?
    <div class="button" ng-mobile-click="setType('container')">Container</div>
    <div class="button" ng-mobile-click="setType('parcels')">Parcels</div>
</div>

<div ng-if='taskType'>
    <br/>
    <center style="font-weight: bold;">Scan or key reference number </center>

    <div style="text-align: center;">
        <div style="height: 30px;">{{ numbers }}</div>
    </div>
    

    <bc-keypad
      bc-number-model="numbers"
      bc-right-button="submit"
      bc-left-button="backspace"
      bc-right-button-method="createTask($event, numbers)"
    ></bc-keypad>

    <div class="button" ng-mobile-click="startScanner()" ng-mobile-click-end="stopScanner()">
        Scan
    </div>
</div>

<div class="button" ng-mobile-click="goBack()">Cancel</div>