<div ng-show="!signatureRequired()">
    
    <div class="warningbox">
        <i class="fa fa-info"></i> No Signature Required - Do you wish to capture signature
    </div>
    
    <div class="button"  ng-mobile-click="forceCaptureSignature()">Yes Capture Signature</div>
    <br/><div class="button" ng-mobile-click="goToNextStop()">No Proceed to next stop</div>
</div>

<div ng-show="signatureRequired()">
    <div class="warningbox" ng-if="destination.startInfo.completed">
        <i class="fa fa-warning"></i> This destination has already been signed off.
    </div>
    <div ng-show="sigaturescreen">
        Signature:
        <div class="wrapper"> 
          <canvas id="signature-pad" class="signature-pad" width="400" height="200" ></canvas>
        </div>
        <div class='button' ng-click='showTypeName()'>Next</div>
    </div>
    
    <div ng-show="!sigaturescreen">
        Typed name:
        <br/> <input type='textfield' ng-model='typedName' style='width: 100%; padding: 5px; border: solid 1px #EEE; line-height: 20px; margin-bottom: 10px;text-transform: uppercase;'/>
        <div class="button" ng-mobile-click="saveSignature()">Save</div>
        <div class="button clearButton" ng-mobile-click="clearSignature()">Clear</div>    
    </div>
    
</div>

