<b>{{ destination.company.name }}</b>
<br/> {{ destination.company.address.address }}
<br/> {{ destination.company.address.postCode }} {{ destination.company.address.city }} 

<div ng-if="destination.stopWindow">
    <br/>
    <b><i class='fa fa-clock-o'></i> Stop window: </b> {{ destination.stopWindow }}
</div>

<div ng-if="destination.skipInfo.skippedReasonId" class="destinationwarning">
    <i class="fa fa-exclamation"></i> {{ getCurrentException() }}
</div>
    

<div ng-if='destination.extraInstructions' class='subinstruction'>
    <b>Extra instruction</b>
    <br/> {{ destination.extraInstructions }}    
</div>

<div ng-if='destination.collectionPayType' class='subinstruction' style="background-color: rgba(255,0,0,0.1); border: solid 1px red; padding: 5px;">
    <i class="fa fa-dollar"></i><b> Payment type:</b> {{ destination.collectionPayType }}    
</div>

<div ng-show="destination.extraInstructions && !destination.extraInstractionsRead" class='instruction'>
    <div  class='subinstruction'>
        <b>Extra instruction</b>
        
        <br/> {{ destination.extraInstructions }}    
        <br/>
        <br/>
        <div ng-if="!showReplyMessage">
            <div class="button" ng-mobile-click="instructionRead()">Instruction read</div>
            <div class="button" ng-mobile-click="doShowReplyMessage()">Reply</div>
        </div>
        
        
        
    </div>
</div>

<div ng-if="showReplyMessage" style='margin-top: 20px;'>
    Message:
    <textarea style="width:100%; height: 300px;" id="replyMessageArea"></textarea>
    <br/>
    <div class="button" ng-mobile-click="sendMessageBack()">Send message</div>
    <div class="button" ng-mobile-click="cancelSendBackMessage()">Cancel</div>
</div>

<div ng-show="(!destination.extraInstructions || destination.extraInstractionsRead) && !showReplyMessage">
    <div ng-if="destination.onDemandInstructions || destination.pickupInstruction || destination.deliveryInstruction" class='instruction'>
        <div ng-if='destination.onDemandInstructions' class='subinstruction'>
            <b>Todays instruction</b>
            <br/> {{ destination.onDemandInstructions }}    
        </div>
        <div ng-if='destination.deliveryInstruction' class='subinstruction'>
            <b>Delivery instruction</b>
            <br/> {{ destination.deliveryInstruction }}    
        </div>
        <div ng-if='destination.pickupInstruction' class='subinstruction'>
            <b>Pickup instruction</b>
            <br/> {{ destination.pickupInstruction }}    
        </div>
    </div>

    <br/>   

    <div ng-if="destinationState() == 'started'" >
        <b>Tasks</b>

        <div ng-mobile-click="openTask(destination.id, route.id, task.id)" ng-repeat="task in destination.tasks">
            <div class='destination_task'>
                {{ getTaskName(task) }}

                <div class='dest_status'>
                    <div ng-if="getStatus(task) === 'completed'">
                        <i class='fa fa-check' style="color: green"></i>
                    </div>

                    <div ng-if="getStatus(task) === 'exception'">
                        <i class='fa fa-exclamation' style='color: red;'></i>
                    </div>

                    <div ng-if="getStatus(task) === 'unknown'">
                        -
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-repeat="col in destination.collectionTasks">
            <div ng-mobile-click="openCollectionTask(destination.id, route.id, col)">
                <div class='destination_task' ng-if="!isOptinalAndNot(col)">
                    Collection - {{ getCollectionTypeName(col.type) }} 

                    <div class='dest_status'>
                        <div ng-if="isCollected(col.type)">
                            <i class='fa fa-check' style="color: green"></i>
                        </div>

                        <div ng-if="!isCollected(col.type)">
                            -
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='destination_task addTask' ng-mobile-click="showAddPickupTask()">
            <i class='fa fa-plus'></i> New pickup task
        </div>

        <div class='button' ng-if="allTaskCompleted() == true" ng-mobile-click="departedTapped()">Departing</div>
        <div class='button exceptionbutton' ng-if="!allTaskCompleted() == true" ng-mobile-click="showDestinationExceptions()">Exception</div>
    </div>

    <div ng-if="destinationState() == 'unkown'">    
        <div>
            <div class='button' ng-mobile-click="markAsArrived()">I have arrived!</div>
            <div class='button' ng-mobile-click="showDestinationExceptions()">Skip delivery</div>
        </div>
    </div>

    <div class="button" ng-mobile-click="doShowReplyMessage()"><i class='fa fa-comment'></i> Send message to supervisor</div>
</div>
