<b>{{ destination.company.name }}</b>
<br/> {{ destination.company.address.address }}
<br/> {{ destination.company.address.postCode }} {{ destination.company.address.city }} 

<div ng-if="destination.stopWindow">
    <br/>
    <b><i class='fa fa-clock-o'></i> Stop window: </b> {{ destination.stopWindow }}
</div>

<div ng-if="destination.note">
    <br/>
    <b>Note</b>
    <br/> {{ destination.note }}
</div>


<div ng-if="destination.skipInfo.skippedReasonId" class="destinationwarning">
    <i class="fa fa-exclamation"></i> {{ getCurrentException() }}
</div>
    

<div ng-if="destination.onDemandInstructions" class='instruction'>
    <b>Todays instruction</b>
    <br/> {{ destination.onDemandInstructions }}
</div>

<br/>   

<div ng-if="destinationState() == 'started'" >
    <b>Tasks</b>
    
    <div ng-mobile-click="openTask(destination.id, route.id, task.id)" ng-repeat="task in destination.tasks">
        <div class='destination_task'>
            {{ getTaskName(task) }}

            <div class='dest_status'>
                <div ng-if="getStatus(task) === 'completed'">
                    <i class='fa fa-check' style="color: green"></i>
                </div>

                <div ng-if="getStatus(task) === 'exception'">
                    <i class='fa fa-exclamation' style='color: red;'></i>
                </div>

                <div ng-if="getStatus(task) === 'unknown'">
                    -
                </div>
            </div>
        </div>
    </div>
    
    <div class='destination_task addTask'>
        <i class='fa fa-plus'></i> New task
    </div>
    
    <div class='button' ng-if="allTaskCompleted() == true" ng-mobile-click="departedTapped()">Departing</div>
    <div class='button exceptionbutton' ng-if="!allTaskCompleted() == true" ng-mobile-click="showDestinationExceptions()">Exception</div>
</div>

<div ng-if="destinationState() == 'unkown'">    
    <div>
        <div class='button' ng-mobile-click="markAsArrived()">I have arrived!</div>
        <div class='button' ng-mobile-click="showDestinationExceptions()">Skip delivery</div>
    </div>
</div>
