/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2016, 4:21:23 PM
    Author     : ktonder
*/

.destination_task {
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 3px;
    border: solid 1px rgba(0,0,0,0.2);
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.destination_task.addTask {
    width: 100px;
    float: right;
}

.destination_task.addTask i {
    background-color: rgba(255,255,255,0.3);
    
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 50px;
    padding: 5px;
}

.destination_task .dest_status {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #a2c4e2;
    color: #FFF;
    text-align: center;
    line-height: 16px;
    
    font-weight: bold;
    box-sizing: border-box;
    padding: 4px;
    padding-top: 2px;
}

.signature-pad {
    background-color: #FFF;
    border: solid 1px #DDD;
}

.clearButton {
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.instruction {
    border: solid 1px red;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255,0,0,0.1);
}

.exceptionselection {
    position: relative;
    padding-right: 100px;
    min-height: 60px;
    border-top: solid 1px #FFF;
    margin-top: 5px;
}

.exceptionselection .button {
    width: 100px;
    position: absolute;
    right: 0px;
}

.destinationwarning {
    border: solid 1px red;
    padding: 10px;
    margin-top: 10px;
}