.OpenSRS .headline { font-size: 16px; font-weight: bold; margin-bottom: 10px; border: solid 1px #068355; border-radius: 3px; padding-left: 10px;  background-color:#939494; }
.OpenSRS input { font-size: 16px; border-radius: 3px; border: solid 1px; padding: 3px;  }
.OpenSRS .textinput { width: 410px; }
.OpenSRS .step_container { padding-bottom: 20px; }
.OpenSRS .not_available { font-size: 16px; color: #FF0000; }
.OpenSRS .available { font-size: 16px; color: #008e35; }
.OpenSRS .price { float:right; }
.OpenSRS .contact_information { display:none; }
.OpenSRS .input_data { position:absolute; right: 0px;}
.OpenSRS .information_row { position:relative; height: 30px; font-size: 16px; border-bottom: solid 1px #BBBBBB; padding-left: 10px; margin-right: 10px;}
.OpenSRS .payment_button { position:absolute; right: 0px; background-color:#72afd4; }
.OpenSRS .domain_check { background-color:#72afd4; }
.OpenSRS .selected_contact_information { display:none; }
.OpenSRS .step2, .OpenSRS .step3, .OpenSRS .step4 { display:none; }
.OpenSRS .menuentry { font-size: 14px; }
.OpenSRS .selected { font-weight: bold; }
.OpenSRS .domain_overview_menu { height: 400px;  margin-right: 10px; }
.OpenSRS .content_box { background-color:#dcdcdc; border: solid 1px #068355; padding: 10px; border-radius: 3px;  }
.OpenSRS .transfer_domain_name { width: 650px; }
.OpenSRS .additional_domain_names { font-size: 16px; padding-left: 10px; margin-right: 10px; }
.OpenSRS .deletedomain { margin-left: 5px; cursor:pointer; }