/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 7, 2015, 7:28:28 PM
    Author     : ktonder
*/

.gs_system_overview {
    vertical-align: top;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
}

.gs_system_overview .gss_button {
    margin-bottom: 4px;
}

.gs_system_work_area {
    vertical-align: top;
    display: inline-block;
    padding: 20px;
    width: 950px;
    color: #333;
    background-color: #FFF;
    border-radius: 5px;
}

.gss_addSystemToGroup {
    cursor: pointer; 
    font-size: 20px; 
    padding: 5px; 
    border: solid 0px; 
    color: green; 
    position: absolute; 
    right: 10px; 
    top: 10px;
}

.gss_addSystemForm {
    display: none;
    background-color: #F9f9f9; 
    padding: 20px; 
    border: solid 1px #DDD;
}


#gss_search_for_systems_in_list {
    position: absolute;
    right: 0px;
    font-size: 20px;
    border: solid 1px #F1F1F1;
    top: 13px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #17f800, #328e00);
    color: #FFF;
}
