<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="100200" id="com.getshop.trackandtrace" version="1.0.45" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Track And Trace</name>
    <description>
        A app to track delivery and pickups of packages.
    </description>
    <author email="kai@getshop.com" href="http://www.getshop.no">
        GetShop Team
    </author>
    <preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~4.4.2" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-sqlite-storage" spec="~2.0.2" />
    <plugin name="phonegap-plugin-barcodescanner" spec="git+https://github.com/phonegap/phonegap-plugin-barcodescanner.git" />
</widget>
