.SimpleFileUpload .uploadbutton { border: solid 1px #bbb; border-radius: 3px; padding: 3px; cursor:pointer; }
.SimpleFileUpload .fa-trash-o { cursor: pointer; }
.SimpleFileUpload .progressbars { margin-bottom: 10px;font-size: 14px;}
.SimpleFileUpload .progressbar {
    background-color: #fff;
    text-align: center;
    margin-top: 1px;
    box-shadow: 0px 0px 1px #bbb;
    border-radius: 1px;
    width:100%;
    display:inline-block;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    margin-bottom: 2px;
}
.SimpleFileUpload .progressBarsTd{width: 80%;}
.SimpleFileUpload .progressbar .filename {margin-left: 10px;color: #000;}
.SimpleFileUpload .percentage{color:#000;}
.SimpleFileUpload .filelist a { color:#0048bb; cursor: pointer; }
.SimpleFileUpload .file_upload_selector{
    display:none;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.SimpleFileUpload .uploadform label{
    box-shadow: 0px 0px 1px #555;
    margin-top: 1px;
    color:#555;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 14px;
    padding: 5px;
    background: #efefef;
    background: -webkit-linear-gradient(#efefef, #e2e2e2);
    background: -o-linear-gradient(#efefef, #e2e2e2);
    background: -moz-linear-gradient(#efefef, #e2e2e2);
    background: linear-gradient(#efefef, #e2e2e2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.SimpleFileUpload .uploadform label:hover{
    box-shadow: 0px 0px 2px #555;
}
.SimpleFileUpload .uploadform label:active{
    background: -webkit-linear-gradient(#e2e2e2, #efefef);
    background: -o-linear-gradient(#e2e2e2, #efefef);
    background: -moz-linear-gradient(#e2e2e2,#efefef);
    background: linear-gradient(#e2e2e2,#efefef);
}
.SimpleFileUpload .progressbar .meter {
    display: inline-block;
    width: 0%;
    height: 26px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(22, 255, 0, 0.3);
    border-radius: 1px;
}