
.shop_button {
    background-color: #ffba00;
    color: #333;
    border: solid 0px !important;
    width:100%;
    padding: 0px;
    padding-left:0px;
    padding-right:0px;
    margin: 0px;
    background: linear-gradient(to bottom, rgba(255,227,163,1), #ffba00);
}

.gsinner.gsdepth_0 { padding-left: 10px; padding-right: 10px; }

.ProductLists .grid_view .shop_button {
    margin: 0px;
}
.gsmobileheader { border-bottom: solid 1px #bbb; padding-bottom: 10px; padding-top: 10px; margin-bottom: 20px;}
.ProductLists .product_title {  padding: 0px; height: auto !important;
}


.ProductLists .product_title {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    color:#333;
}

.gsmobilemenuentry {
background: rgba(43,43,43,1);
background: -moz-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,43,43,1)), color-stop(100%, rgba(57,57,57,1)));
background: -webkit-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
background: -o-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
background: -ms-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
background: linear-gradient(to bottom, rgba(43,43,43,1) 0%, rgba(57,57,57,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#393939', GradientType=0 );
border-bottom: solid 1px rgba(0,0,0,0.2);
border-right: solid 1px rgba(0,0,0,0.2);
}

.gsmobilemenu {
    background-color:rgba(57,57,57,1);
}

.gscontainer.gsrotating { border-bottom: solid 1px #bbb;
padding-bottom: 10px; }