body {
    border: solid 0px;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    min-width:1366px;
}

.gsinner.gsdepth_0 {
    width: 1366px;
    margin: 0 auto;
}

.gsarea[area="header"] .gsdepth_0.gscount_1 {
    background-color: #fafafa;
    height: 54px;
}

.gsarea[area="header"] .Menu .entry a div {
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: solid 1px #c9c9c9; 
    padding-right: 10px;
    padding-left: 10px;
    /*font-weight: 300;*/
}
.gsarea[area="footer"] {
    margin-top: 60px;
}

.gsarea[area="footer"] .gsdepth_0.gscount_0 {
    background-color: #2b2b2b;
}
.gsarea[area="footer"] .gsdepth_0.gscount_1 {
    background-color: #393939;
    min-height: 264px;
}
.gsarea[area="footer"] .gsdepth_0.gscount_2 {
    background-color: #2b2b2b;
}

.gsarea[area="footer"] {
    background-color: #DDD;
}

.webshop_button {
    /*background-color: green;*/
    /*color: #333;*/
    /*border: solid 0px !important;*/
    /*background: linear-gradient(to bottom, #17f800, #44b039);*/
}

.products.row_view .product_row .webshop_button {
    bottom: 10px;
}

.products.row_view .product_row {
    border-bottom: solid 1px #F1f1f1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.gs_button {
    background-color: pink;
    background: linear-gradient(to bottom, #FFF, #CCC);
    line-height: 30px;
}

.gs_button:hover {
    background: linear-gradient(to bottom, #FFF, #BBB);
}

.gstabrow .gstabheader {
    border-bottom: solid 1px #DDD;
    margin-bottom: 20px;
}
.gstabrow .gsinner.gsdepth_0 {
    box-sizing: border-box;
    background-color: #fafafa;
    padding: 20px;
    border: solid 1px #DDD;
}

.gstabbtn {
    border: solid 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.CartManager .checkout_area {
    line-height: 50px;
    font-size: 16px;
    background-color: #febd11;
    color: #333;
    padding-left: 20px;
    border-radius: 10px;
    /*position: relative;*/
}

.CartManager .checkout_area .checkout {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #333;
    top: 0px;
    width: 100px;
    border-left: solid 2px #ffce4a;
    color: #FFF;
    text-align: center;
}
.CartManager .checkout_area i {
    padding-right: 10px;
    font-size: 25px;
}

.gsarea[area="body"] .gs_margin_right {
    padding-right: 20px;
}
.gsarea[area="body"] .gs_margin_left {
    padding-left: 20px;
}


.ProductLists .products.row_view .webshop_button  {
    bottom: 10px;
    right: 0px;
    color: #FFF;
    background-color: green;
}

.ProductLists .product_row {
    border-bottom: solid 1px #EEE;
    padding-bottom: 20px;
}

.product_price {
    color: green;
}