body {
    border: solid 0px;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}

.gsarea[area="header"] .gsdepth_0.gscount_1.gsrow {
    margin-top: 30px;
}
.gsarea[area="body"] .gsdepth_0.gsrow {
    padding-top: 20px;
}

.gsinner.gsdepth_0 {
    max-width: 1366px;
    margin: 0 auto;
}

.gsarea[area="header"] .gsdepth_0.gscount_1 {
    background-color: #fafafa;
    height: 54px;
}

.gsarea[area="header"] .Menu .entry a div {
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: solid 1px #c9c9c9; 
    padding-right: 10px;
    padding-left: 10px;
    /*font-weight: 300;*/
}

.gsarea[area="footer"] .gsdepth_0.gscount_0 {
    background-color: #2b2b2b;
}
.gsarea[area="footer"] .gsdepth_0.gscount_1 {
    background-color: #393939;
    min-height: 264px;
}
.gsarea[area="footer"] .gsdepth_0.gscount_2 {
    background-color: #2b2b2b;
}

.gsarea[area="footer"] {
    background-color: #DDD;
}

.webshop_button {
    /*background-color: green;*/
    /*color: #333;*/
    /*border: solid 0px !important;*/
    /*background: linear-gradient(to bottom, #17f800, #44b039);*/
}

.products.row_view .product_row .webshop_button {
    bottom: 10px;
}

.products.row_view .product_row {
    border-bottom: solid 1px #F1f1f1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.gstabrow .gstabheader {
    border-bottom: solid 1px #DDD;
    margin-bottom: 20px;
}
.gstabrow .gsinner.gsdepth_0 {
    box-sizing: border-box;
    background-color: #fafafa;
    padding: 20px;
    border: solid 1px #DDD;
}

.gstabbtn {
    border: solid 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.CartManager .checkout_area {
    line-height: 50px;
    font-size: 16px;
    background-color: #febd11;
    color: #333;
    padding-left: 20px;
    border-radius: 10px;
    /*position: relative;*/
}

.CartManager .checkout_area .checkout {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #333;
    top: 0px;
    width: 100px;
    border-left: solid 2px #ffce4a;
    color: #FFF;
    text-align: center;
}
.CartManager .checkout_area i {
    padding-right: 10px;
    font-size: 25px;
}

.gsarea[area="body"] .gs_margin_right {
    padding-right: 20px;
}
.gsarea[area="body"] .gs_margin_left {
    padding-left: 20px;
}

.ProductLists .product_row {
    border-bottom: solid 1px #EEE;
    padding-bottom: 20px;
}

.product_price {
    color: green;
}


.ProductLists .products.grid_view .product_title {
    background-color: #FDFDFD;
    color: #333;
    border-bottom: solid 1px #EEE;
}
.ProductLists .products.grid_view .product_line_seperator {
    height: 0px;
    border-top: dashed 1px #DDD;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.ProductLists .products.grid_view .productbox {
    height: 400px;

}

.ProductLists .webshop_button  {
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

}

.Login .login_header_type_1 a,
.Login .login_header_type_1 i {
    color: #FFF !important;
}
.Login .login_header_type_1  {
    background: #eab92d; /* Old browsers */
    background: -moz-linear-gradient(top,  #eab92d 0%, #c79810 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab92d), color-stop(100%,#c79810)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eab92d 0%,#c79810 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
}


.CartManager .shoppingcartheader {
    font-size: 16px;
    padding: 10px;
    background-color: #febd11;
    color: #FFF;
}
.CartManager .leftcart {
    width: 650px;
    margin-bottom: 100px;
}

.CartManager .emptycart i {
    font-size: 50px;
    color: #febd11;
    display: block;
    padding-bottom: 20px;
}
.CartManager .emptycart {
    padding: 30px;
    font-size: 24px;
    color: #333;
    border: solid 2px #febd11;
    margin: 0px;
}

.gsarea[area="footer"] .gsdepth_0.gscount_1.gsrow {
    padding-top: 20px;
}
.gsarea[area="footer"] .gsdepth_0.gscount_0.gsrow {
    padding-top: 20px;
    height: 40px;
}

.shop_button {
    background-color: #ffba00;
    color: #333;
}