.AccountProducts .product_row {
    border-bottom: solid 1px #DDD;
    font-size: 0px;
}
.AccountProducts .product_row div {
    display: inline-block;
    width: 16%;
    font-size: 15px;
}

.AccountProducts {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px;
}

.AccountProducts .distinctAccounts {
    background-color: #EEE;
    padding: 50px;
    margin-top: 50px;
}

.AccountProducts .distinctAccounts .row_description {
    padding: 5px;
}

.AccountProducts .distinctAccounts .row_description:nth-child(even) {
    background-color: #DDD;    
}
.AccountProducts .distinctAccounts .col {
    display: inline-block;
    vertical-align: top;   
    line-height: 37px;
    box-sizing: border-box;
}

.AccountProducts .distinctAccounts .col input {
    width: 100px;
}

.AccountProducts .distinctAccounts .col.accountindesc {
    width: 150px;
}
.AccountProducts .distinctAccounts .col.accountingid {
    width: 150px;
}
.AccountProducts .distinctAccounts .col.taxcode {
    width: 150px;
}

.AccountProducts .distinctAccounts .col.subaccountid {
    width: 150px;
}