.EventLister {
    font-size: 14px;
}
.EventLister .eventline {
    border: solid 1px #DDD;
    position: relative;
    padding: 5px;
}

.EventLister .col {
    display: inline-block;
    vertical-align: top;
}

.EventLister .locationlist {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #F0f0f0;
    
    border: solid 1px #DDD;
}

.EventLister .locationlist div {
    line-height: 30px;
    border-bottom: solid 1px #DDD;
    padding: 10px;
    cursor: pointer;
}

.EventLister .locationlist div:hover {
    background-color: #DDD;
}

.EventLister .locationlist div:last-child {
    border-bottom: solid 0px;
}

.EventLister .eventlist .monthname {
    text-align: center;
    font-weight: bold;
}

.EventLister .eventlist {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 200px);
    box-sizing: border-box;
    padding-left: 20px;
}

.EventLister .monthheader {
    border: solid 1px #DDD;
    background-color: #F0f0f0;
    padding: 5px;
    margin-top: 50px;
}

.EventLister .monthheader:first-child {
    margin-top: 0px;
}

.EventLister .col.col1 { width: 200px; }
.EventLister .col.col2 { width: 300px; }
.EventLister .col.col3 { width: 300px; }
.EventLister .col.col4 { width: 80px; }

.EventLister .daysinformation {
    
}