.GetShopProductPresenter {
    text-align: center;
}

.GetShopProductPresenter .roundbox {
    padding: 20px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 2px #DDD;
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*position: absolute;*/
    /*left: -100px;*/ 
    /*top: -100px;*/
}

.GetShopProductPresenter .roundbox.active {
    border-color: green;
}

.GetShopProductPresenter .roundbox .deactivate_innner {
    display: none;
}

.GetShopProductPresenter .roundbox.active .activate_innner {
    display: none;
}
.GetShopProductPresenter .roundbox.active .deactivate_innner {
    display: block;
}

.GetShopProductPresenter .roundbox .mouseover {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border-radius: 100px;
    padding-top: 20px;
    display: none;
}

.GetShopProductPresenter .roundbox:hover .mouseover {
    display: block;
}

.GetShopProductPresenter .roundbox .mouseover .innerbutton {
    background-color: #a0d0ed;
    color: #FFF;
    margin-bottom: 5px;
    padding: 5px;
    width: 70px;
    display: inline-block;
    border: solid 1px #555;
    cursor: pointer;
}

.GetShopProductPresenter .roundbox i {
    font-size: 50px;
    line-height: 60px;
}


.GetShopProductPresenter .roundbox .removedtorequirement,
.GetShopProductPresenter .roundbox .addedutorequirement {
    background-color: green;
    color: #FFF;
    padding: 5px;
    position: absolute;
    left: 20px;
    right: 20px;
    z-index: 1;
}

.GetShopProductPresenter .selectionform {
    display: none;
}
    
.GetShopProductPresenter .selectionform {
    border: solid 1px #DDD;
    width: 500px;
    margin: 0px auto;
    padding: 20px;
    margin-top: 30px;
}

.GetShopProductPresenter .descriptions {
   
    color: green;
}
.GetShopProductPresenter .roundbox .removedtorequirement {
    background-color: red;
}
@media only screen and (max-width: 1000px) {
    .GetShopProductPresenter {
        display: none;
    }
}