.Settings {
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Settings .applicationinner {
    display: table !important;
}

.Settings .leftmenu { 
    width: 200px; 
    margin-top: 25px;
}


.Settings .leftmenu .entry .inner {
    min-height: 25px;
    padding-left: 5px;
    padding-top: 5px;
    overflow: hidden;
}
.Settings .leftmenu .entry.active .inner {
    background-color: #BBB;
}
.Settings .leftmenu .entry {
    font-size: 13px;
    padding-left: 30px;
    
}

.Settings .leftmenu .active {
    
    cursor: pointer;  
    background-image: url('/skin/default/images/setting-leftmenu-background.png'); 
    background-repeat: no-repeat;
    min-height: 30px; 
    font-size: 13px;    
}

.Settings .text { padding-top: 3px; width: 200px; }

.Settings #settingsarea { 
    margin-top: 10px;
    background-color: #FAFAFA;
    border: solid 4px #BBB; 
    padding: 0px 10px 10px 10px; 
    font-size: 13px;
    border-radius: 4px;
    min-height: 200px;
    width: 100%;
    display: table-cell;
    margin-bottom: 20px;
}


.Settings .setting { margin-top: 5px; margin-bottom: 5px; }

#settingsarea .setting { border-bottom: dashed 1px #BBB; margin-bottom: 5px; padding-bottom: 10px; }

#settingsarea .setting input { width: 200px; }
#settingsarea .setting select { width: 205px; }

#settingsarea .title { font-size:16px; }
#settingsarea .description { padding-left:10px;  }
#settingsarea .config { float:right; }

#settingsarea .setting .onoff {
    right: 0px;
    width: 50px;
    height: 20px;
}

#settingsarea .setting .onoff.on { 
    background-image: url('/skin/default/images/onbutton.png');
}

#settingsarea .setting .onoff.off { 
    background-image: url('/skin/default/images/offbutton.png');
}

#settingsarea .onoff {
    cursor:pointer;
}


#settingsarea .removesingletonapplication {
    margin-top: 10px;
}
#settingsarea .button {
    float: right;
}
#settingsarea .dropdown select {
    float:right;
}

#settingsarea .information {
    border: solid 0px;
    border-bottom: dashed 1px #BBB;
}

.Settings .extendedModeTitle {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.Settings .extendedModeTitle_sub {
    font-size: 14px;
    font-weight: bold;
}

.Settings .info {
    font-size: 12px;
    padding-top: 3px;
    padding-left: 10px;
}

.Settings .sent_request {
    display:none;
    text-align: left;
}

.Settings .appbox {
    width: 100% !important;
    position: relative;
    margin-top: 10px;
    margin-top: 10px;
}

.Settings .appbox .app_title {
    font-size: 16px;
    padding: 5px;
    background-color: #ededed;
}

.Settings .appbox #activateSingletonApplication{
    right: 0px !important;
    position: absolute;
    bottom: 5px;
}
.Settings .listentry {display:none; }
.Settings .list .selected_entries { text-align : right; }
.Settings .list .selected_entries .selected { 
    background-image: url('skin/default/images/trash.png');
    background-repeat: no-repeat;
    cursor:pointer;
    font-size:12px; padding: 3px; border: solid 1px #BBB; margin-left: 10px; padding-left: 20px; }
