.gs_page_width { max-width: 1100px; margin: auto;}
.Menu { text-align: center; width:100%; }
.Menu .entry a { min-width: 140px; display:inline-block; text-align: center; padding: 5px; padding-top: 10px; padding-bottom: 10px; color:#000; margin: 1px; font-size: 18px; color:#fff; line-height: 50px; }
body { font-size: 16px; font-family: 'Roboto Condensed', sans-serif; font-weight: 300; }
.gsarea[area="header"],
.gsarea[area="footer"] {
    background: #0088b5; /* Old browsers */
    color:#fff;
}

.Menu .entries .entries { background-color:#000; }

.gsarea[area="header"] img { max-height: 130px; }
.PmsBookingProductList .roomdesc { margin-top: 20px; }

.shop_button { 
    transition: background-color 0.5s ease;
    border: solid 1px #bbb; 
    border-radius: 0px; 
    width:100%; 
    box-sizing: border-box; 
    background: #585fe7; 
    color:#FFF; 
    border-color: #575fff;
    text-transform: uppercase;
}

.UsersOrders th { background-color:#585fe7; }
.PmsBookingProductList .productentry.selected { border-color:#bbb; }
.PmsBookingCalendar .calendar .calendar_header:hover, 
.PmsBookingProductList .continue_button:hover, 
.PmsBookingContactData .complete_button:hover, 
.PmsBooking .pmsfront .check_available_button:hover, 
.PmsBooking .pmsfront .fa-calendar:hover,
.Contact .shop_button:hover,
.Login .form .gs_button:hover, .Login .form .loginbutton:hover {
    transition: all 0.5s ease;
    background-color:#585fe7; 
}

.PmsBookingProductList .selectbutton,
.PmsBookingCalendar .calendar .calendar_header,
.PmsBookingCalendar .calendar .day.selected,
.PmsBookingProductList .continue_button,
.PmsBookingContactData .complete_button,
.PmsBooking .pmsfront .check_available_button,
.PmsBooking .pmsfront .fa-calendar {
    background-color: #585fe7; 
    text-transform: uppercase;
    color:#fff;
    cursor:pointer;
}


.shop_button:hover { background: #1d7e87; }
h1,h2,h3 { margin: 0px;  }
.pagebox { margin-top: 50px; margin-bottom: 50px; }
.pagebox .gsdepth_1.gsinner { border: solid 1px #ddd; margin: 10px; box-sizing: border-box; }
.pagebox .gsdepth_2.gscount_0.gsinner { border-bottom: solid 1px #ddd; padding-top: 5px; padding: 10px; text-align: center; padding-top: 20px; }
.pagebox .gsdepth_2.gscount_1 { padding: 10px; }


@media only all and (max-width: 800px) {
    .gs_page_width { padding-left: 20px; padding-right: 20px; }
    .mobilenavigatemenu { color:#fff; }
   .Menu a div { width: 100%; box-sizing: border-box; }
   
   .mobilenavigatemenu {
        text-align: center !important;
        padding-bottom: 30px !important;
    }
    .Menu a div { text-align: center; }
}