Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /
ErrorDocument 404 /

RewriteRule ^(bosch)/([^?]*)$ auth.php?path=$1&path2=$2 [L]

RewriteRule ^/?generatePDF.php$ - [L]
RewriteRule ^/?filedownload.php$ - [L]

RewriteRule ^/?download.php$ - [L]

# SEO LANGUAGES
RewriteRule ^(.*).html_(de)$ index.php?setLanguage=$2&rewrite=$1 [L,NE]
RewriteRule ^(.*).html_(nb_NO)$ index.php?setLanguage=$2&rewrite=$1 [L,NE]
RewriteRule ^(.*).html_(en_en)$ index.php?setLanguage=$2&rewrite=$1 [L,NE]
# SEO LANGUAGES

RewriteRule ^(.*).html$ index.php?rewrite=$1 [L,NE]

RewriteRule ^(documentation)($|/) - [L]
RewriteRule ^(external)($|/) - [L]
RewriteRule ^(scripts)($|/) - [L]

RewriteRule ^sitemap.xml$ sitemap.php [L]
RewriteRule ^favicon.ico$ favicon.php [L]

RewriteCond %{QUERY_STRING} !index 
