
#informationbox-holder.gsnewinfobox {
  -webkit-border-radius: 3px;
    border-radius: 3px; 
    background-color: #146da6;
}

#informationbox-holder.gsnewinfobox #informationboxtitle {
background-color: #146da6;
}

.GetShopToolbox .seperator,
.GetShopToolbox .title {
    background-color: #146da6;
}
.GetShopToolbox .row { background-color:#2885c0; }

.getshoptableoverlaybody {
    width: 70%;
    position: absolute;
    background-color: #fff;
    left: 15%;
    top: 5%;
    position:absolute; background-color:#fff; 
    overflow: auto;
    margin-bottom: 100px;
    cursor: initial;
} 

@media only all and (max-width:1200px){
    .getshoptableoverlaybody {
        width: 95%;
        height: 95%;
        left: 3%;
    }
}
@media only all and (max-width:1600px){
    .getshoptableoverlaybody {
        width: 90%;
        height: 80%;
        left: 5%;
    }
}

.getshoptablemoduleoverlay { background-color:rgba(0,0,0,0.8); position: fixed; width: 100%; height: 100%; z-index:995; cursor:pointer;
  -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    overflow: auto;
}


#informationbox-holder.gsnewinfobox #informationbox { background-color:#fff }
#informationbox-holder.gsnewinfobox .informationboxbackground { padding: 10px; }
