
#informationbox-holder {
  -webkit-border-radius: 3px;
    border-radius: 3px; 
    background-color: #146da6;
}

#informationboxtitle {
background-color: #146da6;
}

.GetShopToolbox .seperator,
.GetShopToolbox .title {
    background-color: #146da6;
}

#informationbox { background-color:#fff }
.informationboxbackground { padding: 10px; }
.GetShopToolbox .row { background-color:#2885c0; }