/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2017, 12:12:56 PM
    Author     : ktonder
*/

body {
    font-family: 'Open Sans', sans-serif;
}

.gsarea[area="header"] .Menu .entry  {
    text-align: center;
    border-right: solid 1px rgba(0,0,0,0.2);
    width: 60px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.gsarea[area="header"] .Menu .entry:last-child {
    border: solid 0px;
}

.gsarea[area="header"] .Menu .entry i {
    font-size: 30px;
    display: block;
    
    margin-top: 5px;
    margin-bottom: -7px;
    color: #333;
}
.gsarea[area="header"] .Menu .entry a {
    line-height: 40px;
    font-size: 11px;
    
    color: #EEE;
}


.gsarea[area="body"] .Menu {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 0px 5px 5px 0px;
}

.gsarea[area="body"] .Menu .menu_simple_menu {
    display: none;
}
.gsarea[area="body"] .Menu .menuentries {
    width: 100%;
}
.gsarea[area="body"] .Menu .entry  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px #DDD;

}

.gsarea[area="body"] .Menu div.entry:last-child {
    border-bottom: solid 0px;
}

.gsarea[area="body"] .Menu .entry a {
    line-height: 40px;
    font-size: 14px;
    
    color: #222;
}

.gs_framework_modules_icon {
    background: inherit;
    background-color: inherit;
    border: solid 0px;
    border-left: solid 1px rgba(0,0,0,0.2);
}

.gsarea[area="header"] {
    border-bottom: solid 1px #DDD;

    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
}

.gsarea[area="body"] {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gsarea[area="body"].hasleftsidebar {
    padding-left: 0px;
}

.gsarea[area="body"] .gs_main_column {
    padding-top: 0px;
    padding-left: 50px;
}

.gsarea[area="footer"] {
    background-color: #EEE;
}

.gs_language_selection {
    position: absolute;
    right: 70px;
    top: 8px;
    border: solid 0px #EEE; 
}


.gs_language_selection .gs_lang_code_nb_NO {
    background-image: url('images/flag_norwegian.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 35px;
}

.gs_language_selection .gs_lang_code_en_en {
    background-image: url('images/flag_english.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 30px;
}
.GetShopModuleTable {
    border: solid 1px #DDD;
}

.GetShopModuleTable .datarow {
    padding: 3px;
}
.GetShopModuleTable .datarow.odd {
    background-color: #efefef;
}

.GetShopModuleTable .datarow_extended_content {
    display: none;
    padding: 20px;
}

.GetShopModuleTable .attributeheader {
    color: #FFF;
    background: rgb(167,199,220); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 )
}

.GetShopModuleTable .col {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    padding: 5px;
}

.shop_button {
    border-radius: 0px;
    color: #FFF;
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
}