/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2017, 12:12:56 PM
    Author     : ktonder
*/

body {
    font-family: 'Open Sans', sans-serif;
}
.Menu .entry  {
    text-align: center;
    border-right: solid 1px rgba(0,0,0,0.2);
    width: 60px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.Menu .entry:last-child {
    border: solid 0px;
}

.Menu .entry i {
    font-size: 30px;
    display: block;
    
    margin-top: 5px;
    margin-bottom: -7px;
}
.Menu .entry a {
    line-height: 40px;
    font-size: 11px;
    
    color: #222;
}

.gs_framework_modules_icon {
    background: inherit;
    background-color: inherit;
    border: solid 0px;
    border-left: solid 1px rgba(0,0,0,0.2);
}

.Menu {
 }

.gsarea[area="header"] {
    border-bottom: solid 1px #DDD;
    padding-left: 20px;
    /*box-shadow: 0px 5px 5px rgba(0,0,0,0.2);*/
    
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 );
}
.gsarea[area="body"] {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gsarea[area="footer"] {
    background-color: #EEE;
}

.gs_language_selection {
    position: absolute;
    right: 70px;
    top: 8px;
    border: solid 0px #EEE; 
}


.gs_language_selection .gs_lang_code_nb_NO {
    background-image: url('images/flag_norwegian.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 35px;
}

.gs_language_selection .gs_lang_code_en_en {
    background-image: url('images/flag_english.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 30px;
}
.GetShopModuleTable {
    border: solid 1px #DDD;
}

.GetShopModuleTable .datarow {
    padding: 3px;
}
.GetShopModuleTable .datarow.odd {
    background-color: #c7f4ff;
    
}

.GetShopModuleTable .attributeheader {
    background-color: #2885c0;
    color: #FFF;
}

.GetShopModuleTable .col {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}