
/* responsive design stuff */
@media only all and (max-width: 480px) {
    .Banner .banner img,.Banner .bannerslider { height: auto !important; }
    .TopMenu a { padding-left: 10px; padding-right: 10px; }
    .Login { display: none; }
    .header .TopMenu { margin-left: 0px;}
    .breadcrumb .navigation { display: none; }
    .header .applicationarea { height: 120px; }
    .header .TopMenu { top: 5px; }
    .ProductManager .small_product_view { display:none !important; }
    .ProductManager .dummyproductmanagerclass { display:block; }
    .ProductList .boxview table { display: inline-block; }
    .ProductList .boxview table td { float: left; width: 100%; }
    .ProductList td { padding: 0px; }
}
@media only all and (max-width: 800px) {
    .gscell.gsdepth_0 { padding: 10px !important; }
    .gsarea[area="body"] .gscolumn.gscell,
    .gsarea[area="body"] .gscolumn.gscell .gsinner,
    .gsarea[area="footer"] .gscolumn.gscell,
    .gsarea[area="footer"] .gscolumn.gscell .gsinner
    { 
        width: 100% !important; 
        display:block !important; 
        float:none !important;
        box-sizing: border-box !important;
        height: auto !important;
        margin-top: 10px;
    }
}


