
/* responsive design stuff */
@media only all and (max-width: 480px) {
    .Banner .banner img,.Banner .bannerslider { height: auto !important; }
    .TopMenu a { padding-left: 10px; padding-right: 10px; }
    .Login { display: none; }
    .header .TopMenu { margin-left: 0px;}
    .breadcrumb .navigation { display: none; }
    .header .applicationarea { height: 120px; }
    .header .TopMenu { top: 5px; }
    .ProductManager .small_product_view { display:none !important; }
    .ProductManager .dummyproductmanagerclass { display:block; }
    .ProductList .boxview table { display: inline-block; }
    .ProductList .boxview table td { float: left; width: 100%; }
    .ProductList td { padding: 0px; }
}
@media only all and (max-width: 800px) {
    .gsarea[area="body"] .gscolumn.gscell,
    .gsarea[area="body"] .gscolumn.gscell .gsinner,
    .gsarea[area="footer"] .gscolumn.gscell,
    .gsarea[area="footer"] .gscolumn.gscell .gsinner
    { 
        width: 100% !important; 
        display:block !important; 
        float:none !important;
        box-sizing: border-box !important;
        height: auto !important;
        margin-top: 10px;
    }
}
body { padding-bottom: 100px; }


.gsmobilemenu { position: fixed; width: 100%; bottom: 0px; height: 100px; background-color:rgba(0,0,0,0.8); left: 0px; color: #fff; text-align:center; border-top: solid 1px; padding-top: 10px; }
.gsmobileoptions { position:relative; margin-top: 30px; display:block; text-align: right; padding: 5px; background-color:rgba(0,0,0,0.7); }
.gsmobileoptions .gsoperatecell { margin-right: 10px; }
.gsmobileoptions .gsoperatecell:hover { color:#bbb; font-weight: bold; cursor:pointer; }
.gsmobileoptions .gscaretleft { left: 15px;  }
.gsmobileoptions .gscaretright { right: 15px;  }
.gsmobileoptions .gscaret { position: absolute; font-size: 30px; top: 12px; color:rgba(0,0,0,0.8);}
.gshiddenonmobile { color:red; }