/* 
    Document   : settings.css
    Created on : Sep 7, 2014, 8:04:02 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

#backsidesettings {
    font-family: Raleway, sans-serif;
    display: block;
    z-index: 111112;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 100%;
    background-color: #3a99d7;
    color: #FFF;
}

.store_settings_button {
    background-color: #DDD;
    padding: 5px;
    font-size: 20px;
    color: #666;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
}

.store_settings_button:hover {
    background-color: #333;
    color: #DDD;
}

.gss_topmenu {
    height: 50px;
    background-color: #1c6ea2;
    padding-top: 10px;
}

.gss_topmenu .gss_topmenu-button {
    background-position: 0px 0px;
    height: 37px;
    display: inline-block;
    border-radius: 5px;
    line-height: 37px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: arial;
    font-size: 15px;
    cursor: pointer;
}

.gss_topmenu .gss_topmenu-button:first-child {
    background-image: linear-gradient(to bottom, 
        #47a9e7 1px,     
        #47a9e7 19px,
        #3a99d7 20px,
        #3a99d7 100%  
    );
    
    color : #FFF;
    margin-right: 20px;
    margin-left: 30px;
    border: solid 1px #166497;
}


.gss_settings_inner {
    width: 1200px;
    margin: 0 auto;
}

