/* 
    Document   : settings.css
    Created on : Sep 7, 2014, 8:04:02 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

#backsidesettings {
    display: block;
    z-index: 111112;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #CCC;
    background: linear-gradient(to bottom, #5fc4e1, #111);
    color: #CCC;
    font-size: 14px;
}

.store_settings_button:hover {
    background-color: green;
    color: #FFF;
}

#backsidesettings .topmenu {
    height: 50px;
    color: #fff;
    padding-left: 20px;
    border-left: solid 1px #50a6bf;
    text-shadow: 1px 1px #4c8696;
}

#backsidesettings .topmenu .topmenu-button.active { 
    color: #2a5a68;
        text-shadow: none;

}
#backsidesettings .topmenu .topmenu-button {
    cursor: pointer;
    line-height: 30px;
    padding: 10px;
    float:left;
    border-right: solid 1px #50a6bf;
    display: inline-block;
    transition: background-color 0.5s ease;
}

#backsidesettings .topmenu .topmenu-button:hover {
    background-color:rgba(0,0,0,0.1);
}

#backsidesettings .settings_main_area {
    padding: 20px;
}

#backsidesettings .settings_main_area .appview img { 
    width: 100px;
    vertical-align: center;
    margin-right: 10px;
}

#backsidesettings .settings_main_area .appview {
    display: inline-block;
    border: solid 1px rgba(40,82,94,0.6);
    height: 150px;
    width: 400px;
    margin: 10px;
    background: rgba(0,0,0,0.3);
    vertical-align: top;
    position: relative;
}

#backsidesettings .infobox { 
    width:100%;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    /*border-bottom: solid 1px #000;*/
    background: rgba(0,0,0,0.1);
    vertical-align: top;
    position: relative;
    color:#fff;
}

#backsidesettings .settings_main_area .imagebox {
    display: inline-block;
    width: 100px;
    height: 130px;
    vertical-align: top;
    padding: 10px;
}

#backsidesettings .settings_main_area .description {
    display: inline-block;
    width: 260px;
    padding-top: 10px;
}

#backsidesettings .settings_main_area .activate_button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 30px;
    color: #31bff4;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-top-left-radius: 3px;
}

#backsidesettings .settings_main_area .activate_button:hover {
    background-color:rgba(0,0,0,0.3);
}

#backsidesettings .settings_main_area .activate_button:active {
    background: #c12000;
}

#backsidesettings .bottominfo {
    border-top: solid 1px #333;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
}

#backsidesettings .settings_main_area .description .title {
    font-weight: bold;
    color: #FFF;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
