
.skelholder .application_row .gs_col {
    height: 200px;
}
.skelholder .application_row .gs_col .applicationarea {
    height:100%;
}

.app {
    position: relative;
}

.empty_app_area {
    background-color:rgba(255,255,255, 0.1); 
    width: 100%;
    border: dashed 2px #CCC;
    height: 100%; 
    position:absolute; 
    top:0px; 
    left: 0px; 
}
.applicationarea { min-height: 150px; }

.empty_app_area .content_box .appiconoption {
    background-image: url('images/application_box_background_empty_area.png');
    height: 54px;
    width: 57px;
    border-right: solid 1px #9b9b9b;
    border-left: solid 1px #DDD;
    cursor: pointer;
}

.empty_app_area .content_box .row div:last-child { border-right: solid 0px; }
.empty_app_area .content_box .row div:first-child { border-left: solid 0px; }

.empty_app_area .content_box .appiconoption:hover {
    background-image: url('images/application_box_background_empty_area_hover.png');
}

.empty_app_area .content_box {
    position:absolute; 
    top: 50%;
    margin-top: -50px;
    text-align: center;
    width:100%;
    left: 50%;
    margin-left: -88px;
    width: 175px; 
    border: solid 1px #9b9b9b;
    border-bottom: solid 0px;
}
.empty_app_area img {
    width:45px;
    height:45px;
    margin-top: 3px;
}
.empty_app_area .title {
    font-size:14px;
}

td.gs_col { min-height: 100px ; }
td.gs_col .applicationarea { height: 100%; }

.skeleton1 .gs_col { min-height: 300px; }
.skeleton1 .applicationarea, .skeleton2 .applicationarea, .skeleton3 .applicationarea { height: 100%; }


.skeleton7 .gs_bottom,.skeleton8 .gs_bottom,.skeleton9 .gs_bottom {clear: both; }
.skeleton7 .gs_col.c1,.skeleton8 .gs_col.c1,.skeleton9 .gs_col.c1 {
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    width: 70%; display:inline-block; float: left; }
.skeleton7 .gs_col.c2,.skeleton8 .gs_col.c2,.skeleton9 .gs_col.c2 { 
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    width: 30%; display:inline-block;  }

.skeleton7 .applicationarea,
.skeleton8 .applicationarea, 
.skeleton9 .applicationarea  
{ min-height: 150px; }
.skeleton7 .applicationarea { min-height: 200px; }
.skeleton10 .top_row { clear: both; position:relative; }
.skeleton10 .top_row .applicationarea  {
    height: 100%;
}
.skeleton10 .gs_row.r3 .applicationarea, .skeleton10 .gs_row.r2 .applicationarea { min-height: 300px; }

.skeleton11 .midle_row { clear: both; position:relative; }.skeleton11 .main_col .applicationarea, .skeleton11 .apparea-main-1 { min-height: 300px; }

.skeleton14 .mainarea .applicationarea { min-height: 200px; }
.skeleton14 .gs_col { width: 49%; display:inline-block; }
.skeleton14 .gs_col.c2 { float: right; }

.skeleton16 .gs_col .applicationarea,.skeleton17 .gs_col .applicationarea { min-height: 200px; }