
.skelholder .application_row .gs_col {
    height: 200px;
}
.skelholder .application_row .gs_col .applicationarea {
    height:100%;
}

.app {
    position: relative;
}

.empty_app_area {
    background-color:rgba(255,255,255, 0.1); 
    width: 100%;
    border: dashed 2px #CCC;
    height: 100%; 
    position:absolute; 
    top:0px; 
    left: 0px; 
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.applicationarea { min-height: 150px; }

.empty_app_area .content_box .appiconoption {
    background-image: url('images/application_box_background_empty_area.png');
    height: 48px;
    width: 57px;
    border-right: solid 1px #6b6a6b;
    border-left: solid 1px #6b6a6b;
    cursor: pointer;
}

.empty_app_area .content_box .row div:last-child { border-right: solid 0px; }
.empty_app_area .content_box .row div:first-child { border-left: solid 0px; }

.empty_app_area .content_box .appiconoption:hover {
    background-image: url('images/application_box_background_empty_area_hover.png');
}

.empty_app_area .content_box {
    position:absolute; 
    top: 50%;
    margin-top: -54px;
    text-align: center;
    width:100%;
    left: 50%;
    margin-left: -88px;
    width: 175px; 
    border: solid 1px #9b9b9b;
    border-bottom: solid 0px;
}
.empty_app_area img {
    width:45px;
    height:45px;
    margin-top: 3px;
}
.empty_app_area .title {
    font-size:14px;
}


.skeleton1 .gs_col { min-height: 300px; }

.gs_bottom {clear: both; }
.skeleton7 .gs_col.c1,.skeleton8 .gs_col.c1,.skeleton9 .gs_col.c1 {
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    width: 70%; display:inline-block; float: left; }
.skeleton7 .gs_col.c2,.skeleton8 .gs_col.c2,.skeleton9 .gs_col.c2 { 
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    width: 30%; display:inline-block;  }

.skeleton7 .applicationarea,
.skeleton8 .applicationarea, 
.skeleton9 .applicationarea  
{ min-height: 150px; }
.skeleton7 .applicationarea { min-height: 200px; }
.skeleton10 .top_row { clear: both; position:relative; }
.skeleton10 .top_row .applicationarea  {
    height: 100%;
}
.skeleton10 .gs_row.r3 .applicationarea, .skeleton10 .gs_row.r2 .applicationarea { min-height: 300px; }

.skeleton11 .midle_row { clear: both; position:relative; }.skeleton11 .main_col .applicationarea, .skeleton11 .apparea-main-1 { min-height: 300px; }

.skeleton14 .mainarea .applicationarea { min-height: 200px; }
.skeleton14 .gs_col { width: 48%; display:inline-block; }
.skeleton14 .gs_col.c2 { float: right; }

.skeleton16 .gs_col .applicationarea,.skeleton17 .gs_col .applicationarea { min-height: 200px; }

.skeletondisplayer {
    text-left: center;
    padding-bottom: 20px;
}

.skeletondisplayer .group {
    padding-left: 40px;
}

.skeletondisplayer h3 {
    text-align: center;
    margin: 0px;
    background-color: #eEE;
    margin-top: 20px;
}

.skeletondisplayer .skeletondisplay {
    width: 200px;
    height: 200px;
    border: solid 1px #BBB;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background: linear-gradient( 0deg, #BBB, #DDD);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skeletondisplayer .skeletondisplay:hover {
    background: linear-gradient( 0deg, #AAA, #DDD);
    box-shadow: 0px 0px 5px #888888;
}

.skeletondisplayer .skeletondisplay:active {
    box-shadow: inherit;
}

.skeletondisplayer .information { 
    border: solid 1px #DDD;
    font-size: 16px;
    background-position: 10px 10px;
    padding-left: 0px;
    background-image: url('none');
}
.skeletondisplayer .skeletondisplay .innerskeletondisplayer  { 
    width: 200px;
    height: 200px;
}

.skeleton5 .order_mask { display: none; }
.gs_showPageLayoutSelection { background-color:#3f3f3f; }
.gs_showPageLayoutSelection .predefined_layouts { width: 300px; height: 95%; padding: 5px; padding-left: 40px; padding-top: 15px; }
.gs_showPageLayoutSelection .layoutpreviewselection { border: solid 0px; position: relative; }
.gs_showPageLayoutSelection .layoutsuggestion { width: 314px; display:inline; position:absolute; right: 0px; top: 0px; }

.gs_showPageLayoutSelection .previewrow { font-size:13px; border: solid 1px #2c2c2c; height: 52px; margin-bottom: 10px; background-color:#3f3f3f; text-align: center; padding-top:28px; }
.gs_showPageLayoutSelection .headerpreview { display:table-cell; vertical-align:middle; font-size:13px; background-color:#4e4e4e; border-bottom: solid 1px #3f3f3f; position: absolute; top: 0px; left: 0px; width: 100%; height: 37px; text-align: center; padding-top: 13px; }
.gs_showPageLayoutSelection .footerpreview { display:table-cell; vertical-align:middle; font-size:13px; background-color:#4e4e4e; border-top: solid 1px #3f3f3f; position: absolute; left: 0px; width: 100%; height: 37px; text-align: center; bottom:0px; padding-top: 13px; }

.gs_showPageLayoutSelection .suggestion_layout {  background-color:#4e4e4e; float:left; margin:9px; width: 250px; position:relative; border: solid 1px #2c2c2c; padding: 10px; padding-top: 33px; margin-bottom: 20px; padding-bottom: 23px; display:inline-block; }
.gs_showPageLayoutSelection .suggestion_layout:hover { cursor: pointer; }
.gs_showPageLayoutSelection .suggestion_layout:hover .previewrow { background-color:#52e5ac; }
.gs_showPageLayoutSelection .suggestion_layout .footerpreview,.gs_showPageLayoutSelection .suggestion_layout .headerpreview { height: 25px; } 
.gs_showPageLayoutSelection .suggestion_layout .footerpreview,.gs_showPageLayoutSelection .suggestion_layout .headerpreview { height: 5px; } 
.gs_showPageLayoutSelection .row_option { position:absolute;left:7px;top: 23px; cursor:pointer;font-size:30px; }
.gs_showPageLayoutSelection .row_option_panel { display:none; z-index: 2; }
.gs_showPageLayoutSelection .right_panel  { padding: 10px; display:inline-block; width: 800px; }
.gs_showPageLayoutSelection .layoutpreviewbox { position:relative;padding-top:60px; padding-bottom: 60px; color:#9f9f9f; background-color:#4e4e4e;border: solid 1px #2c2c2c; }
.gs_showPageLayoutSelection .layoutpreviewbox .outer-row-container { padding-right: 40px; padding-left: 40px; position:relative; }
.gs_showPageLayoutSelection .layoutpreviewbox .outer-row-container .fa-arrows-v { position:absolute; right: 11px; top: 22px; padding: 3px; cursor:pointer; font-size:30px; }
.gs_showPageLayoutSelection .sortable_layout_rows {
    list-style-type: none;
    padding:0px;
    margin:0px;
}
.no_page_layout {font-size: 16px; margin-left: 65px;}
.no_page_layout .click { font-weight: bold; color: #1c427b; cursor: pointer; }
.gs_showPageLayoutSelection .content_pages .options { border-top: solid 1px #4e4e4e; }
.gs_showPageLayoutSelection .content_pages .options i { width: 15px; }
.gs_showPageLayoutSelection .content_pages .options_content { min-height:500px; display:inline-block; float:left; padding: 10px; width: 829px; }
.gs_showPageLayoutSelection .content_pages .category_selection { width: 140px;display:inline-block;float:left;border-right:0px; padding-top: 10px; padding-bottom: 10px;}
.gs_showPageLayoutSelection .content_pages .category_selection .option_entry {
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    border-bottom: solid 1px #4e4e4e; border-right: solid 1px #4e4e4e; padding-left: 5px; padding-right: 10px; line-height: 20px; padding-top: 5px; padding-bottom: 5px; font-size: 14px;color:#FFF; }
.gs_showPageLayoutSelection .content_pages .category_selection .option_entry:hover { cursor:pointer; }
.gs_showPageLayoutSelection .content_pages .content_type_area { display:none; }
.gs_showPageLayoutSelection .content_pages .content_type_selected { display:block; }
.gs_showPageLayoutSelection .content_pages .option_selected { background-color:#4e4e4e; color:#FFF; }
.gs_showPageLayoutSelection .layoutpreview { width: 220px; float:left; margin: 17px; padding: 10px; cursor:pointer; border-radius: 5px; text-align:center; background-color: #4e4e4e; color:#FFF;border: solid 1px #2c2c2c }
.gs_showPageLayoutSelection .layoutpreview .icon_container { display:inline-block; border: solid 1px #2c2c2c; background-color:#4e4e4e; margin: 3px; padding-top: 3px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="2"] .icon_container { width: 100px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="3"] .icon_container { width: 100px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="4"] .icon_container { width: 100px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="1"] { font-size: 125px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="1"] .icon_container { height: 130px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="2"] { font-size: 60px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="3"] { font-size: 60px; }
.gs_showPageLayoutSelection .layoutpreview[row_size="4"] { font-size: 60px; }
.gs_showPageLayoutSelection .icon_container[rowsize="2"] { font-size: 60px;line-height: 120px;width: 95px;height: 60px; }
.gs_showPageLayoutSelection .layoutpreview .icon_container[rowsize="1"] { width: 208px; }
.gs_showPageLayoutSelection .layoutpreview .icon_container[rowsize="3"] { width: 64px; font-size: 39px; padding-top: 12px; padding-bottom: 12px; }
.gs_showPageLayoutSelection .layoutpreview:hover .icon_container { color: #52e5ac; }
.gs_showPageLayoutSelection .content_pages { background-color: #3f3f3f; }
.no_page_layout { background-color:#FFF; display:inline-block; margin:auto; margin: 10px; padding: 20px; border-radius: 5px;  }
.gs_showPageLayoutSelection .predefined_layouts .spacer { padding-bottom: 35px; border-top: 1px #3f3f3f; border-bottom: 1px #3f3f3f; }
.gs_showPageLayoutSelection .predefined_layouts .spacer div { width: 100%; position:absolute; left: 0px; font-size:14px; background-color:#333333; color:#fff;text-align:center; padding-top: 5pX; padding-bottom: 5px; }
.gs_showPageLayoutSelection .layout_builder .left_panel {display: inline-block;width: 150px;padding: 10px;background-color: #3f3f3f;float:left;}
.gs_showPageLayoutSelection .layout_builder .left_panel select { width: 150px;width: 150px; border: solid 1px #2e2e2e; background-color: #4f4f4f; color: #FFF; padding: 5px; }
.gs_showPageLayoutSelection .layout_builder .left_panel .gs_button { margin-top: 10px;
width: 134px;
border-radius: 0px;
padding: 5px;
padding-left: 10px; }
.gs_showPageLayoutSelection .layout_builder .left_panel .gs_button i { float:right; font-size: 16px; }
