
.skelholder .application_row .gs_col {
    height: 200px;
}
.skelholder .application_row .gs_col .applicationarea {
    height:100%;
}

.app {
    position: relative;
}

.empty_app_area {
    background-color:rgba(255,255,255, 0.1); 
    width: 100%;
    border: dashed 2px #CCC;
    height: 100%; 
    position:absolute; 
    top:0px; 
    left: 0px; 
     -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
.applicationarea { min-height: 150px; }

.empty_app_area .content_box .appiconoption {
    background-image: url('images/application_box_background_empty_area.png');
    height: 54px;
    width: 57px;
    border-right: solid 1px #9b9b9b;
    border-left: solid 1px #DDD;
    cursor: pointer;
}

.empty_app_area .content_box .row div:last-child { border-right: solid 0px; }
.empty_app_area .content_box .row div:first-child { border-left: solid 0px; }

.empty_app_area .content_box .appiconoption:hover {
    background-image: url('images/application_box_background_empty_area_hover.png');
}

.empty_app_area .content_box {
    position:absolute; 
    top: 50%;
    margin-top: -54px;
    text-align: center;
    width:100%;
    left: 50%;
    margin-left: -88px;
    width: 175px; 
    border: solid 1px #9b9b9b;
    border-bottom: solid 0px;
}
.empty_app_area img {
    width:45px;
    height:45px;
    margin-top: 3px;
}
.empty_app_area .title {
    font-size:14px;
}


.skeleton1 .gs_col { min-height: 300px; }

.gs_bottom {clear: both; }
.skeleton7 .gs_col.c1,.skeleton8 .gs_col.c1,.skeleton9 .gs_col.c1 {
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    width: 70%; display:inline-block; float: left; }
.skeleton7 .gs_col.c2,.skeleton8 .gs_col.c2,.skeleton9 .gs_col.c2 { 
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    width: 30%; display:inline-block;  }

.skeleton7 .applicationarea,
.skeleton8 .applicationarea, 
.skeleton9 .applicationarea  
{ min-height: 150px; }
.skeleton7 .applicationarea { min-height: 200px; }
.skeleton10 .top_row { clear: both; position:relative; }
.skeleton10 .top_row .applicationarea  {
    height: 100%;
}
.skeleton10 .gs_row.r3 .applicationarea, .skeleton10 .gs_row.r2 .applicationarea { min-height: 300px; }

.skeleton11 .midle_row { clear: both; position:relative; }.skeleton11 .main_col .applicationarea, .skeleton11 .apparea-main-1 { min-height: 300px; }

.skeleton14 .mainarea .applicationarea { min-height: 200px; }
.skeleton14 .gs_col { width: 49%; display:inline-block; }
.skeleton14 .gs_col.c2 { float: right; }

.skeleton16 .gs_col .applicationarea,.skeleton17 .gs_col .applicationarea { min-height: 200px; }

.skeletondisplayer {
    text-left: center;
    padding-bottom: 20px;
}

.skeletondisplayer .group {
    padding-left: 40px;
}

.skeletondisplayer h3 {
    text-align: center;
    margin: 0px;
    background-color: #eEE;
    margin-top: 20px;
}

.skeletondisplayer .skeletondisplay {
    width: 200px;
    height: 200px;
    border: solid 1px #BBB;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background: linear-gradient( 0deg, #BBB, #DDD);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skeletondisplayer .skeletondisplay:hover {
    background: linear-gradient( 0deg, #AAA, #DDD);
    box-shadow: 0px 0px 5px #888888;
}

.skeletondisplayer .skeletondisplay:active {
    box-shadow: inherit;
}

.skeletondisplayer .information { 
    border: solid 1px #DDD;
    width: 872px;
    margin-left: 55px;
    font-size: 16px;
    background-position: 10px 10px;
    padding-left: 0px;
    background-image: url('none');
}
.skeletondisplayer .skeletondisplay .innerskeletondisplayer  { 
    width: 200px;
    height: 200px;
}

.skeleton5 .order_mask { display: none; }

.skeletondisplayer .skeletondisplay .skeleton1 { background-image: url('/skin/default/images/layouts/layout1.png'); }
.skeletondisplayer .skeletondisplay .skeleton1:hover { background-image: url('/skin/default/images/layouts/layout1_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton2 { background-image: url('/skin/default/images/layouts/layout2.png'); }
.skeletondisplayer .skeletondisplay .skeleton2:hover { background-image: url('/skin/default/images/layouts/layout2_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton3 { background-image: url('/skin/default/images/layouts/layout3.png'); }
.skeletondisplayer .skeletondisplay .skeleton3:hover { background-image: url('/skin/default/images/layouts/layout3_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton4 { background-image: url('/skin/default/images/layouts/layout4.png'); }
.skeletondisplayer .skeletondisplay .skeleton4:hover { background-image: url('/skin/default/images/layouts/layout4_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton7 { background-image: url('/skin/default/images/layouts/layout7.png'); }
.skeletondisplayer .skeletondisplay .skeleton7:hover { background-image: url('/skin/default/images/layouts/layout7_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton8 { background-image: url('/skin/default/images/layouts/layout8.png'); }
.skeletondisplayer .skeletondisplay .skeleton8:hover { background-image: url('/skin/default/images/layouts/layout8_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton9 { background-image: url('/skin/default/images/layouts/layout9.png'); }
.skeletondisplayer .skeletondisplay .skeleton9:hover { background-image: url('/skin/default/images/layouts/layout9_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton10 { background-image: url('/skin/default/images/layouts/layout10.png'); }
.skeletondisplayer .skeletondisplay .skeleton10:hover { background-image: url('/skin/default/images/layouts/layout10_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton11 { background-image: url('/skin/default/images/layouts/layout11.png'); }
.skeletondisplayer .skeletondisplay .skeleton11:hover { background-image: url('/skin/default/images/layouts/layout11_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton12 { background-image: url('/skin/default/images/layouts/layout12.png'); }
.skeletondisplayer .skeletondisplay .skeleton12:hover { background-image: url('/skin/default/images/layouts/layout12_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton13 { background-image: url('/skin/default/images/layouts/layout13.png'); }
.skeletondisplayer .skeletondisplay .skeleton13:hover { background-image: url('/skin/default/images/layouts/layout13_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton14 { background-image: url('/skin/default/images/layouts/layout14.png'); }
.skeletondisplayer .skeletondisplay .skeleton14:hover { background-image: url('/skin/default/images/layouts/layout14_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton15 { background-image: url('/skin/default/images/layouts/layout15.png'); }
.skeletondisplayer .skeletondisplay .skeleton15:hover { background-image: url('/skin/default/images/layouts/layout15_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton16 { background-image: url('/skin/default/images/layouts/layout16.png'); }
.skeletondisplayer .skeletondisplay .skeleton16:hover { background-image: url('/skin/default/images/layouts/layout16_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton17 { background-image: url('/skin/default/images/layouts/layout17.png'); }
.skeletondisplayer .skeletondisplay .skeleton17:hover { background-image: url('/skin/default/images/layouts/layout17_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton18 { background-image: url('/skin/default/images/layouts/layout18.png'); }
.skeletondisplayer .skeletondisplay .skeleton18:hover { background-image: url('/skin/default/images/layouts/layout18_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton19 { background-image: url('/skin/default/images/layouts/layout19.png'); }
.skeletondisplayer .skeletondisplay .skeleton19:hover { background-image: url('/skin/default/images/layouts/layout19_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton20 { background-image: url('/skin/default/images/layouts/layout20.png'); }
.skeletondisplayer .skeletondisplay .skeleton20:hover { background-image: url('/skin/default/images/layouts/layout20_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton21 { background-image: url('/skin/default/images/layouts/layout21.png'); }
.skeletondisplayer .skeletondisplay .skeleton21:hover { background-image: url('/skin/default/images/layouts/layout21_hover.png'); }
.skeletondisplayer .skeletondisplay .skeleton22 { background-image: url('/skin/default/images/layouts/layout22.png'); }
.skeletondisplayer .skeletondisplay .skeleton22:hover { background-image: url('/skin/default/images/layouts/layout22_hover.png'); }
