.CartHeader i {
    font-size: 40px;
}

.CartHeader {
    text-align: right;
}

.CartHeader .counter {
    position: absolute; 
    top: 0px;
    right: -5px;
    
    background-color: #4789c9;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    text-align: center;
    color: #FFF;
    font-weight: bold;
}