.PaymentSettingsSetup .paymentappactivation {
    display:inline-block;
    width: 200px;
    margin: 10px;
    padding: 0px;
    float:left;
}
.PaymentSettingsSetup .paymentappactivation .description::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #efefef;
}
.PaymentSettingsSetup .paymentappactivation .footer.deactivate { background-color: #000; color:#fff; }
    
.PaymentSettingsSetup .paymentappactivation .description::-webkit-scrollbar {
   width: 7px;
   background-color: #bbb; 
}
.PaymentSettingsSetup .hidefrompaymentprocess {
    border: solid 1px #bbb;
    display: inline-block;
    background-color: #efefef;
    font-size: 16px;
    padding: 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 0px;
}

.PaymentSettingsSetup .paymentappactivation .description {
    padding: 5px;
    overflow:auto;
    height: 35px;
    border-left: solid 1px #bbb;
    border-right: solid 1px #bbb;
}
.PaymentSettingsSetup .paymentappactivation .header {
    background-color: #efefef;
    border: solid 1px #bbb;
    padding: 3px;
    display:inline-block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.PaymentSettingsSetup .paymentappactivation .footer {
    border-top: solid 1px #bbb;
    padding: 3px;
    text-align: center;
    cursor:pointer;
    background-color:green;
    color:#fff;
}
.PaymentSettingsSetup .paymentappactivation .footer:hover {
    font-weight: bold;
}


.PaymentSettingsSetup .activatedpaymentappcontainer {
    width: 50%;
    float:left;
    display:inline-block;
    box-sizing: border-box;
    padding: 10px;
}

.PaymentSettingsSetup .activatedpaymentappcontainer .inner {
    border: solid 1px;
    height: 400px;
}
.PaymentSettingsSetup .gss_settings_header .gss_settings_header_description { max-width: 80%; }
.PaymentSettingsSetup .gss_setting input,
.PaymentSettingsSetup .gss_setting input[type=text]:focus, .PaymentSettingsSetup .gss_setting input[type=textfield]:focus
{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    position:absolute;
    right: 10px;
    top: 10px;
    width: 250px;
}
