/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 10:13:50 AM
    Author     : ktonder
*/

.homebody {
    border: solid 5px;
}


.row_1 {
    background-image: url('../images/pmstop.png');
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 500px;
}

.page_row .page_row_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

td {
    vertical-align: top;
    padding: 10px;
}

.page_row.row_with_image  .contentarea {
    max-width: 480px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 50px 0px 50px 0px;
    font-size: 18px;    
}

.fullwidth h2 {
    text-align: center;
    font-size: 30px;
}

div.page_row:nth-child(even) {
    background-color: #fbfbfb;
    padding-bottom: 100px;
}

.page_row.image_left .page_row_inner {
    background-position: left top;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position-y: 100px;
}


.page_row.image_left .contentarea {
    margin-left: 600px;
}

.page_row.image_right .page_row_inner {
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position-y: 100px;
}


.page_row.image_right .contentarea {
    max-width: 600px;
}

.row_2 .page_row_inner { background-image: url('../images/floatingbookings.png'); }
.row_3 .page_row_inner { background-image: url('../images/pricing.png'); }
.row_5 .page_row_inner { background-image: url('../images/guestmanagement.png'); }
.row_6 .page_row_inner { background-image: url('../images/guestavailability.png'); }
.row_7 .page_row_inner { background-image: url('../images/pms_addons2.png'); }
.row_9 .page_row_inner { background-image: url('../images/pms_accesscodes.png'); }
.row_11 .page_row_inner { background-image: url('../images/pms_addons.png'); }

@media only screen and (max-width: 800px) {
    .page_row.row_with_image .contentarea {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .fullwidth .contentarea,
    .page_row.image_right .contentarea,
    .page_row.image_left .contentarea {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .page_row.image_left .page_row_inner,
    .page_row.image_right .page_row_inner { 
        padding-top: 500px;
        background-position: center 50px;;
    }
    
    .page_row.image_right .page_row_inner,
    .page_row.image_left .page_row_inner {
        min-height: 20px;
    }
    
    td {
        display: block;
    }
    
    .row_1 {
        background-image: none;
        background-color: #e1ac46;
    }
}
