.Search .searchinputfield {
    border-left: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    position:absolute;
    left:400px;
}

.Search .searchview {
    background-color:#FFFFFF;
    border: solid 1px;
    position: absolute;
    border-radius : 5px;
    padding: 5px;
    display:inline;
    width: 400px;
    top: 24px;
    z-index:1001;
    left: 280px;
    display:none;
}

.Search .searchview .search_result {
    border: solid 1px #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
}

.Search .searchview .search_result:hover {
    border: solid 1px;
}