/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2015, 8:07:34 PM
    Author     : ktonder
*/

.gss_edit_email {
    background-color: #FFF;
    padding: 20px;
    color: #333;
    border-radius: 5px;
}

.gss_mail_settings i {
    font-size: 100px;
    color: #3a99d7;
    float: left;
    margin-right: 20px;
}

.gss_mail_settings {
    font-size: 16px;
}
