.EditLocation .addSubLocation {
    padding: 30px;
    margin-top: 30px;
    background-color: #EEE;
}

.EditLocation label {
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
}

.EditLocation .deleteSubLocation {
    background-color: red;
}

.EditLocation .sublocation {
    border: solid 1px #DDD;
    display: none;
    padding: 20px;
    background-color: #EEE;
    margin-top: 20px;
}
.EditLocation .eventsConnectedToThisLocation {
    margin-top: 20px;
    border: solid 1px #DDD;
    padding: 20px;
}
.EditLocation .extradescription {
    width: 100%;
    height: 200px;
    border: solid 1px #DDD;
    padding: 10px;
    box-sizing: border-box;
}