

.gs_categorygallerybutton {
    border: solid 1px #bbb;
    min-width: 200px;
    background-color:#fff;
    padding: 10px;
    display:inline-block;
    cursor:pointer;
    margin-right: 3px;
}

.gs_categorygallerybutton_row {
    text-align:center;
    margin-bottom: 50px;
}
.gs_loadinggallery { text-align: center;  height: 300px; margin-top:20px; font-size: 30px; }
.gs_loadinggallery .loader { margin-right: 140px; font-size: 10px; }
.gs_grid-item-hidden { display:none; }
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gs_categorygalleryimage_row {
    text-align: center;
    margin: auto;
}

.gs_categorygallerybutton:hover {
    background-color:#efefef;
}

.gs_category_description { display:none;  margin: auto; max-width: 800px; background-color: #fff; margin-bottom: 50px; padding: 10px; }

.gs_categorygallerybutton_chosen { font-weight: bold; }

.gs_grid { margin: 0 auto; }
.gs_grid-item {width: 30%; margin-bottom: 10px; border: solid 10px #fff; border-radius: 10px;box-sizing: border-box; background-color:#fff; }
.gs_grid-item img { width: 100%; }

@media only screen and (max-width: 800px) {
    .gs_grid { margin: 0 auto; }
    .gs_grid-item {width: 100%; margin-bottom: 10px;border: solid 10px #fff; border-radius: 10px;box-sizing: border-box;}
    .gs_grid-item img { width: 100%; }
}
