/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2017, 6:40:51 PM
    Author     : ktonder
*/

.InvoicePayment .invoicenote {
    border: solid 1px #CCC;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
}