.EcommerceOrderList .col_incrementOrderId { width: 100px !important; }
.EcommerceOrderList .col_rowCreatedDate { width: 100px !important; }
.EcommerceOrderList .col_paymentDate { width: 100px !important; }
.EcommerceOrderList .col_transferredToAccounting { width: 50px !important; text-align:center;}
.EcommerceOrderList .col_user { width: calc(100% - 970px) !important; }
.EcommerceOrderList .col_shipmentdate { width: 100px !important; }
.EcommerceOrderList .col_inctaxes { width: 100px !important; }
.EcommerceOrderList .col_extaxes { width: 100px !important; }
.EcommerceOrderList .col_state { width: 100px !important; }
.EcommerceOrderList .col_payment { width: 100px !important; }
.EcommerceOrderList .sentdate { color:#bbb; }
.EcommerceOrderList .col_state .fa { font-size: 16px !important;margin-right: 10px; }

.EcommerceOrderList .fullname { overflow: hidden; white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.EcommerceOrderList .guestnames, .EcommerceOrderList .recieptemail { color:#bbb; }
.EcommerceOrderList .sendpaymentlinkwindow {     
    position: absolute;
    width: 300px;
    background-color: #fff;
    padding: 10px;
    border: solid 1px #bbb; 
    display:none;
    z-index: 2;
    right: 0px;
}

.EcommerceOrderList .not_connected_to_rom_row {
    color: #90008f;
}