.gsview.mastercodes .codes {
    margin-top: 30px;
}

.gsview.mastercodes .mastercode {
    margin-top: 10px;
}
.gsview.mastercodes .savedmastercodes,
.gsview.mastercodes .savingspinner {
    display: none;
    margin-right: 10px;
}
.gsview.mastercodes .information {
    font-size: 14px;
}
