<div class="gsview mastercodes">
    <h2>Master Codes</h2>
    
    <div class='overviewbox'>
        <div class='header'><i class="fa fa-info"></i> What is mastercodes?</div>
        <div class="information">
            When you add mastercodes, they will be available for all the locks in your system. Normally used by hotel staff like cleaning, janitor etc.
        </div>
    </div>
    
    <div class="codes">
        <div ng-if="loadingMasterCodes">
            <i class="fa fa-spin fa-spinner"></i> Loading codes, please wait. 
        </div>    
        <div ng-if="!loadingMasterCodes">
            <div ng-repeat="(slot, code) in masterCodes.codes" class="mastercode">
                Mastercode number {{ slot }}:
                <input type="text" value="{{code}}" slot="{{slot}}" class="mastercodeinput"/>
            </div>
            <br/>
            <div class="button" ng-mobile-click="saveMasterCodes()">
                <span class="savingspinner"> <i class="fa fa-spin fa-spinner"  ></i> </span>
                <span class="savedmastercodes"> <i class="fa fa-check"  ></i> </span>
                Save codes
            </div>
        </div>    
    </div>
    
</div>