.Contact .edit_contact_button {
    float:right;
}
.Contact .max_length {
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.Contact .subject_textarea {
    height: 100px;
}

.Contact .contact_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Contact .saveContactConfiguration { float: right; border: solid 1px; padding: 10px; margin-right:10px; background-color:#bBB; cursor:pointeR; }

.Contact .contact_container input {
    width:100px;
}
.Contact .contact_container {
    padding:10px;
}

.Contact .message_sent {
    font-weight: bold;
    color: #00FF00;
}

.Contact .medium_contact_form { display: none; }
.Contact .normal_contact_form { display: none; }

.medium .Contact .medium_contact_form, .small .Contact .medium_contact_form { display: block; }
.xlarge .Contact .normal_contact_form, .large .Contact .normal_contact_form { display: block; }

.medium .Contact .medium_contact_form, .small .Contact .medium_contact_form { display: block; }


.Contact td { font-size:14px;  }
.Contact input { border-radius: 2px;  border: solid 1px #e1e1e1; padding: 13px; background-color: #fcfcfc; }
.Contact textarea { border-radius: 2px;  border: solid 1px #e1e1e1; padding: 13px; background-color: #fcfcfc; }
.Contact .horizontal {  padding-bottom: 20px; position:relative; }
.Contact .horizontal .text { font-size: 19px; padding-right: 20px; } 

.medium .Contact .medium_contact_form { padding-bottom: 20px; }
.medium .Contact .medium_contact_form input, .small .Contact .medium_contact_form input { padding: 13px; }
.medium .Contact .medium_contact_form .text, .small .Contact .medium_contact_form .text { padding: 13px; }

.Contact .shop_button {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
}

@media only all and (max-width: 800px) {
    .Contact .shop_button {
        padding: 0px;
        float:none;
        margin-top: 10px;
    }
}