<div style="text-align: center;">
    <b>Please enter your pincode</b>
</div>

<center>
    <div style="height: 100px; border: solid 1px transparent; position: relative;">
        <div ng-if="errorMessage"  class="pincodewarning blink_me">
            {{ errorMessage }}
        </div>
        <div ng-if="getStars().length != 6 && !errorMessage" class="pincodewarning">
            Code must be 6 digits.
        </div>
      
        <div style="position: absolute; bottom: 10px; text-align: center; left: 0px; right: 0px;">{{ getStars() }}</div>
    </div>
    
    <bc-keypad
      bc-number-model="pincode"
      bc-right-button="submit"
      bc-left-button="backspace"
      bc-right-button-method="checkPinCode($event, numbers)"
    ></bc-keypad>    
    
    <div class='summaryview'> 
        <b>Totalt: Kr {{ getTotal() }},-</b>
    </div>
</center>

