
<div style='text-align: center;'> Payment </div>
<div class='summaryview'> 
    <b>Totalt: Kr {{ getTotal() }},-</b>
</div>

<!-- Pay by room -->
<div class='paymentaction' ng-if='paymentMethodId == "f86e7042-f511-4b9b-bf0d-5545525f42de"'>
    <div ng-repeat="room in rooms" class="button" ng-click="askForPincode(room)">
        {{ room.room }}
        <div ng-repeat="guest in room.guest">
            {{ guest.name }}
        </div>
    </div>
    
    <div ng-if="rooms.length === 0">
        Ingen rom tilgjengelige.
    </div>
</div>

<!-- Pay On Delivery -->
<div class='paymentaction' ng-if='paymentMethodId == "e6cf029b-0b96-4cf8-9a88-8db2755c0062"'>
    Trykk på denne knappen når betalingen er gjennomført og godkjent på terminalen.
    <br/>
    <br/>
    <div class='button' ng-click="completePayment()">Betalingen er gjennomført.</div>
    
    <div ng-if="printers.length">
        <br/>
        <br/> Skriv ut forhåndsvisning
        <div ng-repeat='printer in printers' class='button' ng-if='printer.type == "receipt" ' ng-click="prePrintInvoice(printer)">
            {{ printer.name }}
        </div>    
    </div>
    
</div>

<div class='paymentaction' ng-if='paymentMethodId == "565ea7bd-c56b-41fe-b421-18f873c63a8f"'>
    
    <bc-keypad 
        bc-number-model="numpadnumber"
        bc-left-button="backspace"
    ></bc-keypad>
    
    <div class='cash_summary'>
        <span>Kontantbeløp: </span><input class="gsniceinput1" type='textfield' id="enteredNumpadNumber" ng-model='numpadnumber' placeholder='{{ getTotal() }}'>
        <br/><span>Tilbake: </span>{{ calculateRefund() }}    
    </div>
    
    <div class='button' ng-click="completePayment()">Fullfør</div>
</div>