<div class="gsview login">
    <div class="informationbox">
        You need to be an employee to have access to this application. If you dont have any account please contact your supervisor.
    </div>

    <div>
        <input type="text" class="textinput" placeholder="Company" ng-model="company"/>
        <input type="text" class="textinput" placeholder="Username" ng-model="username"/>
        <input type="password" class="textinput" placeholder="Password" ng-model="password"/>
        <div class="button loginbutton" ng-mobile-click="doLogin()">Login</div>
    </div>
    
    <a href='#/settings'>
        <div style='border-top: dashed 1px #FFF; text-align: center; color: #FFF; padding-top: 10px; margin-top: 10px;'>
            Version: 1.0.49
        </div>
    </a>
</div>