#imgtodisplay { width: 100%; padding: 10px; box-sizing: border-box; background-size: cover; }
#imgtodisplay img { width: 100%; }
.latestnewsline {  white-space: nowrap;
                   display:block;
                   width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }