<div class="gsview messages">
    <h2>Incoming messages</h2>
    
    <div class='overviewbox'>
        <div class='header'>How does it work?</div>
        <div class="information">
            Messages from this system can be sent from a spesific number, when a guest replies to the number it will be available here. Contact GetShop if you have not activated this function yet and want to use it.
        </div>
    </div>
    
    <div ng-if="loadingMessages">
        <i class="fa fa-spin fa-spinner"></i> Loading messages.
    </div>
    
    <div ng-if="!loadingMessages">
        <div ng-if="messagePage.messages.length == 0">
            You dont have any incoming messages.
        </div>

        <div ng-repeat="message in messagePage.messages" class="messagerow">
            <div class="content">{{ message.message }} </div>
            <div class="date">{{ message.rowCreatedDate }} </div>
            <div class="from">{{ message.from }} </div>
        </div>
        
        <div>
            Page number: {{ messagePage.pageNumber + 1 }}
        </div>
        
        <div class="button" ng-if="canGoToNextPage()" ng-mobile-click="goToNextPage()">
            Next page <i class="fa fa-arrow-right"></i>
        </div>
        <div class="button" ng-if="canGoToPrevPage()" ng-mobile-click="goToPrevPage()">
            <i class="fa fa-arrow-left"></i> Prev page
        </div>
    </div>
    
</div>