.PmsAvailabilityDateSelector {
    text-align: right;
}


.PmsAvailabilityDateSelector .addeventform {
    display:none;
    position: absolute;
    left: 0px;
    padding: 10px;
    border: solid 1px;
    background-color: #fff;
}
