<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
            <h1 style="border-bottom: solid 1px #EEE; padding-bottom: 10px;">HusRegler</h1>

                <b>INNSJEKK FRA KL 15
                <br/>UTSJEKK FØR KL 12
                <br/>RO I BYGGET FRA KL 23.00
                </b>
            <br/>
            <br/>
            <br/>
            <div style="border: solid 1px #EEE; padding: 50px;">
                Wilhelmsen House er røykfritt <br/> Avbestilling: les avtalevilkårne nøye   <br/>  Lobbyen er ikke et oppholdssted for fest
                <br/>
                <br/> Noe du lurer på? Ring 97 13 50 00 eller send en epost til post@wh.no
            </div>
        </center> 
        
    </body>
</html>
