<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .col1 {
               
            }

            .col2 {
                page-break-before:always;
            }
            body,
            html {
                margin: 0px;
                padding:  0px;
                font-size: 18px;
            }

            @page {
                color:#000;
            }

            .page {
                box-sizing: border-box;
                position: relative;
                color:#000;
                width: 1060px;
                box-sizing: border-box;
            }

            .title {
                margin-top: 50px;
                font-size: 20px;
                font-weight: bold;
            }
            
            .page_inner .title:first-child {
                margin-top: 0px;
            }
            
            table tr {page-break-inside: avoid}

        </style>
    </head>
    <body>
        <div class="page">
            <div class="page_inner">
                
                <div class="col1">
                    <div class="title">AVTALE FOR BRUK AV OVERNATTINGSHYBEL</div>

                    <div class="title">1. PARTER</div>
                    Tilbyder: Wilhelmsen House AS (WH)
                    <br/>Kunde: {CUSTOMER.NAME}

                    <div class="title">2. OVERNATTINGSHYBEL </div>
                    Wilhelmsen House, Halfdan Wilhelmsens allé 22, 3116 Tønsberg, leilighetskategori "{ROOM.TYPE}"
                    <br/>
                    <br/>Oversendelse av denne avtalen anses som overlevering av tjenesten.
                    <br/>
                    <br/>Overnattingshybelen aksepteres "som den er" i samsvar med informasjon, tegninger og bilder på www.wh.no. Kunden må akseptere mindre avvik fra oppgitt informasjon om overnattingshybelen.

                    <div class="title">3. BRUKSPERIODE </div>
                    {BOOKING.ORDERLINES}
                    <br/>
                    <br/>Denne avtalen gjelder {BOOKING.SHORTORLONG}

                    <div class="title">4. BETALING </div>
                    Betaling: {ORDER.PRICEPRDAY} per dag (inkl mva). 
                    <br/>Total betaling i samsvar med bruksperioden angitt i punkt 3 utgjør kr {ORDER.PRICE} (inkl mva).
                    <br/>
                    <br/>Korttidsbruk: 
                    <br/>Kunden betaler hele beløpet forskuddsvis. 
                    <br/>
                    <br/>Landtidsbruk:  
                    <br/>Kunden betaler forskuddsvis for de tre første kalendermånedene i den bestilte bruksperioden. Deretter faktureres kunden forskuddsvis per måned. Betalingsforpliktelsen forfaller senest 5 dager før den første kalenderdag i neste måned. 
                    <br/>
                    <br/>WH forbeholder seg rett til å justere prisene som følge av endrede kostnader ved økte skatter og avgifter eller andre forhold utenfor WHs kontroll. Slike prisjusteringer skal varsles, og skal ikke tre i kraft før 1 måned etter varselet.

                    <div class="title">5. KUNDENS DISPONERING AV OVERNATTINGSHYBLENE</div>
                    Overnattingshybelen kan bare benyttes til beboelse og overnatting, og kan bare benyttes av kunden. WH forbeholder seg retten til å nekte innsjekking av personer under 18 år.
                    <br/>
                    <br/>Innsjekking kan tidligst finne sted kl 15 på avtalt startdato for bruksperioden. Utsjekking må finne sted innen kl 12. Kunden skal ta med seg alle personlige eiendeler ved utsjekking. 
                    <br/>
                    <br/>Kunden plikter å ivareta overnattingshybelen og fellesarealer med tilbørlig aktsomhet og i alminnelig god stand. Kunden er ansvarlig for å forebygge brann ved bruk av overnattingshybelen, og forplikter å sette seg inn i branninstrukser som er plassert i hver overnattingshybel. Kunden må for øvrig opptre i samsvar med de til enhver tid gjeldende husordensregler, se www.wh.no. Husordensreglene er vedlagt denne avtalen.
                    <br/>
                    <br/>Kunden skal varsle WH umiddelbart dersom det oppdages skade på eiendommen. 
                    <br/>
                    <br/>Kunden skal gi WH adgang til overnattingshybelen for rengjøring etter punkt 6 og for øvrig nødvendig vedlikehold.

                    <div class="title">6. WHs PLIKTER</div>
                    WH skal sørge for rengjøring av overnattingshybelen hver femte kalenderdag. WH skal også sørge for rengjøring ved enhver utsjekking av overnattingshybelen.
                    <br/>
                    <br/>WH skal holde overnattingshybelen forsikret. WH bærer for øvrig intet ansvar for skader, kostnader eller tap som måtte oppstå ved innbrudd, brann, røykutvikling, strømavbrudd, vannskade eller av andre årsaker. Kunden er i denne forbindelse innforstått med at WH skal holdes skadesløs.

                    <div class="title">7. OPPSIGELSE</div>
                    Dersom kunden har valgt korttidsbruk, er avtaleperioden bindende med mindre det er betalt for fleksiløsning. 
                    <br/>
                    <br/> Dersom kunden har valgt langtidsbruk, kan avtalen sies opp med 3 kalendermåneders varsel fra første dag i neste kalendermåned etter varselsdatoen.
                    <div class="title">8. MISLIGHOLD</div>
                    Dersom overnattingshybelen ikke er i samsvar med avtalte vilkår, skal kunden gi beskjed til WH innen rimelig tid etter at forholdet blir oppdaget. Forsinket reklamasjon medfører tap av eventuelle misligholdssanksjoner. 

                    <br/>Dersom kunden påfører overnattingshybelen skade, vil WH utbedre forholdet til kundens kostnad. Det er forbudt å røyke i overnattingshybler, og hver overtredelse medfører gebyr på kr 1 500. 
                    <br/>
                    <br/>Dersom kunden misligholder sine forpliktelser etter avtalen, kan WH deaktivere kundens adgangskode og fullføre utsjekking av kunden 5 dager at WH har sendt varsel om mislighold. 
                    <br/>
                    <br/>Ved vesentlig mislighold av avtalen kan WH terminere avtalen og iverksette utsjekking med umiddelbar virkning. Betalingsmislighold og bruk i strid med avtalen anses som vesentlig mislighold.
                    <br/>
                    <br/>Kunden aksepterer at WH får håndpant i alle eiendeler som legges igjen i overnattingshybelen. Dersom WH vurderer at eiendelene har begrenset økonomisk verdi, står WH fritt til å kaste eiendelene uten varsel.

                    <div class="title">9. DIVERSE</div>
                    Husleieloven har ikke anvendelse på dette avtaleforholdet, jfr. husleieloven § 1-1 fjerde ledd.
                    <br/>
                    <br/>Kunden vedtar at tvangsfravikelse kan gjennomføres etter tvangsfullbyrdelsesloven § 13-2 tredje ledd alternativ a.
                    <br/>
                    <br/>Kunden vedtar at tvangsfravikelse kan gjennomføres etter tvangsfullbyrdelsesloven § 13-2 tredje ledd alternativ b.
                    <br/>
                    <br/>Ettersom levering anses å finne sted ved endelig bestilling og oversendelse av avtalen, får ikke reglene om avbestilling etter forbrukerkjøpsloven § 41 anvendelse på avtaleforholdet. 
                    <br/>
                    <br/>Ettersom avtalen faller inn under angrerettloven § 22 bokstav m), får ikke regler om angrerett anvendelse på avtaleforholdet.
                    <br/>
                    <br/>Det er ikke tillatt fremleie av overnattingshybelen.

                    <div class="title">10.  FLEKSILØSNING VED KORTTIDSBRUK</div>
                    Dersom kunden har valgt fleksiløsning, kan avtaler med korttidsbruk sies opp med 1 kalenderdags varsel. 
                    <br/>
                    <br/>Varselet må sendes til post@wh.no og må særskilt angi hvilke dager som avbestilles.
                    <br/>
                    <br/>Ved slik avbestilling vil WH tilbakebetale innbetalt forskudd for avbestilt bruk innen 30 dager. 
                    <br/>
                    <br/>
                    <br/>Sign: 
                    <br/>Dette dokumentet anses elektronisk signert på vegne av kunden.        
                </div>


                <div class="col2">
                    <div class="title">AGREEMENT FOR ACCOMMODATION</div>

                    <div class="title">1. PARTIES</div>
                    Provider: Wilhelmsen House AS (WH)
                    <br/>Customer: {CUSTOMER.NAME}

                    <div class="title">2. ACCOMMODATION</div>
                    Wilhelmsen House, Halfdan Wilhelmsens allé 22, 3116 Tønsberg, room category "{ROOM.TYPE}"
                    <br/>
                    <br/>Submission of this Agreement will be considered as handover of the service.
                    <br/>
                    <br/>The accommodation is accepted "as is" and in accordance with information, floor plan and photos on www.wh.no. The customer accepts minor deviations from specified information about the accommodation.

                    <div class="title">3. PERIOD OF USE</div>
                    {BOOKING.ORDERLINES}
                    <br/>
                    <br/>This Agreement is for {BOOKING.SHORTORLONG_EN}.

                    <div class="title">4. PAYMENT</div>
                    Payment: {ORDER.PRICEPRDAY} per day (including VAT). 
                    <br/>Total payment according to article 3 above amounts to NOK {ORDER.PRICE} (including VAT).
                    <br/>
                    <br/>Short-term use: 
                    <br/>The total amount for the period of use shall be paid in advance by the customer.
                    <br/> 
                    <br/>Long-term use:  
                    <br/>The customer shall pay in advance for the first three calendar months of the booked period, after which the customer shall pay in advance of each month. Payment is due no later than five days before the first calendar day of the following month.
                    <br/>
                    <br/>WH has the right to adjust prices due to an increase in taxes or charges or other circumstances beyond WH's control. Such price adjustments shall be notified to the customer and shall not enter into force until one month after the notification.


                    <div class="title">5. THE CUSTOMER'S USE OF THE ACCOMMODATION</div>
                    The accommodation can only be used for housing, and can only be used by the customer. WH may refuse persons less than 18 years old from checking in. 
                    <br/>
                    <br/>Check-in can at the earliest take place at 15 p.m. on the agreed start date. Check-out must take place before 12 p.m. The customer shall not leave any personal belongings when checking out.
                    <br/>
                    <br/>The accommodation and the common areas shall be treated with due care and maintained in a general good condition by the customer. The customer shall be familiar with the fire instructions found in the accommodation. The customer shall act in accordance with the applicable house rules, available at www.wh.no. The House Rules are attached to this Agreement.
                    <br/>
                    <br/>The customer shall notify WH immediately in the event of any damage discovered on the property.
                    <br/>
                    <br/>The customer shall provide WH with access for cleaning in accordance with article 6, and otherwise for all necessary maintenance.

                    <div class="title">6. WH'S OBLIGATIONS</div>
                    WH shall ensure cleaning of the accommodation every fifth calendar day. WH shall also ensure cleaning of the accommodation at check-out.
                    <br/>
                    <br/>WH shall provide insurance for the accommodation. WH carries otherwise no liability for damages, costs or losses that may arise from burglary, fire, smoke, power outage, water damage or other reasons. The customer accepts that WH in such circumstances shall be indemnified.

                    <div class="title">7. TERMINATION</div>
                    If the customer has booked the accommodation for short-term use, the period stated in this agreement is fixed unless the customer has paid for a flex solution.
                    <br/>
                    <br/>If the customer has booked the accommodation for long-term use , the customer can terminate the agreement after notifying the provider three calendar   months in advance, counting from  the first day of the following month after the notification date.

                    <div class="title">8. BREACH OF THE AGREEMENT</div>
                    If the accommodation is not in accordance with the terms agreed, the customer shall notify WH within a reasonable time after the breach is discovered. Delayed notification of breach result in loss of any remedies for breach of agreement.
                    <br/>
                    <br/>If any damages of the accommodation are caused by the customer, WH has the right to rectify the damage at the customer's expense. It is forbidden to smoke in Wilhelmsen House, and every infringement of the ban on smoking results in a fee of NOK 1.500.
                    <br/>
                    <br/>If the customer does not comply with the customer's obligations in this Agreement, WH can, five days after a written notice of breach, deactivate the customer's access code and carry out a check-out of the customer. 
                    <br/>
                    <br/>If there is a material breach of the agreement, WH may terminate the agreement and carry out check-out with immediate effect. Default of payment and use of the accommodation in violation of the terms of the agreement is considered a material breach.
                    <br/>
                    <br/>The customer agrees that WH gets a pledge in all assets that are left in the accommodation after check-out. If WH considers these assets to have limited economic value, WH may get rid of these possessions without further notice.

                    <div class="title">9. MISCELLANEOUS</div>
                    The Norwegian Tenancy Act does not apply to this agreement, ref. the Norwegian Tenancy Act section 1-1 fourth paragraph.
                    <br/>
                    <br/>The customer accepts that an eviction can be carried out according to the Norwegian Enforcement Act section 13‑2 third paragraph litra a.
                    <br/>
                    <br/>The customer accepts that an eviction can be carried out in accordance with the Norwegian Enforcement Act section 13-2 third paragraph litra b.
                    <br/>
                    <br/>Since delivery is deemed to take place when submitting a final order and submission of the Agreement, the rules regarding the right to cancellation in the Norwegian Consumer Law section 41 shall not apply to this agreement.
                    <br/>
                    <br/>As the Norwegian Cancellation Act section 22 litra m) is applicable, the rules on the right of withdrawal from the agreement do not apply to the agreement.
                    <br/>
                    <br/>Sublease of the accommodation is not permitted. 

                    <div class="title">10. FLEX SOLUTION ON SHORT-TERM USE</div>
                    If the customer has selected the flex solution, agreements of short-term use can be terminated after one day's notice.
                    <br/>
                    <br/>Such a notification shall be sent to post@wh.no and must specify the dates the cancellation is applicable to. 
                    <br/>
                    <br/>Upon such cancellation WH will, within 30 days, pay back any prepaid payments for the rental period that has been cancelled.  
                    <br/>
                    <br/>In case of doubt or discrepancies, the Norwegian version shall prevail.
                    <br/>
                    <br/>Sign :
                    <br/>This document is considered electronically signed on behalf of the customer.
                </div>
            </div>
        </div>
    </body>
</html>
