.gss_productwork_area {
    display: inline-block;
    background-color: #FFF;
    width: 500px;
    vertical-align: top;
    width: 1023px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
    color: #333;
    box-sizing: border-box;
}

.gss_products_not_created {
    color: #FF3333;
    font-size: 16px;
    min-height: 200px;
    text-align: center;
    margin-top: 20px;
}

.gss_products_not_created i {
    font-size: 50px;
    display: block;
}

.gss_product:nth-child(even) {
    background-color: #EEE;
    border: solid 1px #DDD;
}

.gss_product {
    position: relative;
    padding: 3px;
    min-height: 30px;
    vertical-align: top;
    cursor: pointer;
    border: solid 1px #FFF;
}

.gss_product_price {
    position: absolute;
    right: 10px;
    top: 0px;
    color: green;
}

#backsidesettings #listviewdescription {
    height: 179px;
}

.gss_product_title {
    font-size: 16px;
    margin-left: 10px;
}

.gss_product_created {
    position: absolute;
    right: 10px;
    bottom: 2px;
    color: #888;
    font-size: 10px;    
}

.gss_product_more_options_info i {
    display: block;
    text-align: center;
    color: #3a99d7;
    font-size: 50px;
   
}

.gss_product_more_options_info {
    padding-top: 10px;
    font-size: 16px;
}

.gss_product_title_header {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #1c6ea2;
}

.gss_image_box1 i,
.gss_image_box2 i,
.gss_image_box3 i {
    font-size: 100px;
    color: #3a99d7;
    display: block;
}
.gss_image_box1,
.gss_image_box2,
.gss_image_box3 {
    border-bottom: solid 1px #DDD;
    display: inline-block;
    width: 456px;
    min-height: 190px;
    vertical-align: top;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.gss_image_box1 {
    border-right: solid 1px #DDD;
}
.gss_image_box3 {
    border-left: solid 1px #DDD;
}

.gss_product_saveuploadimage {
    cursor:pointer;
}

.gss_product_saveuploadimage:hover {
    color: #1c6ea2;
}

.gss_product_thumbnail_container {
    width: 181px;
    height: 181px;
    border: solid 1px #DDD;
    display: table-cell;
    margin-right: 15px;
    position: relative;
    vertical-align: top;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
}


.gss_product_thumbnail_container i.remove_image:hover {
    color: #1c6ea2;
    background: rgba(255,255,255, 1);
}

.gss_product_thumbnail_container .remove_image {
    top: 0px;
    left: 0px;
    border-right: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    background-color: #3a99d7;
}

.gss_product_thumbnail_container .main_image {
    top: 0px;
    right: 0px;
    color: #DDD;
    text-shadow: 0px 0px 2px #333;
}

.gss_product_thumbnail_container .main_image.imageismain {
    color: #01ac4a;
    
}

.gss_product_thumbnail_container i {
    position: absolute;    
    padding: 5px;
    font-size: 25px;
    color: #FFF;
    
    cursor: pointer;
}

.gss_product_thumbnails_outer_container {
    margin-bottom: 15px;
}


.outerimagestuff {
    display: inline-block;
    margin-right: 15px;
}

.outerimagestuff:last-child  {
    margin-right: 0px;
}

.gss_product_thumbnail {
    max-width: 181px;
    max-height: 181px;
    
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;        
}

.gss_products_nextprevbuttons {
    padding-left: 20px;
    padding-bottom: 20px;
    position: relative;
    height: 40px;
}

.gss_products_nextprevbuttons .gss_product_next {
    position: absolute;
    right: 20px;
}

.dynamicpricing input {
    position: initial !important;

}

.dynamicpricing {
    width: 928px;
    padding: 15px;
    margin-top: 15px;
    border: solid 1px #DDD;
    padding-bottom: 15px;
}

.Product .subimage {
    text-align: center;
}
.Product .subimage img {
    max-height: 100%;
    max-width: 100%;
    width: inherit;
}