<div class='completerouteoverlay'>
    <i class=' fa fa-spin fa-spinner'></i>
    <br/> Please wait while completing route...
</div>
<div>
    <b>Overview:</b>
    <br/> Time: {{ time }}
    <br/> Uncompleted stops: {{ uncompletedStops }}
    
    <br/>
    <div ng-if="uncompletedStops > 0" style="text-align: center; margin-top: 20px; color: red; border: solid 1px red; padding: 10px;">
        <i class="fa fa-warning"></i><br/>There are destinations that has not been completed, are you sure you want to complete this route anyway?
    </div>
    <br/>
    <div>
        Password:
        <input class='textinput' type="textfield" ng-model="password" />
    </div>
    <div class="button" style="margin-top: 30px;" ng-mobile-click="markCompleted()">Mark as completed</div>
    <br/>
    <div class="button" style="margin-top: 30px;" ng-mobile-click="goBack()">Cancel</div>
</div>