<div class="gsview routeoverview" ng-if="!route.instructionAccepted && route.instruction">
    Todays instructions
    <br/>
    <div style=" white-space: pre-line;">
        {{ route.instruction }}
    </div>
    <br/>
    <div class="button" ng-mobile-click="acceptTodaysInstruction()"><i class="fa fa-check"></i> Got it</div>
</div>

<div class="gsview routeoverview" ng-if="route.instructionAccepted || !route.instruction">
    
    <b>{{ route.name }}</b>
    <br/> {{ route.shortDescription }}
    <br/>
   
    <div class='button hidefinishedtasksbutton' ng-mobile-click="toggleFinished()" ng-if="showFinished">Hide finished</div>
    <div class='button hidefinishedtasksbutton' ng-mobile-click="toggleFinished()" ng-if="!showFinished">Show finished</div>
    
    <div class='destionations'>
        <div style='padding-bottom: 10px;'><b>Destinations (tap one to see more)</b></div>
        
        <div class='destination' ng-repeat="destination in route.destinations" ng-if="showFinished || getFinishedState(destination) !== 'green'">
            
            <div>
                {{destination.seq}} - {{ destination.company.name }}
                <br/>{{ destination.company.address.address }}

                <!--<div class='tasks'> Tasks: {{ destination.tasks.length }}</div>-->

                <div class='destinationtypes'>
                    <div class='indicator_pickup' ng-show="isTaskType(destination, true, false)">P</div>
                    <div class='indicator_delivery' ng-show="isTaskType(destination, false, true)">D</div>
                    <div class='indicator_pickup_and_delivery' ng-show="isTaskType(destination, true, true)"><span>P</span> <span></span> <span>D</span></div>
                </div>

                <div class='status' ng-mobile-click="showDestination(destination.id, route.id)" >
                    <div class='statusind red' ng-if="getFinishedState(destination) === 'red'"><i class="fa fa-arrow-right"></i></div>
                    <div class='statusind yellow' ng-if="getFinishedState(destination) === 'yellow'"><i class="fa fa-arrow-right"></i></div>
                    <div class='statusind green' ng-if="getFinishedState(destination) === 'green'">
                        <i ng-if='!destination.skipInfo.skippedReasonId' class="fa fa-arrow-right"></i>
                        <i ng-if='destination.skipInfo.skippedReasonId' class="fa fa-exclamation-circle"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>