/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2016, 11:28:39 AM
    Author     : ktonder
*/

.gsview.routeoverview .destionations {
    margin-top: 10px;
}

.gsview.routeoverview {
    text-align: left;
}

.gsview.routeoverview .sendGeneralMessage, 
.gsview.routeoverview .hidefinishedtasksbutton {
    position: absolute;
    top: -10px;
    width: 80px;
    font-size: 12px;
    right: 10px;
    padding: 10px;
}

.gsview.routeoverview .sendGeneralMessage {
    right: 100px;
}

.gsview.routeoverview .destination {
    border-bottom: solid 3px rgba(255,255,255,0.5);
    padding: 5px;
    position: relative;
    padding-left: 40px;
}

.gsview.routeoverview .destination .tasks {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #444;
    font-size: 13px;
}

.gsview.routeoverview .destination .destinationtypes {
    width: 28px;
    height: 40px;
    background-color: rgba(255,255,255,0.5);
    left: 5px;
    top: 5px;
    position: absolute;
    font-size: 0px;
}
.gsview.routeoverview .destination {
    font-size: 15px;
    position: relative;
}

.gsview.routeoverview .destination .indicator_pickup,
.gsview.routeoverview .destination .indicator_delivery {
    font-size: 28px;
    line-break: 40px;
    text-align: center;
    width: 25px;
    color: #444;
}


.gsview.routeoverview .destination .indicator_pickup_and_delivery span:nth-of-type(1) { 
    font-size: 15px; 
    position: absolute;
    left: 5px;
}

.gsview.routeoverview .destination .indicator_pickup_and_delivery span:nth-of-type(2) {  
    height: 4px;
    border-top: solid 1px #000;
    width: 25px;
    left: 3px;
    top: 18px;
    
    position: absolute;
    display: inline-block;
    transform: rotate(-45deg);
    -moz-transform:rotate(-45deg);  
    -webkit-transform:rotate(-45deg);  
    -o-transform:rotate(-45deg);  
    -ms-transform:rotate(-45deg);  
}

.gsview.routeoverview .destination .indicator_pickup_and_delivery span:nth-of-type(3) {
    font-size: 15px; 
    position: absolute;
    right: 2px;
    bottom: 1px;
}

.gsview.routeoverview .status {
    position: absolute;
    right: 5px;
    bottom: 5px;
    
}
.gsview.routeoverview .status .statusind {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    text-align: center;
}

.gsview.routeoverview .status .statusind i {
    font-size: 20px;
    line-height: 40px;
    color: #FFF;
}

.gsview.routeoverview .status .statusind.green {
    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

.gsview.routeoverview .status .statusind.yellow {
    background: #e5e696; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5e696 0%, #d1d360 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e5e696 0%,#d1d360 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */
}

.gsview.routeoverview .status .statusind.red {
    background: #ff8075; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff8075 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff8075 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff8075 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8075', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.completerouteoverlay {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    display: none;
}