<div class="gsview routeoverview" ng-if="!route.instructionAccepted && route.instruction">
    Todays instructions
    <br/>
    <div style=" white-space: pre-line;">
        {{ route.instruction }}
    </div>
    <br/>
    <div class="button" ng-mobile-click="acceptTodaysInstruction()"><i class="fa fa-check"></i> Got it</div>
</div>

<div class="gsview routeoverview" ng-if="route.instructionAccepted || !route.instruction">
    
    <b>{{ route.name }}</b>
    <br/> {{ route.shortDescription }}
    <br/>
   
    <div class='button hidefinishedtasksbutton' ng-mobile-click="toggleFinished()" ng-if="showFinished">Hide finished</div>
    <div class='button hidefinishedtasksbutton' ng-mobile-click="toggleFinished()" ng-if="!showFinished">Show finished</div>
    
    <div class='destionations'>
        <div style='padding-bottom: 10px;'><b>Destinations (tap one to see more)</b></div>
        
        <div class='destination' ng-repeat="destination in route.destinations" ng-if="showFinished || getFinishedState(destination) !== 'green'">
            <div ng-mobile-click="showDestination(destination.id, route.id)">
                <div>
                    {{ destination.company.name }}
                    <br/>{{ destination.company.address.address }}

                    <div class='tasks'> Tasks: {{ destination.tasks.length }}</div>

                    <div class='destinationtypes'>
                        <div class='indicator_pickup' style='display: none;'>P</div>
                        <div class='indicator_delivery' style='display: none;'>D</div>
                        <div class='indicator_pickup_and_delivery'><span>P</span> <span></span> <span>D</span></div>
                    </div>

                    <div class='status'>
                        <div class='statusind red' ng-if="getFinishedState(destination) === 'red'"></div>
                        <div class='statusind yellow' ng-if="getFinishedState(destination) === 'yellow'"></div>
                        <div class='statusind green' ng-if="getFinishedState(destination) === 'green'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>