body { font: 'Montserrat', sans-serif; }
.gs_row { color: #787878; }
.header { background: #00a9e0; box-shadow: inset rgba(0, 0, 0, .10) 0 -4px 0; height: 115px; }
.Login .entry { color:#FFF; }
.gs_inner { max-width: 1000px; margin: auto; }
.Logo { top: 30px; }
.Login a { color:#FFF; }
.TopMenu { color:#FFF; right: 10px; top: 50px; }
.TopMenu a {
    color: #FFF;
    font-size: 14px; 
    -webkit-font-smoothing : antialiased;
    font-weight: bold;
    margin-right: 30px; 
    margin-left: 30px; 
}
.breadcrumb { display: none; }
.Banner .dots .dot, .Banner .dots .dot.selected { background-image: none; border: solid 2px #FFF; width: 8px; height: 1px; border-radius: 5px; }
.Banner .dots .dot.selected { background-color:#FFF; }
.gs_margin_left { padding-left: 20px; }
.gs_row { margin-bottom: 20px; }
.skeleton24 .gs_row.r1 .gs_inner { max-width: 100%; }
.gs_margin_right { padding-right: 20px; }
h1 { font-size: 38px; }

/* responsive design stuff */
.Banner .banner img,.Banner .bannerslider { height: auto !important; }
@media only all and (max-width: 480px) {
    .Logo { display: none; }
    .TopMenu a { padding-left: 10px; padding-right: 10px; }
    .Login { display: none; }
    .header .TopMenu { margin-left: 0px;}
    .ProductList .rowview .product {width: 280px; }
    .breadcrumb .navigation { display: none; }
    .header .applicationarea { height: 120px; }
    .header .TopMenu { top: 5px; }
    .ProductManager .small_product_view { display:none !important; }
    .ProductManager .dummyproductmanagerclass { display:block; }
    .ProductList .boxview table { display: inline-block; }
    .ProductList .boxview table td { float: left; width: 100%; }
    .ProductList td { padding: 0px; }
}
@media only all and (max-width: 800px) {
    .ProductList .rowview .slidearrow { display:block !important; }
    .header .TopMenu { top: 5px; }
    td.gs_col.c1 { display: none; }
    td.gs_col.c3 { display: none; }
    .Login { display: none; }
    .gs_row_cell { width: 100% !important; }
    .gs_margin_left,.gs_margin_right { padding-left: 0px; margin-top: 10px; padding-right: 0px; }
    .Search { display: none; }
    .CartManager .cartmain td { display: inline-block; width: 100% !important; }
    .CartManager .cartmain .product_row_table td { display: table-cell; width:auto !important; }
    .CartManager .cartmain .product_row_table td.image_area { width:180px !important; }
    .CartManager .leftcart { width: 100% !important; margin-bottom: 10px; }
    .CartManager .cart .wrapperright { width:auto !important; }
    .checkout table td input { width: 95%; }
    .ContentManager img { width: auto !important; height: auto !important; max-width:100% !important; }
    #apparea-footer { width: 100%; }
    .Chat { display:none; }
    .CartManager .rightcart { margin-left: 0px !important; width: 100% !important; }
    .ProductList .product .short_description { overflow: hidden; height: 103px; }
    .mainarea .gs_inner .applicationarea { min-height: 50px !important; }
}
