/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2015, 10:52:48 AM
    Author     : ktonder
*/


.QuestBackManagement .menuouter .menuelement {
    display: inline-block;
    padding: 10px;
    border-right: solid 1px #DDD;
}

.QuestBackManagement .menuouter .menuelement.active {
    background-color: #fbfbfb;
}

.QuestBackManagement .menuouter {
    cursor: pointer;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    
    border-bottom: solid 1px #BBB;
}

.QuestBackManagement .moderninputfield {
    padding: 10px;
}

.QuestBackManagement .parts .part {
    padding: 20px;
}

.QuestBackManagement .modify_questionbase_button,
.QuestBackManagement .delete_test_button {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border: solid 1px #BBB;
}

.QuestBackManagement .createnewtest {
    border: solid 1px #BBB;
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
}

.QuestBackManagement .testsettings {
    background-color: #FFF; 
    padding: 20px;
}

.QuestBackManagement .qb_question a{
    white-space: normal !important;
    height: auto;
    padding: 1px 2px;
    padding-right: 30px;
}

.QuestBackManagement th {
    text-align: left ;
}


.QuestBackManagement .result_printer {
    margin-top: 20px;
}

.QuestBackManagement .test_progress_view {
    background-color: #F9F9F9;
    margin: 10px;
    font-size: 0px;
    cursor: pointer;
    position: relative;
}

.QuestBackManagement .test_progress_view .cats {
    position: absolute;
    right: 10px;
    top: 10px;
}

.QuestBackManagement .test_progress_view:first-child {
    background-color: #F9F9F9;
    cursor: auto;
}

.QuestBackManagement .test_progress_view .col {
    padding: 20px;  
    box-sizing: border-box;
    font-size: 16px;
}
.QuestBackManagement .test_progress_view .name {
    width: 500px;
}

.QuestBackManagement .test_progress_view .cat_result_box_outer {
    border-left: dashed 1px #DDD;
    display: inline-block;
    margin-right: 5px;
}

.QuestBackManagement .test_progress_view .cat_result_box_outer:first-child {
    border-left: solid 0px #DDD;
}

.QuestBackManagement .test_progress_view .cat_result_col {
    border: solid 1px #DDD;
    border-radius: 40px;
    margin-left: 5px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.QuestBackManagement .test_progress_view .cat_result_col.green {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.QuestBackManagement .test_progress_view .cat_result_col.red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

}

.QuestBackManagement .test_progress_view .cat_result_col.yellow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff88+0,ffff88+100;Yellow+Flat+%231 */
    background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffff88 0%, #ffff88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff88), color-stop(100%,#ffff88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffff88 0%,#ffff88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffff88 0%,#ffff88 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffff88 0%,#ffff88 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffff88 0%,#ffff88 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 */
}

.QuestBackManagement .test_progress_view .col {
    display: inline-block;
    
}

.QuestBackManagement .category_settings_title {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.QuestBackManagement .category_settings_box {
    margin-top: 30px;
    border: dashed 1px #333;
    padding: 20px;
}

.QuestBackManagement .groupResult .groupName {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.QuestBackManagement .groupResult {
    background-color: #FFF;
    margin: 10px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}

