[cellid="header"] .Menu .entry {
    background-color: #3a99d7;
    border: solid 1px #1e4594; 
    border-radius:3px;
    margin-left: 10px;
}

[cellid="header"] .Menu .entry a div {
    padding: 5px;
    padding-right:15px;
    padding-left: 15px;
    
    color: #FFF;
}

[cellid="header"] .Menu {
    position:absolute;
    top: 60px;
    left: 0px;
    padding-right: 30px;
}

[cellid="footer"] .Menu .entry {
    border-bottom: solid 1px #444;
}

[cellid="footer"] .Menu .entry:last-child {
    border-bottom: none;
}

[cellid="footer"] .Menu .entry a div {
    padding: 5px;
    color: #FFF;
}

body {
	background-color: #efefef;
}

.gscell.gsdepth_0 { margin:auto; }
.gsinner.gsdepth_0 {  width: 1024px; margin: auto; background-color:#FFF; }
.gsinner.gsdepth_1 { min-height: 200px; }
.gsarea[area='header'] .gsinner { background-color:#236188 !important; min-height: 100px; color:#FFF;  }
.gsarea[area='header'].gsdepth_0 .gsdepth_0.gsinner { box-shadow: none !important; }
.gsarea[area='header'] .applicationarea,.gscell[cellid="footer"] .applicationarea { border: solid 0px !important; }
.gscell td { padding: 2px; }
.applicationarea { padding: 10px; height:100%;  box-sizing: border-box;  }
.gseditrowouter .applicationarea { border: solid 0px #BBB;  }

.gsarea[area='footer'] .gsinner { background-color:#236188 !important; min-height: 100px; color:#FFF;  }
.gsarea[area='footer'] {  bottom: 0px; }
.gsarea[area='footer'].gsdepth_0 .gsdepth_0.gsinner  { box-shadow: none !important; }
.gscarouseldots { cursor:pointer; position:absolute; text-align: center; z-index: 2; bottom: 10px; left: 49%; }
.gscarouseldots .fa { margin: 3px; font-size: 10px; text-shadow: 0px 0px 5px #fff; }
.gscarouseldots .activecarousel { color:green;  }
