.TopMenu li {
    background-color: #3a99d7;
    border: solid 1px #3a99d7; 
    padding: 5px;
}

.TopMenu li a {
	color: #FFF;
}

.TopMenu {
    bottom: 10px;
    left: 0px;
}

body {
	background-color: #efefef;
}

.gscell.gsdepth_0 { margin:auto; }
.gsinner.gsdepth_0 {  width: 1024px; margin: auto; background-color:#FFF; }
.gsinner.gsdepth_1 { min-height: 200px; }
.gscell[cellid="header"] .gsinner { background-color:#236188 !important; min-height: 100px;  }
.gscell[cellid="header"].gsdepth_0 .gsdepth_0.gsinner { box-shadow: none !important; }
.gscell[cellid="header"] .applicationarea,.gscell[cellid="footer"] .applicationarea { border: solid 0px !important; }
.gscell td { padding: 2px; }
.applicationarea { padding: 10px; height:100%;  box-sizing: border-box;  }
.gseditrowouter .applicationarea { border: solid 0px #BBB;  }

.gscell[cellid="footer"] .gsinner { background-color:#236188 !important; min-height: 100px; color:#FFF;  }
.gscell[cellid="footer"] {  bottom: 0px; min-height: 200px; }
.gscell[cellid="footer"].gsdepth_0 .gsdepth_0.gsinner  { box-shadow: none !important; }
