.gsdayevent {
    position:absolute;
    border: solid 1px;
    width: 150px;
    box-sizing: border-box;
    background-color:pink;
    color:#fff;
    text-align: center;
}

.gsdayevent_inner {
    position: relative;
}

.gsdayevent_shorttitle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}