.PmsNewBooking20 .newbookingoption { width: 264px; display:inline-block; height: 300px; text-align: center; margin: 20px;  box-sizing: border-box; cursor:pointer; background-color:#fff; }
.PmsNewBooking20 .steptitle { text-transform: uppercase; font-weight: bold; font-size: 16px; margin-top: 70px; margin-bottom: 70px; }
.PmsNewBooking20 .stepboxtitle { text-transform: uppercase; font-weight: bold; font-size: 14px; border-bottom: solid 1px #eaecee; text-align: left; padding: 10px; }
.PmsNewBooking20 .stepboxbody { padding: 10px; }
.PmsNewBooking20 .searchcustomerbox { margin: auto; max-width: 500px; }

.PmsNewBooking20 .GetShopQuickUser .change_user_form .tabs .tab {
    background: none !important;
    color: #000 !important;
    text-transform: uppercase !important;
    border: none !important;
    font-weight: bold;
}
.PmsNewBooking20 .GetShopQuickUser .change_user_form .tabs .tab.tab_active {
    border-bottom: solid 2px #72cff4 !important;
}
.PmsNewBooking20 .GetShopQuickUser .change_user_form .tabs .tab .fa-check {
    display:none;
}
.PmsNewBooking20 .GetShopQuickUser .change_user_form .tabs {
    border-bottom: solid 1px #72cff4;
}
.PmsNewBooking20 .newbookingoption:hover,
.PmsNewBooking20 .newbookingoption:hover .title { border-color: green; }
.PmsNewBooking20 .newbookingoption .title { font-size: 20px; padding: 10px; }
.PmsNewBooking20 .newbookingoption .descriptionimage img { height: 150px; width: 150px; margin-top: 10px; margin-bottom: 10px; }
.PmsNewBooking20 .newbookingprocess { display:none; text-align: center;}
.PmsNewBooking20 .newbookingprocess[for="start"] { display:block; text-align: center;}
.PmsNewBooking20 .spacerinrooms { height: 100px; }
.PmsNewBooking20 .edit_user_btn,
.PmsNewBooking20 .user_view { display:none !important; }
.PmsNewBooking20 .GetShopQuickUser .change_user_form, 
.PmsNewBooking20 .GetShopQuickUser .edit_details_of_user { position:initial; margin: auto; }
.PmsNewBooking20 .addconferenceroombox { background-color: #fff; display:inline-block; width: 400px; }
.PmsNewBooking20 .addroomboxes { text-align: center; }
.PmsNewBooking20 .roominformationbox.conferenceroom .guestinformation { display:none; }
.PmsNewBooking20 .roominformationbox.conferenceroom .title { margin-bottom: 0px; border-bottom: 0px; background-color:green; color:#fff; }
.PmsNewBooking20 .addroombox { background-color: #fff; display:inline-block; width: 630px; height: 125px;}
.PmsNewBooking20 .edit_details_of_user,
.PmsNewBooking20 .change_user { text-align: left; }
.PmsNewBooking20 .edit_details_of_user .colbox .row { margin-bottom: 10px; }
.PmsNewBooking20 .GetShopQuickUser .change_user_form .tabs .tab { 
    border-radius: 0px;
    color: #FFF;
    background: #23314e;
    background-color: #23314e;
    line-height: 34px;
    height: 37px;
    width:110px;
    text-align: center;
}


.PmsNewBooking20 .insideheader { text-align: left; border-bottom: solid 1px #efefef;padding-bottom: 3px; margin-bottom: 3px; text-transform: uppercase; color:#777;  }
.PmsNewBooking20 .insidebody { padding-left: 15px; }
.PmsNewBooking20 .bookinginformationkey { display:inline-block; width: 110px; color:#777; }
.PmsNewBooking20 .searchcustomerresultbox { border: solid 1px #bbb; display:inline-block; width: 270px; box-sizing: border-box; background-color:#fff; margin: 10px; }
.PmsNewBooking20 .searchcustomerresultbox .fullname { 
    font-size: 16px; border-bottom: solid 1px #bbb;padding: 10px;  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.PmsNewBooking20 .searchcustomerresultbox .usersresult { text-align: left; padding: 10px; height:180px; }
.PmsNewBooking20 .searchcustomerresultbox .selectusersbutton { width: 90%; box-sizing: border-box; margin-bottom: 10px; text-transform: uppercase; }



/* Step2 */
.PmsNewBooking20 .newbookingprocess[for="newbookingstep2"] .startdate { width: 220px; text-align: left; margin-right: 15px; }
.PmsNewBooking20 .newbookingprocess[for="newbookingstep2"] .enddate { width: 220px; text-align: left; margin-right: 15px;  }
.PmsNewBooking20 .searchforbooking { padding: 10px; background-color: #fff; }
.PmsNewBooking20 .roominformationbox { text-align: left; background-color:#fff;  max-width: 800px; margin:auto;margin-bottom: 10px; }
.PmsNewBooking20 .roominformationbox .title { font-size: 16px; padding: 10px; border-bottom: solid 1px #bbb; margin-bottom: 10px; }
.PmsNewBooking20 .roominformationbox .addanotherguest { color: blue; font-size: 12px; cursor:pointer; margin-top: 5px; display:inline-block; }
.PmsNewBooking20 .roominformationbox .addanotherguest:hover { color: black !important; }
.PmsNewBooking20 .roominformationbox .guestinformation { padding: 10px; }
.PmsNewBooking20 .completeregistrationbutton { max-width: 780px; width:100%; margin-bottom: 100px;}
.PmsNewBooking20 .addroomssummary { max-width: 780px; margin: auto; padding: 10px; font-size: 20px;margin-top: 20px;margin-bottom: 20px; height: 100px; }
.PmsNewBooking20 .addroomssummary .description { display:none; }
.PmsNewBooking20 .addroomssummary .addroomscategories { display:block; }
.PmsNewBooking20 .addroomssummary.disabled .description { display:block; }
.PmsNewBooking20 .addroomssummary.disabled .addroomscategories { display:none;  }
.PmsNewBooking20 .warnclosedroom { padding: 10px; border: solid 1px #bbb; background-color:red; display:inline-block; width: 800px; color:#fff; line-height: 25px; font-size: 16px; }
.PmsNewBooking20 .addroomssummary.isclosed { display:none; }
.PmsNewBooking20 .addAddonButton {color: #8cd8f6; cursor:pointer; }
.PmsNewBooking20 .editroompriceinput { width: 70px; }
.PmsNewBooking20 .editpriceonroom { display: none; float:right;padding-top: 2px;padding-right: 2px; }
.PmsNewBooking20 .pricetoroom { padding: 10px; box-sizing: border-box; font-size: 14px; line-height: 20px; cursor:pointer; font-weight: bold; border-left:  solid 1px #ddd; display:inline-block; float:right;}
.PmsNewBooking20 .pricetoroom .fa-edit { color:#8cd8f6; }
.PmsNewBooking20 .nameinput { width: 200px; margin-right: 10px; }
.PmsNewBooking20 .emailinput { width: 250px; margin-right: 10px; }
.PmsNewBooking20 .guestsuggestionrow { position:relative; }
.PmsNewBooking20 .prefixinput { width: 30; margin-right: 4px; text-align: center; }
.PmsNewBooking20 .phoneinput { width: 120px; margin-right: 10px; }
.PmsNewBooking20 .roomfooterarea { font-size: 14px; background-color:#fafcfd; color:#000; padding: 5px; }
.PmsNewBooking20 .addtoexistingbox { margin: auto; width: 500px; }
.PmsNewBooking20 .checkavailabilitybox { margin: auto; width: 500px; }
.PmsNewBooking20 .removeguest {     
        color: #ff6731;
        padding: 5px;
        border-radius: 3px;
        font-size: 16px;
        margin-right: 2px;
        cursor: pointer;
        text-align: center;
        width: 18px;
        display: inline-block;
    }
.PmsNewBooking20 .roomfooterarea .removeroom { padding: 10px; box-sizing: border-box; font-size: 14px; cursor:pointer; border-right:  solid 1px #ddd; display:inline-block; }
    
.PmsNewBooking20 .guestsuggestionname {
        display:inline-block;
        width: 35%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
.PmsNewBooking20 .guestsuggestionemail {
        display:inline-block;
        width: 35%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
.PmsNewBooking20 .guestsuggestionphone
    {
        display:inline-block;
        width: 20%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
.PmsNewBooking20 .guestionsuggestionarea { padding: 10px; padding-left: 22px; }
.PmsNewBooking20 .guestionsuggestionarea .addsuggestionarrow {
    position: absolute;
    left: -18px;
    top: 4px;
    cursor:pointer;
    color:#86c330;
}
.PmsNewBooking20 .listaddon { color: #8cd8f6; cursor:pointer; }
.PmsNewBooking20 .addaddonrow:hover { background-color:#efefef; padding-left: 20px; } 
.PmsNewBooking20 .addaddonrow { padding: 10px; border-bottom: solid 1px #bbb; cursor:pointer;text-align: left; }
.PmsNewBooking20 .addaddonrow.hideaddonrow { display: none; }
.PmsNewBooking20 .closeaddonspanel { padding: 10px; border-bottom: solid 1px #bbb; cursor:pointer; }
.PmsNewBooking20 .addonspanel { border: solid 1px #bbb; background-color:#fff; width: 300px; display:inline-block; border-bottom: solid 0px; display:none; z-index:2;}
.PmsNewBooking20 .addonspanel .fa { float:right; }
.freeroomresultbox .counterrow .fa {
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        top: 13px;
        left: 4px;
}
.PmsNewBooking20 .freeroomresultbox { width: 200px; display:inline-block;  background-color:#fff; margin: 10px; }
.PmsNewBooking20 .freeroomresultbox .dochoosebutton { margin-top: 10px; width: 100%; display:inline-block; box-sizing: border-box; border:solid 1px #bbb; }
.PmsNewBooking20 .freeroomresultbox .roomname { font-size: 20px; text-align: center; border-bottom: solid 1px #bbb;padding: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.PmsNewBooking20 .freeroomresultbox .numberavailable { font-size: 40px; text-align: center; }
.PmsNewBooking20 .freeroomresultbox .price { padding: 10px; }
.PmsNewBooking20 .freeroomresultbox .availroomstep { margin-top: 10px;}
.PmsNewBooking20 .freeroomresultbox .outercountbutton { 
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}