.gss_product_listoverview {
    padding: 15px;
}

.gss_new_productlist {
    padding: 15px;
}

.gss_add_product_row .editproduct {
    cursor: pointer;
    color: #0010C4;
}

.ProductLists .productlists_add_title {
    font-size: 16px;
}
.ProductLists .available_lists {
    margin-top: 15px;
    font-size: 16px;
}

.ProductLists .available_lists .gs_productlist .product_count {
    position: absolute; 
    top: 7px;
    right: 7px;
    padding: 5px;
    background-color: #3da73b;
    background: linear-gradient(to top, #05c100 , #06ec00); /* Standard syntax */
    color: #333;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.ProductLists .available_lists  .manage_list {
    background-color: #3da73b;
    background: linear-gradient(to top, #05c100 , #06ec00); /* Standard syntax */
    position: relative;
    top: 7px;
    position: absolute;
    padding: 5px;
    right: 0px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}


.ProductLists .available_lists .gs_productlist {
    font-size: 16px;
    position: relative;
    height: 36px;
    padding: 3px;
    cursor: pointer;
    margin-right: 30px;
}

.ProductLists .available_lists .gs_productlist:hover {
    background-color: #F1F1F1;
}
.ProductLists .available_lists .gs_productlist:last-child {
    border-bottom: solid 0px #DDD;
}

.ProductLists .webshop_button {
    font-size: 16px;
    border: solid 1px;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    cursor:pointer;
}


.ProductLists .products {
    font-size: 0px;
}
.ProductLists .products .content {
    font-size: 16px;
}

.ProductLists .product_price {
    font-size: 22px;
}
.ProductLists .productbox {
    position: relative;
    box-sizing: border-box;
}

.ProductLists .no_products_added_to_list {
    font-size: 24px;
    padding: 20px;
    text-align: center;
    color: red;
}

/* Start of rowview */
.ProductLists .products.row_view .product_row {
    position: relative;
}

.ProductLists .products.row_view .image {
    display: inline-block;
    width: 200px;
}


.ProductLists .products.row_view .webshop_button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ProductLists .products.row_view .content .product_title {
    margin-bottom: 10px;
    font-size: 20px;
}

.ProductLists .products.row_view .content {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    position: absolute; 
    left: 200px;
    right: 0px;
    bottom: 45px;
    top: 0px;
    overflow: hidden;
}

.ProductLists .products.row_view  .product_price {
    position: absolute;
    right: 10px;
    top: 0px;
}

/* Start of gridview */

.ProductLists .products.grid_view .productbox {
    border: solid 1px #EEE;
    padding: 10px;
    height: 600px;
}

.ProductLists .products.grid_view .productbox .product_title {
    height: 50px;
}

.ProductLists .products.grid_view .productbox .short_description { 
    height: 260px;
    overflow: hidden;
}
.ProductLists .products.grid_view .productbox img {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.ProductLists .products.grid_view .product_price {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ProductLists .products.grid_view .productbox_outer {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}


/* end of gridview */


.gss_editlist {
    padding: 15px;
}

.gss_products_in_list i {
    font-size: 20px;
    color: yellowgreen;
    margin-right: 10px;
}
.gss_products_in_list {
    margin-top: 5px;
    padding: 10px;
    border: solid 1px #F1F1F1;
}
.gss_products_add_to_list {
    
    margin-top: 10px;
    padding: 10px;
}

.gss_products_list_search_result .gss_no_products_exists  {
    text-align: center;
    font-size: 16px;
}
.gss_products_list_search_result .gss_no_products_exists .fa-warning {
    color: red;
    font-size: 40px;
    margin-right: 20px;
    display: block;
    
}

.gss_products_list_search_result {
    padding: 15px;
    border-left: solid 1px #F1F1F1;
    border-right: solid 1px #F1F1F1;
    border-bottom: solid 1px #F1F1F1;
}

#gss_filter_list_box_productlist {
    right: 35px !important;
    
}

#gss_search_for_products_in_list {
    position: absolute;
    right: 0px;
    font-size: 20px;
    border: solid 1px #F1F1F1;
    top: 13px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #17f800, #328e00);
    color: #FFF;
}

#gss_product_list_name {
    right: 0px !important;
}

.gss_add_product_row {
    border-bottom: solid 1px #F1F1F1;
    position: relative;
    height: 20px;
    padding: 10px;
}

.gss_add_product_row:last-child {
    border-bottom: solid 0px;
}
.gss_button.gss_removeFromList,
.gss_button.gss_addToList {
    position: absolute;
    right: 0px;
    top: 0px;
}

.gss_no_products_in_list_hidden {
    display: none;
}

