.gss_product_listoverview {
    padding: 15px;
}

.gss_new_productlist {
    padding: 15px;
}

.gss_add_product_row .editproduct {
    cursor: pointer;
    color: #0010C4;
}

.ProductLists .productlists_add_title {
    font-size: 16px;
}
.ProductLists .available_lists {
    margin-top: 15px;
    font-size: 16px;
}

.ProductLists .available_lists .gs_productlist .product_count i ,
.ProductLists .available_lists  .manage_list i {
    line-height: 100%;
}

.ProductLists .available_lists .gs_productlist .product_count,
.ProductLists .available_lists  .manage_list {
    position: absolute;
    right: 0px;
    padding: 5px;
    
    line-height: 100%;
    width: 30px;
    text-align: center;
    background-color: #F1f1f1;
 }

.ProductLists .available_lists .gs_productlist .product_count {
    top: 0px;
    bottom: 50%;
    
}

.ProductLists .available_lists  .manage_list {
    bottom: 0px;
    top: 50%;
    border-top: solid 1px #DDD;
    line-height: 30px;
}


.ProductLists .available_lists .gs_productlist {
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    padding-bottom: 30px;
}

.ProductLists .available_lists .gs_productlist:last-child {
    border-bottom: solid 0px #DDD;
}

.ProductLists .row_view .webshop_button_area {
    position: absolute;
    bottom: 10px;
    right: 0px;
    background: rgba(255,255,255, 1);
}
.ProductLists .grid_view .webshop_button_area {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 90px;
    background: rgba(255,255,255, 1);
    border-top: solid 1px #EEE;
}

.ProductLists .grid_view .shop_button {
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.ProductLists .grid_view .product_price {
    position: absolute; 
    bottom: 55px;
    z-index: 1;
    text-align: center;
    left: 0px;
    right: 0px;
}

.ProductLists .products.grid_view {
    font-size: 0px;
}
.ProductLists .products .content {
    font-size: 16px;
}

.ProductLists .product_price {
    font-size: 22px;
}
.ProductLists .productbox {
    box-sizing: border-box;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
}

.ProductLists .no_products_added_to_list {
    font-size: 24px;
    padding: 20px;
    text-align: center;
    color: red;
}

/* Start of rowview */
.ProductLists .products.row_view .product_row {
    position: relative;
}

.ProductLists .products.row_view .image {
    display: inline-block;
    width: 200px;
}

.ProductLists .products .productbox .image i {
    font-size: 150px;
    color: #EEE;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ProductLists .products.row_view .webshop_button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ProductLists .products.row_view .content .product_title {
    margin-bottom: 10px;
    font-size: 20px;
}

.ProductLists .products.row_view .content {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    position: absolute; 
    left: 200px;
    right: 0px;
    bottom: 45px;
    top: 0px;
    overflow: hidden;
}

.ProductLists .products.row_view  .product_price {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(255,255,255,0.8);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-right: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
}

/* Start of gridview */

.ProductLists .products.grid_view .productbox {
    border: solid 1px #EEE;
    padding: 10px;
    height: 600px;
    padding-top: 60px;
}

.ProductLists .products.grid_view .product_line_seperator {
    height: 20px;
}

.ProductLists .products.grid_view .productbox .product_title {
    position: absolute;
    
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 10px;
    overflow: hidden;
    height: 60px;
    box-sizing: border-box;
}

.ProductLists .products.grid_view .productbox .short_description { 
    height: 260px;
    overflow: hidden;
}
.ProductLists .products.grid_view .productbox img {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.ProductLists .products.grid_view .product_price {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ProductLists .products.grid_view .productbox_outer {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}


/* end of gridview */


.gss_editlist {
    padding: 15px;
}

.gss_products_in_list i {
    font-size: 20px;
    color: yellowgreen;
    margin-right: 10px;
}
.gss_products_in_list {
    margin-top: 5px;
    padding: 10px;
    border: solid 1px #F1F1F1;
}
.gss_products_add_to_list {
    
    margin-top: 10px;
    padding: 10px;
}

.gss_products_list_search_result .gss_no_products_exists  {
    text-align: center;
    font-size: 16px;
}
.gss_products_list_search_result .gss_no_products_exists .fa-warning {
    color: red;
    font-size: 40px;
    margin-right: 20px;
    display: block;
    
}

.gss_products_list_search_result {
    padding: 15px;
    border-left: solid 1px #F1F1F1;
    border-right: solid 1px #F1F1F1;
    border-bottom: solid 1px #F1F1F1;
}

#gss_filter_list_box_productlist {
    right: 35px !important;
    
}

#gss_search_for_products_in_list {
    position: absolute;
    right: 0px;
    font-size: 20px;
    border: solid 1px #F1F1F1;
    top: 13px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #17f800, #328e00);
    color: #FFF;
}

#gss_product_list_name {
    right: 0px !important;
}

.gss_add_product_row {
    border-bottom: solid 1px #F1F1F1;
    position: relative;
    height: 20px;
    padding: 10px;
}

.gss_add_product_row:last-child {
    border-bottom: solid 0px;
}
.gss_button.gss_removeFromList,
.gss_button.gss_addToList {
    position: absolute;
    right: 0px;
    top: 0px;
}

.gss_no_products_in_list_hidden {
    display: none;
}

.ProductLists .selectProductList {
    border: solid 1px #F1F1F1;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ProductLists .list_selectable i.iconlist {
    font-size: 40px;
    float: left;
    margin-right: 10px;
    color: #CCC;
}

.ProductLists .list_selectable {
    border: solid 1px #F1F1F1;
    /*display: inline-block;*/
    /*width: 150px;*/
    vertical-align: top;
    text-align: left;
    position: relative;
    padding-right: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    color: #333;   
}


.ProductLists .remove_product_from_list {
    background-color: rgba(255,255,255, 0.8);
    border-bottom: solid 1px #DDD;
    border-right: solid 1px #DDD;
    z-index: 10;
    position: absolute;
    font-size: 16px;
    padding: 10px;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

.ProductLists .setproductlist {
    /*padding: 20px;*/
}

.ProductLists .slidelist {
    overflow-x: hidden;
    position: relative;
}

.ProductLists .slidelist .slidelist_inner {
    white-space: nowrap;
}

.ProductLists .slidelist .slidePrev,
.ProductLists .slidelist .slideNext {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    padding-left: 15px; padding-right: 15px;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    cursor: pointer;
}

.ProductLists .slidelist .slidePrev:hover,
.ProductLists .slidelist .slideNext:hover {
    background-color: rgba(0,0,0,0.8);
}

.ProductLists .slidelist .slidePrev {
    left: 0px;
}
.ProductLists .slidelist .slideNext {
    right: 0px;    
}

.ProductLists .slidelist .product {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    padding-rigth: 50px;
    white-space: normal;
    vertical-align: top;
}
.ProductPictures .mainimage { background-color:#fff !important; }
.ProductLists .templatebox_1 .productbox:hover .addProductToCart { background-color: blue !important; color: white !important; }
.ProductLists .templatebox_1 .productbox { padding: 0px !important; height: 470px !important; }
.ProductLists .templatebox_1 .productbox .product_price { font-size: 18px !important; }
.ProductLists .templatebox_1 .productbox .product_row { width: 100%; height: 100%; background-size: 100%; background-repeat: no-repeat; }
.ProductLists .templatebox_1 .webshop_button_area { height: 165px !important; }
.ProductLists .templatebox_1 { margin-top: 20px; margin-bottom: 20px; }
.ProductLists .templatebox_1 .seperator { border-top: solid 1px; display: inline-block; width: 100px; height: 8px; }
.ProductLists .templatebox_1 .product_price { bottom: 72px; }
.ProductLists .templatebox_1 .shop_button {
    position: absolute !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    margin: 0px;
    box-sizing: border-box;
}


.ProductLists .templatebox_2 .productbox { border: solid 1px; margin-bottom: 20px; height: 250px; }
.ProductLists .templatebox_2 .productimage { width: 500px; height: 250px; background-size: cover; }
.ProductLists .templatebox_2 .product_title{ position: absolute; left: 520px; top: 15px; }
.ProductLists .templatebox_2 .short_desc { position: absolute; left: 520px; top: 65px; padding-right: 10px; }

@media only all and (max-width: 800px) { 
    .productbox { width: 100% !important; margin-bottom: 20px; }
    .productbox_outer { width: 100% !important; }
    .ProductLists .products.grid_view .productbox { width: 100% !important; height: auto; padding-bottom: 100px; padding-top: 25px; }
    .ProductLists .products.grid_view .productbox .short_description { height: auto; font-size: 16px; padding-bottom: 5px; }
    .ProductLists .product_title { padding-top: 120px; }
    .ProductLists .grid_view .shop_button { margin-top: 35px !important; }
    .ProductLists .product_price { color:green; }
    
    .ProductLists .webshop_button_area {
        padding-top: 10px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .ProductLists .slidelist .product {
        padding-left: 30px;
    }
    
    .ProductLists .slidelist .product_inner {
        margin-right: 50px;
        padding: 20px;
        box-sizing: border-box;
    }
    .ProductLists .slidelist .product  img {
        max-width: 100%;
    }
    
    .ProductLists .slidelist .slidePrev {
        left: 10px;
    }
    .ProductLists .slidelist .slideNext {
        right: 10px;    
    }

}