.gsmobilemenu,.gsmobileheader { display:none !important; }
h1,h2,h3 { margin: 0px; padding-top: 10px; padding-bottom: 10px; }
body { 
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}
.capasity { position:absolute; right: 10px; top: 10px; }
.PmsCalendar .continuebuttonmobile { background-color:#ed70ec; color:#fff; }
.PmsCalendar .continue_button,.PmsBookingContactData .complete_button { text-transform: uppercase; background-color:#ed70ec; }
.gsbody_inner.gseditormode { margin: 0px !important; }
.PmsBookingSummary, .PmsBookingContactData { margin-left: 10px; margin-right: 10px; }