.gs_page_width { width: 1100px; margin: auto; }
.gsarea[area="header"],.gsarea[area="footer"] { background-color:#e5e5e5; color:#4D4D55; height: 75px; box-shadow: 0 4px 5px rgba(0,0,0,0.3); margin-bottom: 25px; }
.gsarea[area="footer"] { margin-top: 30px; height: 120px; padding: 10px; }
body { 
    background-color: #4d4c4d;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.gsarea[area="body"] .gsuicell.gsdepth_0 { 
    padding: 10px;
}

.gsarea[area="body"] .gs_page_width { background-color:#fff;
box-shadow: 0 4px 5px rgba(0,0,0,0.3); ;


}
.Menu { float:right; }
.Menu .entry .entries { background-color:#e5e5e5; }
.Menu .entry .entries .entry a { font-size: 12px; line-height: 14px; height: 18px; padding: 5px;border-bottom: solid 1px; text-align: left; }
.Menu .entry a { width: 150px; height: 75px; display:inline-block; line-height: 75px; text-transform: uppercase; color:#4D4D55;   font-size: 16px; text-align: center; }
.gsbody_inner.gseditormode { border-right: 0px; }
.PmsBookingContactData .complete_button,
.PmsCalendar .dayslot.free:hover,
.PmsCalendar .dayentry:hover,
.PmsCalendar .roomentry:hover { background-color:#585ed4; color:#fff;  }
.PmsCalendar .continue_button,.PmsBookingContactData .complete_button { text-transform: uppercase; }
.PmsCalendar .readmorelink a { color:#000; text-decoration: underline; }
.PmsBookingContactData .paymentheaders { display:none; }
.Button { text-align: center; }

.shop_button {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
        border: solid 0px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
        height: 25px;
        line-height: 25px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
.PmsBookingSummary .itemname { width: 200px !important; }

.PmsCalendar .tinycalendar { background-color: #fff; color:#000; border: solid 0px;}
.PmsCalendar .selectedweek { border: solid 0px; background-color:#efedee; }

.PmsCalendar .dayslot.free:hover, .PmsCalendar .dayentry:hover, .PmsCalendar .roomentry:hover { background-color:inherit !important; color:rgba(0,0,0,0.8) !important; }
.PmsCalendar .dayentry.selected { font-weight: bold !important; color:#000 !important; }