.SedoxUserPanel {
    color: #666;
}
.informationbox.SedoxUserPanel {
    color: #FFF;
}

.SedoxUserPanel .sedox_box {
    position: relative;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}

.SedoxUserPanel .sedox_box .icon i {
    width: 120px;
    text-align: center;
}
.SedoxUserPanel .sedox_box .icon {
    font-size: 120px;
    margin-top: 20px;
    text-shadow: 1px 1px #BBB;
    color: #DDD;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
}

.SedoxUserPanel .sedox_box .paging {
    text-align: center;
    padding: 2px;
    padding-bottom: 10px;
}

.SedoxUserPanel .sedox_box .paging .prev,
.SedoxUserPanel .sedox_box .paging .next {
    cursor: pointer;
}

.SedoxUserPanel .sedox_box .icon,
.SedoxUserPanel .sedox_box .details {
    vertical-align: top;
}

.SedoxUserPanel .sedox_box .details td {
    color: #666;
    font-size: 15px;
}

.SedoxUserPanel .bottom_information {
    text-align: center;
    padding-bottom: 20px;
    
}

.SedoxUserPanel .sedox_box table {
    margin-top: 5px;
}
.SedoxUserPanel .sedox_box th {
   text-align: left;
   font-size: 14px;
   font-weight: normal;
   color: #333;
}

.SedoxUserPanel .sedox_box th.col1 { width: 80px; }
.SedoxUserPanel .sedox_box th.col2 { width: 550px; }

.SedoxUserPanel .sedox_box .details.geninfotop {
    margin: 20px;
    padding-bottom: 20px;
}
.SedoxUserPanel .sedox_box .details {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.SedoxUserPanel .sedox_box .detailstitle {
    background-color: #a6a6a6;
    font-size: 27px;
    padding: 20px;
    color: #FFF;
    font-weight: normal;
}

.SedoxUserPanel .sedox_box .sedox_button {
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.SedoxUserPanel .filehistory,
.SedoxUserPanel .filehistory a {
    font-size: 14px;
    color: #666;
}
.SedoxUserPanel .col {
    display: inline-block;
}

.SedoxUserPanel .sedox_title { 
    font-size: 22px;
    color: #cc0000;
    padding-top: 20px;
    margin-left: 20px;
}

.SedoxUserPanel .filehistory .col1 { width: 100px; }
.SedoxUserPanel .filehistory .col2 { width: 500px; }

.SedoxUserPanel .row {
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
    font-weight: normal;
}



.SedoxUserPanel .row.even {
    background-color: #d9d9d9;
}

.SedoxUserPanel .row.header {
    background-color: #bfbfbf;
}
.SedoxUserPanel .row.even {
    background-color: #e6e6e6;
}
.SedoxUserPanel .row .col1 {
    padding-left: 30px;
}

.SedoxUserPanel .credithistory .row .col3 {
    width: 100px;
}
.SedoxUserPanel .credithistory {
    font-size: 14px;
}

.SedoxUserPanel .show_slave_credit_history {
    cursor: pointer;
    color: blue;
}

.SedoxUserPanel .slave_credit_history {
    padding: 20px;
    font-size: 15px;
}

.informationbox.SedoxUserPanel .row {
    padding-bottom: 3px;
    padding-top: 8px;
    border-bottom: solid 1px #555;
 
}
.informationbox.SedoxUserPanel .row .col {
    color: #FFF;
    
    margin-bottom: 5px;
}

.informationbox.SedoxUserPanel .row .col1 { width: 186px; }
.informationbox.SedoxUserPanel .row .col2 { width: 90px; }
.informationbox.SedoxUserPanel .row .col3 { width: 570px; }
.informationbox.SedoxUserPanel .row .col4 { width: 50px; }