.SedoxProductSearcher .searcharea input {
    height: 20px;
    border: solid 1px #DDD;
    font-size: 14px;
    padding: 4px;
    border-radius: 3px;
    margin-right: 4px;
}

.SedoxProductSearcher .result .product_row  {
    border: solid 1px #DDD;
    background-color: #f1f1f1;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    cursor: pointer;
}


.SedoxProductSearcher .result .product_row .product_header {
    font-size: 16px;    
    color: #CC0000;
}

.SedoxProductSearcher .result .product_row .extendedinfo {
    padding-left: 20px; 
    padding-top: 10px;
}

.SedoxProductSearcher .result .product_row .extendedinfo .col1,
.SedoxProductSearcher .result .product_row .extendedinfo .col2 {
    display: inline-block;
}


.SedoxProductSearcher .result .product_row .extendedinfo .col1 {
    width: 130px;
}

.SedoxProductSearcher .sedox_information {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.SedoxProductSearcher .sedox_information .title {
    font-size: 16px;
    color: #cc0000;
}

.SedoxProductSearcher .sedox_information .col {
    width: 460px;
    display: inline-block;
    vertical-align: top;
}

.SedoxProductSearcher .noresult {
    padding: 20px;
    font-size: 16px;
    color: #CC0000;
    background-color: #f1f1f1;
    text-align: center;
}
.SedoxProductSearcher .sedox_information {
    font-size: 16px;
}




<!-- Search Result -->

.SedoxProductSearcher .header {
    background-color: #bfbfbf;
    height: 30px;
}


.SedoxProductSearcher .header {
    font-size: 0px;
    background-color: #bfbfbf;
}

.SedoxProductSearcher .header div {
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
}

.SedoxProductSearcher .productinfo {
    margin-top: 4px;
}

.SedoxProductSearcher .title {
    font-size: 20px;
    padding-left: 20px;
    line-height: 60px;
    background-color: #a6a6a6;
    color: #FFF;
}

.SedoxProductSearcher .sedox_product_box .header,
.SedoxProductSearcher .sedox_product_box .row {
    padding: 10px;   
    padding-left: 15px;
}

.SedoxProductSearcher .sedox_product_box .row {
    background-color: #f1f1f1;
    font-size: 14px;
    margin-bottom: 3px;
    font-size: 0px;
}

.SedoxProductSearcher .sedox_product_box .row div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.SedoxProductSearcher .sedox_product_box .col { padding-left: 5px;}
.SedoxProductSearcher .productinfo .col1 { width: 100px; }
.SedoxProductSearcher .productinfo .col2 { width: 100px; }
.SedoxProductSearcher .productinfo .col3 { width: 100px; }
.SedoxProductSearcher .productinfo .col4 { width: 100px; }
.SedoxProductSearcher .productinfo .col5 { width: 110px; }
.SedoxProductSearcher .productinfo .col6 { width: 110px; }
.SedoxProductSearcher .productinfo .col7 { width: 130px; }
.SedoxProductSearcher .productinfo .col8 { width: 130px; }
.SedoxProductSearcher .productinfo .col9 { width: 50px; }

.SedoxProductSearcher .sedox_information .title { background-color: inherit; padding: 0px; line-height: inherit;}