.SedoxProductSearcher .searcharea input {
    height: 20px;
    border: solid 1px #DDD;
    font-size: 14px;
    padding: 4px;
    border-radius: 3px;
    margin-right: 4px;
}

.SedoxProductSearcher .result .product_row  {
    border: solid 1px #DDD;
    background-color: #f1f1f1;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    cursor: pointer;
}


.SedoxProductSearcher .result .product_row .product_header {
    font-size: 16px;    
    color: #CC0000;
}

.SedoxProductSearcher .result .product_row .extendedinfo {
    padding-left: 20px; 
    padding-top: 10px;
}

.SedoxProductSearcher .result .product_row .extendedinfo .col1,
.SedoxProductSearcher .result .product_row .extendedinfo .col2 {
    display: inline-block;
}


.SedoxProductSearcher .result .product_row .extendedinfo .col1 {
    width: 130px;
}

.SedoxProductSearcher .sedox_information li {
	list-style-type:none;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3goZCzEz9pleDgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAEaSURBVCjPlZA9jsJADIVtjxWgYIRSQ0GHlDocgXvmCEjcAzrOEERFQzRjj7ewNGR/mnX1ZH96zzY+n8/z+Xy/39/v92KxQERVLaUQERGp6nq97rrudDrhMAy32y3G2LYtM6sqM4cQVBUAAKCUknM+HA58vV5jjNvtdrVaEREz55zNLITgHDOnlMZxZBHZbDZN05iZmaWUENHXAABEzDkjYgiBPcXMSikunHBRy8y4Ek6bmbv+jfrJPvuNeueDisg8dy5KKd/Q+prKVfsPamb/QGv9uAMAiMhRAKDlcikiKSUAEBFPyDkDwFw0TUN93wPANE3+/GovIm6ZUlLV/X6Pj8fjcrm8Xq9pmjw3hEBEIuK5Mcbdbnc8Hr8AOP8bjhkvS2kAAAAASUVORK5CYII=");
	padding-bottom: 15px;
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding-left: 25px;
}
.SedoxProductSearcher .sedox_information {
    padding: 20px;
	background-color: #f1f1f1;
}
.SedoxProductSearcher .sedox_information .title {
    font-size: 22px;
    color: #cc0000;
}

.SedoxProductSearcher .sedox_information .col {
    width: 460px;
    display: inline-block;
    vertical-align: top;
}

.SedoxProductSearcher .noresult {
    padding: 20px;
    font-size: 16px;
    color: #CC0000;
    background-color: #f1f1f1;
    text-align: center;
}
.SedoxProductSearcher .sedox_information {
    font-size: 16px;
}




<!-- Search Result -->

.SedoxProductSearcher .header {
    background-color: #bfbfbf;
    height: 30px;
}


.SedoxProductSearcher .header {
    font-size: 0px;
    background-color: #bfbfbf;
}

.SedoxProductSearcher .header div {
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
}

.SedoxProductSearcher .productinfo {
    margin-top: 4px;
    cursor: pointer;
}

.SedoxProductSearcher .title {
    font-size: 20px;
    padding-left: 20px;
    line-height: 60px;
    background-color: #a6a6a6;
    color: #FFF;
}

.SedoxProductSearcher .sedox_product_box .header,
.SedoxProductSearcher .sedox_product_box .row {
    padding: 10px;   
    padding-left: 15px;
}

.SedoxProductSearcher .sedox_product_box .row {
    background-color: #f1f1f1;
    font-size: 14px;
    margin-bottom: 3px;
    font-size: 0px;
}

.SedoxProductSearcher .sedox_product_box .row div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.SedoxProductSearcher .sedox_product_box .col { padding-left: 5px; overflow: hidden;}
.SedoxProductSearcher .productinfo .col1 { width: 100px; }
.SedoxProductSearcher .productinfo .col2 { width: 100px; }
.SedoxProductSearcher .productinfo .col3 { width: 90px; }
.SedoxProductSearcher .productinfo .col4 { width: 90px; }
.SedoxProductSearcher .productinfo .col5 { width: 100px; }
.SedoxProductSearcher .productinfo .col6 { width: 100px; }
.SedoxProductSearcher .productinfo .col7 { width: 120px; }
.SedoxProductSearcher .productinfo .col8 { width: 120px; }
.SedoxProductSearcher .productinfo .col9 { width: 70px; }
.SedoxProductSearcher .productinfo .col10 { width: 50px; }

.SedoxProductSearcher .sedox_information .title { background-color: inherit; padding: 0px; line-height: inherit;}