body{font-family: 'Montserrat', sans-serif;font-size:15px;font-weight:300;}
.gsbody_inner.gscanchangelayout{position:relative;}/*Makes it possible for 100% width absolute header*/
.gsbody_inner[pageid="2c0a4d0e-6885-4cc2-acec-36a2fb236048"] .gsarea[area="header"] {height:600px;position:absolute;width:100%;}
.gs_page_width{max-width:1100px;margin:auto;}

.shop_button{height:30px;line-height:30px;margin:2px;border-radius:4px;color:#fff;}

.gsarea[area="header"]{
    background-image : url("/displayImage.php?id=8c9f5c89-5b65-446c-b944-5bc4757dbacb");
    height: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: rgba(50, 61, 70, 0.93) !important;}
.gsarea[area="body"] {background-color:#fff;min-height:900px;}
.gsarea[area="body"] .gs_page_width{background-color:transparent;}
.gsarea[area="body"] .ContentManager a{color:#b58d4e;font-weight:600;}
.gsarea[area="footer"]{
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    background-image : url("/displayImage.php?id=319cc92f-9e52-4652-ba4e-101ccd62cbee");
    color:#fff;
    line-height:1.8;}
.ContentManager h1, .PmsConfiguration h1{font-weight:300;color:#000;letter-spacing:1px;}
.ContentManager h2{font-weight:400;color:#b58d4e;}
.ContentManager h3{font-weight:700;font-size:20px;}

.Menu{padding-top:10px;text-align:right;}
.Menu .entry a div{margin:16px;padding:6px 0;font-size:18px;color:#fff;}
.Menu .entry.active a div{box-shadow:0px 1px 0px 0px #fff;}
.Menu .entry .entries{background-color:#fff;text-align:center;box-shadow:0px 1px 6px 0px #222;white-space:nowrap;}
.Menu .entry .entries .entry div{color:#000;font-size:18px;margin:16px;}
.Menu .entry .entries .entry.active div{box-shadow:0px 1px 0px 0px #000;}
.Menu .entry .entries:before{
    content:"";
    background-color:#fff;
    height:10px;
    width:10px;
    z-index:-1;
    position:absolute;
    top:-5px;left:20%;
    -webkit-transform: scaleX(1) rotate(45deg); 
    -ms-transform: scaleX(1) rotate(45deg);
    transform: scaleX(1) rotate(45deg);}

.gscontainer.gsrotating .gscell.gsdepth_1{background-color:rgba(50, 61, 70, 0.93) !important;}

.shop_button,
.PmsBookingProductList .continue_button,
.PmsBookingContactData .complete_button,
.PmsBookingCalendar .calendar .calendar_header,
.PmsBookingCalendar .calendar .day.selected{background:#2792c7;background-color:#2792c7; border-color:#2792c7;}
.PmsBookingProductList .continue_button.disabled{border-color:#bbb;}

.gs_language_selection{border:0;right:0;}
.gs_language_selection a{font-size:0;}
.gs_language_code.active{color:#4eb575;cursor:default;}
.gs_language_code{
    color:#000;
    background-color:#fff;
    border-radius:50%;
    padding:10px;
    font-weight:600;
    margin:4px 4px 0 4px;
    font-size:12px;}
.gs_language_code.gs_lang_code_de:after{content:"DE";}
.gs_language_selection .gs_lang_code_en_en:after{content:"EN";font-size:12px;}
.gs_language_selection .gs_lang_code_en_en{content:"EN";font-size: 0px;}

.footerprovidedtext, .footerprovidedtext a{color: #000;font-weight:600;padding:20px 0 !important;}

.gscarouseldots .fa{text-shadow:0 0 0;color: rgba(0, 0, 0, 0.3);font-size:14px;}
.gscarouseldots .fa.activecarousel{color:#fff;text-shadow: 0px 1px 1px #000;}
.gsrotatearrow{display:none;}

.PmsBooking{text-align:center;margin:200px auto;max-width:900px;padding:0 20px;}
.PmsBooking:before{content:"Book - Your - Stay";font-size:30px;color:#fff;font-weight:300;}
.PmsBooking .inputblock{margin:0;width:46%;}
.PmsBooking .pmsfront{padding-top:20px;}
.PmsBooking .pmsfront .dates input{
    width:100%;
    padding:22px 0;
    text-align:center;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;}
.PmsBooking .pmsfront .dates .dates_inner{border:0;padding:0;width:100%;background-color:transparent;}
.PmsBooking .pmsfront .dates.start_date{float:none !important;}
.PmsBooking .pmsfront .start_date_input{box-shadow:inset -1px 0px 0px 0px #ddd;border-radius: 8px 0px 0px 8px !important;}
.PmsBooking .pmsfront .bookingbuttonblock{width:8%;}
.PmsBooking .pmsfront .check_available_button:after{content:"\f002";font-size:20px;font-family:fontawesome;}
.PmsBooking .pmsfront .check_available_button{
    margin:0;
    padding:0;
    font-size:0;
    width:100%;
    height:71px;
    line-height:71px;
    background-color:#4eb575;
    border-radius:0px 8px 8px 0;
    box-sizing:border-box;}
.PmsBooking .pmsfront2 .fa-bed,
.PmsBooking .pmsfront .fa-calendar,
.PmsBooking .inputhelpertext{display:none;}

.gscell_1.gsuicell{z-index:3;padding-top:30px;}
.gscell_3.gsuicell{position:absolute;padding-left:20px;}
.gscell_127.gsucell{top:360px;color:#fff;}
.gscell_127.gsuicell{max-width:900px;padding:0 20px;margin:auto;text-align:center;font-size:18px;line-height:1.5;}
.gscell_127.gsuicell,
.gscell_126.gsuicell{background-color:transparent !important;}
.gscell_127.gsucell,
.gscell_126.gsucell{
    position:absolute;
    z-index:2;
    width:100%;}

@media only all and (max-width:800px){
    .gsarea[area="footer"]{text-align:center;}
    .Menu .menuentries .entry{padding:7px 10px;}
    .Menu .mobilenavigatemenu i{font-size:0;padding:15px 15px 0 0;}
    .Menu .mobilenavigatemenu i:before{font-size:34px;color:#fff;}
    .Menu .entry a div{color:#000;margin:10px;}
    .Menu .entry.active a div{box-shadow: 0px 1px 0px 0px #000;}
    .Menu .entry .entries:before{background-color: #b58d4e;left: 47%;}
    .Menu .entry .entries{background-color: #fff;border-radius:0;box-shadow:0 0 0;border: 2px solid #b58d4e;}
    .Menu .menuentries.horizontal:before{
        content: "";
        background-color: #fff;
        height: 10px;
        width: 10px;
        z-index: -1;
        position: absolute;
        top: -5px;
        right: 10%;
        -webkit-transform: scaleX(1) rotate(45deg);
        -ms-transform: scaleX(1) rotate(45deg);
        transform: scaleX(1) rotate(45deg);}
    .Menu .menuentries.horizontal{
        top:80px;
        width:100%;
        max-width:250px;
        right:0;
        left:auto;
        background-color:#fff;
        text-align:center;
        box-shadow: 0px 0px 10px 0px #222;}
    .gscell_128.gsuicell .gsucell{
        width:20%;
        float:left;
        font-size:14px;
        line-height:2;}
    .gscell_3.gsucell{margin-rigt:72px;}
    .gscell_4.gsucell{margin-left:0 !important;width: 100% !important;}
    .gscell_128.gsuicell .gsucell .fa{font-size:18px !important;}
    .gsrotating[cellid='ec1d2e94-e1e0-4212-8999-60b659d19f37'],
    .gsrotating[cellid='ec1d2e94-e1e0-4212-8999-60b659d19f37'] .gscell.gsdepth_1{min-height:450px !important;height:450px !important;}
}
@media only all and (max-width:600px){
    .PmsBooking:before{font-size:20px;}
    .PmsBooking .inputblock{width:40%;}
    .PmsBooking .pmsfront .dates input{font-size:14px;}
    .PmsBooking .pmsfront .check_available_button{height: 62px;line-height: 62px;}
    .PmsBooking .pmsfront .bookingbuttonblock{width:20%;}
}
@media only all and (max-width:400px){
    .gscell_128.gsuicell .gsucell{font-size:8px;}
}