/* 
    Document   : SedoxFileUpload
    Created on : May 16, 2014, 10:06:21 PM
    Author     : ktonder
    Description:
        Purpose of the stylesheet follows.
*/

.SedoxFileUpload .step {
    min-height: 100px;
    margin-bottom: 2px;
    position: relative;
    font-size: 16px;
    padding: 20px;
    color: #666;
    background-color: #F1F1F1;
}

.SedoxFileUpload .sedox_button {
    left: 10px;
    margin-top: 10px;
}
.SedoxFileUpload .step .line.multi {
    border-bottom: solid 1px #DDD;
    width: 420px;
}
.SedoxFileUpload .step .line {
    margin-top: 5px;
    vertical-align: top;
}
.SedoxFileUpload .step .line textarea {
    width: 632px;
    height: 100px;
    border: solid 1px #7c7c7c;
}

.SedoxFileUpload .step .step_title {
    color: #cc0000;
    font-size: 20px;
}

.SedoxFileUpload .col {
    width: 300px;
    padding-right: 20px;
}

.SedoxFileUpload .col input:not(.upload_checkbox) {
    width: 300px;
    border: solid 1px #7c7c7c;
    line-height: 30px;
    padding-left: 10px;
}


.SedoxFileUpload .step .subinfo .line .col1, 
.SedoxFileUpload .step .subinfo .line .col1_1, 
.SedoxFileUpload .step .subinfo .line .col2, 
.SedoxFileUpload .step .subinfo .line .col3 { 
   display: inline-block;
   vertical-align: top;
}


.SedoxFileUpload .step .subinfo {
    margin-top: 10px;
    padding-left: 10px;
}

.SedoxFileUpload .sedox_match_options {
    margin: 20px;
}
.SedoxFileUpload .sedox_match_options .sedox_match_option {
    display: inline-block;
    border: solid 1px #EEE;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.SedoxFileUpload .sedox_match_options .sedox_match_option i {
    font-size: 80px;
}

.SedoxFileUpload a {
    color: #666;
}

.SedoxFileUpload .sedox_match_options .sedox_match_option:hover {
    background-color: #DDD;
}

.SedoxFileUpload .specialform {
    display: none;
}

.SedoxFileUpload .specialform .innerform {
    padding: 40px;
    position: relative;
    width: 400px;
    padding-bottom: 30px;
}

.SedoxFileUpload .col .checkbox {
    font-size: 12px;
    padding-left: 30px;
    position: relative;
    padding-top: 20px;
}

.SedoxFileUpload .col .firstbox input.upload_checkbox {
    top: 15px;
}

.SedoxFileUpload .col input.upload_checkbox {
    position: absolute;
    left: 0px;
    top: 20px;
    vertical-align: top;
    padding-top: 5px;
    width: 20px;
    height: 20px;
}

.SedoxFileUpload #specialformdesc {
    width: 500px;
    height: 200px;
}

.SedoxFileUpload input {
    height: 30px;
    width: 310px;
}

.SedoxFileUpload input { line-height: 30px; padding-left: 5px; }
.SedoxFileUpload .placeholder { color: #aaa; }

.SedoxFileUpload .md5sumsearchresult { text-align:  center; font-weight: bold; color: green; padding-top: 10px;}