/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2015, 9:33:22 AM
    Author     : ktonder
*/

.QuestBackUserOverview .yourtests {
    padding: 20px;
}

.QuestBackUserOverview .yourtests .test {
    font-size: 20px;
    
    border-radius: 5px;
    
    padding: 15px;
    color: #333;
    margin-bottom: 20px;
    
    cursor: pointer;
    position: relative;
    
    border: solid 1px #CCC;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.QuestBackUserOverview .yourtests .test .progress_in_test {
    position: absolute;
    font-size: 13px;
    top: 0px;
    right: 0px;
    line-height: 57px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid 1px #CCC;
}