<div class="container mainview" ng-controller="GetShopMainViewController" >
    <div ng-include="'partials/menu.html'"></div>
    
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Arriving Today</h3>
              <p>
              (1-105) Kjell Monsen 
              <br/>(2-305) Kåre Fjell
              <br/>(1-305) Petter skolebenk
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Leaving today</h3>
              <p>
              (1-105) Marit Bjørgen
              <br/>(2-305) Petter Solberg
              <br/>(1-305) Mikke Mus
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            
            <div class="caption">
              <h3>Dirty rooms (cleaning)</h3>
              <p>1-105, 2-201, 1-210</p>
            </div>
          </div>
        </div>
    </div>
    
    
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Your reservations</div>
        
        <div class="panel-body">
            <p>In the list below you can see all the reservations that has been done trough your system. <br/>To view more information please click on one of the reservations.</p>
        </div>
        
        <!-- Table -->
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Check In</th>
                <th>Check Out</th>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
            <tr>
                <td>Kai Tønder</td>
                <td>12.05.2015</td>
                <td>13.05.2015</td>
            </tr>
        </table>
    </div>
</div>