<div class="container mainview" ng-controller="GetShopRoomSetupController" >
    <div ng-include="'partials/menu.html'"></div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add a new roomtype</h3>
            
        </div>
        
        <div class="panel-body">
            <div class="well">
                Please add as many roomtypes that you have in your hotel. All types will be available for you customers to book, adding as much information as possible helps customers to choice the correct type of room
            </div>
            <form  ng-submit="createRoomType(roomtypeform)" name="roomtypeform">
                <div class="form-group">
                    <label for="roomTypeName">Name of roomtype</label>
                    <input ng-model="roomtype.name" class="form-control" id="roomTypeName" placeholder="Single standard room">
                </div>
                <div class="form-group">
                    <label for="inputPrice">Price each night</label>
                    <input ng-model="roomtype.price" class="form-control" id="inputPrice" placeholder="249">
                </div>
                <div class="form-group">
                    <label for="inputPrice">Size</label>
                    <input ng-model="roomtype.size" class="form-control" id="inputPrice" placeholder="16">
                </div>
                
                <div class="form-group">
                    <label for="inputEmail">Domain</label>
                    <br/>
                    <select ng-model="roomtype.domain" class="selectpicker">
                        <option selected ng-repeat="obj in domains" value="{{obj.id}}">{{obj.name}}</option>
                    </select>
                </div>
                
                
                <button type="submit" class="btn btn-primary">Add roomtype</button>
            </form>
        </div>
    </div>
        
    <div class="panel panel-default">    
        <div class="panel-heading">
            <h3 class="panel-title">Your room types</h3>
        </div>
        <div class="panel-body">
            adsf
            asdf
        </div>
    </div>

</div>