

body {

}

.gs_page_width {
    margin-left: 20px;
    margin-right: 20px;
}

.gscontainercell .gs_page_width {
    margin-left: 0px;
    margin-right: 0px;
}

.Facebook {
    background-color: #EEE;
    font-size: 16px;
}

.Facebook .picture {
    display: block;
    width: 100%;
}

.gsmobiletopmenu {
    width: 100%;
    background: linear-gradient( to bottom, #333, #222);
}
.shop_button {
    color: #FFF !important;
    background-color: black !important;
}
.gsmobilesearch,
.gsslideright,
.gsmobilemenucart {
    display: none;
}

.shop_button {
    background-color: green;
    color: #FFF;
    padding-left: 20px !important;
    padding-right: 20px !important;
}


.HotelPriceCalculator .check_price_button { color: #FFF;
text-align: center;
background-color: #d2684f;
padding: 3px;
cursor: pointer; text-transform: uppercase; margin-top: 2px; }
a.partnerlink { text-decoration: none !important; color:#ab8936 !important; }

.applicationarea[appid="04c38913-be56-4b4f-b6e5-8a39758e64ff"] img {
    width: 80px !important;
    height: auto !important;
    padding: 30px;
}
.applicationarea[appid="05930ce6-6aa0-4f8f-bdad-e1c4b7cee986"] .imagecontainer img {
    display:none;
    
}
.applicationarea[appid="e902ee7d-e634-4629-8d24-972caf9fd396"] .imagecontainer img {   
    width: 60px;
    top: -260px;
    right: 6px;
}

.gscell_1274.gsuicell { margin-left: 0px !important; }

.gscell_499.gsuicell.gsinner { padding: 10px !important; }

.Hotelbooking .checkroomcol .check_available_button { width: 150% !important; }
.Hotelbooking .bookingcol .fa-calendar { color:#000 !important; }
.Hotelbooking .calbackground { bottom: -1px !important; }
.Hotelbooking .bookingsummary { padding-right: 40px; }