

body {

}

.gs_page_width {
    margin-left: 20px;
    margin-right: 20px;
}

.gscontainercell .gs_page_width {
    margin-left: 0px;
    margin-right: 0px;
}

.Facebook {
    background-color: #EEE;
    font-size: 16px;
}

.Facebook .picture {
    display: block;
    width: 100%;
}

.gsmobiletopmenu {
    width: 100%;
    background: linear-gradient( to bottom, #333, #222);
}
.shop_button {
    color: #FFF !important;
    background-color: black !important;
}
.gsmobilesearch,
.gsslideright,
.gsmobilemenucart {
    display: none;
}

.shop_button {
    background-color: green;
    color: #FFF;
    padding-left: 20px !important;
    padding-right: 20px !important;
}


.HotelPriceCalculator .check_price_button { color: #FFF;
text-align: center;
background-color: #d2684f;
padding: 3px;
cursor: pointer; text-transform: uppercase; margin-top: 2px; }
a.partnerlink { text-decoration: none !important; color:#ab8936 !important; }

.applicationarea[appid="04c38913-be56-4b4f-b6e5-8a39758e64ff"] img {
    width: 80px !important;
    height: auto !important;
    padding: 30px;
}
.applicationarea[appid="05930ce6-6aa0-4f8f-bdad-e1c4b7cee986"] .imagecontainer img {
    display:none;
    
}
.gscontainercell[cellid="dc51baff-075e-41d4-ac43-219dff2a900e"] { font-family: 'Petit Formal Script', cursive  !important; text-shadow: 2px 2px 2px rgba(0,0,0,0.2); }

.applicationarea[appid="e902ee7d-e634-4629-8d24-972caf9fd396"] .imagecontainer img {   
    width: 60px;
    top: -260px;
    right: 6px;
}

.gscell_1274.gsuicell { margin-left: 0px !important; }

.gscell_499.gsuicell.gsinner { padding: 10px !important; }

.Hotelbooking .checkroomcol .check_available_button { width: 150% !important; }
.Hotelbooking .bookingcol .fa-calendar { color:#000 !important; }
.Hotelbooking .calbackground { bottom: -1px !important; }
.Hotelbooking .bookingsummary { padding-right: 40px; }


.shop_button {
    border-radius:0px;
    line-height: 24px;
    height: 24px;
    background:none;
    background-color:#000;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 14px;
}

h1,h2,h3 { margin-top: 10px; margin-bottom: 10px; font-weight: 100; }
h1 { text-transform: uppercase; }

.gsbody_inner[pageId='1e84a862-0203-4110-8e95-ad850d7499ba'] .gscarouseldots {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
}
.gsbody_inner[pageId='1e84a862-0203-4110-8e95-ad850d7499ba'] .gscarouseldots i .gscarouselnumber {
    left: 0px;
    top: 6px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.gsbody_inner[pageId='1e84a862-0203-4110-8e95-ad850d7499ba'] .gscarouseldots i {
    position: absolute;
    font-size: 30px;
    color: red;
    opacity: 1;
    width: 30px;
}
.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(1) {
    top: 335px;
    left: 580px;
}

.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(2) {
    top: 250px;
    left: 60px;
}

.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(3) {
    top: 330px;
    left: 315px;
}

.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(4) {
    top: 150px;
    left: 285px;
}

/* slider 2 at overview page */
.gscontainercell[cellid='d307faa5-c686-415d-b6af-9ff168b7f5e1'] .gscarouseldots i:nth-child(1) {
    top: 100px;
    left: 870px;
}

.gscontainercell[cellid='d307faa5-c686-415d-b6af-9ff168b7f5e1'] .gscarouseldots i:nth-child(2) {
    top: 250px;
    left: 560px;
}

.gscontainercell[cellid='d307faa5-c686-415d-b6af-9ff168b7f5e1'] .gscarouseldots i:nth-child(3) {
    top: 100px;
    left: 530px;
}
.gsarea[area='header'] .Menu a div { font-size: 14px; }
.gsbody_inner[pageid="ae06b7c5-f749-4575-afb4-7d6dce73e6c9"] .shop_button { margin-top: 10px; width: 290px; padding-top: 5px; padding-bottom: 5px;}
.gsbody_inner[pageid="ae06b7c5-f749-4575-afb4-7d6dce73e6c9"] .ContentManager .content { min-height: 25px !important; }

.Hotelbooking .frontpagebookingrow { background-color:#000; height: 55px; color:#E8DCCC; }
.Hotelbooking .check_available_button {height: 25px;
line-height: 25px;
position: absolute;
top: 20px;
width: 130px; }
body { font-size: 12px; line-height: 18px; background-color:#E8DCCC; }
