body {
    font-family: 'Arial', sans-serif !important;
    font-size: 14px;
    color : #333 !important;
    background-color:#e2d2be;
}

.gs_page_width {
    margin: auto;
    max-width: 1160px;
    min-width: 1000px;
    padding-left: 10px;
    padding-right: 25px;
}
.gsarea[area="body"] a.partnerlink { text-decoration: none !important; color:#ab8936; }

.shop_button {
    color: #FFF;
    background-color: black;
}
.gsarea[area="header"] .Menu {
    text-align:right;
}
.gsarea[area="header"] .Menu a div {
    line-height: 20px;
}
.gsrotatearrow { color:#e8dbcb; }

.gsarea[area="header"] .Menu a div {
    line-height: 20px;
}
.gsarea[area="header"] .Menu .entry .entries a div {
    line-height: 20px;
    text-align: left;
}
.gsarea[area="header"] .Menu .active a,
.gsarea[area="header"] .Menu .active {
    color: #FFF;
}
.gscarouseldots .fa { font-size: 8px; color:#000; text-shadow: 0px 0px 1px #fff; }
.gscarouseldots .fa.activecarousel { color:#fff; text-shadow: 0px 0px 1px #000; }

.gsarea[area="header"] .Menu .entries .entries .active a,
.gsarea[area="header"] .Menu .entries .entries .active {
    color: #999;
}


.gscontainercell[cellid="dc51baff-075e-41d4-ac43-219dff2a900e"] { font-family: 'Petit Formal Script', cursive  !important; text-shadow: 2px 2px 2px rgba(0,0,0,0.2); }


.gsarea[area="header"] .Menu a div {
    color: #e2d2be;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 1.2px;
}

.gsarea[area="header"] .Menu .entry {
    padding-right: 20px;
    padding-left: 10px;
    font-size: 12px;
    height: 32px;
}

.Menu .active td, .Menu .active {
    font-weight: normal; 
}

.gsarea[area="header"] .Menu .entry i {
    padding-right: 5px;
}

.gsarea[area="header"] .Menu .entry .entries a div {
    color:#000 !important;
}
.gsarea[area="header"] .Menu .entry .entries .entry {
    background-color: rgba(255,255,255,1);
    border-bottom: solid 1px #e8e8e8;
    padding: 8px;
    height: 20px;
    width: 200px;
}

.Facebook .newsentry {
    border-bottom: solid 1px #F1F1F1;
    overflow: hidden !important;  padding-bottom: 20px; 
}

.Facebook .newsentry .picture {
    float: left;
}

.Hotelbooking .to_checkout { padding-bottom: 40px; }

.Hotelbooking .calendar.left .cal_header { background-color: #b9c4a9; border: solid 1px #b9c4a9;}
.Hotelbooking .calendar.right .cal_header { background-color: #bec3cc; border: solid 1px #bec3cc;}
.Hotelbooking .included_all_rooms { text-align: right; text-transform: uppercase; margin-top: 30px; margin-bottom: 5px; }
.Hotelbooking .included_all_rooms i { padding-left: 20px; }

.Facebook .picture { width: 100px; }
.Facebook .picture.nopicture { width: 100px; }
.Facebook .newsentry .message { font-size: 14px; color: #333; overflow: hidden; line-height: 16px; }
.MailChimp .incorrectinput { color:#fda0a0; }
.MailChimp .emailAdded { color:#51bf78; }
.Menu .menuentries.horizontal .entries .entries { z-index: 3; box-shadow: 0px 0px 2px #efefef; }

.gsarea[area="footer"] .gscell { background-color:#000; }

.HotelPriceCalculator .selectroom { width: 100%; background-color: #FFF; padding: 5px; }



.HotelPriceCalculator .check_price_button { color: #FFF;
text-align: center;
background-color: #ab8936;
padding: 3px;
cursor: pointer; text-transform: uppercase; margin-top: 2px; }

.Login .loginform .loginform { width: 320px; display:inline-block; }
.Login .login_content { text-align: center; }

.Login .gs_button { border-radius: 0px; }

.gsarea[area="footer"] .gs_page_width { padding-left: 20px; padding-right: 40px; }


/* Global css */
.shop_button {
    border-radius:0px;
    line-height: 24px;
    height: 24px;
    background:none;
    background-color:#000;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 14px;
}

h1,h2,h3 { margin-top: 10px; margin-bottom: 10px; font-weight: 100; }
h1 { text-transform: uppercase; }

.gsbody_inner[pageId='1e84a862-0203-4110-8e95-ad850d7499ba'] .gscarouseldots {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
}
.gsbody_inner[pageId='1e84a862-0203-4110-8e95-ad850d7499ba'] .gscarouseldots i .gscarouselnumber {
    left: 0px;
    top: 6px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.gsbody_inner[pageId='1e84a862-0203-4110-8e95-ad850d7499ba'] .gscarouseldots i {
    position: absolute;
    font-size: 30px;
    color: red;
    opacity: 1;
    width: 30px;
}
.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(1) {
    top: 335px;
    left: 580px;
}

.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(2) {
    top: 250px;
    left: 60px;
}

.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(3) {
    top: 330px;
    left: 315px;
}

.gscontainercell[cellid='710f21de-a137-4ccb-8284-1c720c1acc89'] .gscarouseldots i:nth-child(4) {
    top: 150px;
    left: 285px;
}

/* slider 2 at overview page */
.gscontainercell[cellid='d307faa5-c686-415d-b6af-9ff168b7f5e1'] .gscarouseldots i:nth-child(1) {
    top: 100px;
    left: 870px;
}

.gscontainercell[cellid='d307faa5-c686-415d-b6af-9ff168b7f5e1'] .gscarouseldots i:nth-child(2) {
    top: 250px;
    left: 560px;
}

.gscontainercell[cellid='d307faa5-c686-415d-b6af-9ff168b7f5e1'] .gscarouseldots i:nth-child(3) {
    top: 100px;
    left: 530px;
}
.gsarea[area='header'] .Menu a div { font-size: 14px; }
.gsbody_inner[pageid="ae06b7c5-f749-4575-afb4-7d6dce73e6c9"] .shop_button { margin-top: 10px; width: 290px; padding-top: 5px; padding-bottom: 5px;}
.gsbody_inner[pageid="ae06b7c5-f749-4575-afb4-7d6dce73e6c9"] .ContentManager .content { min-height: 25px !important; }

.Hotelbooking .frontpagebookingrow { background-color:#000; height: 55px; color:#E8DCCC; }
.Hotelbooking .check_available_button {height: 25px;
line-height: 25px;
position: absolute;
top: 20px;
width: 130px; }
body { font-size: 12px; line-height: 18px; background-color:#E8DCCC; }

.gs_language_selection .gs_lang_code_nb_NO {
    background-image: url('{IMAGEFOLDER}/flag_norwegian.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 35px;
}

.gs_language_selection .gs_lang_code_en_en {
    background-image: url('{IMAGEFOLDER}/flag_english.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0px;
    width: 18px;
    background-size: 30px;
}
.gs_language_selection {
    border: solid 0px;
    position: absolute;
    right: 10px;
}