body {
    font-family: 'Arial', sans-serif !important;
    font-size: 14px;
    color : #333 !important;
}

.gs_page_width {
    margin: auto;
    width: 1160px;
}
.shop_button {
    color: #FFF;
    background-color: black;
}
.gsarea[area="header"] .Menu {
    text-align:right;
}
.gsarea[area="header"] .Menu a div {
    line-height: 20px;
}
.gsrotatearrow { color:#e8dbcb; }

.gsarea[area="header"] .Menu a div {
    line-height: 20px;
}
.gsarea[area="header"] .Menu .entry .entries a div {
    line-height: 20px;
    text-align: left;
}
.gsarea[area="header"] .Menu .active a,
.gsarea[area="header"] .Menu .active {
    color: #FFF;
}
.gscarouseldots .fa { font-size: 8px; color:#000; text-shadow: 0px 0px 1px #fff; }
.gscarouseldots .fa.activecarousel { color:#fff; text-shadow: 0px 0px 1px #000; }

.gsarea[area="header"] .Menu .entries .entries .active a,
.gsarea[area="header"] .Menu .entries .entries .active {
    color: #999;
}



.gsarea[area="header"] .Menu a div {
    color: #e2d2be;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 1.2px;
}

.gsarea[area="header"] .Menu .entry {
    border-right: #e8e8e8 1px solid;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 12px;
    height: 32px;
}

.Menu .active td, .Menu .active {
    font-weight: normal; 
}

.gsarea[area="header"] .Menu .entry i {
    padding-right: 5px;
}

.gsarea[area="header"] .Menu .entry .entries a div {
    color:#000 !important;
}
.gsarea[area="header"] .Menu .entry .entries .entry {
    background-color: rgba(255,255,255,1);
    border-bottom: solid 1px #e8e8e8;
    padding: 8px;
    height: 20px;
    width: 200px;
}

.Facebook .newsentry {
    border-bottom: solid 1px #F1F1F1;
    overflow: hidden !important;  padding-bottom: 20px; 
}

.Facebook .newsentry .picture {
    float: left;
}

.Hotelbooking .to_checkout { padding-bottom: 40px; }

.Hotelbooking .calendar.left .cal_header { background-color: #b9c4a9; border: solid 1px #b9c4a9;}
.Hotelbooking .calendar.right .cal_header { background-color: #bec3cc; border: solid 1px #bec3cc;}
.Hotelbooking .included_all_rooms { text-align: right; text-transform: uppercase; margin-top: 30px; margin-bottom: 5px; }
.Hotelbooking .included_all_rooms i { padding-left: 20px; }

.Facebook .picture { width: 100px; }
.Facebook .picture.nopicture { width: 100px; }
.Facebook .newsentry .message { font-size: 14px; color: #333; overflow: hidden; line-height: 16px; }
.MailChimp .incorrectinput { color:#fda0a0; }
.MailChimp .emailAdded { color:#51bf78; }
.Menu .menuentries.horizontal .entries .entries { z-index: 3; box-shadow: 0px 0px 2px #efefef; }

.gsarea[area="footer"] .gsinner { background-color:#373d3d; padding-top: 42px; }

.HotelPriceCalculator .selectroom { width: 100%; background-color: #FFF; padding: 5px; }

.HotelPriceCalculator .check_price_button { color: #FFF;
text-align: center;
background-color: #d2684f;
padding: 3px;
cursor: pointer; text-transform: uppercase; margin-top: 2px; }

.Login .loginform .loginform { width: 320px; display:inline-block; }
.Login .login_content { text-align: center; }

.Login .gs_button { border-radius: 0px; }