.NewsFeed {
    font-size: 0px;
}
    
.NewsFeed .newsentrysmall {
    border: solid 1px #DDD;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    min-height: 50px;
}

.NewsFeed .newsentrysmall .subject {
    font-size: 16px;
    padding-left: 15px;
}
.NewsFeed .newsentrysmall .thumbnail {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.NewsFeed .newsentrysmall .rightcontent {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: calc(100% - 100px);
    font-size: 14px;
}

.NewsFeed .newsentrysmall .thumbnail img {
    width: 100%;
}

.NewsFeed .newsentrysmall .date {
    position: absolute;
    bottom: 5px;
    left: 120px;
    color: #888;
}

.NewsFeed .newsentrysmall .readmore {
    text-align: right;
    color: #888;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.NewsFeed .frigonewsentrysmall{
    margin-left:30px;
    margin-bottom: 100px;
    width: 350px;
    float:left;
    background-color:rgba(255, 255, 255, 0.6);
}
.NewsFeed .frigonewsentrysmall .subject{
    font-size: 16px;
    padding-left: 15px;
    color: #000;
    padding: 5px;
}
.NewsFeed .frigonewsentrysmall .thumbnail{
    width: 350px;
    height: 200px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.NewsFeed .frigonewsentrysmall .thumbnail img {
    width: 100%;
}
