.NewsFeed {
    font-size: 0px;
    
}
.NewsFeed a:hover{
    
}
.NewsFeed .newsentrysmall {
    margin-left:30px;
    margin-bottom: 100px;
    width: 230px;
    float:left;
   
    background-color: #000;
}

.NewsFeed .newsentrysmall .subject {
    font-size: 16px;
    padding-left: 15px;
    
}
.NewsFeed .newsentrysmall .thumbnail {
    width: 250px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    right: 10px;
    bottom: 10px;
    
}

.NewsFeed .newsentrysmall .rightcontent {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: calc(100% - 100px);
    font-size: 14px;
}

.NewsFeed .newsentrysmall .thumbnail img {
    width: 100%;
}

.NewsFeed .newsentrysmall .date {
    position: absolute;
    bottom: 5px;
    left: 120px;
    color: #888;
}

.NewsFeed .newsentrysmall .readmore {
    text-align: right;
    color: #888;
    position: absolute;
    bottom: 5px;
    right: 5px;
}