<div ng-if="car.agreeDate" class="topinfobox" >
    <i style="font-size: 30px" class="fa fa-warning"></i>
    <br/>Vi ønsker å ta bilen din inn på service, passer dette tidspunktet?
    <br/> {{ car.nextServiceAgreed | dateformatterwithtime }} 
    <br/>
    <div class="acceptbutton yes" ng-click="answerYes()"><div class="inner">Ja</div></div><div class="acceptbutton no" ng-click="answerNo()"><div class="inner">Nei</div></div>
</div>

<div ng-if="car.agreeDateControl" class="topinfobox" >
    <i style="font-size: 30px" class="fa fa-warning"></i>
    <br/>Vi ønsker å ta bilen din inn på EU Kontroll, passer dette tidspunktet?
    <br/> {{ car.nextControlAgreed | dateformatterwithtime }} 
    <br/>
    <div class="acceptbutton yes" ng-click="answerYesEU()"><div class="inner">Ja</div></div><div class="acceptbutton no" ng-click="answerNoEU()"><div class="inner">Nei</div></div>
</div>

<div class='topinfobox'>
    Status på ditt kjøretøy.
</div>
<br/>
<br/>
    
<div class='car_row'>
    <i class='fa fa-car'></i>
    <b>Bilnr</b>
    <div>{{car.licensePlate}}</div>
</div>

<div class='car_row'>
    <i class='fa fa-signal'></i>
    <b>Siste registrete kilometerstand</b>
    <div>{{car.kilometers}}</div>
</div>

<div class='car_row'>
    <i class='fa fa-wrench'></i>
    <b>Neste service når bilen har gått</b>
    <div>{{car.kilometersToNextService}} km</div>
</div>

<div class='car_row'>
    <i class='fa fa-calendar'></i>
    <b>Eller dato:</b>
    <div>{{car.nextService | dateformatter}} </div>
</div>

<div class='car_row'>
    <i class='fa fa-check'></i>
    <b>Neste EU Kontroll:</b>
    <div>{{car.nextControll | dateformatter}} </div>
</div>

<div class='button' onclick="window.history.back()"> Tilbake </div>